<input value="{{ value }}" class="sam input {{ classes }}" placeholder="{{ placeholder }}" id="{{ id }}" name="{{ id }}" type="text" autocomplete="off" {%- if error -%} aria-describedby="{{ id }}-message" {%- endif -%} >