<div class="sds-pagination">
  <div class="sds-pagination__controls">
    <button>Previous Page</button>
    <input
      class="usa-input height-4 width-6 text-center border-base-light"
      value="1"
      type="number"
      min="1"
      max="10"
      aria-label="current page"
    />
    <span class="sds-pagination__total"> of <strong>10</strong> </span>
    <button>Next Page</button>
  </div>
  <div class="sds-pagination__results">
    <label
      class="usa-label font-sans-2xs text-italic text-base"
      for="results-select"
    >
      results per page
    </label>
    <select class="usa-select border-base-light" id="results-select">
      <option value="0: 25"> 25 </option>
      <option value="1: 50"> 50 </option>
      <option value="2: 100"> 100 </option>
    </select>
  </div>
</div>
