<style>
  .sam-pagination {
    display: block;
  }

  .sam-pagination > p {
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
  	display: inline-block;
  }

  .sam-pagination__expanded {
    display: inline-block;
  	list-style-type: none;
  }

  .sam-pagination__expanded > li{
  	display: inline;
  }

  .sam-pagination__expanded > li > a {
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #11304f;
  }

  .sam-pagination__expanded > li > a.active{
  	color: #000000;
  }

  .sam-pagination__expanded > li > a:hover{
  text-decoration: none;
  }

  .sam-pagination__expanded > li > a > img{
    color: #123050;
  }

  .sam-pagination__expanded > a.active {
  	color: black;
  }

  .sam-pagination__expanded > a:hover{
  	text-decoration: none;
  }

  .sam-pagination__expanded > a > img{
    height: 1rem;
  }
</style>

<div class="sam-pagination">
  <p>Showing 1 to 20  of 112 registrations  </p>
  <ul class="sam-pagination__expanded">
      <li> <a href="#"> <span class="fa fa-angle-left"></span> </a></li>
      <li> <a href="#">1</a></li>
      <li> <a href="#">2</a></li>
      <li> <a href="#">3</a></li>
      <li> <a href="#">4</a></li>
      <li> <a href="#">5</a></li>
      <li> <a href="#">6</a></li>
      <li> <a href="#">7</a></li>
      <li> <a href="#"> <span class="fa fa-angle-right"></span> </a></li>
  </ul>
</div>
