<div class="sds-overlay minw-menu maxw-mobile radius-overlay">
  <div class="sds-menu">
    <div class="sds-menu__header">
      <span class="sds-menu__header-title">Actions</span>
      <button class="sds-menu__header-button" aria-label="Close Menu">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <button class="sds-menu__item">
      <span class="fa-layers fa-fw fa-2x">
        <i
          class="fas fa-circle text-base-lighter"
          data-fa-transform="left-3"
        ></i>
        <i
          class="fas fa-question text-base"
          data-fa-transform="shrink-9 left-3"
        ></i>
      </span>
      Download
    </button>
    <button class="sds-menu__item">
      <span class="fa-layers fa-fw fa-2x">
        <i
          class="fas fa-circle text-base-lighter"
          data-fa-transform="left-3"
        ></i>
        <i
          class="fas fa-question text-base"
          data-fa-transform="shrink-9 left-3"
        ></i>
      </span>
      Follow
    </button>
    <button class="sds-menu__item">
      <span class="fa-layers fa-fw fa-2x">
        <i
          class="fas fa-circle text-base-lighter"
          data-fa-transform="left-3"
        ></i>
        <i
          class="fas fa-question text-base"
          data-fa-transform="shrink-9 left-3"
        ></i> </span
      >Share
    </button>
  </div>
</div>
