<div class="bg-accent-cool padding-y-4">
<h3 class="margin-top-0">Outline Tile Example</h3>

<div class="sds-tile">
  <a href="#" class="sds-tile__content sds-tile--outline">
    <i class="sds-tile__icon sds fa-new-note text-black"></i>
    <div class="sds-tile__title">Tile Title</div>
  </a>
</div>

<div class="sds-tile">
  <a href="#" class="sds-tile__content sds-tile--outline">
    <i class="sds-tile__icon sds fa-building text-primary"></i>
    <div class="sds-tile__title">Tile Title</div>
    <div class="sds-tile__details">(tile details)</div>
  </a>
</div>

<div class="sds-tile sds-tile--lg">
  <a href="#" class="sds-tile__content sds-tile--outline">
    <div class="grid-row">
      <i class="sds-tile__icon sds fa-users text-secondary"></i>
      <div class="sds-tile__title">Tile Title</div>
    </div>
    <div class="sds-tile__details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
    <button class="sds-button sds-button--icon margin-1">
      <span class="fa-stack fa-2x">
        <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-2x"></i>
        <i class="sds fa-folder fa-stack-1x text-base fa-3x"></i>
      </span>
      <span class="sds-button--icon__title">Icon Button</span>
    </button>

    <button class="sds-button sds-button--icon margin-1">
      <span class="fa-stack fa-2x">
        <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-2x"></i>
        <i class="sds fa-folder fa-stack-1x text-base fa-3x"></i>
      </span>
      <span class="sds-button--icon__title">Icon Button</span>
    </button>
  </div>
  </a>
</div>
