<div class="grid-row grid-gap">
  <div class="tablet:grid-col-7">
    <div class="sds-tile--outline">
      <h3>The Official U.S. Government System for:</h3>
      <div class="grid-row">
        <div class="grid-col">
          <ul class="sds-list  sds-list--unstyled sds-list-link">
            <li>
              <a href=" " class=" usa-link"=" usa-link""="usa-link""">Contract Opportunities</a>
              (was fbo.gov)
            </li>
            <li>
              <a href=" " class=" usa-link"=" usa-link""="usa-link""">Contract Data</a>
              (Reports ONLY from fpds.gov)
            </li>
            <li>
              <a href=" " class=" usa-link"=" usa-link""="usa-link""">Entity Compliance</a>
              SCR and Bio-Preferred Reporting
            </li>
            <li>
              <a href=" " class=" usa-link"=" usa-link""="usa-link""">Wage Determinations</a>
              (was wdol.gov)
            </li>
          </ul>
        </div>
        <div class="grid-col">
          <ul class="sds-list  sds-list--unstyled sds-list-link">
            <li>
              <a href=" " class=" usa-link"=" usa-link""="usa-link""">Contract Opportunities</a>
              (was fbo.gov)
            </li>
            <li>
              <a href=" " class=" usa-link"=" usa-link""="usa-link""">Contract Data</a>
              (Reports ONLY from fpds.gov)
            </li>
            <li>
              <a href=" " class=" usa-link"=" usa-link""="usa-link""">Entity Compliance</a>
              SCR and Bio-Preferred Reporting
            </li>
            <li>
              <a href=" " class=" usa-link"=" usa-link""="usa-link""">Wage Determinations</a>
              (was wdol.gov)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="tablet:grid-col">
    <div class="sds-tile--outline flex-justify-center">
      <h3>Register Your Entity</h3>
      <p>Assistance listings are detailed public descriptions of federal programs that provide grants, loans, scholarships, insurance, and other types of assistance awards. You may browse assistance listings across all government agencies to form a “big
        picture” of potential funding options.</p>
      <button class="usa-button usa-button__outline desktop:width-full margin-y-2">
        <span class="sds-button__title">Check Registration Status</span>
      </button>
    </div>
  </div>
</div>
