<h3 class="margin-top-0">Basic Tile Example</h3>
<div class="sds-tile">
  <a href="#" class="sds-tile__content">
    {% render '@layered-icon', tiles[0].icon %}
    <div>
      <div class="sds-tile__title">Tile Title</div>
      <div class="sds-tile__details">tile details</div>
    </div>
  </a>
</div>
<div class="sds-tile">
  <a href=" #" class="sds-tile__content">
    {% render '@layered-icon', tiles[1].icon %}
    <div>
      <div class="sds-tile__title">Tile Title</div>
      <div class="sds-tile__details">tile with a lot more details</div>
    </div>
  </a>
</div>
