<h3 class="margin-top-0">Basic Tile Example</h3>
<div class="sds-tile">
  <a href="#" class="sds-tile__content">
  <span class="sds-tile__icon fa-stack fa-2x">
    {% render '@icon', {icon:'leaf', classes: 'fa-stack-2x text-accent-cool-light'} %}
    {% render '@icon', {icon:'pen-paper', classes: 'fa-stack-1x text-base fa-2x'} %}
  </span>
    <div>
      <div class="sds-tile__title">Tile Title</div>
      <div class="sds-tile__details">tile details</div>
    </div>
  </a>
</div>
<div class="sds-tile">
  <a href=" #" class="sds-tile__content">
    <span class="sds-tile__icon fa-stack fa-2x">
      {% render '@icon', {icon:'circle', classes: 'fa-stack-2x text-accent-cool-light'} %}
      {% render '@icon', {icon:'federal-building', classes: 'fa-stack-1x text-base fa-2x'} %}
    </span>
    <div>
      <div class="sds-tile__title">Tile Title</div>
      <div class="sds-tile__details">tile with a lot more details</div>
    </div>
  </a>
</div>
