<div class="bg-accent-cool padding-y-4">
  <h3 class="margin-top-0">Outline Tile Example</h3>

  <div class="sds-tile">
    <a href="#" class="sds-tile__content sds-tile--outline">
      {% render '@icon', {icon:'new-note', classes: 'sds-tile__icon text-black'} %}
      <div class="sds-tile__title">Tile Title</div>
    </a>
  </div>

  <div class="sds-tile">
    <a href="#" class="sds-tile__content sds-tile--outline">
      {% render '@icon', {icon:'building', classes: 'sds-tile__icon text-primary'} %}
      <div class="sds-tile__title">Tile Title</div>
      <div class="sds-tile__details">(tile details)</div>
    </a>
  </div>

  <div class="sds-tile sds-tile--lg">
    <div href="#" class="sds-tile__content sds-tile--outline">
      <div class="grid-row flex-justify-center">
        {% render '@icon', {icon:'building', classes: 'sds-tile__icon text-secondary'} %}
        <div class="sds-tile__title">Entity Registration</div>
      </div>
      <div class="sds-tile__details grid-row padding-y-2">
        Register your entity to get started doing business with the federal government.
      </div>
      <div class="mobile-details mobile-lg:flex-wrap">
        <button class="sds-button sds-button--icon margin-top-2">
          {% render '@layered-icon', buttons[0].icons %}
          <span class="sds-button--icon__title">Register Entity</span>
        </button>
        <button class="sds-button sds-button--icon margin-top-2">
          {% render '@layered-icon', buttons[1].icons %}
          <span class="sds-button--icon__title">Check Status</span>
        </button>
      </div>
    </div>
  </div>
  <div class="sds-tile sds-tile--lg">
    <a [routerlink]="['landing/entity']" class="sds-tile__content sds-tile--outline">
      <div class="grid-row flex-justify-center margin-top-1">
        {% render '@icon', {icon:'building', classes: 'sds-tile__icon text-base'} %}
        <div class="sds-tile__title">Contract Opportunities</div>
      </div>
      <div class="sds-tile__details grid-row text-left padding-y-2">
        This site is the official source of contracting opportunities from the federal government. Anyone interested in doing business with the government can use this system to research active opportunities.
      </div>
      <div class="mobile-details padding-y-2">
        <button class="sds-button sds-button--icon">
          {% render '@layered-icon', buttons[0].icons %}
          <span class="sds-button--icon__title">Search Opportunities</span>
        </button>
      </div>
      <div class="padding-x-2 padding-bottom-2 text-right learn-more-link">
        <div class="usa-link">Learn More</div>
      </div>
    </a>
  </div>