{% if not header %}<span id="cardHeader" role="header" aria-level="1">{{title}}</span>{% endif %}
<div {% if not header %} aria-labelledby="cardHeader" {% endif %} class="sds-card {% for modifier in modifiers %} sds-card--{{modifier}}{% endfor %}">

	{% if header %}
		<div class="sds-card__header{% if color %} sds-card__header--{{color}}{% endif %} sds-card__header--{{header.style}}">

			{% if header.icon %}
				<div class="sds-card__icon">
					{% render '@icon', header.icon %}
				</div>
			{% endif %}

			{% if header.link %}
				<a href="{{header.link}}" class="sds-card__link">
				{% endif %}

				<h2 class="sds-card__title">{{title}}</h2>


				{% if header.link %}
				</a>
			{% endif %}

			{% if header.buttons %}
				<div class="sds-card__buttons">
					{% for button in header.buttons %}
						{% render '@buttons--single', {modifiers: button.modifiers }, true %}
					{% endfor %}
				</div>
			{% endif %}
			{% if header.action %}
				<div class="sds-card__action">
					{%- render '@actions--single' -%}
				</div>
			{% endif %}
		</div>
	{% endif %}

	<div class="sds-card__content{% if body.grid %} grid-row{% endif %}">
		{% if body.lists %}
			{% if body.grid %}<div class="grid-col">{% endif %}
			{% for list in body.lists %}

				{# use list items if declared else use default  #}
				{%- if list.items %}
					{% render '@list', list %}
				{% else %}
					{% render '@list', list, true %}
				{% endif -%}

			{% endfor %}
			{% if body.grid %}</div>{% endif %}
		{% endif %}
		{% if body.content %}
			{% if body.grid %}<div class="grid-col">{% endif %}
				{{ body.content }}
			{% if body.grid %}</div>{% endif %}
		{% endif %}
	</div>
</div>