
@mixin bordered-item($top: false) {
    @include u-border('1px');
    @include u-border('base-light');
    @include u-padding(2);
    @include u-margin(0);
    @include u-maxw('none');
    @if not $top {
      @include u-border-top(0);
    }
  }
  
  hr.thin {
    border: 0;
    height: 0;
    @include u-border-top(1px);
    @include u-border-top("base-lighter");
  }
  
  hr.fine {
    border: 0;
    height: 0;
    @include u-border-top(1px);
    @include u-border-top("base-light");
  }
  
  .border--hairline {
    border: 0 !important;
    box-shadow: 0 0 0 1px color("base-light");
  }
  
  @media (min-resolution: 2dppx) {
    .border--hairline {
      border: 0 !important;
      box-shadow: 0 0 0 0.5px;
    }
  }
  
  @media (min-resolution: 3dppx) {
    .border--hairline {
      border: 0 !important;
      box-shadow: 0 0 0 0.33333333px;
    }
  }
  
  @media (min-resolution: 4dppx) {
    .border--hairline {
      border: 0 !important;
      box-shadow: 0 0 0 0.25px;
    }
  }