// Autocomplete
.sam.autocomplete.hierarchical {
  position: relative;
}

.sam.autocomplete.hierarchical > .results{
  display: none;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
  font-size: 15px; 
  position: absolute;
  background-color: white;
  width: 100%;
  max-height: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sam.autocomplete.hierarchical .results.show{
  display: block;
}

.sam.autocomplete.hierarchical .results .header{
  display: block;
  font-weight: 600;
}

.sam.autocomplete.hierarchical .results ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.sam.autocomplete.hierarchical .results ul li{
  border-top: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.sam.autocomplete.hierarchical .results ul li.selected{
  color: white;
  background-color: #0071bc;
}

// CHIPS

.sam.chips.list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}


.sam.chip{
  border-radius: 2px;
  background: #dce4ef;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 3px 8px;
  margin-top: 4px;
}
// 
.sam.chip.full{
  width: calc(100% - 16px);
}

.sam.chip .header{
  display: block;
  font-weight: 600;
}

.flex-column{
  flex-direction: column;
}

@mixin sam-autocomplete-theme($palette) {

  $primary: map-get($palette, primary);
  $background: map-get($palette, background);

  // body{
  //   background: sam-color($background, hover, 0.2);
  // }
}

@mixin sam-autocomplete-typography($typography) {
  // body{
  //   font-family: sam-font-family($typography);
  // }
}