<div class="sam autocomplete hierarchical">
  {% render '@form-control', { input: "text-clear", value: value, label: false, placeholder: "Enter Text" }, true %}
  <div class="results {{ "show" if show }}">
    <ul class="sam results list" role="listbox">
      {% for i in range(0, results) -%}    
        <li class="{% if i==3 and resultSelected %}selected{% endif %}" role="option">
          <span class="header">Level {{ i + 1 }}</span>
          <span class="description">id {{ i + 1 }}</span>
        </li>
      {%- endfor %}
    </ul>
  </div>
</div>
