{% render '@autocomplete' %}

<ul class="sam chips list flex-column" role="listbox">
  {% for i in range(0, 4) -%}    
    <li class="" role="option">
      <span class="sam chip full">
        <span class="header">Level {{ i + 1 }}</span>
        <span class="description">id {{ i + 1 }}</span>
        (x)
      </span>
    </li>
  {%- endfor %}
</ul>