<h1>Fields</h1>

<h2>Inline Field</h2>
<p>Display name and value inline.</p>
<div class="grid-row">
    <div class="sds-field">
        <div class="sds-field__name">Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--featured">
        <div class="sds-field__name">Featured Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--small">
        <div class="sds-field__name">Field Small:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--large">
        <div class="sds-field__name">Field Large:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--paragraph">
        <div class="sds-field__name">Paragraph Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, mi at imperdiet imperdiet, lectus velit vehicula dolor, ac scelerisque metus lectus in eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
    </div>
</div>
<h2>Stacked Field</h2>
<p>Display name and value stacked.</p>
<div class="grid-row">
    <div class="sds-field sds-field--stacked">
        <div class="sds-field__name">Stacked Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--stacked sds-field--featured">
        <div class="sds-field__name">Featured Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--stacked sds-field--small">
        <div class="sds-field__name">Field Small:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--stacked sds-field--large">
        <div class="sds-field__name">Field Large:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--stacked sds-field--paragraph">
        <div class="sds-field__name">Paragraph Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, mi at imperdiet imperdiet, lectus velit vehicula dolor, ac scelerisque metus lectus in eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
    </div>
</div>

<div class="sections">
    <div class="sds-result-item sds-result-item__divided">
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                <div class="sds-group">
                    <!-- Horizontal Config -->
                    <div class="grid-row">
                        <!-- Key/Value Wrapper -->
                        <div class="grid-col">
                            <div class="grid-row">
                                <div class="grid-col-12">
                                    <div class="sds-static--label">Short Emphasized Field:</div>
                                </div>
                                <div class="grid-col-fill">
                                    <p class="sds-static">Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 margin-top-1">
                <div class="sds-group">
                    <!-- Horizontal Config -->
                    <div class="grid-row">
                        <!-- Key/Value Wrapper -->
                        <div class="grid-col">
                            <div class="grid-row">
                                <div class="grid-col-12">
                                    <div class="sds-static--label">Long Text Field:</div>
                                </div>
                                <div class="grid-col-fill">
                                    <p class="sds-static">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, mi at imperdiet imperdiet, lectus velit vehicula dolor, ac scelerisque metus lectus in eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 margin-top-1">
                <div class="sds-group">
                    <!-- Horizontal Config -->
                    <div class="grid-row">
                        <!-- Key/Value Wrapper -->
                        <div class="grid-col">
                            <div class="grid-row">
                                <div class="grid-col-12">
                                    <div class="sds-static--label sds-type--label-title">Featured Field:</div>
                                </div>
                                <div class="grid-col-fill">
                                    <p class="sds-static">Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Other examples</h2>

<div class="grid-row">
    <div class="grid-col-auto">
        <div class="usa-tag sds-tag--info-purple sds-static--tag">DUNS</div>
    </div>
    <div class="grid-col-auto">
        <div class="sds-field">
            <div class="sds-field__name">Unique Entity ID:</div>
            <div class="sds-field__value">902930291</div>
        </div>
    </div>
</div>
<div class="grid-row">
    <div class="grid-col-auto">
        <div class="usa-tag sds-tag--info-white sds-static--tag">SAM</div>
    </div>
    <div class="grid-col-auto">
        <div class="sds-field">
            <div class="sds-field__name">Unique Entity ID:</div>
            <div class="sds-field__value">902930291</div>
        </div>
    </div>
</div>

<div class="sds-field sds-field--stacked">
    <div class="sds-field__name">Multiple line value</div>
    <div class="sds-field__value">
        <div>TERRENCE W. WIDEMAN</div>
        <div>terrence.wideman@usmc.mil</div>
        <div>(843) 228-3258</div>
    </div>
</div>

<p>Fields without name<p>

<div class="sds-field sds-field--stacked">
    <div class="sds-field__value">
        <div>1500 MENDOTA AVENUE, SUITE 12</div>
        <div>ST PAUL, MINNESOTA 54112</div>
        <div>UNITED STATES</div>
    </div>
</div>
<hr>
<div class="sds-field sds-field--stacked">
    <div class="sds-field__value sds-field__value--paragraph">Check the registrant's Reps &amp; Certs, if present, under FAR 52.212-3 or FAR 52.219-1 to determine if the entity is an SBA-certified HUBZone small business concern. Additional small business information may be found in the SBA's Dynamic Small Business Search if the entity completed the SBA supplemental pages during registration.</div>
</div>

<hr>
<p>Result list example<p>
        <div class="sds-result-item sds-result-item__divided">
            <div class="grid-row grid-gap">
                <div class="grid-col">
                    <h3 class="font-sans-xs margin-y-0">
                        <a class="usa-link" href="#">
                            First Entity: 1
                        </a>
                    </h3>
                </div>
                <div class="grid-col">
                    <div class="action-menu float-right"></div>
                </div>
            </div>
            <div class="grid-row grid-gap">
                <div class="tablet:grid-col-4 grid-col-12">
                    <div class="grid-row">
                        <div class="grid-col-12">
                            <div class="sds-group--horizontal">
                                <div class="grid-row">
                                    <div class="grid-col-auto">
                                        <div class="grid-row">
                                            <div class="grid-col-auto">
                                                <div class="usa-tag sds-tag--info-purple sds-static--tag">DUNS</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-col">
                                        <div class="sds-field sds-field--small">
                                            <div class="sds-field__name">Unique Entity ID:</div>
                                            <div class="sds-field__value">902930291</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col-12">
                            <div class="sds-group--horizontal">
                                <div class="grid-row">
                                    <div class="grid-col-auto">
                                        <div class="grid-row">
                                            <div class="grid-col-auto">
                                                <div class="usa-tag sds-tag--info-white sds-static--tag">SAM</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-col">
                                        <div class="sds-field sds-field--small">
                                            <div class="sds-field__name">Unique Entity ID:</div>
                                            <div class="sds-field__value">1A23B45C67D89E</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col-12">
                            <div class="sds-group--horizontal">
                                <div class="grid-row">
                                    <div class="grid-col-auto">
                                        <div class="grid-row">
                                            <div class="grid-col-auto">
                                                <div class="sds-static--tag display-none"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-col">
                                        <div class="sds-field sds-field--small">
                                            <div class="sds-field__name">CAGE/NCAGE:</div>
                                            <div class="sds-field__value">0D203</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tablet:grid-col-4 grid-col-12">
                    <div class="grid-row">
                        <div class="grid-col-12">
                            <div class="sds-group">
                                <div class="grid-row">
                                    <div class="grid-col">
                                        <div class="sds-field sds-field--stacked sds-field--small">
                                            <div class="sds-field__name">Purpose of Registration:</div>
                                            <div class="sds-field__value">Federal Assistance Awards &amp; IGT</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col-12 ng-star-inserted">
                            <div class="sds-group">
                                <div class="grid-row">
                                    <div class="grid-col">
                                        <div class="sds-field sds-field--stacked sds-field--small">
                                            <div class="sds-field__name">Physical Address:</div>
                                            <div class="sds-field__value">
                                                <div>123456 George Washington Boulevard, Suite 4a</div>
                                                <div>Ashburn, VA 20147 United States</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tablet:grid-col-4 grid-col-12">
                    <div class="grid-row grid-gap-05">
                        <div class="tablet:grid-col-6 grid-col-4">
                            <div class="grid-row">
                                <div class="sds-field sds-field--stacked sds-field--small sds-field--featured">
                                    <div class="sds-field__name">Status</div>
                                    <div class="sds-field__value">
                                        <span class="sds-tag sds-tag--outline">
                                            <i class="sds-status sds-status--sm sds-status--green"></i>Active</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tablet:grid-col-6 grid-col-4">
                            <div class="grid-row">
                                <div class="sds-field sds-field--stacked sds-field--small sds-field--featured">
                                    <div class="sds-field__name">Expiration Date</div>
                                    <div class="sds-field__value">
                                        <span class="sds-tag sds-tag--outline flex-justify-center">Feb 20, 2019</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-row grid-gap-05 margin-top-1">
                        <div class="grid-col-auto">
                            <span class="sds-tag sds-tag--chip sds-tag--small sds-tag--light" title="Notarized Letter">
                                Notarized Letter
                                <span class="sds-text-disabled"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>