<table class="usa-table">
  <caption>Fields</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><element class="sds-field"><h1>Field Header</h1></element></td>
      <th scope="row">&ltelement class="sds-field">&lth1>&lt/h1>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.46rem / Line Height: 1.1 / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field"><h1 class="sds-light">Field Header Light</h1></element></td>
      <th scope="row">&ltelement class="sds-field">&lth1 class="sds-light">&lt/h1>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1.1 / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field">Field Label</element></td>
      <th scope="row">&ltelement class="sds-field">&lt/element></th>
      <td>Weight: Regular / Size: 0.93rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field--large">Large Field Label</element></td>
      <th scope="row">&ltelement class="sds-field--large">&lt/element></th>
      <td>Weight: Regular / Size: 1.06rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field--small">Small Field Label</element></td>
      <th scope="row">&ltelement class="sds-field--small">&lt/element></th>
      <td>Weight: Normal / Size: 0.87rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field"><element class="sds-field__value">Field Value</element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value">&lt/element>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field"><element class="sds-field__value"><a class="usa-link">Field Value Link</a></element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value">&lta class="usa-link">&lt/a>&lt/element>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 1.3 / Color: Indigo-Cool-60 (#3F57A6)</td>
    </tr>
    <tr>
      <td><element class="sds-field"><element class="sds-field__value--large">Large Field Value</element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value--large">&lt/element>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>
   <tr>
      <td><element class="sds-field"><element class="sds-field__value--large"><a class="usa-link">Large Field Value Link</a></element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value--large">&lta class="usa-link">&lt/a>&lt/element>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1.3 / Color: Indigo-Cool-60 (#3F57A6)</td>
    </tr>
    <tr>
      <td><element class="sds-field"><element class="sds-field__value--small">Small Field Value</element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value--small">&lt/element>&lt/element></th>
      <td>Weight: Normal / Size: 0.87rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field"><element class="sds-field__value--small"><a class="usa-link">Small Field Value Link</a></element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value--small">&lta class="usa-link">&lt/a>&lt/element>&lt/element></th>
      <td>Weight: Normal / Size: 0.87rem / Line Height: 1.3 / Color: Indigo-Cool-60 (#3F57A6)</td>
    </tr>

    <!--Stacked -->
    <tr>
      <td>
        <div class="sds-field sds-field--stacked">
          <div class="sds-field__name">Stacked Field Label</div>
        </div>
      </td>
      <th scope="row">
        &ltdiv class="sds-field sds-field--stacked">
          &ltdiv class="sds-field__name">&lt/div>
        &lt/div>
      </th>
      <td>Weight: Normal / Size: 0.93rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>

    <tr>
      <td>
        <div class="sds-field sds-field--stacked">
          <div class="sds-field__value">Stacked Field Value</div>
        </div>
      </td>
      <th scope="row">
        &ltdiv class="sds-field sds-field--stacked">
          &ltdiv class="sds-value">&lt/div>
        &lt/div>
      </th>
      <td>Weight: Semi-Bold / Size: 1rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>

    <!--Featured -->
    <tr>
      <td>
        <div class="sds-field sds-field--stacked sds-field--featured">
          <div class="sds-field__name">Stacked Featured Field Label</div>
        </div>
      </td>
      <th scope="row">
        &ltdiv class="sds-field sds-field--stacked sds-field--featured">
          &ltdiv class="sds-field__name">&lt/div>
        &lt/div>
      </th>
      <td>Weight: Light / Size: 0.93rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>

    <tr>
      <td>
        <div class="sds-field sds-field--stacked sds-field--featured">
          <div class="sds-field__value">Stacked Featured Field Value</div>
        </div>
      </td>
      <th scope="row">
        &ltdiv class="sds-field sds-field--stacked sds-field--featured">
          &ltdiv class="sds-field__value">&lt/div>
        &lt/div>
      </th>
      <td>Weight: Semi-Bold / Size: 1rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>

    <!--Field Small -->
    <tr>
      <td>
        <div class="sds-field sds-field--stacked sds-field--small">
          <div class="sds-field__name">Stacked Field Small Label</div>
        </div>
      </td>
      <th scope="row">
        &ltdiv class="sds-field sds-field--stacked sds-field--small">
          &ltdiv class="sds-field__name">&lt/div>
        &lt/div>
      </th>
      <td>Weight: Normal / Size: 0.87rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>

    <tr>
      <td>
        <div class="sds-field sds-field--stacked sds-field--small">
          <div class="sds-field__value">Stacked Field Small Value</div>
        </div>
      </td>
      <th scope="row">
        &ltdiv class="sds-field sds-field--stacked sds-field--small">
          &ltdiv class="sds-field__value">&lt/div>
        &lt/div>
      </th>
      <td>Weight: Semi-Bold / Size: 1rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>

    <!--Field Large -->
    <tr>
      <td>
        <div class="sds-field sds-field--stacked sds-field--large">
          <div class="sds-field__name">Stacked Field Large Label</div>
        </div>
      </td>
      <th scope="row">
        &ltdiv class="sds-field sds-field--stacked sds-field--large">
          &ltdiv class="sds-field__name">&lt/div>
        &lt/div>
      </th>
      <td>Weight: Normal / Size: 1.06rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>

    <tr>
      <td>
        <div class="sds-field sds-field--stacked sds-field--large">
          <div class="sds-field__value">Stacked Field Large Value</div>
        </div>
      </td>
      <th scope="row">
        &ltdiv class="sds-field sds-field--stacked sds-field--large">
          &ltdiv class="sds-field__value">&lt/div>
        &lt/div>
      </th>
      <td>Weight: Semi-Bold / Size: 1rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>

    <!--Paragraph -->
    <tr>
      <td>
        <div class="sds-field sds-field--stacked sds-field--paragraph">
          <div class="sds-field__name">Stacked Field Paragraph Label</div>
        </div>
      </td>
      <th scope="row">
        &ltdiv class="sds-field sds-field--stacked sds-field--paragraph">
          &ltdiv class="sds-field__name">&lt/div>
        &lt/div>
      </th>
      <td>Weight: Normal / Size: 0.93rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>

    <tr>
      <td>
        <div class="sds-field sds-field--stacked sds-field--paragraph">
          <div class="sds-field__value">Stacked Field Paragraph Value</div>
        </div>
      </td>
      <th scope="row">
        &ltdiv class="sds-field sds-field--stacked sds-field--paragraph">
          &ltdiv class="sds-field__value">&lt/div>
        &lt/div>
      </th>
      <td>Weight: Semi-Bold / Size: 1rem / Line Height: 1.3 / Color: Base-Dark (#454540)</td>
    </tr>

  </tbody>
</table>

<h2>Inline Field</h2>
<p>Display name and value inline.</p>
<div class="grid-row">
    <div class="sds-field">
        <div class="sds-field__name">Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--featured">
        <div class="sds-field__name">Featured Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--small">
        <div class="sds-field__name">Field Small:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--large">
        <div class="sds-field__name">Field Large:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--paragraph">
        <div class="sds-field__name">Paragraph Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, mi at imperdiet imperdiet, lectus velit vehicula dolor, ac scelerisque metus lectus in eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
    </div>
</div>
<h2>Stacked Field</h2>
<p>Display name and value stacked.</p>
<div class="grid-row">
    <div class="sds-field sds-field--stacked">
        <div class="sds-field__name">Stacked Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--stacked sds-field--featured">
        <div class="sds-field__name">Featured Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--stacked sds-field--small">
        <div class="sds-field__name">Field Small:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--stacked sds-field--large">
        <div class="sds-field__name">Field Large:</div>
        <div class="sds-field__value">Lorem ipsum dolor</div>
    </div>
</div>
<div class="grid-row">
    <div class="sds-field sds-field--stacked sds-field--paragraph">
        <div class="sds-field__name">Paragraph Field:</div>
        <div class="sds-field__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, mi at imperdiet imperdiet, lectus velit vehicula dolor, ac scelerisque metus lectus in eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
    </div>
</div>

