<table class="usa-table">
  <caption>Fields</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><element class="sds-field"><h1>Field Header</h1></element></td>
      <th scope="row">&ltelement class="sds-field">&lth1>&lt/h1>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.46rem / Line Height: 1.1rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field"><h1 class="sds-light">Field Header</h1></element></td>
      <th scope="row">&ltelement class="sds-field">&lth1 class="sds-light">&lt/h1>&lt/element></th>
      <td>Weight: Light / Size: 1.13rem / Line Height: 1.1rem / Color: Base-Dark (#454540)</td>
    </tr>       
    <tr>
      <td><element class="sds-field">Field</element></td>
      <th scope="row">&ltelement class="sds-field">&lt/element></th>
      <td>Weight: Regular / Size: 0.93rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field--large">Large Field</element></td>
      <th scope="row">&ltelement class="sds-field--large">&lt/element></th>
      <td>Weight: Regular / Size: 1.06rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>     
    <tr>
      <td><element class="sds-field--small">Small Field</element></td>
      <th scope="row">&ltelement class="sds-field--small">&lt/element></th>
      <td>Weight: Normal / Size: 0.87rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field"><element class="sds-field__value">Field Value</element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value">&lt/element>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field"><element class="sds-field__value"><a class="usa-link">Field Value Link</a></element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value">&lta class="usa-link">&lt/a>&lt/element>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 1.5rem / Color: Indigo-Cool-60 (#3F57A6)</td>
    </tr>    
    <tr>
      <td><element class="sds-field"><element class="sds-field__value--large">Large Field Value</element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value--large">&lt/element>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
   <tr>
      <td><element class="sds-field"><element class="sds-field__value--large"><a class="usa-link">Large Field Value Link</a></element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value--large">&lta class="usa-link">&lt/a>&lt/element>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1.5rem / Color: Indigo-Cool-60 (#3F57A6)</td>
    </tr>    
    <tr>
      <td><element class="sds-field"><element class="sds-field__value--small">Small Field Value</element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value--small">&lt/element>&lt/element></th>
      <td>Weight: Normal / Size: 0.87rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-field"><element class="sds-field__value--small"><a class="usa-link">Small Field Value Link</a></element></element></td>
      <th scope="row">&ltelement class="sds-field">&ltelement class="sds-field__value--small">&lta class="usa-link">&lt/a>&lt/element>&lt/element></th>
      <td>Weight: Normal / Size: 0.87rem / Line Height: 1.5rem / Color: Indigo-Cool-60 (#3F57A6)</td>
    </tr>                            
  </tbody>
</table>
