<div class="grid-container">
  <div class="tablet:grid-col-9">
    <div class="sds-card__body sds-card--vertical">
      <div class="sds-card__header">
        <i class="sds fa-book fa-2x"></i>
        <span class="sds-card__header-mobile">
          <a class="usa-link">
            SDS Card Vertical - Mobile title or content</a>
        </span>
      </div>
      <div class="sds-card__content">
        <h2 class="sds-card--title">
          <a class="usa-link">SDS Card Vertical - Title</a>
        </h2>
        <h4 class="sds-card--subtitle">Subtitle</h4>
        <p>Wage determinations issued by DOL to reflect prevailing wages and benefits in specific service industries in designated localities. Wage determinations issued by DOL to reflect prevailing wages and benefits in specific service industries in
          designated localities. Wage determinations issued by DOL to reflect prevailing.
          <a>Learn more</a>
        </p>
        <a class="usa-link">View Full Article</a>
      </div>
    </div>
  </div>
