<div class="grid-container">
  <div class="tablet:grid-col-7">
    <div class="sds-card__body">
      <div class="sds-card__header">
        <h2>
          <a class="usa-link">SDS Card</a>
        </h2>
        <span class="sds-card__header-mobile">
          (8)
        </span>
        <div class="sds-card__header-actions">
          <button class="usa-button usa-button--outline">Button 1</button>
        </div>
      </div>

      <div class="sds-card__content">
        <div class="sds-statistics">
          <button class="green statistic">
            <div class="value">
              <span class="circular">150K+</span></div>
            <div class="label">Label</div>
          </button>
          <button class="blue statistic">
            <div class="value">
              <span class="circular">999K+</span></div>
            <div class="label">Label</div>
          </button>
          <button class="red statistic">
            <div class="value">
              <span class="circular">112</span></div>
            <div class="label">Label</div>
          </button>
          <button class="orange statistic">
            <div class="value">
              <span class="circular">209</span></div>
            <div class="label">Label</div>
          </button>
        </div>
      </div>
    </div>
  </div>
