<div class="grid-container">
  <div class="tablet:grid-col-9">

    <div class="sds-card sds-card--vertical">
      <div class="sds-card__title--vertical">
        <i class="sds fa-book fa-2x"></i>
      </div>
      <div class="sds-card__body">
        <h2 class="sds-card--subtitle">
          <a class="usa-link">SDS Card Vertical - Subtitle</a>
        </h2>
        <span>Subtitle</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          <a>Learn more</a>
        </p>
        <a class="usa-link">View Full Article</a>
      </div>

    </div>

  </div>
  </div>
