// Alerts

.sds-alert {
  border-radius: 8px;
  border-style: solid;
  border-color: #febe2e;
  max-width: 90%;
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 25px;
  .usa-button--circle {
    @include u-margin(0, !important);
  }

  &.sds-alert--small {
    @include u-margin(0);
    @include u-margin-top(1);
    @include u-padding(0.5);
    @include u-border('1px');
    max-width: none;
  }
}

.fa-alert-warning {
  margin: auto 10px;
  color: #febe2e;
}

.sds-alert-content {
  display: inline-block;
  max-width: 90%;
}

.sds-alert-content-extended {
  padding-left: 52px;
}

.sds-alert-content-extended {
  padding-left: 52px;
}

// Alert tag - Info

.sds-alert-info {
  border-radius: 8px;
  border-style: solid;
  border-color: #5994f6;
  max-width: 90%;
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 25px;

  .usa-button--circle {
    @include u-margin(0, !important);
  }
}

.fa-alert-info {
  margin: auto 10px;
  color: #5994f6;
}

// Alert tag - Error

.sds-alert-error {
  border-radius: 8px;
  border-style: solid;
  border-color: #e9695f;
  max-width: 90%;
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 25px;
  .usa-button--circle {
    @include u-margin(0, !important);
  }
}

.fa-alert-error {
  margin: auto 10px;
  color: #e9695f;
}
