.usa-button {
  @include u-radius(0.3125rem); // TODO: support for manual variables ex: u-radius('btn');
  color: color('secondary-darker');
  padding: units(1.5) units(4);

  &.usa-button--hover,
  &:hover {
    background-color: color('primary-light');
    color: color('secondary-darker');
  }

  &.usa-button--active,
  &:active {
    background-color: color('secondary-darker');
    color: color('white');
  }

  &.usa-focus,
  &:focus {
    outline-offset: units(2px);
  }
}

.sds-button--circle {
  @include u-radius(50%); // TODO: support for manual variables ex: u-radius('btn');
  color: color('secondary-darker');
  border: 0.25px solid darkgray;
  height: 2rem;
  width: 2rem;

  .svg-inline--fa {
    align-self: center;
  }

  &.usa-button--hover,
  &:hover {
    background-color: color('primary-light');
    color: color('secondary-darker');
  }

  &.usa-button--active,
  &:active {
    background-color: color('secondary-darker');
    color: color('white');
  }

  &.usa-focus,
  &:focus {
    outline-offset: units(2px);
  }
}

.sds-button--square {
  color: color('secondary-darker');
  height: 2rem;
  width: 2rem;
  border: none;

  .svg-inline--fa {
    align-self: center;
  }

  &.usa-button--hover,
  &:hover {
    background-color: color('primary-light');
    color: color('secondary-darker');
  }

  &.usa-button--active,
  &:active {
    background-color: color('secondary-darker');
    color: color('white');
  }

  &.usa-button--focus,
  &:focus {
    outline-offset: units(2px);
  }
}

.usa-button--outline{
  background-color: transparent;
  box-shadow: $button-stroke color('primary');

  &:visited {
    color: color('primary');
  }

  &.usa-button--hover,
  &:hover {
    background-color: transparent;
    box-shadow: $button-stroke color('primary-light');
  }

  &.usa-button--active,
  &:active {
    background-color: transparent;
    color: color('secondary-darker');
    box-shadow: $button-stroke color('secondary-darker');
  }

  &.usa-button--inverse {
    background-color: transparent;
    box-shadow: $button-stroke color('primary');
    color: color('white');

    &:visited {
      color: color('base-lighter');
    }

    &.usa-button--hover,
    &:hover {
      background-color: transparent;
      box-shadow: $button-stroke color('base-lightest');
      color: color('base-lightest');
    }

    &.usa-button--active,
    &:active {
      background-color: transparent;
      box-shadow: $button-stroke color('white');
      color: color('base-light');
    }
  }
}

.usa-button--base{
  color: color('gold-70');
  background-color: color('accent-warm-lighter');
  box-shadow: $button-stroke color('base-light');

  &.usa-button--hover,
  &:hover {
    color: color('gold-70');
    background-color: color('white');
    box-shadow: $button-stroke color('base');
  }

  &.usa-button--active,
  &:active {
    color: color('white');
    background-color: color('base-dark');
  }
}

.usa-button--secondary{
  background-color: color('primary-lighter');
  box-shadow: $button-stroke color('primary');

  &.usa-button--hover,
  &:hover {
    box-shadow: $button-stroke color('primary-light');
    background-color: color('white');
  }

  &.usa-button--active,
  &:active {
    color: color('secondary-darker');
    box-shadow: $button-stroke color('secondary-darker');
    background-color: color('white');
  }

  &.usa-button--disabled,
  &:disabled {
    color: color('disabled');
    box-shadow: $button-stroke color('disabled');
    background-color: transparent;
  }
}

.usa-button--danger {
  background-color: color('error');

  &.usa-button--hover,
  &:hover {
    background-color: color('error-lighter')
  }

  &.usa-button--active,
  &:active {
    color: color('white');
    background-color: color('error-dark');
  }
}

.button-label {
  text-align: center;
  display: inline-block;
  margin: 10px;

  label {
    display: block;
    font-size: 14px;
  }
}
