.usa-button {
  @include u-radius(0.3125rem); // TODO: support for manual variables ex: u-radius('btn');
  color: color('secondary-darker');
  padding: units(1.5) units(4);

  &.usa-button--hover,
  &:hover {
    background-color: color('primary-light');
    color: color('secondary-darker');
  }

  &.usa-button--active,
  &:active {
    background-color: color('secondary-darker');
    color: color('white');
  }

  &.usa-focus,
  &:focus {
    outline-offset: units(2px);
  }
}

.usa-button--circle {
  @include u-radius(50%); // TODO: support for manual variables ex: u-radius('btn');
  color: color('secondary-darker');
  border: 0.25px solid darkgray;
  margin: units(1.5);
  height: 2rem;
  width: 2rem;

  &.usa-button--hover-circle,
  &:hover {
    background-color: color('primary-light');
    color: color('secondary-darker');
  }

  &.usa-button--active-circle,
  &:active {
    background-color: color('secondary-darker');
    color: color('white');
  }

  &.usa-focus-circle,
  &:focus {
    outline-offset: units(2px);
  }
}

.sds-button--square{
  color: color('secondary-darker');
  margin: units(1.5);
  height: 2rem;
  width: 2rem;

  &.sds-button--square-hover,
  &:hover {
    background-color: color('primary-light');
    color: color('secondary-darker');
  }

  &.sds-button--square-active,
  &:active {
    background-color: color('secondary-darker');
    color: color('white');
  }

  &.search-button-focus,
  &:focus {
    outline-offset: units(2px);
  }
}

.usa-button--outline,
.usa-button--outline-circle,
.sds-button--square-outline {
  background-color: transparent;
  box-shadow: $button-stroke color('primary');

  &:visited {
    color: color('primary');
  }

  &.usa-button--hover,
  &.usa-button--hover-circle,
  &.sds-button--square-hover,
  &:hover {
    background-color: transparent;
    box-shadow: $button-stroke color('primary-light');
  }

  &.usa-button--active,
  &.usa-button--active-circle,
  &.sds-button--square-active,
  &:active {
    background-color: transparent;
    color: color('secondary-darker');
    box-shadow: $button-stroke color('secondary-darker');
  }

  &.usa-button--inverse {
    background-color: transparent;
    box-shadow: $button-stroke color('primary');
    color: color('white');

    &:visited {
      color: color('base-lighter');
    }

    &.usa-button--hover,
    &.usa-button--hover-circle,
    &.sds-button--square-hover,
    &:hover {
      background-color: transparent;
      box-shadow: $button-stroke color('base-lightest');
      color: color('base-lightest');
    }

    &.usa-button--active,
    &.usa-button--active-circle,
    &.sds-button--square-active,
    &:active {
      background-color: transparent;
      box-shadow: $button-stroke color('white');
      color: color('base-light');
    }
  }
}

.usa-button--base,
.usa-button--base-circle,
.sds-button--square-base {
  color: color('gold-70');
  background-color: color('accent-warm-lighter');
  box-shadow: $button-stroke color('base-light');

  &.usa-button--hover,
  &.usa-button--hover-circle,
  &.sds-button--square-hover,
  &:hover {
    color: color('gold-70');
    background-color: color('white');
    box-shadow: $button-stroke color('base');
  }

  &.usa-button--active,
  &.usa-button--active-circle,
  &.sds-button--square-active,
  &:active {
    color: color('white');
    background-color: color('base-dark');
  }
}

.usa-button--secondary,
.usa-button--secondary-circle,
.sds-button--square-secondary {
  background-color: color('primary-lighter');
  box-shadow: $button-stroke color('primary');

  &.usa-button--hover,
  &.usa-button--hover-circle,
  &.sds-button--square-hover,
  &:hover {
    box-shadow: $button-stroke color('primary-light');
    background-color: color('white');
  }

  &.usa-button--active,
  &.usa-button--active-circle,
  &.sds-button--square-active,
  &:active {
    color: color('secondary-darker');
    box-shadow: $button-stroke color('secondary-darker');
    background-color: color('white');
  }

  &.usa-button--disabled,
  &.usa-button--disabled-circle,
  &.sds-button--square-disabled,
  &:disabled {
    color: color('disabled');
    box-shadow: $button-stroke color('disabled');
    background-color: transparent;
  }
}

.usa-button--danger,
.usa-button--danger-circle
.sds-button--square-danger {
  background-color: color('error');

  &.usa-button--hover,
  &.usa-button--hover-circle,
  &.sds-button--square-hover,
  &:hover {
    background-color: color('error-lighter')
  }

  &.usa-button--active,
  &.usa-button--active-circle,
  &.sds-button--square-active,
  &:active {
    color: color('white');
    background-color: color('error-dark');
  }
}

.sds-button--attached-left {
  border-radius: 0 0.3125rem 0.3125rem 0;
}

.sds-button--circle {
  @include u-padding-x('105');
  @include u-radius('pill');
}

.usa-button--inverse-circle,
.sds-button--square-inverse {
  background-color: transparent;
  box-shadow: $button-stroke color('primary');
  color: color('white');

  &:visited {
    color: color('base-lighter');
  }
}
