.usa-button {
  color: color('secondary-darker');
  padding: units(1.5) units(4);

  &.usa-button--hover,
  &:hover {
    background-color: color('primary-light');
    color: color('secondary-darker');
  }

  &.usa-button--active,
  &:active {
    background-color: color('secondary-darker');
    color: color('white');
  }

  &.usa-focus,
  &:focus {
    outline-offset: units(2px);
  }
}

// DEPRECATED: Use .sds-button.sds-button--circular
.sds-button--circle {
  border-radius: 50%;
  color: color('secondary-darker');
  border: 0.25px solid darkgray;
  height: 2rem;
  width: 2rem;

  .svg-inline--fa {
    align-self: center;
  }

  &.usa-button--hover,
  &:hover {
    background-color: color('primary-light');
    color: color('secondary-darker');
  }

  &.usa-button--active,
  &:active {
    background-color: color('secondary-darker');
    color: color('white');
  }

  &.usa-focus,
  &:focus {
    outline-offset: units(2px);
  }
}

.usa-button--outline {
  background-color: transparent;
  box-shadow: $button-stroke color('primary');

  &:visited {
    color: color('primary');
  }

  &.usa-button--hover,
  &:hover {
    background-color: transparent;
    box-shadow: $button-stroke color('primary-light');
  }

  &.usa-button--active,
  &:active {
    background-color: transparent;
    color: color('secondary-darker');
    box-shadow: $button-stroke color('secondary-darker');
  }

  &.usa-button--inverse {
    background-color: transparent;
    box-shadow: $button-stroke color('primary');
    color: color('white');

    &:visited {
      color: color('base-lighter');
    }

    &.usa-button--hover,
    &:hover {
      background-color: transparent;
      box-shadow: $button-stroke color('base-lightest');
      color: color('base-lightest');
    }

    &.usa-button--active,
    &:active {
      background-color: transparent;
      box-shadow: $button-stroke color('white');
      color: color('base-light');
    }
  }
}

.usa-button--base {
  color: color('gold-70');
  background-color: color('accent-warm-lighter');
  box-shadow: $button-stroke color('base-light');

  &.usa-button--hover,
  &:hover {
    color: color('gold-70');
    background-color: color('white');
    box-shadow: $button-stroke color('base');
  }

  &.usa-button--active,
  &:active {
    color: color('white');
    background-color: color('base-dark');
  }
}

.usa-button--secondary {
  background-color: color('primary-lighter');
  box-shadow: $button-stroke color('primary');

  &.usa-button--hover,
  &:hover {
    box-shadow: $button-stroke color('primary-light');
    background-color: color('white');
  }

  &.usa-button--active,
  &:active {
    color: color('secondary-darker');
    box-shadow: $button-stroke color('secondary-darker');
    background-color: color('white');
  }

  &.usa-button--disabled,
  &:disabled {
    color: color('disabled');
    box-shadow: $button-stroke color('disabled');
    background-color: transparent;
  }
}

.usa-button--danger {
  background-color: color('error');

  &.usa-button--hover,
  &:hover {
    background-color: color('error-lighter');
  }

  &.usa-button--active,
  &:active {
    color: color('white');
    background-color: color('error-dark');
  }
}

// TODO: Remove this style
// as its only used for example display
.button-label {
  text-align: center;
  display: inline-block;
  margin: 10px;

  label {
    display: block;
    font-size: 14px;
  }
}

/*******************************
      SDS Specific Styles
*******************************/
/*-------------------
  Basic Button
--------------------*/
.sds-button {
  @include border-box-sizing;
  @include typeset($theme-button-font-family, null, 1);
  @include add-knockout-font-smoothing;
  appearance: none;
  background-color: color('white');
  border: 0;
  border-radius: radius($theme-button-border-radius);
  box-shadow: inset 0px 0px 0 1px color('base-lighter');
  color: color('secondary-dark');
  cursor: pointer;
  display: inline-block;
  font-weight: font-weight('bold');
  margin-right: units(1);
  padding: units(1.5) units(2.5);
  text-align: center;
  text-decoration: none;

  &:visited {
    color: color('white');
  }

  &:hover,
  &.usa-button--hover {
    box-shadow: inset 0px 0px 0 1px color('primary');
    text-decoration: none;
  }

  &:active,
  &.usa-button--active {
    box-shadow: inset 0px 0px 0 1px color('secondary-darker');
  }

  &:focus,
  &.usa-focus {
    outline-offset: units(0.5);
  }

  &:disabled {
    @include button-disabled;
  }
}

// Shadow
.sds-button.sds-button--shadow {
  box-shadow: inset 0px 0px 0 1px color('base-lighter'),
    0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  &:hover,
  &.usa-button--hover {
    box-shadow: inset 0px 0px 0 1px color('primary'),
      0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  }

  &:active,
  &.usa-button--active {
    box-shadow: inset 0px 0px 0 1px color('secondary-darker'),
      0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  }
}

// Size
.sds-button.sds-button--small {
  @include u-font('sans', '2xs');
  padding: 10px units(2);
}

/*-------------------
  Primary Buttons
--------------------*/
.sds-button--primary {
  @include u-bg('primary');
  @include u-shadow('none');
  &.usa-button--hover,
  &:hover {
    background-color: color('primary-light');
    color: color('secondary-darker');
  }

  &.usa-button--active,
  &:active {
    background-color: color('secondary-darker');
    color: color('white');
  }

  &.usa-focus,
  &:focus {
    outline-offset: units(2px);
  }
}

/*-------------------
  Circular Buttons
--------------------*/
// Utility buttons only include an icon

.sds-button.sds-button--circular {
  @include u-radius('pill');
  @include u-padding-x('105');
  // Font-Awesome Fixed width class
  // its slightly narrow to make it
  // look like a cirle
  .svg-inline--fa.fa-fw {
    width: 1.1em;
  }
  &.sds-button--small .svg-inline--fa.fa-fw {
    width: .8em;
  }
}

/*-------------------
  Labeled Icon Button
--------------------*/
.sds-button.sds-button--labeled-icon {
  color: color('indigo-cool-60');
  box-shadow: none;
  transition: box-shadow 0.2s ease-out;
  @include u-position('relative');
  @include u-padding-right(5);
  @include u-padding-left(2);
  &:hover,
  &.usa-button--hover {
    @include u-shadow(2);
  }
  &:active,
  &.usa-button--active {
    color: color('secondary-dark');
    box-shadow: inset 0px 0px 0 1px color('secondary-darker');
    .fa-layers {
      .fa-circle {
        color: color('secondary-darker') !important;
      }
      .svg-inline--fa:not(.fa-circle) {
        color: color('white');
      }
    }
  }
  .fa-layers {
    @include u-position('absolute');
    font-size: 27px;
    top: 5px;
    right: 5px;
    .fa-circle {
      color: color('primary');
    }
    .svg-inline--fa:not(.fa-circle) {
      color: color('secondary-dark');
    }
  }
  &.sds-button--small {
    @include u-padding-right(4);
    .fa-layers {
      font-size: 20px;
      top: 6px;
    }
  }
}

/*-------------------
  Icon Button
--------------------*/
.sds-button.sds-button--icon {
  height: 85px;
  width: 195px;
  @include u-radius('lg');
  @include u-display('flex');
  @include u-bg('white');
  @include u-flex('justify-center');
  @include u-margin(1);

  i {
    @include u-margin-x(1);
  }

  span {
    font-size: 14px;
    margin: auto 0;
    @include u-text('bold');
  }
}
