.usa-button {
  @include u-text("secondary-darker");
  @include u-border("primary");
  @include u-border-width("2px");

  &.usa-button--hover,
  &:hover {
    @include u-bg("primary-light");
    @include u-border("primary-light");
    @include u-border-width("2px");
    @include u-text("secondary-darker");
  }

  &.usa-button--active,
  &:active {
    @include u-bg("secondary-darker");
    @include u-border("secondary-darker");
    @include u-text("white");
  }

  &.usa-focus,
  &:focus {
    outline-offset: units(2px);
  }

  &--unstyled {
    border: none;
    @include u-text("underline");
    text-decoration: none;

    &.usa-button--active,
    &:active {
      border: none;
      @include u-bg("transparent");
      @include u-text("underline","secondary-darker");
    }

    &.usa-button--hover,
    &:hover {
      border: none;
      @include u-bg("transparent");
      @include u-text("underline","warning-darker");
    }
  }
}

.sds-button--circle {
  border-radius: 50%;
  height: units(4);
  width: units(4);
  @include u-display("inline-flex");
  @include u-flex("align-center");
  @include u-flex("justify-center");
  margin: unset;
  padding: 0;

  .svg-inline--fa {
    align-self: center;
  }

  &.sds-button--small {
    height: units(3);
    width: units(3);
    padding: 0;
    font-size: size("body", 1);
  }

  &.sds-button--big,
  &.usa-button--big {
    height: units(5);
    width: units(5);
    font-size: size("body", 6);
  }
}

.usa-button--outline {
  background-color: transparent;
  box-shadow: none;

  &:visited {
    color: color("primary");
  }

  &.usa-button--hover,
  &:hover {
    background-color: transparent;
    box-shadow: none;
  }

  &.usa-button--active,
  &:active {
    background-color: transparent;
    color: color("secondary-darker");
    box-shadow: none;
  }

  &.usa-button--inverse {
    background-color: transparent;
    color: color("white");
    box-shadow: none;

    &:visited {
      color: color("base-lighter");
      box-shadow: none;
    }

    &.usa-button--hover,
    &:hover {
      background-color: transparent;
      color: color("base-lightest");
      box-shadow: none;
    }

    &.usa-button--active,
    &:active {
      background-color: transparent;
      color: color("base-light");
      box-shadow: none;
    }

    &:disabled {
      background-color: transparent;
      color: color("base-light");
      box-shadow: none;
    }
  }
}

.usa-button--base {
  color: color("gold-70");
  background-color: color("accent-warm-lighter");
  @include u-border("base-light");

  &.usa-button--hover,
  &:hover {
    color: color("gold-70");
    background-color: color("white");
    @include u-border("base");
  }

  &.usa-button--active,
  &:active {
    color: color("white");
    background-color: color("base-dark");
    @include u-border("base-dark");
  }
}

.usa-button--secondary {
  background-color: color("primary-lighter");

  &.usa-button--hover,
  &:hover {
    background-color: color("white");
  }

  &.usa-button--active,
  &:active {
    color: color("secondary-darker");
    background-color: color("white");
  }

  &.usa-button--disabled,
  &:disabled {
    color: color("disabled");
    @include u-border("disabled");
    background-color: transparent;
  }
}

.usa-button--accent-cool {
  background-color: color("accent-cool");
  @include u-border("accent-cool");

  &.usa-button--hover,
  &:hover {
    background-color: color("accent-cool-lighter");
    @include u-border("accent-cool-lighter");
  }

  &.usa-button--active,
  &:active {
    color: color("white");
    background-color: color("accent-cool-dark");
    @include u-border("accent-cool-dark");
  }
}

.sds-button--danger {
  background-color: color("error");
  @include u-border("error");

  &.usa-button--hover,
  &:hover {
    background-color: color("error-lighter");
    @include u-border("error-lighter");
  }

  &.usa-button--active,
  &:active {
    color: color("white");
    background-color: color("error-dark");
    @include u-border("error-dark");
  }
}

.sds-button--white {
  background-color: color("white");
  @include u-border("white");
  transition: box-shadow 0.2s ease-out;

  &.usa-button--hover,
  &:hover {
    background-color: color("white");
    @include u-border("white");
    @include u-shadow(2);
  }

  &.usa-button--active,
  &:active {
    color: color("white");
    background-color: color("base-light");
    @include u-border("base-light");
  }
}

.sds-button,
.usa-button {
  &--disabled,
  &:disabled {
    box-shadow: none;
    @include u-border("disabled");
    @include u-bg("disabled");
    @include u-text("white");

    &.sds-button--unstyled,
    &.usa-button--unstyled {
      box-shadow: none;
      @include u-border(0);
      @include u-bg("transparent");
      @include u-text("disabled");
    }
  }
}
/*******************************
      SDS Specific Styles
*******************************/
/*-------------------
  Basic Button
--------------------*/
.sds-button {
  @include border-box-sizing;
  @include typeset($theme-button-font-family, null, 1);
  @include add-knockout-font-smoothing;
  appearance: none;
  background-color: color("white");
  border: 0;
  border-radius: radius($theme-button-border-radius);
  color: color("secondary-dark");
  cursor: pointer;
  display: inline-block;
  font-weight: font-weight("bold");
  margin-right: units(1);
  padding: units(1.5) units(2.5);
  text-align: center;
  text-decoration: none;

  &:visited {
    color: color("white");
  }

  &.usa-button--hover,
  &:hover {
    text-decoration: none;
  }

  &.usa-button--active,
  &:active {
    box-shadow: inset 0 0 0 1px color("secondary-darker");
  }

  &.usa-focus,
  &:focus {
    outline-offset: units(0.5);
  }

  &:disabled {
    @include button-disabled;
  }
}
// Shadow
.sds-button--shadow {
  box-shadow: $button-shadow;

  &.usa-button--hover,
  &:hover {
    box-shadow: $button-shadow;
  }

  &.usa-button--active,
  &:active {
    box-shadow: $button-shadow;
  }
}
// Size
.sds-button--small,
.usa-button--small {
  @include u-font("sans", "2xs");
  padding: units(1) units(2);
}
/*-------------------
  SDS Button
--------------------*/
.sds-button--primary {
  @include u-bg("primary");
  @include u-shadow("none");

  &.usa-button--hover,
  &:hover {
    background-color: color("primary-light");
    color: color("secondary-darker");
  }

  &.usa-button--active,
  &:active {
    background-color: color("secondary-darker");
    color: color("white");
  }

  &.usa-focus,
  &:focus {
    outline-offset: units(2px);
  }
}
/*-------------------
  Circular Buttons - DEPRECATED: Use .sds-button--circle
--------------------*/
.sds-button.sds-button--circular {
  @include u-radius("pill");
  @include u-padding-x("105");

  .svg-inline--fa.fa-fw {
    width: 1.1em;
  }

  &.sds-button--small .svg-inline--fa.fa-fw {
    width: 0.8em;
  }
}
/*-------------------
  Labeled Icon Button
--------------------*/
.sds-button.sds-button--labeled-icon {
  color: color("indigo-cool-60");
  box-shadow: none;
  transition: box-shadow 0.2s ease-out;
  @include u-position("relative");
  @include u-padding-right(5);
  @include u-padding-left(2);

  &.usa-button--hover,
  &:hover {
    @include u-shadow(2);
  }

  &.usa-button--active,
  &:active {
    color: color("secondary-dark");
    box-shadow: inset 0 0 0 1px color("secondary-darker");

    .fa-layers {
      .fa-circle {
        color: color("secondary-darker") !important;
      }

      .svg-inline--fa:not(.fa-circle) {
        color: color("white");
      }
    }
  }

  .fa-layers {
    @include u-position("absolute");
    font-size: size("body", 10);
    top: 5px;
    right: 5px;

    .fa-circle {
      color: color("primary");
    }

    .svg-inline--fa:not(.fa-circle) {
      color: color("secondary-dark");
    }
  }

  &.sds-button--small {
    @include u-padding-right(4);

    .fa-layers {
      font-size: size("body", 8);
      top: 6px;
    }
  }
}
/*-------------------
  Icon Button
--------------------*/
.sds-button.sds-button--icon {
  height: units(6);
  min-width: units("card-lg");
  @include u-padding-x(4);
  @include u-radius("lg");
  @include u-display("flex");
  @include u-bg("white");
  @include u-flex("justify-center");

  svg {
    margin-right: units(2);
    width: units(6) !important;
  }

  span {
    @include u-font("sans", "3xs");
    margin: auto 0;
    @include u-text("bold");
  }

  .sds-button--icon__title {
    margin: 5px 0;
  }
}

.sds-button--outline {
  border: none;
  border-radius: radius($theme-button-border-radius);
  background-color: white;
  padding: 3px;
  height: 51px;
  width: fit-content;

  .sds-button--icon {
    border: solid 1px color("primary");
    border-radius: radius($theme-button-border-radius);
    margin: auto;
  }
}
/*-------------------
  Icon Button LG
--------------------*/
.sds-button.sds-button--icon-lg {
    @include u-padding(2);
    @include u-shadow(2);
    @include u-border(2px);
    @include u-border('accent-cool-light');
    @include u-radius('lg');
    @include u-text('left');
    @include u-margin-y(1);

    .sds-button__header {
      @include u-display('flex');
      @include u-flex('row');
      @include u-flex(1);
      padding-bottom: 0.5rem;
      flex-grow: 0;
      margin: auto;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include u-font('sans', 'md');
        @include u-text('bold');
      }

      p {
        @include u-margin-bottom(1);
      }

      span,
      svg {
        @include u-margin-top(0);
        @include u-margin-x(2);
      }
    }

    span {
      @include u-color('base');
      @include u-text('italic');
      @include u-margin-top(1);
      @include u-text('normal');
      flex-wrap: wrap;
    }

    &--selected,
    &:hover {
      @include u-border('primary');
    }
  
}

.sds-button.sds-button--icon-lg {
  height: 100%;
  width: 100%;
  @include u-text('center');
  @include u-display('flex');
  @include u-flex('column');
  align-items: center;

  .usa-tag {
    @include u-text('white');
    @include u-text('no-italic');
    @include u-margin-x('auto');
    @include u-padding-y('1');
  }

  .sds-button__body {
    @include u-text('center');
    @include u-display('flex');
    @include u-flex('column');
    flex-grow: 1;
  }
}
