.usa-select {
  @include add-background-svg('sam/arrow-down');
  background-size: 0.6rem;

  &.usa-select--small {
    @include u-font('sans', '3xs');
    @include u-margin-top(0.5);
    height: 2.1rem;
  }
}

.usa-static--tag {
  @include u-display('block');
  @include u-margin-bottom(0);
  @include u-margin-top('2px');
  @include u-margin-right(0.5, !important);
  @include u-font('sans', '3xs');
  min-width: 52px;
  width: 52px;
}

.usa-static--label {
  @include u-display('block');
  @include u-margin-top(0.5);
  @include u-margin-right(0.5, !important);
  white-space: nowrap;
}

.usa-static {
  @include u-text('semibold');
}

.usa-form-group {
  @include u-margin-top(0.5);

  .usa-static {
    @include u-margin-y(0);
  }
}

.usa-form-group-horizontal {
  @include u-margin-top(0.5);

  .usa-static {
    @include u-margin-y(0.5);
  }
}
