//sds form layout
.sds-form-wrapper {
  @include u-bg("accent-cool-light");
  justify-content: center;
}

.sds-form.usa-form.usa-form--large {
  @include u-bg("white");
  @include u-padding("105");
  max-width: 50rem;

  @media (min-width: 30em) {
    @include u-padding-x(4);
    @include u-margin-y(3);
    -moz-box-shadow: 2px 2px 10px 3px #c9c9c9;
    -webkit-box-shadow: 2px 2px 10px 3px #c9c9c9;
    box-shadow: 2px 2px 10px 3px #c9c9c9;
  }

  .usa-legend {
    font-size: 1.75rem;
  }

  .sds-form-text {
    max-height: 800px;
    opacity: 1;
  }

  .usa-label,
  .usa-input,
  .usa-select {
    max-width: 30rem;
  }

  .usa-hint {
    line-height: 1.1;
  }

  .sds-form-extension {
    @include u-display("none");

    @include at-media("desktop") {
      @include u-display("inline-block");
    }
  }

  .sds-form-extension-btn {
    @include u-display("block");
    @include u-margin-y(1);

    @include at-media("desktop") {
      @include u-display("none");
    }
  }
}

.usa-label {
  @include u-font("sans", "xs");
  @include u-text("semibold");
}

//select
.usa-select {
  @include add-background-svg("sam/arrow-down");
  background-size: 0.6rem;

  &.usa-select--small {
    @include u-font("sans", "3xs");
    @include u-margin-top(0.5);
    height: 2.1rem;
  }
}

//soften error styles
.usa-error-message {
  font-weight: font-weight("medium");
}

.usa-input--error,
.usa-input.usa-focus,
.usa-input.usa-input--success {
  border-width: 0.1rem !important;
}

.usa-input--disabled {
  color: color("base-darker");
  border-color: color("base-light");
  background-color: color("base-lighter");
}

.usa-label--disabled {
  color: color("base-light");
}

.usa-form-group--error {
  @include u-border-left(2px);
  @include u-border-left("error-dark");
  @include u-border-left("solid");
  @include u-margin-top(2rem);
  margin-left: -1.15rem;

  input.usa-input {
    @extend .usa-input--error;
  }
}

// Checkbox and Radio
.usa-checkbox__label::before,
.usa-radio__label::before {
  margin-right: 0.5rem;
}

.usa-checkbox__label-description,
.usa-radio__label-description {
  font-size: 85%;
}

//checkbox
.usa-checkbox__input[aria-checked="mixed"]+.usa-checkbox__label:before,
.usa-checkbox__input[aria-checked="mixed"]:disabled+.usa-checkbox__label:before {
  @include u-bg("primary");
  box-shadow: 0 0 0 2px $theme-color-primary-darker;
  background-image: url("#{$theme-image-path}/minus-white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0.75rem auto;
}

.usa-checkbox.text-align-end {
  text-align: end;
}

//IAE-45479 fix in FF
@-moz-document url-prefix() {

  .usa-checkbox,
  .usa-fieldset {
    position: relative;
  }
}

//IAE-45479 fix in IE11
@media all and (-ms-high-contrast: none) {

  *::-ms-backdrop,
  .usa-checkbox,
  .usa-fieldset {
    position: relative;
  }
}

// textarea/input character count
.usa-character-count {
  max-width: min-content;

  .usa-hint {
    display: flex;
    flex-direction: row-reverse;
  }

  textarea {
    width: 320px;
    max-width: none;
  }
}

//small label variation
.usa-label.usa-label--sm {
  @include u-font("sans", "3xs");
  @include u-text("semibold");
}

.usa-checkbox,
.usa-radio {

  .usa-checkbox__input:checked+.usa-checkbox__label,
  .usa-radio__input:checked+.usa-radio__label {
    &::before {
      background-color: #70e17b !important;
    }
  }

  .usa-checkbox__input:checked+.usa-checkbox__label {
    &::before {
      box-shadow: 0 0 0 2px #70e17b !important;
    }
  }

  .usa-radio__input:checked+.usa-radio__label {
    &::before {
      box-shadow: 0 0 0 2px #70e17b, inset 0 0 0 2px white !important;
    }
  }
}

.usa-radio {
  &.horizontal {
    display: inline-flex;
    flex-wrap: nowrap;

    .horizontal-option {
      padding-right: 3rem;
      flex-wrap: nowrap;
    }
  }
}