.sds-icon-link{
    @include u-display('flex');
    @include u-flex('align-center');
    svg{
        @include u-flex('align-center');
    }
    &--left{
        svg{
            @include u-margin-right(1)
        }
    }
    &--right{
        svg{
            @include u-margin-left(1)
        }
    }
}

