.sds-tag--info-purple {
  @include u-bg("violet-warm-10v");
  @include u-border("indigo-warm-50");
  @include u-border("1px");
  font-weight: 600;
  border-radius: 0;
  @include u-text("base-darker");
}

.sds-tag--info-white {
  background-color: white;
  border: 1px solid #76766a;
  font-weight: 600;
  border-radius: 0;
  @include u-text("base-darker");
}

// Chip tag

.sds-tag.sds-tag--chip {
  background-color: color("primary-lighter");
  border: 1px solid color("primary");
  @include u-font("sans", "3xs");
  padding: 2px 5px;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 5px;
}

.sds-tag.sds-tag--chip .sds-tag__close {
  @include button-unstyled;
  font-size: 12px;
  margin-left: 5px;
}
// Status tag

.sds-tag[class*="sds-tag--status"] {
  white-space: nowrap;
  text-transform: uppercase;
  @include u-font("sans", "3xs");
  @include u-text("base-dark");
  line-height: 20px;
  font-weight: 600;
  padding: 0 5px 4px 0;
  border-radius: 0;
  margin-right: 5px;
  display: inline-block;
  width: auto;
}

.sds-tag[class*="sds-tag--status"]::before {
  content: "";
  display: inline-block;
  background-color: #5b616b;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: bottom;
}

.sds-tag.sds-tag--status-green::before {
  background-color: #4aa564;
}

.sds-tag.sds-tag--status-gray::before {
  background-color: #e4e2e0;
}

.sds-tag.sds-tag--status-dark-gray::before {
  background-color: #5b616b;
}

.sds-tag.sds-tag--status-yellow::before {
  background-color: #fad980;
}

.sds-tag.sds-tag--status-light-blue::before {
  background-color: #9bdaf1;
}

.sds-tag.sds-tag--status-red::before {
  background-color: #e59393;
}
//Border colors
.sds-tag--border-blue {
  border-color:  #00a6d2!important;
}
.sds-tag--border-red {
  border-color:  #981b1e!important;
}
.sds-tag--border-yellow {
  border-color:  #fdb81e!important;
}
// Outline tag
.sds-tag[class*="sds-tag--outline"] {
  @include u-font("sans", "3xs");
  @include u-text("base-dark");
  line-height: 1rem;
  font-weight: 550;
  padding: 7px;
  border: 1px solid;
  margin-right: 5px;
  display: flex;
  align-items: center;
  width: 115px;
  background-color: #f5f5f0;
  height: calc(100% - 1.3rem);
  div {
    text-align: left;
    width: calc(100% - 42px);
  }
}

.sds-tag[class*="sds-tag--outline"]::before {
  content: "";
  display: inline-block;
  border: 1px solid #5b616b;
  background-color: #f1f1f1;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: bottom;
}

.sds-tag.sds-tag--outline-green::before {
  border: 1px solid #2e8540;
  background-color: #2e8540;
}

.sds-tag.sds-tag--outline-gray::before {
  border: 1px solid #aeb0b5;
  background-color: #aeb0b5;
}

.sds-tag.sds-tag--outline-dark-gray::before {
  border: 1px solid #aeb0b5;
  background-color: #aeb0b5;
}

.sds-tag.sds-tag--outline-yellow::before {
  border: 1px solid #fdb81e;
  background-color: #fdb81e;
}

.sds-tag.sds-tag--outline-blue::before {
  border: 1px solid #5a94f5;
  background-color: #5a94f5;
}

.sds-tag.sds-tag--outline-light-blue::before {
  border: 1px solid #00a6d2;
  background-color: #00a6d2;
}

.sds-tag.sds-tag--outline-red::before {
  border: 1px solid #981b1e;
  background-color: #981b1e;
}

.sds-tag[class*="sds-tag--alt"] {
  white-space: nowrap;
  @include u-font("sans", "3xs");
  @include u-text("base-dark");
  text-align: center;
  line-height: 1rem;
  font-weight: 550;
  padding: 7px 10px;
  border: 1px solid;
  margin-right: 5px;
  display: flex;
  align-items: center;
  width: 115px;
  background-color: #f5f5f0;
  height: calc(100% - 1.3rem);
}

.sds-tag--small {
  @include u-font("sans", "3xs");
}

.sds-tag--disabled {
  @include u-bg("disabled", !important);
  @include u-border("disabled-dark", !important);
}

// Block style tag
div[class^="grid-col-"] .sds-tag--block,
div[class*=" grid-col-"] .sds-tag--block {
  display: block !important;
  width: 100% !important;
}

/*
----------------------------------------
Label Title
----------------------------------------
*/
.sds-type--label-title {
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
  margin: 0;
  color: #5d5d52;
}

.sds-tag--light {
  @include u-bg("white", !important);
  @include u-border("warning", !important);
  @include u-text("base-darker", !important);
}

.sds-static--tag {
  @include u-display("block");
  @include u-margin-bottom(0);
  @include u-margin-top("2px");
  @include u-margin-right(0.5, !important);
  @include u-font("sans", "3xs");
  min-width: 52px;
  width: 52px;
}
