.sds-tag--info-purple {
  color: black;
  background-color: #fbdcff;
  border: 1.5px solid #7665d1;
  border-radius: 2px;
  font-weight: 600;
}

.sds-tag--info-white {
  color: black;
  background-color: white;
  border: 1.5px solid #76766a;
  border-radius: 2px;
  font-weight: 600;
}
// Alert tag - Warning

.sds-tag--alert {
  background-color: #faf3d1;
  border-radius: 8px;
  max-width: 320px;
  display: flex;
  align-items: center;
}

.sds-tag--alert > svg {
  margin: auto 10px;
  color: #fbc036;
}

.sds-tag--alert-content {
  display: inline-block;
}

// Alert tag - Info

.sds-tag--alert-info {
  background-color: #e7f6f8;
  border-radius: 8px;
  max-width: 320px;
  display: flex;
  align-items: center;
}

.sds-tag--alert-info > svg {
  margin: auto 10px;
  color: #00bde3;
}

// Alert tag - Error

.sds-tag--alert-error {
  background-color: #fdb8ae;
  border-radius: 8px;
  max-width: 320px;
  display: flex;
  align-items: center;
}

.sds-tag--alert-error > svg {
  margin: auto 10px;
  color: #fb5a47;
}

// Chip tag

.sds-tag.sds-tag--chip {
  background-color: color('primary-lighter');
  border: 1px solid color('primary');
  font-weight: font-weight('semibold');
  font-size: 14px;
  padding: 2px 5px;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 5px;
}

.sds-tag.sds-tag--chip .sds-tag__close {
  @include button-unstyled;
  font-size: 12px;
  margin-left: 5px;
}
// Status tag
.sds-tag[class*='sds-tag--status'] {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 0 5px 4px 0;
  border-radius: 2px;
  color: #212121;
  margin-right: 5px;
  display: inline-block;
  width: auto;
}

.sds-tag[class*='sds-tag--status']::before {
  content: '';
  display: inline-block;
  border: 1px solid #5b616b;
  background-color: #f1f1f1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: bottom;
}

.sds-tag.sds-tag--status-green::before {
  border: 1px solid #2e8540;
  background-color: #4aa564;
}

.sds-tag.sds-tag--status-gray::before {
  border: 1px solid #aeb0b5;
  background-color: #e4e2e0;
}

.sds-tag.sds-tag--status-dark-gray::before {
  border: 1px solid #aeb0b5;
  background-color: #5b616b;
}

.sds-tag.sds-tag--status-yellow::before {
  border: 1px solid #fdb81e;
  background-color: #fad980;
}

.sds-tag.sds-tag--status-light-blue::before {
  border: 1px solid #00a6d2;
  background-color: #9bdaf1;
}

.sds-tag.sds-tag--status-red::before {
  border: 1px solid #981b1e;
  background-color: #e59393;
}
// Outline tag

.sds-tag[class*='sds-tag--outline'] {
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 550;
  padding: 5px;
  border: 1px solid;
  color: #212121;
  margin-right: 5px;
  display: inline-block;
  width: auto;
  background-color: #f5f5f0;
}

.sds-tag[class*='sds-tag--outline']::before {
  content: '';
  display: inline-block;
  border: 1px solid #5b616b;
  background-color: #f1f1f1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: bottom;
}

.sds-tag.sds-tag--outline-green::before {
  border: 1px solid #2e8540;
  background-color: #4aa564;
}

.sds-tag.sds-tag--outline-gray::before {
  border: 1px solid #aeb0b5;
  background-color: #e4e2e0;
}

.sds-tag.sds-tag--outline-dark-gray::before {
  border: 1px solid #aeb0b5;
  background-color: #5b616b;
}

.sds-tag.sds-tag--outline-yellow::before {
  border: 1px solid #fdb81e;
  background-color: #fad980;
}

.sds-tag.sds-tag--outline-light-blue::before {
  border: 1px solid #00a6d2;
  background-color: #9bdaf1;
}

.sds-tag.sds-tag--outline-red::before {
  border: 1px solid #981b1e;
  background-color: #e59393;
}

.sds-tag[class*='sds-tag--alt'] {
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 550;
  padding: 5px 10px;
  border: 1px solid;
  color: #212121;
  margin-right: 5px;
  display: inline-block;
  width: auto;
  background-color: #f5f5f0;
}
