.usa-link,
.usa-link:visited {
  color: #3F57A6;
  text-decoration: none;
}

.usa-link:hover {
  color: #8A7237;
  text-decoration: underline;
}

.usa-color-text-visited {
  color: #3F57A6;
}

.usa-color-text-hover {
  color: #8A7237;
  text-decoration: underline;
}

.usa-dark-background a {
  color: #D9E8F6;
}

.usa-dark-background a:hover {
  color: #B69FFF;
}

#usa-link--dark-hover {
  color: #B69FFF;
  text-decoration: underline;
}

.usa-link-wrapper {
  padding: 25px;
}

.usa-link--external::after {
  fill: #562b97;
}

.sds-group {
  @include u-margin-top(0.5);

  .sds-static {
    @include u-margin-y(0);
  }
}

.sds-group--horizontal {
  @include u-margin-top(0.5);

  .sds-static {
    @include u-margin-y(0.5);
  }
}

.sds-static--label {
  @include u-display('block');
  @include u-margin-top(0.5);
  @include u-margin-right(0.5, !important);
  white-space: nowrap;
}

.sds-static {
  @include u-text('semibold');
}

.line-height-05 {
  line-height: 0.5rem;
}


@for $index from 1 through 6 {
.main-content > h#{$index}:first-child{
    margin-top: 0;
  }
}