<div class="usa-nav__secondary">
  <ul class="usa-nav__secondary-links">
    {%- for link in nav.links -%}
    <li class="usa-nav__secondary-item">
      <a href="{{ link.href }}"{% if link.current %} class="usa-current"{% endif %}>
        {% if link.icon and link.notification %}
          <span class="fa-layers fa-fw">
            <i class="{{ "sds" if link.sdsIcon else "fas" }} fa-{{link.icon}}"></i>
            <span class="fa-layers-counter"></span>
          </span>
        {% endif %}
        {% if link.icon and not link.notification %}
          <i class="{{ "sds" if link.sdsIcon else "fas" }} fa-{{link.icon}}"></i>
        {% endif %}
        <span class="sds-nav__secondary-item-text">{{ link.text }}</span>
      </a>
    </li>
    {%- endfor -%}
  </ul>
  {%- if nav.search -%}
    {% render '@search--header', {search: nav.search, search_js: false, id_prefix: id_prefix} %}
  {%- endif -%}
</div>
