<h4>SDS Icon Button Examples</h4>
<div class="bg-accent-cool-light grid-container padding-3 display-flex">
  <button class="sds-button sds-button--icon">
    <i class="sds fa-new-note"></i>
    <span>Register Entity</span>
  </button>

  <button class="sds-button sds-button--icon">
    <i class="sds fa-new-note"></i>
    <span>Check Status</span>
  </button>

</div>
