<div class="bg-accent-cool grid-container padding-4 display-flex">

  <button class="sds-button sds-button--icon">
    <i class="sds fa-new-note"></i>
    <span>Register Entity</span>
  </button>

  <button class="sds-button sds-button--icon">
    <i class="sds fa-new-note"></i>
    <span>Check Status</span>
  </button>

</div>
