<h4>SDS Icon Button Examples</h4>
<div class="bg-accent-cool-light grid-container padding-3 display-flex">
  <button class="sds-button sds-button--icon">
    <span class="fa-stack fa-2x">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="sds fa-bars fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sds-button--icon__title">Register Entity</span>
  </button>

  <button class="sds-button sds-button--icon">

    <span class="fa-stack fa-2x">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="sds fa-bars fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sds-button--icon__title">Check Status</span>
  </button>

</div>
