<div class="grid-container margin-0">
  <div class="tablet:grid-col-8">

    {# Example 1 #}

    <div class="sds-card">
      <div class="sds-card__header">
        <h2>
          <a class="usa-link">SDS Card</a>
        </h2>
        <span class="sds-card__header-mobile">
          (8)
        </span>
        <div class="sds-card__header-actions">
          <button class="usa-button usa-button--outline">Button 1</button>
        </div>
      </div>

      <div class="sds-card__content">
        <div class="sds-button--statistics">
          <button class="green statistic">
            <div class="value">
              <span class="circular">150K+</span></div>
            <div class="label">Label</div>
          </button>
          <button class="blue statistic">
            <div class="value">
              <span class="circular">999K+</span></div>
            <div class="label">Label</div>
          </button>
          <button class="red statistic">
            <div class="value">
              <span class="circular">112</span></div>
            <div class="label">Label</div>
          </button>
          <button class="orange statistic">
            <div class="value">
              <span class="circular">209</span></div>
            <div class="label">Label</div>
          </button>
        </div>
      </div>
    </div>

    {# Example 2 #}

    <div class="sds-card">
      <div class="sds-card__header">
        <h2>
          <a class="usa-link">SDS Card</a>
        </h2>
        <span class="sds-card__header-mobile">
          (15)
        </span>
        <div class="sds-card__header-actions">
          <button class="usa-button usa-button--outline">Button 1</button>
          <button class="usa-button usa-button--outline">Button 2</button>
        </div>
      </div>

      <div class="sds-card__content">

        <div class="grid-row">
          <div class="grid-col-fill padding-left-6">
            <label class="usa-label margin-0" for="options">What are you looking for?</label>
            <div class="sds-search">
              <form class="usa-search usa-search--small">
                <select class="usa-select" name="options" id="options">
                  <option value="value">- Select -</option>
                  <option value="value1">Option A</option>
                  <option value="value2">Option B</option>
                  <option value="value3">Option C</option>
                </select>
                <div role="search" class="search">
                  <input class="usa-input" id="search-field-small" type="search" name="search">
                  <button class="usa-button" type="submit">
                    <span class="usa-sr-only">Search</span>
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="grid-col-auto">
            <!-- Pending -->
            <div class="sds-button--statistics">
              <button class="grey statistic">
                <div class="value">
                  <span class="circular">15</span></div>
                <div class="label">Label</div>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
