<div class="usa-nav-secondary">
  <ul class="usa-nav-secondary-links">
    {%- for link in nav.links -%}
    <li class="usa-nav-secondary-item">
      <a href="{{ link.href }}"{% if link.current %} class="usa-current"{% endif %}>{{ link.text }}</a>
    </li>
    {%- endfor -%}
  </ul>
</div>
