.DS_store

# Dependency directories
node_modules/

# Fractal build directory
build/

# Federalist build directory
_site/

# Webpack default dist folder
dist/

# Ignore USWDS fonts only
/src/fonts/*

# Ignore USWDS images only
/src/img/*
!/src/img/sam

# ignore saved screenshots
spec/screenshots/*.png
spec/screenshots/metadata.js

# ignore VSCode files
.vscode/