{
  "plugins": ["stylelint-scss"],
  "customSyntax": "postcss-scss",
  "rules": {
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-single-line-max-declarations": 1,
    "declaration-no-important": true,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-name-case": "lower",
    "function-url-quotes": "always",
    "length-zero-no-unit": true,
    "max-nesting-depth": 4,
    "selector-max-id": 0,
    "selector-no-qualifying-type": [true, {"ignore": ["attribute"]}],
    "selector-pseudo-element-no-unknown": true,
    "string-no-newline": true
  }
}
