            <div class="sds-accordion__item"><!-- nav content -->
                <button id="accordion-nav-id" 
                    class="sds-accordion__trigger" 
                    aria-expanded="false" 
                    aria-controls="accordion-nav-content">
                    <span class="sds-accordion__title" role="heading">
                        <span class="sds-accordion__title-text">
                            <div>Navigation</div>
                            <div>Selected Category</div>
                        </span>
                        <span class="sds-accordion__icon"></span>
                    </span>
                </button>
                <div id="accordion-nav-content" 
                    role="region" 
                    aria-labelledby="accordion-nav-id"
                    class="sds-accordion__panel" 
                    not__hidden>
                    <div class="sds-accordion__panel-body">
                        <nav>
                            <ul class="usa-sidenav">
                                <li class="usa-sidenav__item">
                                    <a href="">Parent link</a>
                                </li>
                                <li class="usa-sidenav__item">
                                    <a href="" class="usa-current">Current page</a>
                                    <ul class="usa-sidenav__sublist">
                                        <li class="usa-sidenav__item">
                                            <a href="">Child link</a>
                                        </li>
                                        <li class="usa-sidenav__item">
                                            <a href="">Child link</a>
                                        </li>
                                        <li class="usa-sidenav__item">
                                            <a href="">Child link</a>
                                        </li>
                                        <li class="usa-sidenav__item">
                                            <a href="">Child link</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="usa-sidenav__item">
                                    <a href="">Parent link</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>