<main id="main-content">
    <div class="grid-container">
        <div class="grid-row sds-hero sds-hero--image">
            <div class="desktop:grid-offset-1 desktop:grid-col-11">
                <div class="grid-row">
                    <div class="tablet:grid-col-7">
                        <h1>Landing Page</h1>
                        <p>An entity is any person or organization that is registered to do business with the federal
                            government.
                            You must have an active entity registration in SAM to receive a federal contract or federal
                            assistance.
                        </p>
                    </div>
                    <div class="tablet:grid-col-5">
                        <div class="sds-seal">
                            {% render '@icon', {icon:'flag', classes:"fa-2x margin-y-1 text-secondary"} %}
                            <div class="sds-seal__content">
                                Official U.S. Government Website
                                <span>100% Free</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desktop:grid-offset-1 desktop:grid-col-10">
                <div class="grid-row grid-gap-6">
                    <div class="tablet:grid-col-7">
                        <h4>Search Entity and Exclusions</h4>
                        <div class="sds-search">
                            <form class="usa-search usa-search--small">
                                <div role="search" class="search">
                                    <label class="usa-sr-only" for="search-input">Search Here</label>
                                    <input class="usa-input width-full" id="search-input" type="search" name="search"
                                        placeholder="Search Here">
                                    <button class="usa-button" type="submit">
                                        <span class="usa-sr-only">Search</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="desktop:grid-col-5 grid-row">
                        <div class="grid-col-12 ">
                            <h4 class="margin-bottom-1">New to SAM.gov</h4>
                            <div class="sds-button--outline">
                                <a class="sds-button sds-button--icon text-center">
                                    {% render '@layered-icon', tileIcon %}
                                    <span class="sds-button--icon__title">Help Me Get Started</span>
                                </a>
                            </div>
                        </div>
                        <div class="grid-col-12 ">
                            <h4 class="margin-bottom-1">Ready to Register</h4>
                            <div class="sds-button--outline">
                                <a class="sds-button sds-button--icon text-center">
                                    {% render '@layered-icon', tileIcon %}
                                    <span class="sds-button--icon__title">Go to Entity Registration</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desktop:grid-offset-1 desktop:grid-col-10 margin-bottom-4">
            <div class="grid-row margin-bottom-4">
              {% render "@accordion" %}
            </div>
        </div>
        <div class="grid-row grid-gap-2">
            {% for card in cards %}
                <div class="tablet:grid-col-{{card.col}}">
                    {% render '@card', card, true %}
                </div>
            {% endfor %}
        </div>
    </div>
</main>