<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="sam-logo">
      <a href="/" title="Home" aria-label="Home">
        <img class="sds-header__logo" src="/assets/images/logo-sam.svg" alt="Logo"/>
      </a>
    </div>
    <button class="usa-menu-btn">
      <span class="fa-layers fa-fw fa-3x">
        <i class="fas fa-square text-primary"></i>
        <i class="sds fa-bars" data-fa-transform="shrink-6"></i>
        <span class="fa-layers-counter"></span>
      </span>
      <span class="usa-sr-only">Menu</span>
    </button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <i class="sds fa-exit fa-fw" aria-hidden="true" title="Screen reader description" data-fa-transform="shrink-1"></i>
        <span class="sr-only">Screen reader description</span>

        <span class="usa-sr-only">Close</span>
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link usa-current" href="javascript:void(0)">
            <span>Home</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)">
            <span>Search</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)">
            <span>Databank</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)">
            <span>Data Services</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)">
            <span>Help</span></a>
        </li>
      </ul>
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links">
          <li class="usa-nav__secondary-item">
            <a href="" class="usa-current">

              <span class="fa-layers fa-fw">
                <i class="sds fa-request fa-flip-horizontal"></i>
                <span class="fa-layers-counter"></span>
              </span>

              <span class="sds-nav__secondary-item-text">Request</span>
            </a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="">

              <i class="sds fa-messages"></i>

              <span class="sds-nav__secondary-item-text">Messages</span>
            </a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="">

              <i class="sds fa-workspace"></i>

              <span class="sds-nav__secondary-item-text">Workspace</span>
            </a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="">
              <i class="sds fa-log-out"></i>
              <span class="sds-nav__secondary-item-text">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="sds-page">
  {# subheader #}
  <div class="sds-navbar border-bottom border-base-lighter">
    <div class="sds-navbar__content">
      <div class="grid-row">
        <div class="grid-col-fill display-flex flex-align-center margin-bottom-1 tablet-lg:margin-bottom-0">
          <!-- Back Button -->
          <button class="usa-button sds-button--circle sds-button--white sds-button--big margin-right-1">
            <i class="fas fa-chevron-left " aria-hidden="true" title="Screen reader description"></i>
            <span class="sr-only">Title Here</span>
          </button>
          <!-- Page Title -->
          <span class="sds-navbar__title">
            Title here
          </span>
        </div>
        <div class="grid-col-auto display-flex flex-align-center">
          <!-- Actions Menu Trigger-->
          <button class="usa-button sds-button--action">
            <span>Actions</span>
            <i class="sds fa-ellipsis fa-fw" aria-hidden="true" title="Screen reader description" ></i>
            <span class="sr-only">Screen reader description</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container margin-top-3 desktop:margin-top-5 margin-bottom-9">
  {# aside #}
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-3 display-none tablet:display-block">
      {# toolbar #}
        <div class="display-flex position-relative tablet:margin-bottom-3">
          <div class="sds-toolbar">
            <div class="sds-toolbar__header">
              <a class="sds-toolbar__toogle-btn" href="">
                <div class="sds-toolbar__toggle">
                  <span class="usa-sr-only">Open/Close Toolbar</span>
                </div>
              </a>
            </div>
            <div class="sds-toolbar__content display-none" hidden="hidden">
              <div class="sds-accordion" data-allow-multiple="data-allow-multiple">
                <div class="sds-accordion__item">

                  <button aria-expanded="false" class="sds-accordion__trigger" aria-controls="accordion-nav-content" id="accordion-nav-id">
                    <span class="sds-accordion__title" role="heading">
                      <span class="sds-accordion__title-text">
                        <div>Navigation</div>
                        <div>Selected Category</div>
                      </span>
                      <span class="sds-accordion__icon"></span>
                    </span>
                  </button>

                  <div id="accordion-nav-content" role="region" aria-labelledby="accordion-nav-id" class="sds-accordion__panel" hidden="">
                    <div class="sds-accordion__panel-body">
                      <nav>
                        <ul class="usa-sidenav">
                          <li class="usa-sidenav__item">
                            <a href="">Parent link</a>
                          </li>
                          <li class="usa-sidenav__item">
                            <a href="" class="usa-current">Current page</a>
                            <ul class="usa-sidenav__sublist">
                              <li class="usa-sidenav__item">
                                <a href="">Child link</a>
                              </li>
                              <li class="usa-sidenav__item">
                                <a href="">Child link</a>
                              </li>
                              <li class="usa-sidenav__item">
                                <a href="">Child link</a>
                              </li>
                              <li class="usa-sidenav__item">
                                <a href="">Child link</a>
                              </li>
                            </ul>
                          </li>
                          <li class="usa-sidenav__item">
                            <a href="">Parent link</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
                <div class="sds-accordion__item">

                  <button aria-expanded="false" class="sds-accordion__trigger" aria-controls="accordion-filters-content" id="accordion-filters-id">
                    <span class="sds-accordion__title" role="heading">
                      Filters
                      <span class="sds-accordion__icon"></span>
                    </span>
                  </button>

                  <div id="accordion-filters-content" role="region" aria-labelledby="accordion-filters-id" class="sds-accordion__panel" hidden="">
                    <div class="sds-accordion__panel-body">
                      <div class="sds-accordion sds-accordion--basic" data-allow-multiple="data-allow-multiple">
                        <div class="sds-accordion__item">

                          <button aria-expanded="false" class="sds-accordion__trigger" aria-controls="accordion-serv-class-content" id="accordion-serv-class-id">
                            <span class="sds-accordion__title" role="heading">
                              Service Classifications
                              <span class="sds-accordion__icon"></span>
                            </span>
                          </button>

                          <div id="accordion-serv-class-content" role="region" aria-labelledby="accordion-serv-class-id" class="sds-accordion__panel" hidden="">
                            <div class="sds-accordion__panel-body">
                              <label class="usa-label" for="input-type-naics">NAICS</label >
                              <input class="usa-input" id="input-type-naics" name="input-type-naics" type="text"/>
                              <div class="selected-chips margin-top-05">
                                <span class="sds-tag sds-tag--chip">
                                  111140 -- Wheat Farming
                                  <button class="sds-tag__close">
                                    <span class="fas fa-times" aria-hidden="true"></span>
                                  </button>
                                </span>
                                <span class="sds-tag sds-tag--chip">
                                  212222 -- Silver Ore Mining
                                  <button class="sds-tag__close">
                                    <span class="fas fa-times" aria-hidden="true"></span>
                                  </button>
                                </span>
                                <span class="sds-tag sds-tag--chip">
                                  541850 -- Outdoor Advertising
                                  <button class="sds-tag__close">
                                    <span class="fas fa-times" aria-hidden="true"></span>
                                  </button>
                                </span>
                              </div>
                              <label class="usa-label" for="input-type-psc">PSC</label>
                              <input class="usa-input" id="input-type-psc" name="input-type-psc" type="text"/>
                            </div>
                          </div>
                        </div>
                        <div class="sds-accordion__item">

                          <button aria-expanded="false" class="sds-accordion__trigger" aria-controls="accordion-entity-content" id="accordion-entity-id">
                            <span class="sds-accordion__title" role="heading">
                              Entity Name/UEI
                              <span class="sds-accordion__icon"></span>
                            </span>
                          </button>

                          <div id="accordion-entity-content" role="region" aria-labelledby="accordion-entity-id" class="sds-accordion__panel" hidden="">
                            <div class="sds-accordion__panel-body">
                              <label class="usa-label" for="input-type-entity">Name</label >
                              <input class="usa-input" id="input-type-entity" name="input-type-entity" type="text"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {# side panel #}
        <div class="sds-page__section display-none desktop:display-block">
            <div class="sds-sidepanel">
              <div class="sds-card mobile-only ">
                <div class="sds-card__header grid-row  sds-card__header--accent-cool">
                  <button aria-label="Cancel Advanced Search" class="sds-button sds-button--circular sds-button--white">
                    <fa-icon>
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10 fa-fw" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
                        <path
                          fill="currentColor"
                          d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path>
                      </svg>
                    </fa-icon>
                  </button>
                  <div class="margin-x-auto">
                    <h2 class="sds-card__title margin-top-1 margin-left-neg-2">Advanced Search</h2>
                  </div>
                </div>
              </div>
              <div class="sds-card">
                <div class="sds-card__body sds-card__body--accent-cool">
                  <nav>
                    <ul class="usa-sidenav usa-sidenav--styled">
                      <li class="usa-sidenav__item usa-current">
                        <a href="">Entity Registration</a>
                      </li>
                      <li class="usa-sidenav__item">
                        <a href="">Business Information</a>
                      </li>
                      <li class="usa-sidenav__item">
                        <a href="">Entity Types</a>
                      </li>
                      <li class="usa-sidenav__item">
                        <a href="">Financial Information</a>
                      </li>
                      <li class="usa-sidenav__item">
                        <a href="">Points of Contact</a>
                      </li>
                      <li class="usa-sidenav__item">
                        <a href="">Assertions</a>
                      </li>
                      <li class="usa-sidenav__item">
                        <a href="">Reps and Certs</a>
                      </li>
                      <li class="usa-sidenav__item">
                        <a href="">Exclusions</a>
                      </li>
                      <li class="usa-sidenav__item">
                        <a href="">Integrity Information</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
      </div>
  {# results list #}
      <div id="main-content" class="sds-page__section  desktop:grid-col-fill">
        {# page header #}
        <div class="sds-result-item__title grid-row">
          {# LOGO PLACEHOLDER #}
          <div class="sds-result-item__header">
            <div class="tablet:margin-3 circle-15 padding-top-5 bg-secondary-dark text-center">
              <span class="text-white">LOGO PLACEHOLDER</span>
            </div>
            <h1 class="margin-top-3 tablet:display-none display-block">Justice, Department of (DOJ)</h1>
          </div>
          <div class="grid-col-fill">
            <h1 class="margin-top-3 display-none tablet:display-block">Justice, Department of (DOJ)</h1>
            <div class="grid-row grid-gap">
              <div class="tablet:grid-col-fill grid-col-6 margin-bottom-2 tablet:margin-bottom-0">
                <span class="usa-tag sds-tag--info-purple">DUNS</span>
                <span>Unique Entity ID</span>
                <h2>123456789</h2>
              </div>
              <div class="tablet:grid-col-fill grid-col-6 margin-bottom-2 tablet:margin-bottom-0">
                <span>CAGE/NCAGE</span>
                <h2>N123F</h2>
              </div>
              <div class="tablet:grid-col-auto grid-col-6 ">
                <span class="sds-type--label-title">Expiration Date</span>
                <span class="sds-tag sds-tag--outline flex-justify-center">
                  Jan 19, 2021</span>
              </div>
              <div class="tablet:grid-col-auto grid-col-6">
                <span class="sds-type--label-title">Status</span>
                <span class="sds-tag sds-tag--outline">
                  <i class="sds-status sds-status--sm sds-status--green"></i>Active</span>
              </div>
            </div>
          </div>
        </div>
        {# page content #}
        <div class="sds-result-item">
          <div class="grid-row">
            <div class="tablet:grid-col-fill grid-row">
              <div class="sds-tile--outline">
                <div class="grid-row">
                  <div class="grid-col">
                    <span class="sds-field--large">Physical Address</span>
                    <ul class="sds-list sds-list--unstyled">
                      <li>10 Federal ST STE 12</li>
                      <li>SALEM, MASSACHUSETTS</li>
                      <li>01970-3875, United States</li>
                    </ul>
                  </div>
                  <div class="grid-col">
                    <span class="sds-field--large">Mailing Address</span>
                    <ul class="sds-list sds-list--unstyled">
                      <li>5 Main ST</li>
                      <li>SALEM, MASSACHUSETTS</li>
                      <li>01970-3875, United States</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tablet:grid-col-3 tablet:margin-x-2 grid-col">
              <ul class="sds-list sds-list--unstyled">
                <li>
                  Purpose of Registration
                </li>
                <li class="margin-bottom-2">
                  <b>All Awards</b>
                </li>
                <li>
                  <span class="usa-tag sds-tag--info-white">SAM</span>Unique Entity ID</li>
                <li>
                  <b>R923EY6LP29J</b>
                </li>
              </ul>
            </div>
            <div class="tablet:grid-col-3 grid-col">
              <div class="grid-row">
                <div class="sds-alert--basic">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle height-4 width-4" viewbox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                  </svg>
                  <ul class="sds-list sds-list--unstyled">
                    <li>Review Exclusions</li>
                    <li>Review Debt Subject to Offset</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-row sds-field">
            <label class="sds-field__value--large usa-label margin-right-2" for="options">Version</label>
            <form class="usa-form margin-top-1">
              <label class="usa-label display-none" for="options">Version</label>
              <select class="usa-select" name="options" id="options">
                <option value="value">Current Record</option>
                <option value="value1">Option A</option>
                <option value="value2">Option B</option>
                <option value="value3">Option for Record with a long name</option>
              </select>
            </form>
          </div>
        </div>
        {# BUSINESS INFORMATION SECTION #}
        <div class="sds-result-item__title grid-row">
          <div class="sds-result-item__square"></div>
          <h2>BUSINESS INFORMATION</h2>
        </div>
        <div class="sds-result-item">
          <div class="grid-row">
            <div class="grid-col-6 tablet:grid-col sds-field">
              <span class="sds-field--large">Doing Business As</span>
              <span class="sds-field__value">Dakota Water Science Center</span>
            </div>
            <div class="grid-col-6 tablet:grid-col sds-field">
              <span class="sds-field--large">Division Name</span>
              <span class="sds-field__value">(blank)</span>
            </div>
            <div class="grid-col-6 tablet:grid-col sds-field">
              <span class="sds-field--large">State/County of Incorporation</span>
              <span class="sds-field__value">(blank)</span>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-col-6 tablet:grid-col sds-field">
              <span class="sds-field--large">URL</span>
              <span class="sds-field__value">
                <a class="usa-link">dakotawater.gov</a>
              </span>
            </div>
            <div class="grid-col-6 tablet:grid-col sds-field">
              <span class="sds-field--large">Division Number</span>
              <span class="sds-field__value">(blank)</span>
            </div>
            <div class="grid-col-6 tablet:grid-col sds-field">
              <span class="sds-field--large">Congressional District</span>
              <span class="sds-field__value">South Dakota</span>
            </div>
          </div>
        </div>
        <div class="sds-result-item__title grid-row">
          <h3>Registration Dates</h3>
        </div>
        <div class="sds-result-item">
          <div class="grid-row">
            <div class="grid-col-6 tablet:grid-col sds-field">
              <span class="sds-field--large">Activation Date</span>
              <span class="sds-field__value">Dec 11, 2018</span>
            </div>
            <div class="grid-col-6 tablet:grid-col sds-field">
              <span class="sds-field--large">Initial Registration Date</span>
              <span class="sds-field__value">March 10, 2005</span>
            </div>
            <div class="grid-col-6 tablet:grid-col sds-field">
              <span class="sds-field--large">Submission Date</span>
              <span class="sds-field__value">Dec 11, 2018</span>
            </div>
          </div>
        </div>
        <div class="sds-result-item__title grid-row">
          <h3>Entity Dates</h3>
        </div>
        <div class="sds-result-item">
          <div class="grid-row">
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">Entity Start Date</span>
              <span class="sds-field__value">March 10, 2005</span>
            </div>
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">Fiscal Year End CLose Date</span>
              <span class="sds-field__value">Dec 31</span>
            </div>
          </div>
        </div>
        <div class="sds-result-item__title grid-row">
          <h3>Immediate Owner</h3>
        </div>
        <div class="sds-result-item">
          <div class="grid-row">
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">CAGE</span>
              <span class="sds-field__value">(blank)</span>
            </div>
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">Legal Business Name</span>
              <span class="sds-field__value">(blank)</span>
            </div>
          </div>
        </div>
        <div class="sds-result-item__title grid-row">
          <h3>Executive Compensation</h3>
        </div>
        <div class="sds-result-item">
          <div class="grid-row">
            <p>Registrants in the System for Award Management (SAM) respond to the Executive Compensation questions in accordance with Section 6202 of P.L. 110-252, amending the Federal Funding Accountability and Transparency Act (P.L. 109-282). This information
              is not displayed in SAM. It is sent to USAspending.gov for display in association with an eligible award. Maintaining an active registration in SAM demonstrates the registrant responded to the questions.</p>
          </div>
        </div>
        {# ENTITY TYPES SECTION #}
        <div class="sds-result-item__title grid-row">
          <div class="sds-result-item__square"></div>
          <h2>ENTITY TYPES</h2>
        </div>
        <div class="sds-result-item__title grid-row">
          <h3>Business Types</h3>
        </div>
        <div class="sds-result-item">
          <div class="grid-row">
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">Entity Structure</span>
              <span class="sds-field__value">U.S. Government Entity</span>
            </div>
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">Entity Type</span>
              <span class="sds-field__value">U.S. Federal Government</span>
            </div>
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">Organization Factors</span>
              <span class="sds-field__value">(blank)</span>
            </div>
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">Profit Structure</span>
              <span class="sds-field__value">(blank)</span>
            </div>
          </div>
        </div>
        <div class="sds-result-item__title grid-row">
          <h3>Government Types</h3>
        </div>
        <div class="sds-result-item">
          <div class="grid-row">
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">CAGE</span>
              <span class="sds-field__value">(blank)</span>
            </div>
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">Legal Business Name</span>
              <span class="sds-field__value">(blank)</span>
            </div>
          </div>
        </div>
        <div class="sds-result-item__title grid-row">
          <h3>Other Entity Qualifiers</h3>
        </div>
        <div class="sds-result-item">
          <div class="grid-row">
            <p>Educational Institution, State Controlled, Institution of Higher Learning</p>
          </div>
        </div>
        {# FINANCIAL INFORMATION #}
        <div class="sds-result-item__title grid-row">
          <div class="sds-result-item__square"></div>
          <h2>FINANCIAL INFORMATION</h2>
        </div>
        <div class="sds-result-item">
          <div class="grid-row">
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">Accepts Credit Card Payments</span>
              <span class="sds-field__value">No</span>
            </div>
            <div class="grid-col-6 tablet:grid-col-4 sds-field">
              <span class="sds-field--large">Debt Subject to Offset</span>
              <span class="sds-field__value">No</span>
            </div>
          </div>
        </div>
        {# POINTS OF CONTACT #}
        <div class="sds-result-item__title grid-row">
          <div class="sds-result-item__square"></div>
          <h2>POINTS OF CONTACT</h2>
        </div>
        <div class="sds-result-item__title grid-row">
          <h3>Electronic Business</h3>
        </div>
        <div class="sds-result-item">
          <div class="sds-card border-width-0">
            <div class="sds-card__header sds-card__header--left">
              <h2 class="sds-card__title">James McStay</h2>
            </div>
            <div class="sds-card__body grid-row">
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">email</span>
                <span class="sds-field__value">compliance@usaid.gov)</span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Phone Number</span>
                <span class="sds-field__value">(123) 123-7894</span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Department</span>
                <span class="sds-field__value">
                  <a class="usa-link">Department Of Agriculture</a>
                </span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Phone Number</span>
                <span class="sds-field__value">n/a</span>
              </div>
            </div>
          </div>
        </div>
        <div class="sds-result-item__title grid-row">
          <h3>Government Business</h3>
        </div>
        <div class="sds-result-item">
          <h4>Primary Contact</h4>
          <div class="sds-card border-width-0">
            <div class="sds-card__header sds-card__header--left">
              <h2 class="sds-card__title">James McStay</h2>
            </div>
            <div class="sds-card__body grid-row">
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">email</span>
                <span class="sds-field__value">compliance@usaid.gov)</span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Phone Number</span>
                <span class="sds-field__value">(123) 123-7894</span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Department</span>
                <span class="sds-field__value">
                  <a class="usa-link">Department Of Agriculture</a>
                </span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Phone Number</span>
                <span class="sds-field__value">n/a</span>
              </div>
            </div>
          </div>
          <h4>Alternate Contact</h4>
          <div class="sds-card border-width-0">
            <div class="sds-card__header sds-card__header--left">
              <h2 class="sds-card__title">James McStay</h2>
            </div>
            <div class="sds-card__body grid-row">
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">email</span>
                <span class="sds-field__value">compliance@usaid.gov)</span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Phone Number</span>
                <span class="sds-field__value">(123) 123-7894</span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Department</span>
                <span class="sds-field__value">
                  <a class="usa-link">Department Of Agriculture</a>
                </span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Phone Number</span>
                <span class="sds-field__value">n/a</span>
              </div>
            </div>
          </div>
        </div>
        <div class="sds-result-item__title grid-row">
          <h3>Past Performace</h3>
        </div>
        <div class="sds-result-item">
          <div class="sds-card border-width-0">
            <div class="sds-card__header sds-card__header--left">
              <h2 class="sds-card__title">James McStay</h2>
            </div>
            <div class="sds-card__body grid-row">
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">email</span>
                <span class="sds-field__value">compliance@usaid.gov)</span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Phone Number</span>
                <span class="sds-field__value">(123) 123-7894</span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Department</span>
                <span class="sds-field__value">
                  <a class="usa-link">Department Of Agriculture</a>
                </span>
              </div>
              <div class="grid-col-6 tablet:grid-col sds-field">
                <span class="sds-field--large">Phone Number</span>
                <span class="sds-field__value">n/a</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
