<a class="usa-skipnav" href="#main-content">Skip to main content</a>

{% render '@banner' %}

{% render '@header--extended-sam' %}
<main id="main-content">
    <div class="grid-container">
        <div class="grid-row sds-hero sds-hero--image">
            <div class="desktop:grid-offset-1 desktop:grid-col-11">
                <div class="grid-row">
                    <div class="tablet:grid-col-7">
                        <h1>Entity information</h1>
                        <p>An entity is any person or organization that is registered to do business with the federal
                            government.
                            You must have an active entity registration in SAM to receive a federal contract or federal
                            assistance.
                        </p>
                    </div>
                    <div class="tablet:grid-col-5">
                        <div class="sds-seal">
                            {% render '@icon', {icon:'flag', classes:"fa-2x margin-y-1 text-secondary"} %}
                            <div class="sds-seal__content">
                                Official U.S. Government Website
                                <span>100% Free</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desktop:grid-offset-1 desktop:grid-col-10">
                <div class="grid-row grid-gap-6">
                    <div class="tablet:grid-col-7">
                        <h4>Search Entity and Exclusions</h4>
                        <div class="sds-search">
                            <form class="usa-search usa-search--small">
                                <div role="search" class="search">
                                    <label class="usa-sr-only" for="search-input">Search Here</label>
                                    <input class="usa-input width-full" id="search-input" type="search" name="search"
                                        placeholder="Search Here">
                                    <button class="usa-button" type="submit">
                                        <span class="usa-sr-only">Search</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="desktop:grid-col-5 grid-row">
                        <div class="grid-col-12 ">
                            <h4 class="margin-bottom-1">New to SAM.gov</h4>
                            <div class="sds-button--outline">
                                <a class="sds-button sds-button--icon text-center">
                                    <span class="fa-stack fa-2x">
                                        {% render '@icon', {icon:'triangle', classes:"fa-stack-2x text-accent-cool-light fa-1x"} %}
                                        {% render '@icon', {icon:'video-circle', classes:"fa-stack-1x text-base fa-2x"} %}
                                    </span>
                                    <span class="sds-button--icon__title">Help Me Get Started</span>
                                </a>
                            </div>
                        </div>
                        <div class="grid-col-12 ">
                            <h4 class="margin-bottom-1">Ready to Register</h4>
                            <div class="sds-button--outline">
                                <a class="sds-button sds-button--icon text-center">
                                    <span class="fa-stack fa-2x">
                                        {% render '@icon', {icon:'triangle', classes:"fa-stack-2x text-accent-cool-light fa-1x"} %}
                                        {% render '@icon', {icon:'video-circle', classes:"fa-stack-1x text-base fa-2x"} %}
                                    </span>
                                    <span class="sds-button--icon__title">Go to Entity Registration</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desktop:grid-offset-1 desktop:grid-col-10 margin-bottom-4">
            <div class="grid-row">
                <div class="sds-accordion usa-accordion">
                    <h2 class="usa-accordion__heading sds-accordion__heading">
                        <button class="usa-accordion__button usa-accordion__block" aria-expanded="false"
                            aria-controls="b-a1">
                            How to search entities and exclusions
                        </button>
                    </h2>
                    <div id="b-a1" class="usa-accordion__content usa-prose">
                        <p>Congress shall make no law respecting an establishment of religion, or prohibiting the free
                            exercise thereof; or abridging the freedom of speech, or of the press; or the right of the
                            people peaceably to assemble, and to petition the Government for a redress of grievances.
                        </p>
                    </div>
                    <h2 class="usa-accordion__heading sds-accordion__heading">
                        <button class="usa-accordion__button usa-accordion__block" aria-expanded="false"
                            aria-controls="b-a2">
                            I am a federal user researching an entity
                        </button>
                    </h2>
                    <div id="b-a2" class="usa-accordion__content usa-prose">
                        <p>A well regulated Militia, being necessary to the security of a free State, the right of the
                            people to keep and bear Arms, shall not be infringed.</p>
                    </div>
                    <h2 class="usa-accordion__heading sds-accordion__heading">
                        <button class="usa-accordion__button usa-accordion__block" aria-expanded="false"
                            aria-controls="b-a3">
                            I am a federal user who manages exclusions for my agency
                        </button>
                    </h2>
                    <div id="b-a3" class="usa-accordion__content usa-prose">
                        <p>No Soldier shall, in time of peace be quartered in any house, without the consent of the
                            Owner,
                            nor in time of war, but in a manner to be prescribed by law.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="grid-row grid-gap-2">
            {% for card in cards %}
            <div class="tablet:grid-col-{% if card.secondCard %}7{% else %}5{% endif %}">
             {% render '@card', card, true %}
             </div>
                {# <div class="sds-card sds-card--bordered height-full">
                    <h2 class="sds-card__header sds-card__header--accent-cool sds-card__header--left">
                        {{ card.title }}
                    </h2>
                    <div class="sds-card__content">
                        {% if card.secondCard %}
                        <div class="grid-row grid-gap-2">
                            <div class="grid-col-6">
                                {% endif %}
                                {% for content in card.contents %}
                                    <h3 class="sds-list__title">
                                        {{content.listTitle}}
                                    </h3>
                                    {% render '@list', content.list %}
                                {% endfor %}
                                {% if card.secondCard %}
                            </div>
                            <div class="grid-col-6">
                                <div class="add-aspect-16x9 bg-base-light margin-y-1">
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div> #}
            {% endfor %}
        </div>
    </div>
</main>
{% render '@footer--gsa' %}