<main id="main-content">
	<div class="grid-container">

		<div class="grid-row sds-hero sds-hero--image">
			<div class="desktop:grid-offset-1 desktop:grid-col-11">
				<div class="sds-seal">
					{% render '@icon', {icon:'flag', classes:"fa-2x margin-y-1 text-secondary"} %}
					<div class="sds-seal__content">
						Official U.S. Government Website
						<span>100% Free</span>
					</div>
				</div>
				<h1>Landing Page</h1>
				<p>An entity is any person or organization that is registered to do business with the federal government. You must have an active entity registration in SAM to receive a federal contract or federal assistance.</p>
				<div class="grid-row grid-gap">
					<div class="desktop:grid-col-6">
						<h2 class="h4">Search Entity and Exclusions</h2>

						<form class="usa-search usa-search--small" role="search">
							<label class="usa-sr-only" for="search-field-small">Search Here</label>
							<input class="usa-input" id="search-field-small" type="search" name="search" placeholder="Search Here">
							<button class="usa-button" type="submit">
								<span class="usa-sr-only">Search</span>
							</button>
						</form>
					</div>
					<div class="desktop:grid-col-6 margin-top-105em desktop:margin-top-0">

						<h2 class="h4">New to SAM.gov</h2>
						<div class="sds-button--outline">
							<a class="sds-button sds-button--icon text-center">
								<i class="sds fa-folder fa-2x" aria-hidden="true" title="Screen reader description"></i>
								<span class="sds-button--icon__title">Help Me Get Started</span>
							</a>
						</div>
						<h2 class="h4">Ready to Register</h2>
						<div class="sds-button--outline">
							<a class="sds-button sds-button--icon text-center">
								<i class="sds fa-folder fa-2x" aria-hidden="true" title="Screen reader description"></i>
								<span class="sds-button--icon__title">Go to Entity Registration</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="desktop:grid-offset-1 desktop:grid-col-10 margin-bottom-4">
			<div class="grid-row margin-bottom-4">
				{% render "@accordion" %}
			</div>
		</div>
		<div class="grid-row grid-gap-2">
			{% for card in cards %}
				<div class="tablet:grid-col-{{card.col}}">
					{% render '@card', card, true %}
				</div>
			{% endfor %}
		</div>
	</div>
</main>
