<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="sam-logo">
      <a href="/" title="Home" aria-label="Home">
        <img class="sds-header__logo" src="/assets/images/logo-sam.svg" alt="Logo"/>
      </a>
    </div>
    <button class="usa-menu-btn">
      <span class="fa-layers fa-fw fa-3x">
        <i class="fas fa-square text-primary"></i>
        <i class="sds fa-bars" data-fa-transform="shrink-6"></i>
        <span class="fa-layers-counter"></span>
      </span>
      <span class="usa-sr-only">Menu</span>
    </button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <i class="sds fa-exit fa-fw" aria-hidden="true" title="Screen reader description" data-fa-transform="shrink-1"></i>
        <span class="sr-only">Screen reader description</span>

        <span class="usa-sr-only">Close</span>
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link usa-current" href="javascript:void(0)">
            <span>Home</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)">
            <span>Search</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)">
            <span>Databank</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)">
            <span>Data Services</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)">
            <span>Help</span></a>
        </li>
      </ul>
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links">
          <li class="usa-nav__secondary-item">
            <a href="" class="usa-current">

              <span class="fa-layers fa-fw">
                <i class="sds fa-request fa-flip-horizontal"></i>
                <span class="fa-layers-counter"></span>
              </span>

              <span class="sds-nav__secondary-item-text">Request</span>
            </a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="">

              <i class="sds fa-messages"></i>

              <span class="sds-nav__secondary-item-text">Messages</span>
            </a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="">

              <i class="sds fa-workspace"></i>

              <span class="sds-nav__secondary-item-text">Workspace</span>
            </a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="">
              <i class="sds fa-log-out"></i>
              <span class="sds-nav__secondary-item-text">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="sds-page">
  {# subheader #}
  <div class="sds-subheader">
    <div>
      <button class="usa-button sds-button--circle sds-button--white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewbox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
      </button>
      <h1>Entity Display</h1>
    </div>
  </div>
  <div class="grid-container margin-top-3 desktop:margin-top-5 margin-bottom-9">
    <div class="grid-row grid-gap-4">
      {# aside #}
      <div class="sds-page__section desktop:grid-col-3">
        <div class="sds-sidepanel">
          <div class="sds-card mobile-only ">
            <div class="sds-card__header grid-row  sds-card__header--accent-cool">
              <button aria-label="Cancel Advanced Search" class="sds-button sds-button--circular sds-button--white">
                <fa-icon>
                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10 fa-fw" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
                    <path
                      fill="currentColor"
                      d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path>
                  </svg>
                </fa-icon>
              </button>
              <div class="margin-x-auto">
                <h2 class="sds-card__title margin-top-1 margin-left-neg-2">Advanced Search</h2>
              </div>
            </div>
          </div>
          <div class="sds-card sds-card--collapsible">
            <div class="sds-card__header sds-card__header--action" aria-expanded="false">
              <div class="sds-card__title">Select Domain<br/>
                <span class="sds-card__subtitle">Contract Opportunities</span></div>
              <div class="sds-card__action sds-card__collapse"></div>
            </div>
            <div class="sds-card__body sds-card__body--accent-cool">
              <nav>
                <ul class="usa-sidenav usa-sidenav--styled">
                  <li class="usa-sidenav__item">
                    <a href="">All Domains</a>
                  </li>
                  <li class="usa-sidenav__item usa-current">
                    <a href="">Contract Opportunities</a>
                  </li>
                  <li class="usa-sidenav__item">
                    <a href="">Contract Data</a>
                  </li>
                  <li class="usa-sidenav__item">
                    <a href="">Federal Assistance</a>
                  </li>
                  <li class="usa-sidenav__item">
                    <a href="">Entity Information</a>
                  </li>
                  <li class="usa-sidenav__item">
                    <a href="">Federal Hierarchy</a>
                  </li>
                  <li class="usa-sidenav__item">
                    <a href="">Wage Determinations</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      {# results list #}
      <div id="main-content" class="sds-page__section  desktop:grid-col-fill">
        {# page header #}
        <div class="sds-result-item__header grid-row">
          {# LOGO PLACEHOLDER #}
          <div class="tablet:grid-col-auto margin-3 circle-15 padding-top-5 bg-secondary-dark text-center"><span class="text-white">LOGO PLACEHOLDER</span></div>
          <div class="tablet:grid-col-fill">
          <h1 class="margin-top-3">Justice, Department of (DOJ)</h1>
          <div class="grid-row flex-justify-end">
            <div class="tablet:grid-col-fill">
              <span class="usa-tag sds-tag--info-purple">DUNS</span>
              <span>Unique Entity ID</span>
              <h2>123456789</h2>
            </div>
            <div class="tablet:grid-col-fill">
              <span>CAGE/NCAGE</span>
              <h2>N123F</h2>
            </div>
            <div class="tablet:grid-col-auto">
              <span class="sds-type--label-title">Expiration Date</span>
              <span class="sds-tag sds-tag--outline flex-justify-center"> Jan 19, 2021</span>
            </div>
            <div class="tablet:grid-col-auto">
              <span class="sds-type--label-title">Status</span>
              <span class="sds-tag sds-tag--outline">
                <i class="sds-status sds-status--sm sds-status--lightblue"></i>Active</span>
            </div>
          </div>
          </div>
        </div>
        {# page content #}
        <div class="sds-result-item"></div>
      </div>
    </div>
  </div>
</div>
</div>
