//@use "../theme/settings" as general;
//@use "uswds-core" as *;
//$theme-sam-hero-image: "#{$theme-image-path}/landing-hero.jpg" !default;

.sds-hero {
    @include u-height('full');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    @include sam.adjust-responsive-site-margins;
    @include u-padding-y(4);

    &--image{
      //background: ('/landing-hero.png');
      background: url('../src/packages/images/landing-hero.png'); 
      //background-image: url("#{general.$theme-sam-image-path}/landing-hero.png");
      // Hero
      //$theme-hero-image: "#{$theme-image-path}/hero.jpg" !default;

    }
  }
  .sds-hero .sds-seal {
    margin-right: -(units($theme-site-margins-mobile-width));
    @include at-media($theme-site-margins-breakpoint) {
        margin-right: -(units($theme-site-margins-width));
    }
  }