<div class="styleguide-content usa-prose">
  
  <h2 id="uswds-theme-color-tokens">
    Theme color tokens
  </h2>
  
  <p>
    SAM theme color tokens are divided into five high-level role-based color 
    families: <code class="highlighter-rouge">base</code>, 
    <code class="highlighter-rouge">primary</code>, 
    <code class="highlighter-rouge">secondary</code>, 
    <code class="highlighter-rouge">accent-warm</code>, and 
    <code class="highlighter-rouge">accent-cool</code>.
  </p>
  
  <p>
    For more information: 
    <a class="usa-link" href="https://v2.designsystem.digital.gov/design-tokens/color/system-tokens/">
     USWDS system color tokens
    </a>
  </p>
  
  <div class="site-table-wrapper">
    <table class="usa-table-borderless site-table-responsive">
      <thead>
        <tr>
          <th scope="col">Color</th>
          <th scope="col">Token</th>
          <th scope="col">Default</th>
          <th scope="col">Settings variable</th>
          <th scope="col" class="text-right">Value</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-lightest"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-lightest'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-4'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-lightest
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #f5f5f0
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-lighter"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-10'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #e6e6e2
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-light"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-30'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-light
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #afaea2
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-50'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #76766a
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-dark"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-60'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-dark
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #5d5d52
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-darker"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-70'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-darker
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #454540
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-darkest"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-darkest'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-80'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-darkest
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #2e2e2a
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-ink"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'ink'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-80'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-ink
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #2e2e2a
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary-lighter"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-5v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #e3f5e1
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary-light"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-10v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-light
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #b7f5bd
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-20v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #70e17b
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary-vivid"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-vivid'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-30v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-vivid
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #21c834
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary-dark"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-40v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-dark
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #00a91c
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary-darker"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-50v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-darker
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #008817
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary-lighter"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-30v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #81aefc
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary-light"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-40v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-light
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #5994f6
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-50v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #2672de
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary-vivid"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-vivid'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-60v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-vivid
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #0050d8
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary-dark"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-70v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-dark
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #1a4480
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary-darker"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-80v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-darker
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #162e51
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-cool-lighter"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-5'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #eff6fb
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-cool-light"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-10'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-light
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #d9e8f6
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-cool"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-20'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #aacdec
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-cool-dark"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-30'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-dark
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #73b3e7
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-cool-darker"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-40'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-darker
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #4f97d1
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-warm-lighter"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-5'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #f5f0e6
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-warm-light"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-10'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-light
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #f1e5cd
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-warm"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-20'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #dec69a
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-warm-dark"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-30'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-dark
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #c7a97b
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-warm-darker"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-40'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-darker
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #ad8b65
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  
</div>