<div class="styleguide-content usa-prose">
  
  <h2 id="uswds-theme-color-tokens">
    Theme color tokens
  </h2>
  
  <p>
    USWDS theme color tokens are divided into five high-level role-based color 
    families: <code class="highlighter-rouge">base</code>, 
    <code class="highlighter-rouge">primary</code>, 
    <code class="highlighter-rouge">secondary</code>, 
    <code class="highlighter-rouge">accent-warm</code>, and 
    <code class="highlighter-rouge">accent-cool</code>.
  </p>
  
  <p>
    <strong>Base</strong> is a project’s neutral color, typically some tint of 
    gray, and usually used as the text color throughout.
  </p>
  
  <p>
    <strong>Primary</strong>, <strong>secondary</strong>, and 
    <strong>accent</strong> colors can be thought of as falling into a 
    proportional 60/30/10 relationship: about 60% of your site’s color would be 
    the primary color family, about 30% would be the secondary color family, and 
    about 10% would be the accent color families 
    (<code class="highlighter-rouge">accent-warm</code> and 
    <code class="highlighter-rouge">accent-cool</code>). Note that these 
    proportions are for non-base colors. In many cases, the neutral base text 
    color will be the predominant tone on your site.
  </p>
  
  <p>
    Each color family has seven possible lightness grades, from 
    <code class="highlighter-rouge">lightest</code> to 
    <code class="highlighter-rouge">darkest</code>, though not every family 
    needs to include a color at each grade. Some grades may be set to 
    <code class="highlighter-rouge">false</code> in your project’s theme 
    settings. The default USWDS theme palette does not use every grade for every 
    family. The <code class="highlighter-rouge">primary</code> and 
    <code class="highlighter-rouge">secondary</code> families also have a 
    <code class="highlighter-rouge">vivid</code> grade available.
  </p>
  
  <p>
    Customize theme color tokens using the variables listed below in 
    <code class="highlighter-rouge">_sam_theme_color.scss</code> with 
    <a href="https://v2.designsystem.digital.gov/design-tokens/color/system-tokens/">
    system color tokens</a>. Set any unused theme color to 
    <code class="highlighter-rouge">false</code>.
  </p>
  
  <div class="site-table-wrapper">
    <table class="usa-table-borderless site-table-responsive">
      <thead>
        <tr>
          <th scope="col">Color</th>
          <th scope="col">Token</th>
          <th scope="col">Default</th>
          <th scope="col">Settings variable</th>
          <th scope="col" class="text-right">Value</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-lightest"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-lightest'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-5'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-lightest
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #f0f0f0
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-lighter"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-cool-10'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #dbdee1
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-light"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-30'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-light
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #adadad
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-50'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #757575
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-dark"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-cool-60'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-dark
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #585c62
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-darker"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-cool-80'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-darker
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #2d2e2f
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-base-darkest"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-darkest'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-90'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-darkest
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #171717
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-ink"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'ink'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-90'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-ink
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #171717
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary-lighter"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-10'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #d9e8f6
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary-light"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-30'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-light
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #73b3e7
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-60v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #005ea2
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary-vivid"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-vivid'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-60v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-vivid
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #0050d8
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary-dark"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-70v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-dark
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #1a4480
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-primary-darker"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-80v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-darker
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #162e51
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary-lighter"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'red-10'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #f8e1de
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary-light"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'red-30'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-light
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #f2938c
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'red-50'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #d83933
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary-vivid"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-vivid'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'red-50v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-vivid
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #e52207
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary-dark"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'red-60v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-dark
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #b51d09
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-secondary-darker"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'red-70v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-darker
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #8b1303
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-cool-lighter"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'cyan-5'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #e7f6f8
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-cool-light"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'cyan-20'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-light
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #9ddfeb
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-cool"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'cyan-30v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #00bde3
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-cool-dark"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'cyan-40v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-dark
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #009ec1
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-cool-darker"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-60'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-darker
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #2c608a
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-warm-lighter"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'orange-10'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #fce2c5
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-warm-light"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'orange-20v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-light
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #ffbc78
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-warm"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'orange-30v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #fa9441
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-warm-dark"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'orange-50v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-dark
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #c05600
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch bg-accent-warm-darker"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'orange-60'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-darker
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">
            
            #73563e
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  
</div>