<table class="usa-table">
  <caption>lorem ipsum</caption>
  <thead>
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&lth1>&lt/h1></th>
      <td><h1>Hello World</h1></td>
      <td>Weight: Bold / Size: 2.5rem / Line Height: 3rem / Color: Base (#76766a)</td>
    </tr>
    <tr>
      <th scope="row">&lth2>&lt/h2></th>
      <td><h2>Hello World</h2></td>
      <td>Weight: Semi-Bold / Size: 2rem / Line Height: 2.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth3>&lt/h3></th>
      <td><h3>Hello World</h3></td>
      <td>Weight: Bold / Size: 1.5rem / Line Height: 2rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth4>&lt/h4></th>
      <td><h4>Hello World</h4></td>
      <td>Weight: Semi-Bold / Size: 1.25rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth5>&lt/h5></th>
      <td><h5>Hello World</h5></td>
      <td>Weight: Bold / Size: 1.0rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>    
    <tr>
      <th scope="row">&lth6>&lt/h6></th>
      <td><h6>Hello World</h6></td>
      <td>Weight: Bold / Size: 1.0rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>     
  </tbody>
</table>