<table class="usa-table">
  <caption>Link Heading</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><h1><a class="usa-link">Heading 1 Link</a></h1></td>
      <th scope="row">&lth1>&lta class="usa-link">&lt/a class="usa-link">&lt/h1></th>
      <td>Weight: Bold / Size: 2.13rem / Line Height: 3rem / Color: (#3F57A6)</td>
    </tr>
    <tr>
      <td><h2><a class="usa-link">Heading 2 Link</a></h2></td>
      <th scope="row">&lth2>&lta class="usa-link">&lt/a class="usa-link">&lt/h2></th>
      <td>Weight: Semi-Bold / Size: 1.46rem / Line Height: 2rem / Color: (#3F57A6)</td>
    </tr>
    <tr>
      <td><h3><a class="usa-link">Heading 3 Link</a></h3></td>
      <th scope="row">&lth3>&lta class="usa-link">&lt/a class="usa-link">&lt/h3></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Color: (#3F57A6)</td>
    </tr>
    <tr>
      <td><h4><a class="usa-link">Heading 4 Link</a></h4></td>
      <th scope="row">&lth4>&lta class="usa-link">&lt/a class="usa-link">&lt/h4></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Color: (#3F57A6)</td>
    </tr>
    <tr>
      <td><h5><a class="usa-link">Heading 5 Link</a></h5></td>
      <th scope="row">&lth5>&lta class="usa-link">&lt/a class="usa-link">&lt/h5></th>
      <td>Weight: Bold / Size: 1.0rem / Line Height: 1.25rem / Color: (#3F57A6)</td>
    </tr>
    <tr>
      <td><h6><a class="usa-link">Heading 6 Link</a></h6></td>
      <th scope="row">&lth6>&lta class="usa-link">&lt/a class="usa-link">&lt/h6></th>
      <td>Weight: Bold / Size: 1.0rem / Line Height: 1.25rem / Color: (#3F57A6)</td>
    </tr>    
  </tbody>
</table>