<table class="usa-table">
  <caption>lorem ipsum</caption>
  <thead>
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&lth1--light>&lt/h1--light></th>
      <td><h1--light>Hello World</h1--light></td>
      <td>Weight: Regular / Size: 2.5rem / Line Height: 3rem / Color: Base (#76766a)</td>
    </tr>
    <tr>
      <th scope="row">&lth2--light>&lt/h2--light></th>
      <td><h2--light>Hello World</h2--light></td>
      <td>Weight: Regular / Size: 2rem / Line Height: 2.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth3--light>&lt/h3--light></th>
      <td><h3--light>Hello World</h3--light></td>
      <td>Weight: Regular / Size: 1.5rem / Line Height: 2rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth4--light>&lt/h4--light></th>
      <td><h4--light>Hello World</h4--light></td>
      <td>Weight: Regular / Size: 1.25rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth5--light>&lt/h5--light></th>
      <td><h5--light>Hello World</h5--light></td>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>    
    <tr>
      <th scope="row">&lth6--light>&lt/h6--light></th>
      <td><h6--light>Hello World</h6--light></td>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>     
  </tbody>
</table>