@mixin sds-accordion-button-styles {
    @include u-font('sans', 'sm');
    @include u-padding-right(6);
    color: color('ink');
    background-color: color('accent-cool-lighter');
}

@mixin sds-accordion-button-unopened-styles {
    background-color: color('base-lightest');
}

.usa-accordion {

  + .usa-accordion,
  + .usa-accordion--bordered {
    margin-top: units(0);
  }

  .usa-accordion__heading {
    margin-top: units(0);
    border-width: 0px 1px 1px 1px;
    @include u-border('base-light');

    &:first-child {
      @include u-border-top(1px);
    }

    .usa-accordion__button {
      @include sds-accordion-button-styles;

      &:hover {
        background-color: color('accent-cool-light');
      }
    }

    .usa-accordion__button[aria-expanded=false] {
      @include sds-accordion-button-unopened-styles;
    }
  }

  .usa-accordion__content {
    border-width: 0px 1px 1px 1px;
    @include u-border('base-light');

    p {
      max-width: unset;
    }
  }

}

