// sds action menu
.sds-button--action {
    border-radius: 50%;
    height: units(4);
    width: units(4);
    @include u-display("inline-flex");
    @include u-flex("align-center");
    @include u-flex("justify-center");
    margin: unset;
    padding: 0;
  
    .svg-inline--fa {
      align-self: center;
      height: 1.5em;
      width: 1.5rem;
    }
  
    &.sds-button--small {
      height: units(3);
      width: units(3);
      padding: 0;
      font-size: size("body", 1);
    }
  
    &.sds-button--big,
    &.usa-button--big {
      height: units(5);
      width: units(5);
      font-size: size("body", 6);
    }
  
    background-color: color("white");
    @include u-border("white");
    transition: box-shadow 0.2s ease-out;
  
    &.usa-button--hover,
    &:hover {
      background-color: color("white");
      @include u-border("white");
      @include u-shadow(2);
    }
  
    &:active {
      @include u-border("secondary-dark");
      box-shadow: $button-shadow;
      color: #1A4480;
    }
  
    &.usa-button--hover,
    &:hover {
      box-shadow: $button-shadow;
    }
  
    span {
      display: none;
    }
  
    @include at-media('tablet-lg') {
      span {
        display: inline;
        color: #1A4480;
      }
  
      height: 40px;
      width: 125px;
      @include u-radius('lg');
  
      svg {
        @include u-text('white');
        @include u-bg('secondary-dark');
        border-radius: 50%;
        padding: .25rem;
        margin-left: 8px;
        height: 1.25em;
      }
    }
  }

.sds-button--action-light {
    border-radius: 50%;
    height: units(3);
    width: units(3);
    margin: 0 1rem;
    padding: 2px 0 0 0;
    @include u-bg('white');
    @include u-border-width("1px");
    @include u-text('secondary-dark');
    @include u-border("base-light");
    box-shadow: 0px 0px 20px -1px rgb(180, 180, 180);
    cursor: pointer;
  
    &.sds-button--actions--hover,  
    &:hover{
        @include u-bg("white");
        @include u-border("primary-light");
        @include u-border-width("2px");
        @include u-text("secondary-darker");
        box-shadow: 0px 0px 20px -1px rgb(180, 180, 180);
    }
  
    &.sds-button--actions--active, 
    &:active{
        @include u-bg("white");
        @include u-border("secondary-darker");
        @include u-border-width("2px");
        @include u-text("secondary-darker");
        box-shadow: 0px 0px 0 1px rgb(180, 180, 180);
    }  
  } 
  
  