//SDS ALERT

.sds-alert {
  @include u-padding('05');
  @include u-radius('lg');
  border: solid 0.1rem #fbc036;
  width: 175px;

  .sds-alert-icon {
    @include u-display('inline-block');
    @include u-text('center');
    @include u-height(3);
    @include u-width(3);
    @include u-text('white');
    @include u-bg('warning');
    @include u-radius('pill');
    @include u-padding-top('1px');
    @include u-margin-x('05');
  }
  //SDS ALERT INFO
  &.info {
    border: solid 0.1rem #00BDE3;

    .sds-alert-icon {
      @include u-bg('info');
    }
  }
  //SDS ALERT ERROR
  &.error {
    border: solid 0.1rem #fb5a47;

    .sds-alert-icon {
      @include u-bg('error');
    }
  }

  &.sds-alert--small {
    @include u-margin(0);
    @include u-margin-top(1);
    @include u-padding(0.5);
    @include u-border('1px');
    max-width: none;
  }

}
//SDS ALERT BLOCK

.sds-alert--block {
  @include u-bg('warning-lighter');
  @include u-maxw('mobile');
  @include u-radius('lg');
  @include u-display('flex');
  @include u-flex('row', 'justify');
  @include u-margin-top('105');

  .sds-alert--block-icon {
    @include u-bg('warning-lighter');
    @include u-text('warning');
    @include u-radius('lg');
    margin: auto 10px;
  }

  label {
    @include u-display('block');
    font-weight: font-weight('semibold');
    font-style: italic;
  }

  span {
    @include u-display('block');
  }
  //SDS INFO ALERT BLOCK
  &.info {
    @include u-bg('info-lighter');

    .sds-alert--block-icon {
      @include u-bg('info-lighter');
      @include u-text('info');
    }
  }
  //SDS ERROR ALERT BLOCK
  &.error {
    @include u-bg('error-lighter');

    .sds-alert--block-icon {
      @include u-bg('error-lighter');
      @include u-text('error');
    }
  }
}
// Alert tag - Warning

.sds-alert--expanded {
  border: solid 0.1rem #FEBE2E;
  @include u-radius('lg');
  @include u-display('flex');
  @include u-flex('align-center');
  @include u-margin(3);
  @include u-padding(3);
  max-width: 90%;

  .usa-button--circle {
    @include u-margin(0, !important);
  }

  .fa-alert-warning {
    @include u-text('warning');
    margin: auto 10px;
  }

  .sds-alert--expanded-content {
    @include u-display('inline-block');
    margin: auto;
    max-width: 75%;
  }

  .sds-alert--expanded-content-extended {
    padding-left: 52px;
  }

  .sds-alert--expanded-content-extended {
    padding-left: 52px;
  }
  // Alert tag - Info
  &.info {
    border: solid 0.1rem #00BDE3;

    .usa-button--circle {
      @include u-margin(0, !important);
    }
  }

  .fa-alert-info {
    margin: auto 10px;
    color: #00BDE3;
  }
  // Alert tag - Error
  &.error {
    border: solid 0.1rem #E9695F;

    .usa-button--circle {
      @include u-margin(0, !important);
    }
  }

  .fa-alert-error {
    margin: auto 10px;
    color: #E9695F;
  }
}

  // Alert--Header
  .sds-alert--header {
    @include u-border-y(1px);
    @include u-border-y('yellow-20v');
    @include u-padding('105');
    min-width: 375px;

    .sds-alert--header__icon {
      @include u-margin-x('205');
      @include u-margin-y(1);
      @include u-height(6);
      @include u-width(6);
      @include u-text('yellow-20v');
    }

    .sds-alert--header__content {
      @include u-padding-y('05');
      @include u-padding-x('105');
      @include u-margin-y(1);
      @include u-border(1px);
      @include u-border('gray-10');
      border-radius: 12px;

      .sds-button--circle {
        margin: auto;
      }

      &:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
      }
    }

    .sds-alert--header__label {
      @include u-display('inline-block');
      @include u-text('semibold');
      @include u-font('sans', '2xs');
    }

    .sds-alert--header__link {
      @include u-display('inline-block');
      @include u-text('semibold');
      @include u-text('secondary-dark');
      @include u-text('no-underline');
      @include u-margin-x(0);
    }

    .sds-alert--header__date {
      @include u-display('block');
      @include u-text('italic');
      @include u-text('base');
      @include u-padding-bottom('1px');
    }
}
//ALERT--HEADER Mobile
.sds-mobile-alert {
  flex-wrap: nowrap;
  .sds-alert--header__icon-mobile {
    @include u-margin-x('205');
    @include u-margin-y(1);
    @include u-height(5);
    @include u-width(5);
    @include u-text('yellow-20v');
  }
  .sds-alert--header__show {
    @include u-margin-y(1);
  }
}

//ALERT--HEADER Mobile Content
.sds-mobile-alert__content{
  @include u-padding-y('05');
  @include u-padding-x('105');
  @include u-margin-y(1);
  @include u-border(1px);
  @include u-border('gray-10');
  border-radius: 12px;
  flex-wrap: nowrap;
  overflow-x: auto;

  .sds-button--circle {
    margin: auto;
  }
  .sds-alert--header__label {
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

//ALERT--TOASTS 
.sds-toast{

  @include u-text('semibold'); 
  @include u-display('inline-flex');
  @include u-flex('align-center');
  @include u-radius('lg');
  max-width: 456px;
  min-width: 256px;
  box-shadow: 1px 3px 5px rgba(0,0,0, 25);

 

  .sds-toast-icon {
      @include u-margin-y('2');
      @include u-margin-left('2');
  }

  .sds-toast-close{
    @include u-margin-right('1');
    @include u-margin-top('1');
    color: #979797;
    align-self: baseline;
  }

  .sds-toast-text{
    @include u-font('sans', 'sm');
 
    @include u-margin-x('1');
    @include u-margin-y('2');
    
    @include at-media('mobile') {
      @include u-font('sans', 'md');
    }
  }


  &.info {
      
      border:solid 2px #5994f6;

      .sds-toast-icon {
          color:#5994f6;
       
      }
  }

  &.success{
      border:solid 2px #00a91c;
      
      .sds-toast-icon {
        color:#00a91c;
      }
  }
}
