
.sds-autocomplete {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 15px;
  position: absolute;
  background-color: white;
  width: 100%;
  max-height: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: units($theme-input-max-width);
  z-index: 2;

  /* width */
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.sds-autocomplete .sds-autocomplete__item {
  border-top: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.sds-autocomplete .sds-autocomplete__item.sds-autocomplete__item--selected {
  background-color: #0071bc;
  color: white;
}

// sds-autcomplete-selected
.sds-autocomplete-selected .sds-autocomplete-selected__item {
  border-radius: 2px;
  background-color: color('primary-lighter');
  border: 1px solid color('primary');
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 3px 8px;
  width: calc(100% - 16px);
  max-width: 30rem;
  position: relative;
}

.sds-autocomplete-selected .sds-autocomplete-selected__item--disabled,
.sds-autocomplete[disabled='true'],
 input [disabled='disabled'] {
  background: #d6d7d9;
  cursor: not-allowed;
  border: 1px solid #aeb0b5;
  color: #5b5b5b;
}
