.sds-button-row {
  display: -webkit-flex;
  @include u-flex("fill");
  @include u-flex("wrap");
  @include u-flex("row");
  @include u-flex("align-start");
  @include u-flex("justify-center");
  @include u-margin-y(9);

  button {
    @include u-margin-x(1);
  }

  .sds-button-col {
    display: -webkit-flex;
    @include u-flex("column");
    @include u-flex("align-center");
    @include u-flex("justify-center");
    @include u-margin-x(1);
    @include u-maxw("card-lg");

    label {
      @include u-line-height("body", 4);
      @media (max-width: 830px) {
          display:none;
      }
    }

    button {
      @include u-margin-x(0);
    }

    &--right {
      @include u-flex("align-start");
      @include u-flex("justify-start");

      label {
        @include u-text("left");
      }
    }

    &--left {
      @include u-flex("align-end");
      @include u-flex("justify-end");

      label {
        @include u-text("right");
      }
    }
  }
}
