.sds-card {
  @include u-margin-y(2);
  @include u-padding-top(2);
  @include u-padding-x("205");
  @include u-padding-bottom("205");
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 6px 12px 0px rgba(0, 0, 0, 0.10);
  

  h2 {
    @include u-margin-y(1);
  }

  a:visited {
    color: color("indigo-cool-60");
  }
  &.sds-card--vertical {
    display: flex;
    flex-direction: row;
  }
}
.sds-card .sds-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .sds-card__header-mobile {
    margin-right: auto;
    @include u-margin-left("05");
    @media only screen and (min-width: 600px) {
      display: none;
      overflow: hidden;
      max-height: 0;
    }
  }

  .sds-card__header-actions {
    display: flex;
  }
}

.sds-card--vertical .sds-card__header {
  align-content: flex-start;
  align-items: flex-start;
  padding-right: 16px;
}
.sds-card .sds-card__content {
  display: block;
  @include u-padding-top("105");
  @media only screen and (max-width: 600px) {
    display: none;
  }
}
.sds-card--vertical .sds-card__content {
  padding-left: 16px;
  padding-top: 0px;
}
.sds-card--title {
  padding-top: 0;
  margin-top: 0;
}

.sds-card--subtitle {
  margin-top: -1.3rem;
}