/*-------------------
       SDS CARD
--------------------*/

.sds-card {
  @include u-padding(0);
  @include u-radius('md');
  @include u-bg('white');

  &__title {
    @include u-margin-y(0);
    display: inline-block;
  }

  &__content {
    @include u-padding(2);
  }

  &__header {
    @include sds-header;
    @include u-margin(0);
    @include u-padding(2);

    &--flex {
      @include grid-row;
      display: flex;
      .sds-card__title {
        @include grid-col(12);
        text-align: center;
        @include at-media('tablet-lg') {
          @include grid-col('auto');
          text-align: left;
          flex: 0 0 auto;
        }
      }
      .sds-card__buttons {
        @include grid-col(12);
        @include at-media('tablet-lg') {
          @include grid-col;
          flex: 1 0 auto;
          text-align: right;
        }
      }
    }

    &--left, &--center {
      > * {
        display: inline-block;
        vertical-align: bottom;
      }
    }


    &--stacked, &--center {
      text-align: center;
    }

    &--action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .sds-card__action > * {
        margin-right: 0;
      }
    }
  }

  &__buttons {
    .usa-button {
      @include u-width(full);
      @include at-media('tablet-lg') {
        width: auto;
        width: initial;
      }
    }
    :last-child {
      margin-right: 0;
    }
  }

  &__link {
    width: 100%;
    color: inherit;
  }

  &__action {
    text-align: right;
  }

  &--bordered {
    @include u-border('base-light', 'solid', '1px');
  }

  &--shadowed {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
  }

  &--list {
    border: none;
    .sds-card__header {
      @include bordered-item(true);
    }
    .sds-card__content {
      @include u-padding(0);
    }
  }

  &--vertical {
    display: flex;
    .sds-card__header {
      @include u-border-right('base-light', 'solid', '1px');
    }
  }

  .usa-button--outline {
    background: white;
  }
}
