/*-------------------
       SDS CARD
--------------------*/
$sds-card-border-width: 1px;
$sds-card-border-radius: border-radius('md');
$inner-border-radius: calc(#{$sds-card-border-radius} - #{$sds-card-border-width});

.sds-card {
  @include u-padding(0);
  @include u-border('base-light', 'solid', $sds-card-border-width);
  border-radius: $sds-card-border-radius;
  @include u-shadow(2);

  &__title {
    @include u-margin-y(0);
    @include u-display('inline-block');
  }

  &__body {
    @include u-padding(2);
    > *:first-child {
      @include u-margin-top(0);
    }
    > *:last-child {
      @include u-margin-bottom(0);
    }
  }

  &__header {
    @include sds-header;
    @include u-margin(0);
    @include u-padding(2);
    border-top-left-radius: $inner-border-radius;
    border-top-right-radius: $inner-border-radius;

    &--flex {
      @include grid-row;
      @include u-display('flex');
      @include u-flex('align-center');
      .sds-card__title {
        @include grid-col(12);
        @include u-text('center');
        @include at-media('tablet-lg') {
          @include grid-col('auto');
          @include u-text('left');
          flex: flex('auto');
        }
      }
      .sds-card__buttons {
        @include grid-col(12);
        @include at-media('tablet-lg') {
          @include grid-col;
          // IE
          flex: 1 0 auto;
          flex: flex('fill');
          @include u-text('right');
        }
      }
    }

    &--left, &--center {
      svg {
        @include u-margin-right(1);
      }
      > * {
        @include u-display('inline-block');
        @include u-text('bottom');
      }
    }

    &--stacked, &--center {
      @include u-text('center');
    }

    &--action {
      @include u-display('flex');
      @include u-flex('align-center', 'justify');
      .sds-card__action > * {
        @include u-margin-right(0);
      }
    }
  }

  &__buttons {
    .usa-button {
      @include u-width(full);
      @include at-media('tablet-lg') {
        @include u-width('auto');
        margin-left: units(1);
        margin-right: units(0);
      }
    }
  }

  &__link {
    @include u-width('full');
    color: inherit;
  }

  &__action {
    @include u-text('right');
  }

  &--height-full {
    @include u-height('full');
  }

  &--list {
    @include u-border(0);
    .sds-card__header {
      @include bordered-item(true);
    }
    .sds-card__body {
      @include u-padding(0);
    }
  }

  &--vertical {
    @include u-display('flex');
    .sds-card__header {
      @include u-border-right('base-light', 'solid', $sds-card-border-width);
      border-top-right-radius: 0;
    }
  }

  .usa-button--outline {
    @include u-bg('white');
  }
}
