.usa-date-picker__calendar__table {
  border-style: none;
  margin: 0;

  td {
    background-color: color('base-lightest');
  }

  .usa-date-picker__calendar__date--selected {
    @include u-bg('primary-darker');
    @include u-text('white');
  }

  .usa-date-picker__calendar__date--selected:focus {
    @include u-bg('primary-darker');
    @include u-text('white');
  }
}