// FEED
// --------------------------------

.sds-feed {
  margin-top: 5px;
  margin-bottom: 0;
  width: 100%;

  .event:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
  }

  .event {
    display: flex;
    padding: 12px 10px;
    border-bottom: 1px solid #D6D7D9;

    .label {
      padding-right: 15px;
    }

    .content {
      width: 100%;
    }

    .content .summary {
      line-height: 18px;
    }

    .content .summary > .action {
      font-weight: 700;
      color: #212121;
    }

    .content .summary > .date {
      font-size: 13px;
      background: #F1F1F1;
      font-style: italic;
      float: right;
      padding: 0 5px;
      margin: 0 0 10px 10px;
    }

    .content .meta {
      @include u-margin-top('05');
      @include u-margin-right(2);
      @include u-padding-right(2);
      @include u-font('sans','xs');
      @include u-text('justify');
      overflow: hidden;
      position: relative;
      line-height: 1.2em;
      max-height: 4.6em;
    }
    .meta:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .meta:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }
  }
}
