/************************************
   External link override USWDS image
*************************************/
.usa-link--external {
    display: inline;
    &::after {
        background-position: 0% 60%;
        background-image: url('#{$theme-image-path}/sam/box-arrow-up-right.svg');
    }
}