.sds-field {
  @include u-text("normal");
  @include u-font("sans", "2xs");
  .sds-field__name {
    @include u-display("inline-block");
    @include u-margin-right("2px");
  }
  .sds-field__value {
    @include u-display("inline-block");
    @include u-text("bold");
    &--paragraph {
      @include u-display("block");
      @include u-text("normal");
      @include u-measure(6);
    }
  }
  &--stacked {
    .sds-field__name {
      @include u-display("block");
    }
    .sds-field__value {
      @include u-display("block");
      &--paragraph {
        @include u-display("block");
      }
    }
  }
  &--small {
    @include u-font("sans", "3xs");
  }
  &--large {
    @include u-font("sans", "sm");
  }
  &--featured {
    .sds-field__name {
      @include u-text("italic");
      @include u-text("light");
      @include u-font("sans", "2xs");
    }
  }
}
