.usa-checkbox,
.usa-radio {
  padding-top: 10px;
}

.wrapper-body {
  margin: 0 14px;
}

.header-label {
  color: #0a3466;
  font-size: 16px;
}

/* sds-panel wrapper for filters */

.sds-panel {
  padding: units('05') units(1);
}