/*******************************
       USWDS OVERRIDES
*******************************/

/*-------------------
    General footer
--------------------*/

.usa-footer__primary-section {
  clear: both;
  padding: units(0);
  @include at-media("mobile-lg") {
    padding: units(3);
  }
}

.usa-footer__secondary-link a {
  @include u-text("no-underline");
}

.usa-footer__secondary-link {
  @include u-margin-left(0);
}

.usa-footer__primary-content {
  @include u-border-top(0);
}

.usa-footer__secondary-section {
  @include u-padding-top(4);
  @include u-position("relative");
  @include u-border-top("1px");
  @include u-border-top("base-light");

  &::before {
    content: "";
    @include u-width("full");
    @include u-height(2);
    @include u-position("absolute");
    @include u-top("neg-2");
    @include u-shadow(2);
  }
}
.usa-footer{
  @include u-font-size('body', 4)
}

/*-------------------
      Big footer
--------------------*/

.usa-footer--big {
  .usa-footer__nav {
    word-break: break-word;
    @include u-maxw('none');
    @include u-text("center");
    border-bottom: none;
    @include at-media("tablet") {
      @include u-text("left");
      padding-top: units(0);
    }
    @include at-media("mobile-lg") {
      @include u-text("left");
      padding-top: units(0);
    }
    @include at-media("mobile") {
      @include u-text("left");
      padding-top: units(0);
    }
  }

  .usa-footer__primary-link {
    @include u-padding-y(0);
    @include u-padding-x(0);
    background: none;
    margin-bottom: units(1);
  }

  .usa-footer__primary-content--collapsible {
    &.hidden {
      .usa-footer__primary-link {
        background-size: units(1);
      }
    }
  }

  .usa-list--unstyled {
    @include u-padding-x(0, !important);
    padding-bottom: units(4) !important;
    padding-top: units(1.5);
  }
}

/*******************************
      SDS Specific Styles
*******************************/

.sds-footer__logo {
  @include u-display("flex");
  @include u-flex("justify-center");
}
.sds-footer__logo-link {
  display: inherit;
}
.sds-footer__logo-link img {
  @include u-width(15);
  @include u-maxw(10);
}

.sds-footer__logo-heading {
  @include h4;
  @include u-margin-y(1);
  line-height: line-height("heading", 2);
  @include u-text("semibold");
  color: color("secondary-dark");
  @include u-maxw("card");
  align-self: center;
}

.sds-footer__note {
  @include u-font("body", "2xs");
}


footer .usa-link svg[class*="svg-inline"] {
  @include u-margin-left(1);
}

/*******************************
      SDS Feedback Styles
*******************************/
.sds-feedback {
  filter: drop-shadow(0 -5px 5px #f5f5f0);
  padding-top: 15px;

  .sds-feedback__button {
    @include u-bg("white");
    @include u-text("center");
    @include u-padding-y(3);
    @include u-radius-top("pill");
    border: none;
    display: flex;
    @include u-flex("column");
    @include u-flex("align-center");
    width: 140px;
    margin: auto;

    .sds-feedback__open {
      @include u-padding(1);
      @include u-bg("base-light");
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 50%;
    }
    .sds-feedback__closed {
      @include u-padding(1);
      @include u-bg("primary");
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 50%;
    }
    .sds-feedback__title {
      @include u-font("sans", "sm");
      @include u-text("base-dark");
      @include u-margin-top(1);
    }
  }

  .sds-feedback__response {
    width: 100%;
    @include u-bg("white");

    div {
      margin: auto;
      padding: 30px;
    }

    .sds-feedback__response-title {
      @include u-font("sans", "lg");
      @include u-text("base");
      @include u-text("bold");
      @include u-display("inline");
    }

    .sds-feedback__response-title-thin {
      @include u-font("sans", "lg");
      @include u-text("base");
      @include u-text("normal");
      @include u-display("inline");
    }

    .sds-feedback__response-text {
      @include u-font("sans", "md");
      @include u-text("secondary-dark");
      @include u-text("bold");
      @include u-display("block");
      @include u-margin-y(2);
    }

    .sds-feedback__input {
      @include u-width(full);
      @include u-bg("base-lighter");
      border: none;
      resize: none;
    }
  }
}
/*******************************
        .sds-footer__nav--accordion
********************************/
.sds-footer__nav--accordion {
  .usa-accordion.usa-accordion--bordered {
    @include u-padding(0);
  }
  .usa-accordion__heading.usa-accordion__button {
    font-size: inherit;
  }

  .usa-accordion__content {
    @include u-margin(0);
    @include u-padding(0);
    @include u-bg("white");
    li {
      list-style: none;
      a {
        @include u-padding-left(3);
        @include u-padding-y(1);
        @include u-display("block");
      }
      &:first-child a {
        @include u-padding-top(1);
      }
      &:last-child a {
        @include u-padding-bottom(1);
      }
      a:hover {
        @include u-bg("base-lightest");
      }
    }
  }
}


/*******************************
      Mobile Styles
*******************************/
.sds-footer__nav--accordion {
  @include u-display("block");
}
.usa-footer__nav {
  @include u-display("none");
}
@include at-media(mobile-lg) {
  .sds-footer__nav--accordion {
    @include u-display("none");
  }
  .usa-footer__nav {
    @include u-display("block");
  }
}
