/*******************************
       USWDS OVERRIDES
*******************************/

/*-------------------
    General footer
--------------------*/

.usa-footer__primary-section {
  background-color: color('accent-cool-lighter');
}

.usa-footer__secondary-link a {
  @include u-text('no-underline');
}

.usa-footer__secondary-link {
  margin-left: 0;
}

.usa-footer__primary-content {
  border-top: none;
}

.usa-footer__secondary-section {
  background-color: color('accent-cool-lighter');
  @include u-text('center');
  @include at-media('tablet') {
    @include u-text('left');
  }
}

/*-------------------
      Big footer
--------------------*/

.usa-footer--big {
  .usa-footer__nav {
    padding-top: units(4);
    @include u-text('center');
    border-bottom: none;
    @include at-media('tablet') {
      @include u-text('left');
    }
  }

  .usa-footer__primary-link {
    @include u-padding-y(0);
    background: none;
    margin-bottom: units(1);
    padding-left: 0;
    padding-right: 0;
  }

  .usa-footer__primary-content--collapsible {
    &.hidden {
      .usa-footer__primary-link {
        background-size: units(1);
      }
    }
  }

  .usa-list--unstyled {
    @include u-padding-x(0, !important);
    padding-bottom: units(4) !important;
    padding-top: units(1.5);
  }
}

/*******************************
      SDS Specific Styles
*******************************/

.sds-footer__logo {
  @include u-margin-top(4);
  @include u-display('flex');
  @include u-flex('justify-center');
  @include at-media('tablet') {
    @include u-display('block');
  }
}

.sds-footer__logo-link img {
  @include u-width(15);
}

.sds-footer__logo-heading {
  @include h4;
  @include u-margin-y(1);
  line-height: line-height('heading', 2);
  @include u-text('semibold');
  color: color('secondary-dark');
  @include u-maxw('card');
  align-self: center;
}

.sds-footer__note {
  @include u-font('body', '2xs');
}

/*******************************
      SDS Feedback Styles
*******************************/
.sds-feedback {
  filter: drop-shadow(0 -5px 5px #f5f5f0);
  padding-top: 15px;

  .sds-feedback__button {
    @include u-bg('white');
    @include u-text('center');
    @include u-padding-y('3');
    @include u-radius-top('pill');
    border: none;
    display: flex;
    @include u-flex('column');
    @include u-flex('align-center');
    width: 140px;
    margin: auto;

    .sds-feedback__open {
      @include u-padding(1);
      @include u-bg('base-light');
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 50%;
    }
    .sds-feedback__closed {
      @include u-padding(1);
      @include u-bg('primary');
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 50%;
    }
    .sds-feedback__title{
      @include u-font('sans', 'sm');
      @include u-text('base-dark');
      @include u-margin-top(1);
    }
  }

  .sds-feedback__response {
    width: 100%;
    height: 350px;
    @include u-bg('white');

    div {
      margin: auto;
      padding: 30px;
    }

    .sds-feedback__response-title{
      @include u-font('sans', 'lg');
      @include u-text('base');
      @include u-text('bold');
      display: inline;
    }

    .sds-feedback__response-title-thin{
      @include u-font('sans', 'lg');
      @include u-text('base');
      @include u-text('normal');
      display: inline;
    }

    .sds-feedback__response-text{
      @include u-font('sans', 'md');
      @include u-text('secondary-dark');
      @include u-text('bold');
      display: block;
    }

    .sds-feedback__input {
      height: 150px;
      width: 100%;
      border: none;
      @include u-bg('base-lighter');
    }
  }
}
