/*******************************
       USWDS OVERRIDES
*******************************/

/*-------------------
       Header
--------------------*/

.usa-header {
  background-color: white;
}

.usa-menu-btn {
  @include button-unstyled;
  .fa-layers-counter {
    @include u-top('neg-1px');
    @include u-right(2px);
  }
}

.usa-overlay {
  background: color('secondary-darker');
  &.is-visible {
    opacity: opacity(50);
  }
}

/*-------------------
 usa-header--extended
--------------------*/

.usa-header--extended {
  .usa-nav__link:not(.usa-current):hover::after {
    content: none;
  }

  .usa-logo {
    @include at-media($theme-header-min-width) {
      margin: units(3) 0 units(2);
    }
  }

  .usa-nav {
    @include at-media($theme-header-min-width) {
      border-top: units(1px) solid color('base-lighter');
      box-shadow: 0px -10px white, 0px 2px 11px rgba(0, 0, 0, 0.15);
    }
  }
}

/*******************************
      SDS Specific Styles
*******************************/

.sds-header__logo {
  @include u-height(4);
  @include at-media($theme-header-min-width) {
    @include u-height(5);
  }
}

