.sam.heading .icon {
  display: inline-block;
  margin-right: 3px;
  width: 50px;
  height: 50px;
}

.sam-icons__library {
  display: flex;
  flex-wrap: wrap;
}

.icons-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.icons-list__items {
  height: 80px;
  width: 80px;
  text-align: center;
  padding: 5px;
}

.icons-list__items > * {
  display: block;
  padding: 0;
  font-size: 12px;
}

.icons-list__items > svg {
  height: 30px;
  margin: auto;
}
