.sds-list {
  &--unstyled, &--icon {
    @include unstyled-list;
  }

  &--bordered {
    li {
      @include bordered-item();
    }
  }

  &--flex {
    > li {
      display: flex;
      > span {
        &:first-child {
          @include u-minw(4);
        }
        > svg {
          margin-top: 0.125em;
        }
      }
    }
  }
  &__title {
    &:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }
    margin-bottom: 0;
  }
}
