.sds-list {
  @extend .usa-list;
  li {
    @include u-margin-bottom(1);
    @include u-measure(6);
  }

  svg {
    @include u-margin-right(1);
  }

  &--unstyled {
    @include unstyled-list;
  }

  &--bordered {
    li {
      @include bordered-item();
    }
  }

  &--icon {
    @include unstyled-list;
    > li {
      @include u-measure(6);
      @include u-margin-bottom(1);
      @include u-display('flex');
      @include u-flex('align-center');
      .sds-list__item-icon {
        align-self: flex-start;
      }
      .usa-link {
        @include u-float('left');
      }
    }
  }

  &--nested {
    margin-top: 0;
    > li:last-of-type {
      padding-bottom: 0;
    }
  }
}
