.sds-list {
  @extend .usa-list;

  li {
    @include u-padding-bottom(1);
    max-width: unset;
    margin-bottom: 0;
  }

  &--unstyled {
    @include unstyled-list;
  }

  &--bordered {
    li {
      @include bordered-item();
    }
  }

  &--flex {
    > li {
      display: flex;
      align-items: top;
    }
    svg {
      @include u-margin-right(2);
    }
  }

  &--nested {
    > li:last-of-type {
      padding-bottom: 0;
    }
  }
}
