.sds-list {
  @extend .usa-list;
  li {
    @include u-line-height('body', 5);
    @include u-margin-bottom(1);
    @include u-measure(none);
  }

  svg {
    @include u-margin-right(1);
  }

  &--unstyled {
    @include unstyled-list;
  }
  &--subdomain {
    @include unstyled-list;
    @include u-font('sans', 'sm');
    @include u-text('semibold');
    li{
      @include u-margin-y(2);
    }
    .usa-link{
      &--active{
        @include u-text('ink');
      }
    }
  }

  &--no-bullets {
    padding-left: 0;
    list-style: none;
    padding-left: 0;
  }

  &--bordered {
    li {
      @include bordered-item();
    }
  }

  &--icon {
    list-style: none;
    padding-left: 0;
    > li {
      @include u-measure($theme-text-measure-wide);
      @include u-margin-bottom(1);
      @include u-display('flex');
    }
    svg {
      @include u-margin-right(1);
      @include u-display('block');
      font-size: 1.25rem;
    }
  }

  &--nested {
    margin-top: 0;
    > li:last-of-type {
      padding-bottom: 0;
    }
  }
  
  max-width: 88ex;
}

