.sds-menu {
  @include u-padding-top(1);
  @include u-padding-bottom('105');
}

.sds-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 5px 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid #eae6e6;
}

.sds-menu__header-title {
  font-size: 18px;
  font-weight: 600;
  color: color('gray-warm-70');
}

.sds-menu__item {
  @include button-unstyled;
  display: flex;
  align-items: center;
  padding: 6px 20px;
  width: 100%;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  &:hover {
    color: color('accent-warm-darker');
  }
  &:focus {
    color: color('accent-warm-darker');
    text-decoration: underline;
    outline-offset: -3px !important;
  }
}
