.sds-menu {
  @include u-padding-top(1);
  @include u-padding-bottom('105');
}

.sds-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 5px 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid #eae6e6;
  button{
    border: 2px solid color('base-light');
    &:hover{
      border-color: color('primary');
    }
    &:active{
      border-color: color('secondary-dark');;
    }
  }
}

.sds-menu__header-title {
  font-size: 18px;
  font-weight: font-weight('semibold');
  color: color('gray-warm-70');
}

.sds-menu__item {
  @include button-unstyled;
  display: flex;
  align-items: center;
  padding: 6px 20px;
  width: 100%;
  text-decoration: none;
  font-weight: font-weight('semibold');
  font-size: 17px;
  &:hover {
    color: color('accent-warm-darker');
  }
  &:focus {
    color: color('accent-warm-darker');
    text-decoration: underline;
    outline-offset: -4px !important;
  }
}

// Small menu
.sds-menu.sds-menu--small {
  .sds-menu__header-title {
    @include u-font('sans', 'xs');
  }
  .sds-menu__item {
    @include u-font('sans', '2xs');
  }
}
