/*******************************
       USWDS OVERRIDES
*******************************/

/*-------------------
  Header navigation
--------------------*/

.usa-nav {
  @include at-media-max($theme-header-min-width) {
    background: color('accent-cool-lighter');
    &.is-visible {
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

/*-------------------
  Primary navigation
--------------------*/

.usa-nav__primary {
  @include at-media-max($theme-header-min-width) {
    &-item {
      border-top: none;
    }
    a {
      &:hover {
        background-color: transparent;
      }
    }
    .usa-current {
      color: color('base-dark');
    }
  }
  > .usa-nav__primary-item {
    font-size: font-size($theme-navigation-font-family, 'md');
    > a {
      color: color('ink');
      font-weight: font-weight('normal');
      &:hover {
        color: color('secondary');
      }
    }
  }
}

/*-------------------
 Secondary navigation
--------------------*/

.usa-nav__secondary {
  @include at-media-max($theme-header-min-width) {
    .usa-current {
      @include add-bar($theme-sidenav-current-border-width, 'primary', 'left', 'pill', 1, 1);
    }
  }
}

.usa-nav__secondary-links {
  .usa-nav__secondary-item {
    .counter-icon {
      color: red;
      margin-top: -1.7em;
      margin-right: -1.5em;
    }
    @include at-media($theme-header-min-width) {
      padding-left: units(3);
      & + .usa-nav__secondary-item::before {
        color: color('base-light');
      }
    }
    @include at-media('tablet-lg') {
      padding-left: units(0.5);
    }
    @include at-media-max('tablet-lg') {
      &::before {
        content: none !important;
      }
    }
  }

  a {
    color: color('ink');
    @include u-padding-bottom('105');
    &:hover {
      color: color('secondary');
      text-decoration: none;
    }
    @include at-media-max($theme-header-min-width) {
      padding: units(1) units(2);
    }
    .fa-layers-counter {
      padding: units(2);
      @include u-top('neg-05');
      @include u-right(-2px);
    }
    &:hover,
    &.usa-current {
      .sds-nav__secondary-item-text {
        @include add-bar('2px', 'primary', 'bottom', 1, 0, 'neg-105');
      }
    }
  }
}

/*-------------------
Navigation close button
--------------------*/

.usa-nav__close {
  margin-bottom: 0;
}

/*******************************
      SDS Specific Styles
*******************************/

.sds-nav__secondary-item-text {
  margin-left: units(0.5);
  @include at-media($theme-header-min-width) {
    @include u-display('none');
  }
  @include at-media('tablet-lg') {
    @include u-display('inline-block');
  }
}
