.sds-navbar {
  @include border-box-sizing;
  min-height: units($size-touch-target);
  @include u-bg('base-lightest');
  @include u-padding-y(2);
}

.sds-navbar .sds-navbar__content {
  @include grid-container($theme-header-max-width);
}
.sds-navbar__title{
  @include u-font('heading','md') ;
  @include u-text('semibold') ;
}

.sds-navbar--blank {
  min-height: 1.5rem;
}

.sds-nav__secondary--blank {
  bottom: 3rem;
}

.usa-navbar {
  justify-content: flex-end;
}

.usa-nav__secondary {
  bottom: 3rem;
}