//TODO: inquire about use of sds-page
.sds-page {
  @include u-display("block");
  @include u-margin-top(6);
  @include u-minh("viewport");
  padding-bottom: units($theme-page-margins-bottom);

  &.condensed {
    @include u-font("sans", "3xs");
  }
}

.sds-page--background {
  @include u-bg("white");
}

.sds-page--background-accent {
  @include u-bg("accent-cool-lighter");
}

// .sds-layout__main
.sds-page__section {
  @for $index from 1 through 6 {
     h#{$index}:first-child {
      margin-top: 0;
      line-height: 1em;
    }
  }
}
