
@mixin adjust-responsive-site-margins {
  margin-left: -(units($theme-site-margins-mobile-width));
  margin-right: -(units($theme-site-margins-mobile-width));
  padding-left: (units($theme-site-margins-mobile-width));
  padding-right: (units($theme-site-margins-mobile-width));
  @include at-media($theme-site-margins-breakpoint) {
  	margin-left: -(units($theme-site-margins-width));
  	margin-right: -(units($theme-site-margins-width));
  	padding-left: (units($theme-site-margins-width));
  	padding-right: (units($theme-site-margins-width));
  }
}

.sds-page {
   @include u-padding-bottom(8);
   @include u-minh('viewport');
}

.sds-page--background-accent {
	@include u-bg('accent-cool-lighter');
}

.sds-page--background {
	@include u-bg('white');
}

.sds-hero {
  @include u-height('full');
  background: url("/assets/images/landing-hero.png") no-repeat right bottom;
  background-size: cover;
  @include u-padding-bottom(4);
  @include adjust-responsive-site-margins;
}

.sds-form--simple {
    @include u-margin-x(auto);
	@include u-margin-top(8);
	max-width: $theme-form-max-width;

	label {
		@include u-text('semibold');
	}
}


.sds-form--multi {
	max-width: $theme-form-max-width;
}

.sds-form-instruction {
	@include u-font('sans', '2xs');
	@include u-measure(4);
}

.sds-form-instruction--large {
	@include u-font('sans', 'xs');
	@include u-measure(4);	
}


