sds-page {
  @include u-display("block");
  @include u-margin-top(2);
  @include u-margin-bottom(8);
  min-height: 600px;

  &.condensed {
    @include u-font("sans", "3xs");
  }
}

//*******************************************
.sds-pages{
  display: block;
}

.sds-intro{
  display: block;
  margin-left: auto;
  padding-left: 1rem;
  @media (min-width: 64em){
    padding-left: 2rem;
  }
}

.sds-primary,
.sds-secondary,
.sds-tertiary {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display:block;

  @media (min-width: 64em){
    padding-left: 2rem;
    padding-right: 2rem;
    }
}

.sds-intro__content,
.sds-primary__content,
.sds-secondary__content,
.sds-tertiary__content {
  @include u-padding-y(2);

  display: webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  *, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

.sds-intro__block,
.sds-primary__block,
.sds-secondary__block,
.sds-tertiary__block {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0px;
  width: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  @include u-margin-x(2);

  @media all and (max-width:40em) {
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webikit-box-flex: 0;
    }

}

// //*******************************************
