@mixin range-focus{
  border: unit($number: (1px)) solid color('ink');
  background-color: color('secondary-lighter');
}

@mixin range-track {
  background: color('base-light');
  border: none;
  
}
@mixin range-thumb {
  background-color: color('secondary-light');
  border: units(1px) solid color('secondary-light');
  box-shadow: none;
}

@mixin range-ms-fill {
  background-color: color("base-light");
  border: none;
}

.usa-range{
  &::-webkit-slider-runnable-track {
    @include range-track;
  }

  &::-moz-range-track {
    @include range-track;
  }

  &::-ms-track {
    @include range-track;
  }
  
  &::-webkit-slider-thumb {
    @include range-thumb;
  }

  &::-moz-range-thumb {
    @include range-thumb;
  }

  &::-ms-thumb {
    @include range-thumb;
  }

  &::-ms-fill-lower {
    @include range-ms-fill;
  }

  &::-ms-fill-upper {
    @include range-ms-fill;
  }
  
  &:focus{
    &::-webkit-slider-thumb {
      @include range-focus;
    }

    &::-moz-range-thumb {
      @include range-focus;
    }

    &::-ms-thumb {
      @include range-focus;
    }
  }
  }
  
  