.sds-result-item {
  @include u-margin-top(1);
  @include u-margin-bottom('205');

  .action-menu {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
  }

  &.dual-record {
    background-color: #f9f9f9;
    @include u-radius('lg');
    @include u-padding-left('105');
    @include u-padding-top('105');
    @include u-padding-bottom('105');
    @include u-border('1px');
    @include u-border('base-lighter');
  }

  .dual-record {
    &--title {
      @include u-line-height('sans', 6);
      @include u-border('base-light');
      @include u-border(0);
      @include u-border-bottom('2px');
      @include u-border-bottom('dashed');
    }

    &--hilite {
      @include u-border('base-light');
      @include u-border(0);
      @include u-border-bottom('1px');
      @include u-border-bottom('dashed');
    }
  }
}