.result-item-wrapper {
  @include u-margin-top(1);
  @include u-margin-bottom('205');
}

.search-result__list > * {
  margin: 0 10px 0 0;
  align-self: flex-start;
}

.search-result > .name {
  font: 600 20px/20px Source Sans Pro, sans-serif;
  color: #112f4e;
}

.search-result > .alert {
  height: 35px;
  width: 270px;
  border: solid #febe2e;
  border-radius: 3px;
  box-shadow: 0 -5px 7px rgba(154, 154, 154, 0.25);
  text-align: center;
  box-sizing: border-box;
}

.search-result > .alert > .label {
  font: 600 16px/30px Source Sans Pro, sans-serif;
  color: #5c5c5c;
  display: inline-block;
  margin: 0 0 0 4px;
}

.search-result > .alert > .circle {
  height: 17px;
  width: 17px;
  background-color: #febe2e;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
  line-height: 16px;
  display: inline-block;
}

.search-result > .button-field {
  display: flex;
  justify-content: center;
}

.search-result > .button-field > .button-content {
  font: italic 400 14px/18px Source Sans Pro, sans-serif;
  color: #636363;
}

.search-result > .button-field > .button-content > .button {
  font: 600 14px/18px Source Sans Pro, sans-serif;
  color: #636363;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px 0 0;
}

.search-result > .button-field > .button-content > .button > * {
  margin: auto;
}

.entity-status__shape {
  width: 14px;
  height: 14px;
  border: solid 1px #2e8540;
  border-radius: 50%;
  background: #4aa564;
  margin: 5%;
}

.search-result > .options {
  max-width: 45px;
  margin: 25px 10px;
}

.action-menu-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.action-menu-placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #666;
  font-size: 1em;
  cursor: pointer;
  margin-top: 4px;
}

div[class^="grid-col-"] .sds-tag--static,
div[class*=" grid-col-"] .sds-tag--static {
  display: block !important;
  width: 100% !important;
}
