.sds-result-item {
  @include u-margin-top(1);
  @include u-margin-bottom('205');
  @include u-padding('105');
  @include u-border-top('05');
  @include u-border-x(0);
  @include u-border-bottom(0);
  @include u-border('base-lighter');

  .action-menu {
    @include u-height('full');
    @include u-display('flex');
    @include u-flex('align-end');
    @include u-flex('justify-center');
   @include u-flex('column');
  }

  &.sds-results-child {
    @include u-bg('base-lightest');
    @include u-radius('lg');
    @include u-padding('105');
    @include u-border('1px');
    @include u-border('base-lighter');
  }

  .sds-results-child {
    &--title {
      @include u-line-height('sans', 6);
      @include u-border-bottom('base-light');
      @include u-border-bottom('2px');
      @include u-border-bottom('dashed');
    }

    &--hilite {
      text-decoration-color: color('base-lighter');
      text-decoration-style: dashed;
      text-decoration-line: underline;

    }
  }

  .sds-tile--outline{
  @include u-padding(1);

  .sds-list > li {
    @include u-text('bold');
    margin-bottom: 0;
  }
   }

   .sds-field {
     @include u-margin-bottom(2);
   }
   .sds-field--large,
   .sds-field__value {
     @include u-display('block');
     @include u-margin-y('05');
   }

   .sds-card__title {
     @include u-text('secondary-dark');
   }
}
.sds-result-item__title {
  @include u-margin-bottom(1);
  @include u-flex('align-center');

  .sds-result-item__header{
    @include u-display('flex');
    @include u-flex('row');
    @include u-padding-bottom(1);
    @include u-border-bottom('05');
    @include u-border-x(0);
    @include u-border-top(0);
    @include u-border('base-lighter');
    @include at-media('tablet') {
      @include u-border(0);
    }
  }

  .sds-result-item__square {
    @include u-height(2);
    @include u-width(2);
    @include u-bg('secondary-light');
    @include u-margin-right(1);
    @include u-margin-top(1);
  }
  h2 {
    @include u-margin-top(1);
  }
}
