.sds-result-item {
  @include u-margin-top(1);
  @include u-margin-bottom('205');

  .action-menu {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
  }

  &.sds-results-child {
    background-color: #f9f9f7;
    @include u-radius('lg');
    @include u-padding('105');
    @include u-border('1px');
    @include u-border('base-lighter');
  }

  .sds-results-child {
    &--title {
      @include u-line-height('sans', 6);
      @include u-border-bottom('base-light');
      @include u-border-bottom('2px');
      @include u-border-bottom('dashed');
    }

    &--hilite {
      text-decoration-color: color('base-lighter');
      text-decoration-style: dashed;
      text-decoration-line: underline;

    }
  }
}
.sds-result-item__header {
  h2 {
    margin-top: 0;
  }
}
