/**********************************
       SEARCH USWDS OVERRIDES
***********************************/
.usa-search {
  @include u-width('full');
  @media only screen and (max-width:480px){
    @include u-flex('row');
  }
  &[role="search"] {
    @include u-display('flex');
  }
  [type='submit'] {
    @include u-bg('indigo-cool-60');
    @include u-radius(0);
    @include u-height(5);
    @include u-minw(5);
    @include u-shadow(3);
    @include u-border(0);
  }

  [type='search'] {
    @include u-height(5);
    @include u-border(1px);
    @include u-border('base-light');
    @include u-shadow(3);
  }
}
.usa-form.usa-search{
   max-width: 45rem;

  [type='search'],
  .usa-search__input{
    @include u-width('full');
    max-width: unset;
  }
  select {
    @include u-margin-top(0);
    @include u-height(5);
    @include u-border(1px);
    @include u-border('base-light');
    @include u-border-right(0);
    @include u-shadow(3);
    @media only screen and (min-width:480px){
      @include u-maxw('card-lg');
    }
  }
}

/*******************************
       Inverse Select
*******************************/
.usa-form.usa-search.sds-inverse {
  select {
    @include u-bg('black');
    @include u-text('white');
    background-image: url('#{$theme-image-path}/sam/arrow-down-white.svg');
    background-repeat: no-repeat;
    background-size: 0.75rem;
  }
    @media only screen and (max-width:480px){
      @include u-flex('column');
      select {
        @include u-width('full');
        max-width: unset;
      }
    }
    .sds-inverse__search{
      @include u-display('flex');
      @include u-flex('row');
      @include u-width('full');
      @media only screen and (min-width:480px){
        @include u-flex('row');
      }
    }
}

/************************************
       Big Search USWDS OVERRIDES
*************************************/
.usa-search.usa-search--big{
  [type='submit'] {
    @include u-bg('indigo-cool-60');
    @include u-radius(0);
    @include u-width(5);
    background-image: url('#{$theme-image-path}/search.svg');
    background-repeat: no-repeat;
      @media (min-width: 30em) {
        background-size: 1.5rem;
      }
  }
  @media (min-width: 30em) {
    [type="search"],
    [type='submit'],
    .usa-select {
      @include u-font('sans', 'md');
      @include u-height(8);
    }
  }
}
