/**********************************
       SEARCH USWDS OVERRIDES
***********************************/
.usa-search {
  [type='submit'] {
    @include u-bg('indigo-cool-60');
    @include u-radius(0);
    height: units(5);
    min-width:48px;
  }
}

[type='search'] {
  height: units(5);
  border: 1px solid color('base-light');
}

.usa-form.usa-search {
  max-width: 40rem;

  [type='search'],
  .usa-search__input{
    width: 100%;
    max-width: 40rem;
  }
  select {
    @include u-margin-top(0);
    height: units(5);
    max-width: 12rem;
    @include u-border('solid');
    @include u-border(1px);
    @include u-border('base-light');
    border-right-width: 0;
  }
}

/*******************************
       Inverse Select
*******************************/
.usa-form.usa-search.sds-inverse {
  select {
    @include u-bg('black');
    @include u-text('white');
    background-image: url('#{$theme-image-path}/arrow-down-white.svg');
    background-repeat: no-repeat;
  }
    @media only screen and (max-width:480px){
      flex-direction: column;
      select {
        width:100%;
        max-width: unset;
      }
    }
}

/************************************
       Big Search USWDS OVERRIDES
*************************************/
.usa-search.usa-search--big{
  [type='submit'] {
    @include u-bg('indigo-cool-60');
    @include u-radius(0);
    @include u-minw(6);
    background-image: url('#{$theme-image-path}/search.svg');
    background-repeat: no-repeat;
  }

  @media only screen and (min-width:480px){
    [type='submit'],
     select {
      @include u-height(6);
    }
  }
}
