.sds-seal {
  @include u-radius-left('pill');
  @include u-bg('white');
  @include u-padding-y('105');
  @include u-padding-x(2);
  @include u-display('flex');
  @include u-flex('row', 'align-center');
  @include u-border('2px','error', 'solid');
  @include u-position('absolute');
  @include u-right(0);
  @include u-top(3);
  @include u-border-right(0);
  height: 75px;
  width: 350px;
  box-shadow: 0 0 0 5px white;

  .sds-seal__content {
    @include u-display('flex');
    @include u-flex('column', 'align-center');
    @include u-padding-x('105');
    @include u-text('bold');
    @include u-text('center');
    color: color('error-dark');

    span {
      color: color('base');
    }
  }
  @include at-media('tablet-lg') {
    @include u-display('none');
  }
}
