.sds-seal {
  @include u-radius-left('pill');
  @include u-bg('white');
  @include u-padding-y('105');
  @include u-padding-x(2);
  @include u-display('flex');
  @include u-flex('row', 'align-center');
  @include u-border('2px','error', 'solid');
  @include u-radius-left('pill');
  @include u-border-right(0);
  height: 75px;
  width: 350px;
  float: right;
  clear: both;
  box-shadow: -5px 5px 1px 2px white,
  -5px -5px 1px 2px white,
  5px 5px 1px 2px white,
  5px -5px 1px 2px white;

  .sds-seal__content {
    @include u-display('flex');
    @include u-flex('column', 'align-center');
    @include u-padding-x('105');
    @include u-text('bold');
    @include u-text('center');
    color: color('error-dark');

    span {
      color: color('base');
    }
  }
}

@media only screen and (max-width: 880px) {
  .sds-seal {
    @include u-display('none');
  }
}
