$border-color: color('base-light');

.usa-sidenav {
    border-top: 1px $border-color solid;

    .usa-sidenav__sublist {
        .usa-sidenav__sublist {
            .usa-sidenav__sublist {
                a {
                    padding-left: 4rem;
                }

                .usa-sidenav__sublist {
                    a {
                        padding-left: 5rem;
                    }

                    .usa-sidenav__sublist {
                        a {
                            padding-left: 6rem;
                        }

                        .usa-sidenav__sublist {
                            a {
                                padding-left: 7rem;
                            }
                        }
                    }
                }
            }
        }
    }

    &>.sidenav__item {
        border-left: 1px $border-color solid;
        border-right: 1px $border-color solid;

        & a {
            border-bottom: 1px $border-color solid;
        }
    }

    &>.usa-sidenav__item {
        border-left: 1px $border-color solid;
        border-right: 1px $border-color solid;

        &>span,
        &>a,
        usa-link-template>span,
        usa-link-template>a {
            border-bottom: 1px $border-color solid;
        }

        usa-link-template>span {
            display: block;
            padding: 0.5rem 1rem;
        }
    }

    a.usa-current>span {
        color: color("ink");
    }

    a>span {
        color: color("secondary");
    }

    &>.usa-sidenav__item,
    &>.sidenav__item {

        &>div>.usa-sidenav__sublist,
        &>.usa-sidenav__sublist {

            &>.sidenav__item>usa-link-template>.usa-current span,
            &>.sidenav__item>.usa-current span {
                margin-left: -1.1rem;
                display: flex;

                &::before {
                    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>');
                    display: block;
                    margin-top: 0.1rem;
                }
            }

            .usa-sidenav__sublist {

                .sidenav__item {
                    @include u-bg('base-lighter');
                }
            }
        }
    }

    &--styled {
        background-color: white;

        .usa-sidenav__item {
            &:not(.usa-current) {
                a {
                    @include u-text("secondary",  !important)
                }
            }

            .usa-sidenav__sublist {
                a {
                    border-bottom: 1px $border-color solid;
                }
            }
        }


    }

}