.usa-sidenav {

  &__item .usa-sidenav__item {
    border-top: none;
  }

  a {
    color: color('ink');
    font-weight: font-weight('semibold');
    &:hover {
      background-color: color('base-lightest');
      color: color('secondary-light');
    }
  }

  .usa-current {
    @include add-bar(
      $theme-sidenav-current-border-width,
      'secondary-darker',
      'left',
      0,
      0,
      0
    );
    color: color('secondary-darker');
    font-weight: font-weight('semibold');
    &.sds-sidenav__label {
      @include u-display('block');
      padding: units(1) 0 units(2);
    }
  }
}
