$slide-out-width: 15rem;

.dialog-slide-out {
  position: fixed !important;
  bottom: 0;
  top: 0;
  width: $slide-out-width;
  height: 100%;

  &.sds-dialog__container{
    max-height: unset;
    padding: 0;
  }
}