.usa-step-indicator__total-steps {
  @include u-text('secondary');
}

.usa-step-indicator__current-step {
  @include u-bg('secondary');
}

.usa-step-indicator--counters .usa-step-indicator__segment--complete::before,
.usa-step-indicator--counters-sm .usa-step-indicator__segment--complete::before {
  @include u-bg('secondary-dark');
}

.usa-step-indicator--counters .usa-step-indicator__segment--current::before,
.usa-step-indicator--counters-sm .usa-step-indicator__segment--current::before {
  @include u-bg('secondary');
}

.usa-step-indicator__segment:after {
  @include u-bg('base-light');
}

.usa-step-indicator__segment--complete {
  &::before {
    @include u-bg('secondary-dark');
  }

  &::after {
    @include u-bg('secondary-dark');
  }

  .usa-step-indicator__segment-label {
    @include u-text('secondary-dark');
  }
}

.usa-step-indicator__segment--current {
  &::before {
    @include u-bg('secondary');
  }

  &::after {
    @include u-bg('secondary');
  }

  .usa-step-indicator__segment-label {
    @include u-text('secondary');
  }
}
// BREAK THEMES
.usa-step-indicator.usa-step-indicator--counters{
  @import "../theme/_uswds-theme-color.scss";
}
