$usa-table-border: "1px";

%usa-table--highlight {
  @include u-bg('accent-cool-lighter');
}

%usa-table--cell {
  @include u-padding-y(1);
  @include u-padding-x(2);
  color: inherit;
  font-size: inherit;
  border: 0;
}

.usa-table {
    @extend .usa-table;
    width: 100%;
    border-collapse: separate;
    margin: 0;

    @include u-border('base-light', $usa-table-border);
    height: inherit;
    max-height: inherit;
    overflow: auto;
    &--borderless {
      border: 0;
    }

    thead {
      th, td {
        @extend %usa-table--cell;
        @include u-border-bottom('base-light', $usa-table-border);
        @include u-text('semibold');
        @include u-bg("base-lighter");
      }
    }

    tfoot {
      th, td {
        @extend %usa-table--cell;
        @include u-border-top('base-light', $usa-table-border);
        @include u-text('semibold');
        @include u-bg("base-lighter");
      }
    }

    tbody {
      th, td {
        @extend %usa-table--cell;
      }

      // tiger stripes for tables without subsections or expandable rows
      &:only-of-type:not(tr) {
        tr:nth-of-type(even) > td {
          @include u-bg("base-lightest");
        }
      }

      &.usa-table__subsection {
        tr > th {
          @include u-text('semibold');
          @include u-bg('accent-cool-lighter');
        }
      }
    }

    // sticky column border
    .usa-table__heading--sticky:first-child, .usa-table__cell--sticky:first-child {
      @include u-border-right('base-light', $usa-table-border);
    }

    &__subsection {
      tr:first-child > th {
        @extend %usa-table--highlight;
      }
      // tiger stripes for subsections
      tr:nth-of-type(odd) {
        td {
          @include u-bg("base-lightest");
        }
      }
      // remove double border with thead bottom border
      &:first-of-type > tr > th {
        border-top: 0;
      }
    }

    .sds-button.usa-button--unstyled {
      color: inherit;
      padding: 0;
      background: inherit;
    }
  }
