.sds-tabs--default {
  @include u-display('flex');
  @include u-border-bottom('1px', 'base-dark');
}

.sds-tabs__item {
  background-color: color("accent-cool-lighter");
  @include u-border-bottom('1px', 'base-dark');
  @include u-border-left('1px', 'base-dark');  
  @include u-border-top('1px', 'base-dark');
  @include u-display('inline-block');
  @include u-padding-x(8);
  @include u-padding-y(1);
  cursor: pointer;
  font-weight: font-weight('bold');
  margin-bottom: -1px;
  border-radius: 10px 10px 0 0;
  max-width: 50%;
  overflow: auto;
  text-overflow: ellipsis;
}

.sds-tabs__item:hover {
  @include u-text('secondary-light');
  @include u-bg('white')
}

.sds-tabs__item:disabled {
  @include u-bg('base-light');
  @include u-text('base');
  cursor: not-allowed;
}

.sds-tabs__item:visited[aria-selected=true], .sds-tabs__item[aria-selected=true] {
  @include u-text('ink');
  pointer-events: none;
  @include u-bg('white');
  @include u-border-bottom(0);
}

.sds-tabs__content {
  min-height: 4em;
  @include u-bg('white');
  @include u-border-left('1px', 'base-dark');  
  @include u-border-right('1px', 'base-dark');  
  @include u-border-bottom('1px', 'base-dark');  
  @include u-padding(2);
}

.sds-tabs--full {
  @include u-display('flex');
  @include u-border-bottom('1px', 'base-dark');  
  .sds-tabs__item {
    width: 50%;
  }
}

// Style for tabs when used inside filters
.sds-tabs--formly {
  // margin-left: -1rem;
  // margin-right: -1rem;
  @include u-display('flex');


  .sds-tabs__item {
    @include u-padding-x('2px');
    @include u-bg('base-lighter');
    @include u-text('secondary-dark');
    @include u-border-top('1px', 'secondary-lighter');
    @include u-border-right('1px', 'secondary-lighter');
    @include u-border-bottom('1px', 'secondary-lighter');
    font-weight: font-weight('bold');
    width: 50%;
    border-left: none;
  }

  .sds-tabs__item:hover {
    @include u-bg('base-lightest');
  }

  .sds-tabs__item[aria-selected="true"] {
    @include u-bg('base-lightest');
    border-bottom: none;
    @include u-text('ink');
  }

  + .sds-tabs__content {
    @include u-padding-x(1);
    border-left: none;
    border-right: none;
  }
}
