$sds-table-border: "1px";

.sds-table {
  @extend .usa-table;
  @include u-border('base-light', $sds-table-border);
  thead {
    @include u-border-bottom('base-light', $sds-table-border);
    th {
      @include u-text('semibold');
      background: $theme-color-base-lighter;
    }
  }
  td, th {
    border: 0;
  }
  &--borderless {
    border: 0;
  }
}