//****************************
//SDS TILE
.sds-tile {
  @include u-display('flex');
  @include u-flex('align-center');
  @include u-flex('justify-center');

  .sds-tile__body {
    @include u-display('block');
    @include u-padding-left('2');

    header {
      @include u-font('sans', 'md');
      @include u-text('bold');

    }
    .sds-list {
      @include u-margin-top(0);
      @include u-padding-left(0);
      list-style-type: none;

      li {
        @include u-padding-bottom(0);
      }
    }
  }
}

//****************************
//SDS TILE OUTLINE
.sds-tile--outline {
  border: 2px solid white;
  border-radius: 20px;
  padding: 32px;
  background: rgba(240, 245, 249, 0.8);
  width: 100%;
  height: auto;

  .sds-tile__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #767676;

    button {
      margin: 8px auto 8px auto;
    }
  }

  a {
    font-weight: bold;
  }
}
