.toast-info {
    .sds-toast__content {
        @include u-border('2px');
        @include u-border('secondary-light');
    }

    .sds-toast__content__icon {
        @include u-text('secondary-light')
    }
}

.toast-success {
    .sds-toast__content {
        @include u-border('2px');
        @include u-border('primary-dark');      
    }

    .sds-toast__content__icon {
        @include u-text('primary-dark')
    }
}
.sds-toast {
    @include grid-row;
    @include u-text('semibold'); 
    @include u-margin-top(2);

 

    .sds-toast__content {
        min-width: 256px;
        @include u-width('full');
        @include at-media('mobile-lg') {
            max-width: 456px;
            @include u-width('auto');
        }
        @include u-display('inline-flex');
        @include u-flex('align-center');
        @include u-radius('lg');
        @include u-shadow(2);
        @include u-bg('white');
    }

    .sds-toast__content__icon {
        @include u-margin-y(2);
        @include u-margin-left(2);
    }

    .sds-toast__content__close {
        @include u-margin-right(1);
        @include u-margin-top(1);
        @include u-text('disabled-dark');
        align-self: baseline;
        cursor: pointer;
    }

    .sds-toast__content__text {
        @include u-font('sans', 'sm');
        @include u-flex("fill");
        @include u-margin-x(1);
        @include u-margin-y(2);

        @include at-media('mobile') {
            @include u-font('sans', 'md');
        }
    }


   
}