/* stylelint-disable */
.sds-toolbar,
.sds-toolbar__header,
.sds-toolbar__content,
.sds-page__content {
  transition: all 0.2s ease-out;
}

.sds-toolbar {
  z-index: 2;
  border: 1px solid #fff;
  overflow: hidden;
  display: inline-block;
  }
  .sds-toolbar a {
    text-decoration: none;
    color: #76766a;
  }

  .sds-toolbar .usa-sidenav .usa-sidenav__sublist .usa-current::after {
    background-color: transparent;
    border-radius: 0;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 0.25rem;
    left: 0;
  }
  .sds-toolbar .usa-sidenav .usa-sidenav__sublist .usa-current span {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAYAAABit09LAAAABHNCSVQICAgIfAhkiAAAAWRJREFUKJFt0bFrFEEUx/Hvb4b7A5QUgRRBCyFNiiR3cGcp/gMWV0gIaWxsTGETSHGVKdKkCClShViIgqDNFddZyO4OC16TVsxhwN7q9tx5FsawN7np3o8P8+a9UZZlG865M2AJ2Ot0Op8lGclx3vtzYBNYBT6UZfnEzNwdGGN80KhbdV2/L8tyy8w0ByV9aQaS7scY3xVFsZbeeAhcJZ0eOufOiqK47ea63e5XSQfAr6Y0s8eS3oQQlgF0EyqE8BrYB+4ltx9VVXXobt5l3vtj4DydFthrtVo7c5ONx+OV6XT6cwH+MbevqqrqBQgzwyXBzgL3Bzi+hSGEZ8DLVEk6nc1mFwLI8/yppBPgUdLhY4zxVa/Xu1ae55uS3gJrCSq898/b7fZ3+PeFBykCrmKML/4jAAesJ+i3mW2PRqPLZugkfWvUtaTdyWSSDQaDOAdjjPtmlgHXZrY9HA4/9fv9O/v8Cz0+lHP+xemeAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    margin-left: -1.1rem;
    padding-left: 1.1rem;
  }

.sds-toolbar + * {
  margin-left: 25px;
  transition: all 0.2s ease-out;
  display: inline-block;
}

.sds-toolbar.sds-toolbar--expanded {
  background-color: white;
  border: 1px solid #d8d8d8;
  box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.06);
  width: 300px;
  height: fit-content;
}

.sds-toolbar__header {
  display: block;
}

.sds-toolbar.sds-toolbar.sds-toolbar--expanded .sds-toolbar__header {
  padding: 10px 15px;
}

.sds-toolbar__toggle {
  background-color: #fff;
  border: 1px solid #000000;
  width: 31px;
  height: 29px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.sds-toolbar__toogle-btn {
  background-color: #f7f9fa;
  border: 1px solid #979797;
  width: 64px;
  height: 44px;
  padding: 6px;
  border-radius: 4px;
  display: block;

  position: relative;
}

.sds-toolbar__toogle-btn::before {
  content: '';
  display: block;
  background-color: #eff6fb;
  border: 2px solid #112f4e;
  width: 9px;
  height: 18px;
  transition: all 0.3s ease-in-out;
  position: absolute;
    z-index: 1;
    top: 11px;
    left: 11px;
}

.sds-toolbar__toogle-btn::after {
  content: '';
  display: block;
  border: 3px solid silver;
  border-top: none;
  border-left: none;
  height: 8px;
  width: 8px;
  margin: 0 0 0 10px;
  transform: rotate(45deg);
  transition: transform .2s;
  position: absolute;
    right: 8px;
    top: 17px;
}
.sds-toolbar.sds-toolbar--expanded .sds-toolbar__toogle-btn::after {
  transform: rotate(223deg);
}

.sds-toolbar__toogle-btn:hover::before {
  background-color: #b7f5bd;
}

.sds-toolbar.sds-toolbar--expanded .sds-toolbar__toogle-btn::before {
  height: 9px;
}

.sds-toolbar .sds-toolbar__content {
  display: block;
  overflow: hidden;
  opacity: 0;
}

.sds-toolbar.sds-toolbar--expanded .sds-toolbar__content {
  opacity: 1;
}

/* Accordion inside toolbar tweaks */
.sds-toolbar.sds-toolbar--expanded .sds-toolbar__content > .sds-accordion {
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
}

.sds-toolbar.sds-toolbar--expanded
.sds-toolbar__content
> .sds-accordion
> .sds-accordion__item:first-of-type {
  border-top-width: 0;
}

.sds-toolbar.sds-toolbar--expanded
.sds-toolbar__content
> .sds-accordion
> .sds-accordion__item {
  border-left-width: 0;
  border-right-width: 0;
}

/* Nav inside toolbar tweaks */
.sds-toolbar.sds-toolbar--expanded .sds-toolbar__content > .sds-accordion nav {
  border: 1px solid #d6d7d9;
  border-radius: 0 6px 6px 0;
  background-color: white;
}

.sds-toolbar__anim--expanded {
  margin-left: 20px;
}

.sds-accordion__trigger {
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
  outline: none !important;
  cursor: pointer;
  border-style: none;
  background-color: white;
}

.sds-accordion__trigger:focus,
.sds-accordion__trigger:hover {
  background: #eff6fb;
}

.sds-accordion .sds-accordion__trigger::-moz-focus-inner {
  border: 0;
}

.sds-accordion__title {
  display: block;
  pointer-events: none;
  border: transparent 1px dashed;
  border-radius: 2px;
  outline: none;
  padding: 6px 10px;
}

.sds-accordion__trigger:focus .sds-accordion__title {
  //border-color: hsl(216, 94%, 73%);
}
.sds-accordion__title-text {
  display: inline-block;
  font-weight: 400;
  div:last-child{
    font-weight: 600;
  }
}
.sds-accordion__item {
  display: block;
  overflow: hidden;
  padding: 6px;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.sds-accordion__item--expanded {
  background-color: #eff6fb;
  overflow: visible;
  box-shadow: inset 0 1px 7px 0 rgba(30, 75, 198, 0.16);
}
.sds-accordion__trigger:focus .sds-accordion__icon,
.sds-accordion__trigger:hover .sds-accordion__icon {
  background-color: white;
}

.sds-accordion__icon {
  transition: transform 0.2s ease-in;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  position: absolute;
  right: 10px;
  border-radius: 50%;
  background-color: #e2e2e2;
}

.sds-accordion__icon::before {
  content: '';
  display: block;
  width: 11px;
  height: 0;
  border-bottom: solid 1px #0a3466;
  position: absolute;
  left: 6px;
  bottom: 11px;
  transform: rotate(90deg);
  transition: width 0.2s ease-in;
}

.sds-accordion__icon::after {
  content: '';
  display: block;
  width: 11px;
  height: 0;
  border-bottom: solid 1px #0a3466;
  position: absolute;
  left: 6px;
  bottom: 11px;
  transition: width 0.2s ease-in;
}

.sds-accordion__trigger[aria-expanded='true'] .sds-accordion__icon {
  transform: rotate(0deg);
  background-color: white;
}

.sds-accordion__trigger[aria-expanded='true'] .sds-accordion__icon::after {
  bottom: 11px;
}

.sds-accordion__trigger[aria-expanded='true'] .sds-accordion__icon::before {
  width: 0;
  transform: rotate(90deg);
}

.sds-accordion__trigger[aria-expanded='true'] {
  color: #0a3466;
  background-color: #eff6fb;
}
.sds-accordion__panel {
  padding: 0;
}

.sds-accordion__panel-body {
  padding: 8px 5px;
}

/* Accordion -- Basic */
.sds-accordion.sds-accordion--basic {
  border-color: transparent;
  padding-bottom: 0;
}

.sds-accordion.sds-accordion--basic.focus {
  //border-color: hsl(216, 94%, 73%);
}

.sds-accordion.sds-accordion--basic .sds-accordion__item {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}

.sds-accordion.sds-accordion--basic .sds-accordion__item--expanded {
  background-color: transparent;
  box-shadow: none;
}

.sds-accordion.sds-accordion--basic .sds-accordion__trigger {
  background-color: transparent;
  font-size: 16px;
}

.sds-accordion.sds-accordion--basic
.sds-accordion__trigger[aria-expanded='true'] {
  background-color: transparent;
}

.sds-accordion.sds-accordion--basic .sds-accordion__icon {
  border: solid #0a3466;
  border-width: 0 1px 1px 0;
  height: 0.5rem;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-60%) rotate(45deg);
  width: 0.5rem;
  border-radius: 0;
  background-color: transparent;
}

.sds-accordion.sds-accordion--basic
.sds-accordion__trigger[aria-expanded='true']
.sds-accordion__icon {
  transform: rotate(-135deg);
}

.sds-accordion.sds-accordion--basic .sds-accordion__icon::before,
.sds-accordion.sds-accordion--basic .sds-accordion__icon::after {
  content: none;
}

.sds-accordion.sds-accordion--basic
.sds-accordion__panel
.sds-accordion__panel-body {
  margin: 0 5px;
  padding: 1px 8px 10px;
  background-color: white;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}


/* stylelint-enable */
