/* stylelint-disable */
.sds-toolbar,
.sds-toolbar__header,
.sds-toolbar__content,
.sds-page__content {
  transition: all 0.2s ease-out;
}

.sds-toolbar {
  z-index: 2;
  border: 1px solid #fff;
  overflow: hidden;
  display: inline-block;
  max-width: 300px;
}

.sds-toolbar + * {
  margin-left: 25px;
  transition: all 0.2s ease-out;
  display: inline-block;
}

.sds-toolbar.sds-toolbar--expanded {
  background-color: white;
  border: 1px solid #d8d8d8;
  box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.06);
}

.sds-toolbar__header {
  display: block;
}

.sds-toolbar.sds-toolbar.sds-toolbar--expanded .sds-toolbar__header {
  padding: 10px 15px;
}

.sds-toolbar__toggle {
  background-color: #f7f9fa;
  border: 1px solid #979797;
  padding: 6px;
  border-radius: 4px;
  width: 45px;
  height: 44px;
}

.sds-toolbar__toogle-btn {
  background-color: #fff;
  display: block;
  width: 31px;
  height: 29px;
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.sds-toolbar__toogle-btn::before {
  content: '';
  display: block;
  background-color: #eff6fb;
  border: 2px solid #112f4e;
  width: 9px;
  height: 18px;
  transition: all 0.3s ease-in-out;
}

.sds-toolbar__toogle-btn:hover::before {
  background-color: #b7f5bd;
}

.sds-toolbar.sds-toolbar--expanded .sds-toolbar__toogle-btn::before {
  height: 9px;
}

.sds-toolbar .sds-toolbar__content {
  display: block;
  overflow: hidden;
  opacity: 0;
}

.sds-toolbar.sds-toolbar--expanded .sds-toolbar__content {
  opacity: 1;
}

/* Accordion inside toolbar tweaks */
.sds-toolbar.sds-toolbar--expanded .sds-toolbar__content > .sds-accordion {
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
}

.sds-toolbar.sds-toolbar--expanded
.sds-toolbar__content
> .sds-accordion
> .sds-accordion__item:first-of-type {
  border-top-width: 0;
}

.sds-toolbar.sds-toolbar--expanded
.sds-toolbar__content
> .sds-accordion
> .sds-accordion__item {
  border-left-width: 0;
  border-right-width: 0;
}

/* Nav inside toolbar tweaks */
.sds-toolbar.sds-toolbar--expanded .sds-toolbar__content > .sds-accordion nav {
  border: 1px solid #d6d7d9;
  border-radius: 0 6px 6px 0;
  background-color: white;
}

.sds-toolbar__anim--expanded {
  margin-left: 20px;
}
/* stylelint-enable */
