<table class="usa-table">
  <caption>lorem ipsum</caption>
  <thead>
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&ltp class="p p--error">&lt/p></th>
      <td><p class="p p--error">Error Paragraph</p></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.25rem / Color: Error-Dark (#B51D09)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="p p--error p--large">&lt/p></th>
      <td><p class="p p--error p--large">Error Large Paragraph</p></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Color: Error-Dark (#B51D09)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="p p--error p--fine-print">&lt/p></th>
      <td><p class="p p--error p--fine-print">Error Fine Print Paragraph</p></td>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1rem / Color: Error-Dark (#B51D09)</td>
    </tr>
  </tbody>
</table>