<table class="usa-table">
  <caption>lorem ipsum</caption>
  <thead>
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&ltp>&lt/p></th>
      <td><p>Hello World</p></td>
      <td>Weight: Bold / Size: 2.5rem / Line Height: 3rem / Color: Base (#76766a)</td>
    </tr>
    <tr>
      <th scope="row">&lth2>&lt/h2></th>
      <td><h2>Hello World</h2></td>
      <td>Weight: Semi-Bold / Size: 2rem / Line Height: 2.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth3>&lt/h3></th>
      <td><h3>Hello World</h3></td>
      <td>Weight: Bold / Size: 1.5rem / Line Height: 2rem / Color: Base-Dark (#454540)</td>
    </tr>
  </tbody>
</table>