<table class="usa-table">
  <caption>Links</caption>
  <thead>
    <tr>
    <!--  <th scope="col">Heading</th> -->
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">&ltp>&lta class="usa-link">&lt/a class="usa-link">&lt/p></th> -->
      <td><a href="#" class="usa-link">Regular Link</a></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <!-- <th scope="row">&ltp class="large">&lta class="usa-link">&lt/a class="usa-link">&lt/p></th>-->
      <td><a href="#" class="usa-link usa-link--large">Large Link</a></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.25rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <!-- <th scope="row">&ltp class="small">&lta class="usa-link">&lt/a class="usa-link&lt/p></th>-->
      <td><a href="#" class="usa-link usa-link--small">Small Link</a></td>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <!-- <th scope="row">&ltp>&lta class="usa-link usa-color-text-visited">&lt/a class="usa-link">&lt/p></th>-->
      <td><a href="#" class="usa-link usa-link--visited">Visited Link</a></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.25rem / Color: PLACEHOLDER (#54278F)</td>
    </tr>
    <tr>
      <!-- <th scope="row">&ltp>&lta class="usa-link usa-color-text-hover">&lt/a class="usa-link">&lt/p></th>-->
      <td><a href="#" class="usa-link usa-link--hover">Hover Link</a></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.25rem / Color: PLACEHOLDER (#8A7237)</td>
    </tr>
    <tr>
      <!-- <th scope="row">&ltp>&lta class="usa-link usa-color-text-hover">&lt/a class="usa-link">&lt/p></th>-->
      <td><div class="bg-base-dark"><a href="#" class="usa-link usa-link--inverse">Inverse Link</a></div></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1rem / Color: PLACEHOLDER</td>
    </tr>
    <tr>
      <!-- <th scope="row">&ltp>&lta class="usa-link usa-color-text-hover">&lt/a class="usa-link">&lt/p></th>-->
      <td><div class="bg-base-dark"><a href="#" class="usa-link usa-link--inverse usa-link--inverse-visited">Inverse Visited Link</a></div></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1rem / Color: PLACEHOLDER</td>
    </tr> 
    <tr>
      <!-- <th scope="row">&ltp>&lta class="usa-link usa-color-text-hover">&lt/a class="usa-link">&lt/p></th>-->
      <td><div class="bg-base-dark"><a href="#" class="usa-link usa-link--inverse usa-link--inverse-hover">Inverse Hover Link</a></div></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1rem / Color: PLACEHOLDER</td>
    </tr>
  
  </tbody>
</table>