<table class="usa-table">
  <caption>Paragraph</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p>Paragraph</p></td>
      <th scope="row">&ltp>&lt/p></th>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><p class="p p--large">Large Paragraph</p></td>
      <th scope="row">&ltp class="p p--large">&lt/p></th>      
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><p class="p p--fine-print">Fine Print Paragraph</p></td>
      <th scope="row">&ltp class="p p--fine-print">&lt/p></th>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><p class = "p p--semibold">Semibold Paragraph</p></td>
      <th scope="row">&ltp class="p p--semibold">&lt/p></th>
      <td>Weight: Semibold / Size: 1rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><p class="p p--large p--bold">Bold Large Paragraph</p></td>
      <th scope="row">&ltp class="p p--large p--bold">&lt/p></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>    
    <tr>
      <td><p class="p p--fine-print p--italic">Italic Fine Print Paragraph</p></td>
      <th scope="row">&ltp class="p p--fine-print p--italic">&lt/p></th>
      <td>Weight: Italic / Size: 0.87rem / Line Height: 1rem / Color: Base-Dark (#454540)</td>
    </tr>       
    <tr>
      <td><p class="p p--bold p--color">Color Bold Paragraph</p></td>
      <th scope="row">&ltp class="p p--bold p--color">&lt/p></th>
      <td>Weight: Bold / Size: 1rem / Line Height: 1.25rem / Color: Primary</td>
    </tr>    
  </tbody>
</table>

<div>
  <h3>Regular Paragraph</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
&nbsp;
<div>
  <h3>Large Paragraph</h3>
  <p class="p p--large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
&nbsp;
<div>
  <h3>Fine Print Paragraph</h3>
  <p class="p p--fine-print">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
&nbsp;
<div>
  <h3>Semibold Paragraph</h3>
  <p class="p p--semi-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
&nbsp;
<div>
  <h3>Large Bold Paragraph</h3>
  <p class="p p--large p--bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
&nbsp;
<div>
  <h3>Fine Print Italic Paragraph</h3>
  <p class="p p--fine-print p--italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
&nbsp;
<div>
  <h3>Color Bold Paragraph</h3>
  <p class="p p--bold p--color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>