<table class="usa-table">
  <caption>lorem ipsum</caption>
  <thead>
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&ltp class="error">&lt/p></th>
      <td><p class="p p--error">Hello World</p></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1rem / Color: Error-Dark (#B51D09)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="error--large">&lt/p></th>
      <td><p class="p p--error p--large">Hello World</p></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 2.5rem / Color: Error-Dark (#B51D09)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="error-small">&lt/p></th>
      <td><p class="p p--error p--small">Hello World</p></td>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 2rem / Color: Error-Dark (#B51D09)</td>
    </tr>
  </tbody>
</table>