<table class="usa-table">
  <caption>Links</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>      
      <td><a href="#" class="usa-link">Regular Link</a></td>
      <th scope="row">&lta class="usa-link">&lt/a></th>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.3rem / Color: Indigo-Cool-60 (#3F57A6)</td>
    </tr>
    <tr>
      <td><a href="#" class="usa-link usa-link--large">Large Link</a></td>      
      <th scope="row">&lta class="usa-link usa-link--large">&lt/a></th>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.3rem / Color: Indigo-Cool-60 (#3F57A6)</td>
    </tr>
    <tr>
      <td><a href="#" class="usa-link usa-link--small">Small Link</a></td>
      <th scope="row">&lta class="usa-link usa-link--small">&lt/a></th>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1.3rem / Color: Indigo-Cool-60 (#3F57A6)</td>
    </tr>
    <tr>      
      <td><a href="#" class="usa-link usa-link--visited">Visited Link</a></td>
      <th scope="row">&lta class="usa-link usa-link--visited">&lt/a></th>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.3rem / Color: Violet-70v (#54278F)</td>
    </tr>
    <tr>
      <td><a href="#" class="usa-link usa-link--hover">Hover Link</a></td>
      <th scope="row">&lta class="usa-link--hover">&lt/a></th>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.3rem / Color: Yellow-50 (#8A7237)</td>
    </tr>
    <tr>
      <td><div class="bg-base-dark"><a href="#" class="usa-link usa-link--inverse">Inverse Link</a></div></td>
      <th scope="row">&ltdiv class="bg-base-dark">&lta class="usa-link usa-link--inverse">&lt/a>&lt/div></th>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.3rem / Color: Blue-10 (#d9e8f6)</td>
    </tr>
    <tr>
      <td><div class="bg-base-dark"><a href="#" class="usa-link usa-link--inverse usa-link--inverse--visited">Inverse Visited Link</a></div></td>
      <th scope="row">&ltdiv class="bg-base-dark">&lta class="usa-link usa-link--inverse usa-link--inverse--visited">&lt/a>&lt/div></th>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.3rem / Color: Accent-Cool-Lighter (#eff6fb)</td>
    </tr> 
    <tr>
      <td><div class="bg-base-dark"><a href="#" class="usa-link usa-link--inverse usa-link--inverse--hover">Inverse Hover Link</a></div></td>
      <th scope="row">&ltdiv class="bg-base-dark">&lta class="usa-link usa-link--inverse usa-link--inverse--hover">&lt/a>&lt/div></th>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.3rem / Color: Secondary-Lighter (#81aefc)</td>
    </tr>
  </tbody>
</table>

<div class="usa-link-wrapper">
  <p>
    <a class="usa-link" href="https://i.giphy.com/media/WPzQF6ruiIIVzHNlwX/source.gif">External Link
      {% render '@icon', {prefix: 'fas', classes: 'fa-xs', icon:'external-link-alt'} %}
    </a>
  </p>
  <p>Source Sans Pro / Regular / 16pt</p>
</div>
<div class="usa-link-wrapper">
  <p>
    <a class="usa-link sds-icon-link sds-icon-link--left" href="javascript:void(0);">
      {% render '@icon', {icon:'angle-left', prefix: 'fa', classes: 'fa-2x'} %}
      Left icon link
    </a>
  </p>
  <p>Source Sans Pro / Regular / 16pt</p>
</div>
<div class="usa-link-wrapper">
  <a class="usa-link sds-icon-link sds-icon-link--right" href="javascript:void(0);">
    Right icon link
    {% render '@icon', {icon:'angle-right', prefix: 'fa', classes: 'fa-2x'} %}
  </a>
</p>
<p>Source Sans Pro / Regular / 16pt</p>
</div>
