<table class="usa-table">
  <caption>Paragraph</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p>Paragraph</p></td>
      <th scope="row">&ltp>&lt/p></th>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><p class="sds-big">Large Paragraph</p></td>
      <th scope="row">&ltp class="sds-big">&lt/p></th>      
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><p class="sds-small">Fine Print Paragraph</p></td>
      <th scope="row">&ltp class="sds-small">&lt/p></th>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1.3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><p class="text-semibold">Semibold Paragraph</p></td>
      <th scope="row">&ltp class="text-semibold">&lt/p></th>
      <td>Weight: Semibold / Size: 1rem / Line Height: 1.3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><p class="sds-big text-bold">Bold Large Paragraph</p></td>
      <th scope="row">&ltp class="sds-big text-bold">&lt/p></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.3rem / Color: Base-Dark (#454540)</td>
    </tr>    
    <tr>
      <td><p class="sds-small text-italic">Italic Fine Print Paragraph</p></td>
      <th scope="row">&ltp class="sds-small text-italic">&lt/p></th>
      <td>Weight: Italic / Size: 0.87rem / Line Height: 1.3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><p class="sds-text-error">Error Paragraph</p></td>
      <th scope="row">&ltp class="sds-text-error">&lt/p></th>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.3rem / Color: Error-Dark (#B50909)</td>
    </tr>
    <tr>
      <td><p class="sds-text-error sds-big">Error Large Paragraph</p></td>
      <th scope="row">&ltp class="sds-text-error sds-big">&lt/p></th>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.3rem / Color: Error-Dark (#B50909)</td>
    </tr>
    <tr>
      <td><p class="sds-text-error sds-small">Error Fine Print Paragraph</p></td>
      <th scope="row">&ltp class="sds-text-error sds-small">&lt/p></th>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1.3rem / Color: Error-Dark (#B50909)</td>
    </tr>
  </tbody>
</table>

<div class="margin-y-4">
  <h3>Regular Paragraph</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
<div class="margin-y-4">
  <h3>Large Paragraph</h3>
  <p class="sds-big">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
<div class="margin-y-4">
  <h3>Fine Print Paragraph</h3>
  <p class="sds-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
<div class="margin-y-4">
  <h3>Semibold Paragraph</h3>
  <p class="text-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
<div class="margin-y-4">
  <h3>Large Bold Paragraph</h3>
  <p class="sds-big text-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
<div class="margin-y-4">
  <h3>Fine Print Italic Paragraph</h3>
  <p class="sds-small text-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
<div class="margin-y-4">
  <h3>Error Paragraph</h3>
  <p class="sds-text-error">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
<div class="margin-y-4">
  <h3>Error Large Paragraph</h3>
  <p class="sds-text-error sds-big">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
<div class="margin-y-4">
  <h3>Error Fine-Print Paragraph</h3>
  <p class="sds-text-error sds-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Dapibus ultrices in iaculis nunc sed augue.</p>
</div>
