<table class="usa-table">
  <caption>lorem ipsum</caption>
  <thead>
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&ltp>&lta class="usa-link">&lt/a class="usa-link">&lt/p></th>
      <td><p><a class="usa-link">Hello World</a></p></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1rem / Color: Error-Dark (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="large">&lta class="usa-link">&lt/a class="usa-link">&lt/p></th>
      <td><p class="p p--large"><a class="usa-link">Hello World</a></p></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 2.5rem / Color: Error-Dark (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="small">&lta class="usa-link">&lt/a class="usa-link">&lt/p></th>
      <td><p class="p p--small"><a class="usa-link">Hello World</a></p></td>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 2rem / Color: Error-Dark (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp>&lta class="usa-link usa-color-text-visited">&lt/a class="usa-link">&lt/p></th>
      <td><p><a class="usa-link usa-color-text-visited">Hello World</a></p></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="large">&lta class="usa-link usa-color-text-visited">&lt/a class="usa-link">&lt/p></th>
      <td><p class="large"><a class="usa-link usa-color-text-visited">Hello World</a></p></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 2.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="small">&lta class="usa-link usa-color-text-visited">&lt/a class="usa-link">&lt/p></th>
      <td><p class="small"><a class="usa-link usa-color-text-visited">Hello World</a></p></td>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 2rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp>&lta class="usa-link usa-color-text-hover">&lt/a class="usa-link">&lt/p></th>
      <td><p><a class="usa-link usa-color-text-hover">Hello World</a></p></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp>&lta class="usa-link usa-color-text-hover">&lt/a class="usa-link">&lt/p></th>
      <td><div class="usa-dark-background"><p><a class="usa-link">Hello World</a></p></div></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp>&lta class="usa-link usa-color-text-hover">&lt/a class="usa-link">&lt/p></th>
      <td><div class="usa-dark-background"><p><a id ="usa-link--dark-hover" class="usa-link usa-color-text-hover">Hello World</a></p></div></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>  
  </tbody>
</table>