<table class="usa-table">
  <caption>Paragraph</caption>
  <thead>
    <tr>
      <th scope="col">Markup</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&ltp>&lt/p></th>
      <td><p>Hello World</p></td>
      <td>Weight: Regular / Size: 1rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="p p--large">&lt/p></th>
      <td><p class="p p--large">Hello World</p></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="p p--small">&lt/p></th>
      <td><p class="p p--small">Hello World</p></td>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1.125rem / Color: Base-Dark (#454540)</td>
    </tr>
  </tbody>
</table>