<h1>Fields</h1>
<p>Examples of how to display fields.</p>

<h3> Horizontal layout and a tag</h3>
<div class="grid-col-4 sds-field">
  <div class="sds-label">
<span class="usa-tag sds-tag--info-purple">DUNS</span>Unique Entity ID
  </div>
  <div class="sds-value">6528545845</div>
</div>
 
<h3> With a paragraph value, no label, and large</h3>
<div class="grid-col-4 sds-field--large">
  <div class="sds-value--paragraph">With a paragraph value, no label, and large</div>
</div>
 
<h3> Stacked layout, smaller size, and link value</h3>
<div class="grid-fill sds-field sds-field--stacked sds-field--small">
  <div class="sds-label">Website</div>
  <div class="sds-value"><a href="www.website.gov">www.website.gov</a></div>
</div>
 
<h3> Stacked layout, Featured and Outlined Status Field</h3>
<div class="grid-auto sds-field sds-field--stacked sds-field--featured">
  <div class="sds-label">Status</div>
  <div class="sds-value">
      <span class="sds-tag sds-tag--outline">
        <i class="sds-status sdss-status--sm sds-status--lightblue"></i>Default
      </span>
  </div>
</div>



<h2>Field</h2>
<div>Display general field.</div>
<sds-page class="condensed">
    <div class="sds-result-item">
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                <div class="sds-group">
                    <!-- Horizontal Config -->
                    <div class="grid-row">
                        <!-- Key/Value Wrapper -->
                        <div class="grid-col">
                            <div class="grid-row">
                                <div class="grid-col-12">
                                    <div class="sds-static--label">Short Emphasized Field:</div>
                                </div>
                                <div class="grid-col-fill">
                                    <p class="sds-static">Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 margin-top-1">
                <div class="sds-group">
                    <!-- Horizontal Config -->
                    <div class="grid-row">
                        <!-- Key/Value Wrapper -->
                        <div class="grid-col">
                            <div class="grid-row">
                                <div class="grid-col-12">
                                    <div class="sds-static--label">Long Text Field:</div>
                                </div>
                                <div class="grid-col-fill">
                                    <p class="sds-static">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, mi at imperdiet imperdiet, lectus velit vehicula dolor, ac scelerisque metus lectus in eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 margin-top-1">
                <div class="sds-group">
                    <!-- Horizontal Config -->
                    <div class="grid-row">
                        <!-- Key/Value Wrapper -->
                        <div class="grid-col">
                            <div class="grid-row">
                                <div class="grid-col-12">
                                    <div class="sds-static--label sds-type--label-title">Featured Field:</div>
                                </div>
                                <div class="grid-col-fill">
                                    <p class="sds-static">Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sds-page>

<h2>Horizontal Field</h2>
<p>Display label and value inline.</p>
<sds-page class="condensed">
    <div class="sds-result-item">
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                <div class="sds-group--horizontal">
                    <div class="grid-row">
                        <div class="grid-col">
                            <div class="grid-row">
                                <div class="grid-col-auto">
                                    <div class="sds-static--label">Short Emphasis Field:</div>
                                </div>
                                <div class="grid-col-fill">
                                    <p class="sds-static">Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sds-page>
<sds-page class="condensed">
    <div class="sds-result-item">
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                <div class="sds-group--horizontal">
                    <div class="grid-row">
                        <div class="grid-col">
                            <div class="grid-row">
                                <div class="grid-col-auto">
                                    <div class="sds-static--label">Long Emphasis Field:</div>
                                </div>
                                <div class="grid-col-fill">
                                    <p class="sds-static">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula, mi at imperdiet imperdiet, lectus velit vehicula dolor, ac scelerisque metus lectus in eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sds-page>
<sds-page class="condensed">
    <div class="sds-result-item">
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                <div class="sds-group--horizontal">
                    <div class="grid-row">
                        <div class="grid-col">
                            <div class="grid-row">
                                <div class="grid-col-auto">
                                    <div class="sds-static--label sds-type--label-title">Featured Field:</div>
                                </div>
                                <div class="grid-col-fill">
                                    <p class="sds-static">Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sds-page>

<sds-page class="condensed">
    <div class="sds-result-item">
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                <div class="sds-group--horizontal">
                    <div class="grid-row">
                        <div class="grid-col">
                            <div class="grid-row">
                                <div class="grid-col-auto">
                                    <div class="usa-tag sds-tag--info-purple sds-static--tag">DUNS</div>
                                </div>
                                <div class="grid-col-auto">
                                    <div class="sds-static--label">
                                        Unique Identity ID:
                                    </div>
                                </div>
                                <div class="grid-col-fill">
                                    <p class="sds-static">Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sds-page>
<sds-page class="condensed">
    <div class="sds-result-item">
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                <div class="sds-group--horizontal">
                    <div class="grid-row">
                        <div class="grid-col">
                            <div class="grid-row">
                                <div class="grid-col-auto">
                                    <div class="usa-tag sds-tag--info-white sds-static--tag">SAM</div>                                </div>
                                <div class="grid-col-auto">
                                    <div class="sds-static--label">
                                        Unique Identity ID:
                                    </div>
                                </div>
                                <div class="grid-col-fill">
                                    <p class="sds-static">Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sds-page>