<div class="usa-link-wrapper">
  <h1>
    <a class="usa-link" href="javascript:void(0);">H1 Link</a>
  </h1>
  <p>Source Sans Pro / Bold / 36px</p>
</div>

<div class="usa-link-wrapper">
  <h2>
    <a class="usa-link" href="javascript:void(0);">H2 Link</a>
  </h2>
  <p>Source Sans Pro / Semi-Bold / 26px / .5</p>
</div>

<div class="usa-link-wrapper">
  <h3>
    <a class="usa-link" href="javascript:void(0);">H3 Link</a>
  </h3>
  <p>Source Sans Pro / Bold / 20px</p>
</div>

<div class="usa-link-wrapper">
  <p>
    <a class="usa-link" href="javascript:void(0);">Paragraph Link</a>
  </p>
  <p>Source Sans Pro / Regular / 16pt</p>
</div>

<div class="usa-link-wrapper">
  <p>
    <a class="usa-link usa-color-text-hover" href="javascript:void(0);">Hover</a>
  </p>
  <p>Source Sans Pro / Regular / 16pt</p>
</div>

<div class="usa-link-wrapper">
  <p>
    <a class="usa-link usa-color-text-visited" href="javascript:void(0);">Visited Link</a>
  </p>
  <p>Source Sans Pro / Regular / 16pt</p>
</div>

<div class="usa-link-wrapper">
  <p>
    <a class="usa-link" href="https://i.giphy.com/media/WPzQF6ruiIIVzHNlwX/source.gif">External Link <i class="fas fa-external-link-alt fa-xs"></i></a>
  </p>
  <p>Source Sans Pro / Regular / 16pt</p>
</div>
<div class="usa-link-wrapper">
 <a class="usa-link sds-icon-link"><i class="fa fa-angle-left fa-2x"></i> Icon Link </a>
</div>

<div class="usa-link-wrapper">
  <div class="usa-dark-background">
    <p>
      <a class="usa-link" href="javascript:void(0);">Link on Dark Background</a>
    </p>
  </div>
  <p>Source Sans Pro / Regular / 16pt</p>
</div>

<div class="usa-link-wrapper">
  <div class="usa-dark-background">
    <p>
      <a id="usa-link--dark-hover" class="usa-link" href="javascript:void(0);">Hover Link on Dark Background</a>
    </p>
  </div>
  <p>Source Sans Pro / Regular / 16pt</p>
</div>