.usa-sidenav {
    &__item .usa-sidenav__item {
      border-top: none;
    }
  
    a:not(.usa-button) {
      color: color("ink");
      font-weight: font-weight("semibold");
  
      &:hover {
        background-color: transparent;
        color: color("secondary");
      }
    }
  
    .usa-current {
      
      @include add-bar($theme-sidenav-current-border-width, "secondary-darker", "left", 0, 0, 0);
      color: color("secondary-darker");
      font-weight: font-weight("semibold");
  
      &.sds-sidenav__label {
        @include u-display("block");
        padding: units(1) 0 units(1) units(2);
        cursor: pointer;
      }
    }
  
  
    .usa-sidenav__sublist .usa-current::after {
      background-color: transparent;
      border-radius: 0;
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      top: 0;
      width: 0.25rem;
      left: 0;
    }
  
    .usa-sidenav__sublist .usa-current span {
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAYAAABit09LAAAABHNCSVQICAgIfAhkiAAAAWRJREFUKJFt0bFrFEEUx/Hvb4b7A5QUgRRBCyFNiiR3cGcp/gMWV0gIaWxsTGETSHGVKdKkCClShViIgqDNFddZyO4OC16TVsxhwN7q9tx5FsawN7np3o8P8+a9UZZlG865M2AJ2Ot0Op8lGclx3vtzYBNYBT6UZfnEzNwdGGN80KhbdV2/L8tyy8w0ByV9aQaS7scY3xVFsZbeeAhcJZ0eOufOiqK47ea63e5XSQfAr6Y0s8eS3oQQlgF0EyqE8BrYB+4ltx9VVXXobt5l3vtj4DydFthrtVo7c5ONx+OV6XT6cwH+MbevqqrqBQgzwyXBzgL3Bzi+hSGEZ8DLVEk6nc1mFwLI8/yppBPgUdLhY4zxVa/Xu1ae55uS3gJrCSq898/b7fZ3+PeFBykCrmKML/4jAAesJ+i3mW2PRqPLZugkfWvUtaTdyWSSDQaDOAdjjPtmlgHXZrY9HA4/9fv9O/v8Cz0+lHP+xemeAAAAAElFTkSuQmCC');
      background-repeat: no-repeat;
      margin-left: -1.1rem;
      padding-left: 1.1rem;
    
      .usa-sidenav a{
        @include u-padding-y(0);
      }
    }
  
    &--styled {
    @include u-border(0);
      @include u-bg('white');
    a {
      color: color("ink");
      @include u-font-family('sans');
        @include u-font-size('body', 'xs');
        @include u-text('semibold');
        @include u-padding-y(2);
    }
  
  
    .usa-sidenav__item{
        @include u-border-x('1px');
        @include u-border-bottom('1px');
        @include u-border('base-light');

        &:first-child {
            @include u-border-top('1px');
        }
        
        &:not(:first-child) {
            @include u-border-top(0);
        }

        &.usa-current > a {
          color: color('secondary-dark');
          font-weight: font-weight('bold');
        }
        &.disabled{
          color: #c9c9c9 !important;
          cursor: auto;
          &:focus{
            outline: none;
          }
        }
  
      }
    }
  
    &.sds-subpanel {
      .usa-sidenav__item {
        a:not(.usa-button) {
          @include typeset-link;
          text-decoration: none;
          font-weight: font-weight("semibold");
  
          &:hover {
            @include u-border('1px', 'base-light');
            color: color("base-dark");
            background-color: color("base-lightest");
            
          }
        }
  
        a.usa-link--active {
          color: color("base-dark");
        }
      }
    }
    &>li:nth-child(1) {
      .usa-sidenav__item{
        @include u-border-top('1px');
      }
    }
  }

