<table class="usa-table">
  <caption>Navigation</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>  
  <tbody>
    {% for item in items %}
    <tr>
      <th scope="row"><element class="{{ item.class }}">{{ item.label }}</element></th>
      {% if item.class %}
      <td>{{ ('<element class="' + item.class + '"></element>') | escape }}</td>
      {% else %}
      <td>{{ '<element></element>' | escape }}</td>
      {% endif %}
      <td>Weight: {{ item.weight }} / Size: {{ item.size }} / Line Height: {{ item.lheight }} / Color: {{ item.color }}</td>
    </tr>
    {% endfor %}
  </tbody>
<!--
  <tbody>
    <tr>
      <td><element class="main-navigation--primary">Primary</element></td>
      <th scope="row">&ltelement class="main-navigation--primary">&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Color: Ink (#2E2E2A)</td>
    </tr>
    <tr>
      <td><element class="main-navigation--secondary">Secondary</element></td>
      <th scope="row">&ltelement class="main-navigation--secondary">&lt/element></th>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1rem / Color: Base (#757575)</td>
    </tr>   
    <tr>
      <td><element class="utility-navigation--header">Utility</element></td>
      <th scope="row">&ltelement class="utility-navigation--header">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.46rem / Line Height: 2rem / Color: PLACEHOLDER (#4D4438)</td>
    </tr>
    <tr>
      <td><element class="side-navigation--selected">Selected Text</element></td>
      <th scope="row">&ltelement class="side-navigation--selected">&lt/element></th>
      <td>Weight: Bold / Size: 0.93rem / Line Height: 1.25rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>  
    <tr>
      <td><element class="side-navigation--unselected">Unselected Text</element></td>
      <th scope="row">&ltelement class="side-navigation--unselected">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 0.93rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="action-menu--header">Action Menu Header</element></td>
      <th scope="row">&ltelement class="action-menu--header">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.06rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="action-menu"><a class="usa-link">Action Menu Link</a></element></td>
      <th scope="row">&ltelement class="action-menu">&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 1.25rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <td><element class="action-menu"><a class="usa-link--hover">Action Menu Link Hover</a></element></td>
      <th scope="row">&ltelement class="action-menu">&lta class="usa-link--hover">&lt/a>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="footer-navigation--group-label">Footer Navigation Group Labels</element></td>
      <th scope="row">&ltelement class="footer-navigation--group-label">&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="footer-navigation"><a class="usa-link">Footer Link</a></element></td>
      <th scope="row">&lthelement class="footer-navigation">&ltha class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 1.25 / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>                                  
  </tbody>
-->  
</table>