<table class="usa-table">
  <caption>Call Out Text</caption>
  <thead>
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&ltp class="navigation--primary">&lt/p></th>
      <td><p class="navigation--primary">Primary</p></td>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1rem / Color: Ink (#2E2E2A)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="navigation--secondary">&lt/p></th>
      <td><p class="navigation--secondary">Secondary</p></td>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1rem / Color: Base (#757575)</td>
    </tr>   
    <tr>
      <th scope="row">&lth2 class="heading--utility-nav">&lt/p></th>
      <td><h2 class="heading--utility-nav">Utility</h2></td>
      <td>Weight: Semi-Bold / Size: 1.46rem / Line Height: 1rem / Color: PLACEHOLDER (#4D4438)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="navigation--sidenav">&lt/p></th>
      <td><p class="navigation--sidenav">Selected Text</p></td>
      <td>Weight: Bold / Size: 0.93rem / Line Height: 1rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>  
    <tr>
      <th scope="row">&ltp class="navigation--sidenav--unselected">&lt/p></th>
      <td><p class="navigation--sidenav--unselected">Unselected Text</p></td>
      <td>Weight: Semi-Bold / Size: 0.93rem / Line Height: 1rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth1 class="heading--action-menu">&lt/h1></th>
      <td><h1 class="heading--action-menu">Action Menu Header</h1></td>
      <td>Weight: Semi-Bold / Size: 1.06rem / Line Height: 1rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth1 class="heading--action-menu--link usa-link">&lt/h1></th>
      <td><h1 class="heading--action-menu--link usa-link">Action Menu Header Link</h1></td>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 1rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&lth1 class="heading--action-menu--link--visited">&lt/h1></th>
      <td><h1 class="heading--action-menu--link--visited">Action Menu Header Link Hover</h1></td>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 1rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth1 class="heading--footer-nav-group--label">&lt/h1></th>
      <td><h1 class="heading--footer-nav--group-label">Footer Navigation</h1></td>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth1 class="heading--footer-nav--link">&ltha class="usa-link">&lt/a>&lt/h1></th>
      <td><h1 class="heading--footer-nav--link"><a class="usa-link">Footer Link</a></h1></td>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 1rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>                                  
  </tbody>
</table>