{#
  title (string): table title in caption tag
  modifiers (array<string>): table modifiers
  head: thead content (optional)
    headers (array<string>): column header
  body: data content
    keys (array<string or object): keys used in data objects which should be displayed (must be in order)
      value (string): key
      heading (Boolean): if data should be the row heading (th)
    data (array<object>): array of data objects with listed keys
    sections (array): use instead of data if using subsections
      title (string): section title
      data (array<object>): array of data objects with listed keys
#}

<table class="sds-table
{%- if modifiers -%}
  {%- for modifier in modifiers %} sds-table--{{modifier}}{%- endfor -%}
{%- endif -%}
">

  {%- if title %}
    <caption>{{title}}</caption>
  {% endif -%}

  {% if head %}
    <thead class="sds-table__head">
      <tr>
        {%- for header in head.headers -%}
          <th scope="col">{{header}}</th>
        {% endfor -%}
      </tr>
    </thead>
  {%- endif -%}

  {%- if body -%}
    {%- block data %}
      <tbody>
        {%- for row in body.data -%}
          <tr>
            {%- for key in body.keys %}
              {%- if key.heading %}
                {%- set key = key.value %}
                <th scope="row">{{ row[key] }}</th>
              {%- else %}
                <td>{{row[key]}}</td>
              {%- endif -%}
            {%- endfor -%}
          </tr>
        {%- endfor -%}
      </tbody>
    {% endblock -%}
  {%- endif -%}
</table>
