{% extends "@table" %}

{% block data %}
	{%- for section in body.sections -%}
		<tbody class="sds-table__subsection">
			<tr class="sds-table__row">
				<th colspan="{{body.keys | length}}" scope="colgroup">{{section.title}}</th>
			</tr>
			{%- for data in section.data -%}
				<tr class="sds-table__row">
					{%- for key in body.keys -%}
						{%- if key.heading %}
							{%- set key = key.value %}
							<th scope="row">{{ data[key] }}</th>
						{%- else %}
							<td>{{ data[key] }}</td>
						{%- endif -%}
					{%- endfor -%}
				</tr>
			{%- endfor -%}
		</tbody>
	{%- endfor %}
{% endblock -%}