<footer class="usa-footer usa-footer--big">
  <div class="sds-feedback">
    <button type="button" class="sds-feedback__button simple-toggle" [attr.aria-expanded]="!isCollapsedContent" aria-controls="collapseID" (click)="isCollapsedContent = !isCollapsedContent">
      <i class="sds-feedback__open sds fa-arrow-down"></i>
      <span class="sds-feedback__title">Feedback</span>
    </button>
    <div id="collapseID" [sdscollapse]="isCollapsedContent" class="sds-feedback__response">
      <div class="tablet:width-tablet-lg">
        <span class="sds-feedback__response-title">One Question
        </span>
        <span class="sds-feedback__response-title-thin">
          Survey</span>
        <p class="sds-feedback__response-text">What changes or improvements would you suggest?</p>
        <input class="sds-feedback__input" type="text">
        <button class="usa-button usa-button--secondary margin-y-2 float-right">Submit</button>
      </div>
    </div>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="sds-footer__wrapper grid-row grid-gap">
      
        <div class="sds-footer__note grid-col-8 desktop:grid-col-12">
          {{ note }}
        </div>
        <div class="sds-footer__logo grid-col-4 desktop:grid-col-3">
          <div class="grid-row">
            <a href="javascript:void(0);" class="sds-footer__logo-link grid-col-4 desktop:grid-col-12">
              <img src="{{ logo | path }}" alt=""/>
            </a>
            <h3 class="sds-footer__logo-heading  grid-col-8 desktop:grid-col-12">{{ agency }}</h3>
          </div>
        </div>
        <div class="desktop:grid-col-9">
          <nav class="usa-footer__nav">
            <div class="grid-row grid-gap-4">
              {%- for nav in navigation -%}
                <div class="grid-col-4">
                  <section class="usa-footer__primary-content">
                    <span class="usa-footer__primary-link">
                      {{ nav.header }}
                    </span>
                    <ul class="usa-list usa-list--unstyled">
                      {%- for item in nav.links -%}
                        <li class="usa-footer__secondary-link">
                          <a href="{{ item.href }}">{{ item.text }}
                            {%-  if item.external -%}
                            &nbsp; <i class="fas fa-external-link-alt fa-xs"></i>
                            {%- endif -%}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </section>
                </div>
              {%- endfor -%}
            </div>
          </nav>
          <nav class="sds-footer__nav--accordion">
            <div class="usa-accordion">
              <!-- -->
              {%- for nav in navigation -%}
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button usa-accordion__block"
                  aria-expanded="false"
                  aria-controls="a{{loop.index}}">
                    {{ nav.header }}
                  </button>
                </h2>
                <div id="a{{loop.index}}" class="usa-accordion__content usa-prose" hidden>

                    {%- for item in nav.links -%}                  <p>
                      
                        <a href="{{ item.href }}">{{ item.text }}
                          {%-  if item.external -%}
                          &nbsp; <i class="fas fa-external-link-alt fa-xs"></i>
                          {%- endif -%}
                        </a>
                      </p>

                    {%- endfor -%}
                    </div>
                  
        
            {%- endfor -%}
              <!-- -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="sds-footer__note">
          {{ note }}
        </div>
      </div>
    </div>
  </div> -->
</footer>
