<footer class="usa-footer usa-footer--big">
  <div class="sds-feedback">
    <h2 class="sr-only">Feedback</h2>
    <button type="button" class="sds-feedback__button simple-toggle" [attr.aria-expanded]="!isCollapsedContent" aria-controls="collapseID" (click)="isCollapsedContent = !isCollapsedContent">
      {% render '@icon', {icon: 'arrow-down', classes: 'sds-feedback__open'} %}
      <span class="sds-feedback__title">Feedback</span>
    </button>
    <div id="collapseID" [sdscollapse]="isCollapsedContent" class="sds-feedback__response">
      <div>
        <span class="sds-feedback__response-title">One Question
        </span>
        <span class="sds-feedback__response-title-thin">
          Survey</span>
        <label for="feedback" class="sds-feedback__response-text">What changes or improvements would you suggest?</label>
        <textarea id="feedback" class="sds-feedback__input" rows="8"></textarea>
        <p class="text-right">
          <button class="usa-button usa-button--secondary">Submit</button>
        </p>
      </div>
    </div>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <nav class="usa-footer__nav">
            <div class="grid-row grid-gap-4">
              {%- for nav in navigation -%}
                <div class="grid-col-6 tablet:grid-col-3">
                  <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                    <h2 class="usa-footer__primary-link">{{ nav.header }}</h2>
                    {%- render '@list', nav.links -%}
                  </section>
                </div>
              {%- endfor -%}
            </div>
          </nav>
        </div>
      </div>
    </div>
    <nav class="sds-footer__nav--accordion">
      <div class="usa-accordion usa-accordion--bordered">
        <!-- -->
        {%- for nav in navigation -%}
          <h2 class="usa-accordion__heading">
            <button class="usa-accordion__button {% if loop.first %} border-top-1px border-base-light {% endif %}" aria-expanded="{{expanded}}" aria-controls="b-a{{loop.index}}">
              {{nav.header}}
            </button>
          </h2>
          <div id="b-a{{loop.index}}" class="usa-accordion__content">
            {%- render '@list', nav.links -%}
          </div>
        {%- endfor -%}
        <!-- -->
      </div>
    </nav>
  </div>
</div>
<div class="usa-footer__secondary-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-4 margin-bottom-4">
        <div class="sds-footer__logo">
          <a class="sds-footer__logo-link" href="javascript:void(0);">
            <img src="{{ logo | path }}" alt="{{ alttext }}"/>
          </a>
          <h3 class="sds-footer__logo-heading">
            {{ agency }}
          </h3>
        </div>
      </div>
      <div class="sds-footer__note grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-8">
        {{ note }}
      </div>
    </div>
  </div>
</div>
</footer>
