<h3>Warning</h3>
<div class="sds-alert">
  <i class="sds fa-exclamation fa-2x"></i>
  <span class="sds-alert-content">
    <b>
      <i>Address Needs to be Updated</i>
    </b><br>
    5438 Kerluke Lake Apt. 937<br>
    Glen Burnie, MD 21061 United States
  </span>
</div>

<h3>Info</h3>
<div class="sds-alert-info">
  <i class="sds fa-exclamation fa-2x"></i>
  <span class="sds-alert-content">
    <b>
      <i>Address Needs to be Updated</i>
    </b><br>
    5438 Kerluke Lake Apt. 937<br>
    Glen Burnie, MD 21061 United States
  </span>
</div>

<h3>Error</h3>
<div class="sds-alert-error">
  <i class="sds fa-exclamation fa-2x"></i>
  <span class="sds-alert-content">
    <b>
      <i>Address Needs to be Updated</i>
    </b><br>
    5438 Kerluke Lake Apt. 937<br>
    Glen Burnie, MD 21061 United States
  </span>
</div>
