<h3>Desktop</h3>

<div class="sds-alert-info">
  <div class="grid-container width-full maxw-full margin-0 padding-0">
    <div class="grid-row">
      <div class="grid-col-auto">
        <i class="sds fa-alert-info fa-2x"></i>
      </div>
      <div class="grid-col-fill">
        <span class="sds-alert-content">
          <b>Less important than Global Alerts</b> Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </span>
      </div>
      <div class="grid-col-auto">
        <div class="sds-alert-button">
          <button aria-controls="alert-info-extension" class="accordion simple-toggle sds-button--circle usa-button--secondary margin-0">
            <i class="fa fa-caret-down"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="grid-row display-none" id="alert-info-extension">
      <div class="grid-col">
        <span class="sds-alert-content sds-alert-content-extended">
          <ul class="usa-list usa-list--unstyled">
            <li class="margin-y-2">
              Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. asdfds Ut enim ad minim veniam. Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="sds-alert">
  <div class="grid-container width-full maxw-full margin-0 padding-0">
    <div class="grid-row">
      <div class="grid-col-auto">
        <i class="sds fa-alert-warning fa-2x"></i>
      </div>
      <div class="grid-col-fill">
        <span class="sds-alert-content">
          <b>Less important than Global Alerts</b> Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </span>
      </div>
      <div class="grid-col-auto">
        <div class="sds-alert-button">
          <button aria-controls="alert-extension" class="accordion simple-toggle sds-button--circle usa-button--secondary margin-0">
            <i class="fa fa-caret-down"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="grid-row display-none" id="alert-extension">
      <div class="grid-col">
        <span class="sds-alert-content sds-alert-content-extended">
          <ul class="usa-list usa-list--unstyled">
            <li class="margin-y-2">
              Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. asdfds Ut enim ad minim veniam. Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="sds-alert-error">
  <div class="grid-container width-full maxw-full margin-0 padding-0">
    <div class="grid-row">
      <div class="grid-col-auto">
        <i class="sds fa-alert-error fa-2x"></i>
      </div>
      <div class="grid-col-fill">
        <span class="sds-alert-content">
          <b>Error Alerts Lorem Ipsum</b> Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </span>
      </div>
      <div class="grid-col-auto">
        <div class="sds-alert-button">
          <button aria-controls="alert-error-extension" class="accordion simple-toggle sds-button--circle usa-button--secondary margin-0">
            <i class="fa fa-caret-down"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="grid-row display-none" id="alert-error-extension">
      <div class="grid-col">
        <span class="sds-alert-content sds-alert-content-extended">
          <ul class="usa-list usa-list--unstyled">
            <li class="margin-y-2">
              Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. asdfds Ut enim ad minim veniam. Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>