<h3>Desktop</h3>

<div class="sds-alert-info">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-10">
        <i class="sds fa-alert-info fa-2x"></i>
        <span class="sds-alert-content">
          <b>Less important than Global Alerts</b> Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </span>
      </div>
      <div class="grid-col-2">
        <div class="sds-alert-button">
          <button aria-controls="myDiv" class="accordion simple-toggle usa-button--circle usa-button--secondary usa-button--secondary-circle search-button--secondary">
            <i class="fa fa-caret-down"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-10" id="myDiv">
        <span class="sds-alert-content sds-alert-content-extended">
          Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. asdfds Ut enim ad minim veniam. Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </span>
      </div>
      <div class="grid-col-2">
      </div>
    </div>
  </div>
</div>

<div class="sds-alert">
<i class="sds fa-alert-warning fa-2x"></i>
<span class="sds-alert-content">
  <b>Less important than Global Alerts</b> Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  </span>
<div class="sds-alert-button">
  <br>
  <button aria-controls="myDiv" class="accordion simple-toggle usa-button--circle usa-button--secondary usa-button--secondary-circle search-button--secondary">
    <i class="fa fa-caret-down"></i>
  </button>
</div>
</div>

<div class="sds-alert-error">
<i class="sds fa-alert-error fa-2x"></i>
<span class="sds-alert-content">
  <b>Error Alerts Lorem Ipsum</b> Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
  </span>
<div class="sds-alert-button">
  <br>
  <button aria-controls="myDiv" class="accordion simple-toggle usa-button--circle usa-button--secondary usa-button--secondary-circle search-button--secondary">
    <i class="fa fa-caret-down"></i>
  </button>
</div>
</div>