<h3>SDS Basic Alert</h3>
<div class="sds-alert--basic">
  <div class="sds-alert--basic-icon">
    <i class="fa fa-exclamation"></i>
  </div>
  <span>Review Required</span>
</div>

<div class="sds-alert--info-basic margin-y-4">
  <div class="sds-alert--basic-icon">
    <i class="fa fa-exclamation"></i>
  </div>
  <span>Review Required</span>
</div>

<div class="sds-alert--error-basic">
  <div class="sds-alert--basic-icon">
    <i class="fa fa-exclamation"></i>
  </div>
  <span>Review Required</span>
</div>
