<div class="height-mobile bg-accent-cool-light padding-y-4">

  <div class="sds-seal">
    <i class="sds fa-flag fa-2x sds-seal__grey margin-y-1 text-secondary"></i>
    <div class="sds-seal__content">
      <div class="sds-seal__official">Official U.S. Government Website</div>
      <div class="sds-seal__free">100% Free</div>
    </div>
  </div>

</div>
