<h3>SDS Expanded Alert</h3>
<div class="sds-alert--expanded info">
  <div class="grid-container width-full maxw-full margin-0 padding-0">
    <div class="grid-row">
      <div class="grid-col-auto">
        {% render '@icon', {icon: 'alert-info', classes: 'fa-2x'} %}
      </div>
      <div class="grid-col-fill">
        <span class="sds-alert--expanded-content">
          <b>Less important than Global Alerts</b> Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </span>
      </div>
      <div class="grid-col-auto">
        <div class="sds-alert--expanded-button">
          <button aria-controls="alert-info-extension" class="accordion simple-toggle sds-button--circle usa-button--secondary margin-0">
            {% render '@icon', {icon:'caret-down', prefix: 'fa'} %}
          </button>
        </div>
      </div>
    </div>
    <div class="grid-row display-none" id="alert-info-extension">
      <div class="grid-col">
        <span class="sds-alert--expanded-content sds-alert--expanded-content-extended">
          <ul class="usa-list usa-list--unstyled">
            <li class="margin-y-2">
              Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. asdfds Ut enim ad minim veniam. Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="sds-alert--expanded">
  <div class="grid-container width-full maxw-full margin-0 padding-0">
    <div class="grid-row">
      <div class="grid-col-auto">
        {% render '@icon', {icon: 'alert-warning', classes: 'fa-2x'} %}
      </div>
      <div class="grid-col-fill">
        <span class="sds-alert--expanded-content">
          <b>Less important than Global Alerts</b> Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </span>
      </div>
      <div class="grid-col-auto">
        <div class="sds-alert--expanded-button">
          <button aria-controls="alert-extension" class="accordion simple-toggle sds-button--circle usa-button--secondary margin-0">
            {% render '@icon', {icon:'caret-down', prefix: 'fa'} %}
          </button>
        </div>
      </div>
    </div>
    <div class="grid-row display-none" id="alert-extension">
      <div class="grid-col">
        <span class="sds-alert--expanded-content sds-alert--expanded-content-extended">
          <ul class="usa-list usa-list--unstyled">
            <li class="margin-y-2">
              Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. asdfds Ut enim ad minim veniam. Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="sds-alert--expanded error">
  <div class="grid-container width-full maxw-full margin-0 padding-0">
    <div class="grid-row">
      <div class="grid-col-auto">
        {% render '@icon', {icon: 'alert-error', classes: 'fa-2x'} %}
      </div>
      <div class="grid-col-fill">
        <span class="sds-alert--expanded-content">
          <b>Error Alerts Lorem Ipsum</b> Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </span>
      </div>
      <div class="grid-col-auto">
        <div class="sds-alert--expanded-button">
          <button aria-controls="alert-error-extension" class="accordion simple-toggle sds-button--circle usa-button--secondary margin-0">
            {% render '@icon', {icon:'caret-down', prefix: 'fa'} %}
          </button>
        </div>
      </div>
    </div>
    <div class="grid-row display-none" id="alert-error-extension">
      <div class="grid-col">
        <span class="sds-alert--expanded-content sds-alert--expanded-content-extended">
          <ul class="usa-list usa-list--unstyled">
            <li class="margin-y-2">
              Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. asdfds Ut enim ad minim veniam. Consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
