<h3>SDS Toasts</h3>
{% for toast in toasts %}
<div class="grid-row">
  <div class="sds-toast sds-toast--{{toast.modifier}} margin-top-2">

    <div class="sds-toast__icon grid-col-auto">
      {% render '@icon', {icon:toast.icon, classes: 'fa-2x'} %}
    </div>
    <span class="sds-toast__content grid-col-fill">{{toast.text}}</span>
    <div class="sds-toast__close grid-col-auto">
      {% render '@icon', {prefix: 'fas', icon: 'times', classes: 'fa-fw'} %}
    </div>
  </div>
</div>
{% endfor %}

</div>