<style>
  .toolbar{
    /* margin: 20px 15px 20px 20px; */
    display: inline-block;
    border: 1px solid #fff;
    transition:all 0.2s ease-in-out;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .toolbar.expanded{
    border: 1px solid #d8d8d8;
    width: 300px;
    box-shadow: 0 14px 24px 0 rgba(0,0,0,0.06);
    border-radius: 1px;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .toolbar.expanded .toolbar-dropdown{
    padding: 10px 15px;
  }
  .toolbar-dropdown {
    position: relative;
    transition:all 0.2s ease-in-out;
  }

  .toolbar-select{
    background-color: #F7F9FA;
    border: 1px solid #979797;
    padding: 6px;
    border-radius: 4px;
    width: 68px;
    height: 44px;
  }

  .toolbar-toggle-button{
    background-color: #fff;
    display: block;
    width: 31px;
    height: 29px;;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.29);
  }

  .toolbar-toggle-button span{
    position: absolute;
    left: -999em;
  }

  .toolbar-toggle-button::before{
    content: '';
    display: block;
    background-color: #EFF6FB;
    border: 2px solid #112F4E ;
    width: 9px;
    transition:all 0.3s ease-in-out;
  }

  .toolbar-toggle-button:hover::before{
    background-color: #B7F5BD;
  }

  .toolbar-toggle-button.collapsed::before{
    height: 9px;
  }

  .toolbar-toggle-button.expanded::before{
    height: 18px;
  }

  .toolbar-options{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 45px;
    list-style: none;
    background-color: white;
    padding: 3px 7px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 14px 24px 0 rgba(0,0,0,0.06);
  }

  .toolbar.expanded .toolbar-options{
    top: 57px;
  }

  .toolbar-options a{
    text-decoration: none;
    color: #112F4E;
  }

  .toolbar-options a:hover{
    color: #5994F6;
  }

  .toolbar-options,
  .toolbar-expanded-content{
    opacity: 0;
    display: none;
    transition:opacity 0.3s ease-in-out;
  }
  .toolbar-options.open,
  .toolbar-expanded-content.open{
    opacity: 1;
    display: block;
  }

  .accordion{
    padding: 12px 16px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    background-color: #fff;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 6px;
  }
  .accordion.open{
    background-color: #EFF6FB;
    box-shadow: inset 0 1px 7px 0 rgba(30,75,198,0.16);
    border-left: 1px solid #aac0d0;
    border-right: 1px solid #aac0d0;
    border-color: #aac0d0;
    transition:all 0.2s ease-in;
  }
  .accordion-header a{
    font-size: 16px;
    font-weight: 600;
    color: #373737;
    text-decoration: none;
    transition:all 0.2s ease-in-out;
  }
  .accordion.open .accordion-header a{
    color: #0A3466;
  }
  .accordion-content{
    display: none;
  }
  .accordion.open .accordion-content{
    padding-top: 10px;
    display: block;
  }

  .page{
    margin: 20px;
    display: grid;
    grid-template-columns: 80px 235px auto;
    grid-template-rows: 46px auto;
  }
  .page-content-header{
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
  }
  .toolbar.expanded + .page-content-header{
    grid-column-start: 3;
  }
  .page-content{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
  }
  .toolbar.expanded + .page-content-header + .page-content{
    grid-column-start: 3;
  }
</style>


<div class="page">
  <div class="toolbar">

    <div class="toolbar-dropdown">
      <div class="toolbar-select">
        <a class="toolbar-toggle-button collapsed" href="">
          <span>Collapse</span>
        </a>
      </div>
      <ul class="toolbar-options">
        <li>
          <a class="toolbar-expand-button" href="">Expand</a>
        </li>
      </ul>
    </div>

    <div class="toolbar-expanded-content">
      <div class="accordion">
        <div class="accordion-header">
          <a href="">Navigation</a>
        </div>
        <div class="accordion-content">Navigation Content</div>
      </div>
      <div class="accordion">
        <div class="accordion-header">
          <a href="">Filters</a>
        </div>
        <div class="accordion-content">Filters Content</div>
      </div>
    </div>

  </div>

  <div class="page-content-header">
    Showing 1 to 10 of 21 registrations
  </div>

  <div class="page-content">
    <h3>Frontier Allied Partners, Inc</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet faucibus arcu id bibendum. Mauris eleifend massa
      purus, eu volutpat erat placerat egestas. 
    </p>
  </div>
</div>


<script>
  
  const toolbarEl = document.querySelector('.toolbar');
  const toggleBtnEl = document.querySelector('.toolbar-toggle-button');
  const toolbarContentEl = document.querySelector('.toolbar-options');
  const toolbarExpandBtnEl = document.querySelector('.toolbar-expand-button');
  const toolbarExpandCtnEl = document.querySelector('.toolbar-expanded-content');

  toggleBtnEl.addEventListener('click', function(event){
    toolbarContentEl.classList.toggle('open');
    event.preventDefault();
  });
  
  toolbarExpandBtnEl.addEventListener('click', (event) => {

    // Update toggle button
    if(toolbarExpandBtnEl.innerHTML == 'Expand'){
      toggleBtnEl.classList.remove('collapsed');
      toggleBtnEl.classList.add('expanded');
      toggleBtnEl.querySelector('span').innerHTML = 'Expand';
      toolbarExpandBtnEl.innerHTML = 'Collapse';
    } else {
      toggleBtnEl.classList.remove('expanded');
      toggleBtnEl.classList.add('collapsed');
      toggleBtnEl.querySelector('span').innerHTML = 'Collapse';
      toolbarExpandBtnEl.innerHTML = 'Expand';
    }
    
    // Close Options
    toolbarContentEl.classList.toggle('open');

    // Close/Open expanded content
    if(toggleBtnEl.querySelector('span').innerHTML == 'Expand'){
      toolbarEl.classList.add('expanded');
      toolbarExpandCtnEl.classList.add('open');
    } else {
      toolbarEl.classList.remove('expanded');
      toolbarExpandCtnEl.classList.remove('open');
    }

    // Prevent default click
    event.preventDefault();
  });

  Array.prototype.slice.call(document.querySelectorAll('.accordion')).forEach(function (accordion) {
    const accordionTriggerEl = accordion.querySelector('.accordion-header a');
    accordionTriggerEl.addEventListener('click', ((event) => {
      accordion.classList.toggle('open');
      event.preventDefault();
    }));
  });

</script>

<!-- <dl id="accordionGroup" role="presentation" class="sam-accordion">
  <dt role="heading" aria-level="3">
    <button aria-expanded="true" class="sam-accordion-trigger" aria-controls="sect1" id="accordion1id" type="button">
      <span class="sam-accordion-icon">
        <i class="fa fa-search fa-lg"></i>
      </span>
      <span class="sam-accordion-title">
        Search
      </span>
    </button>
  </dt>
  <dd id="sect1" role="region" aria-labelledby="accordion1id" class="sam-accordion-panel">
    <div>
      <span class="close">
          <span role="button" class="fa fa-chevron-circle-left fa-lg" tabindex="0" aria-label="Close section" aria-hidden="false">
          </span>
      </span>
      Search Content
    </div>
  </dd>
  <dt role="heading" aria-level="3">
    <button aria-expanded="false" class="sam-accordion-trigger" aria-controls="sect2" id="accordion2id" type="button">
      <span class="sam-accordion-icon">
        <i class="fa fa-cloud fa-lg"></i>
      </span>
      <span class="sam-accordion-title">
        Save
      </span>
    </button>
  </dt>
  <dd id="sect2" role="region" aria-labelledby="accordion2id" class="sam-accordion-panel" hidden="">
    <div>
      <span class="close">
          <span role="button" class="fa fa-chevron-circle-left fa-lg" tabindex="0" aria-label="Close section" aria-hidden="false">
          </span>
      </span>
      Save content
    </div>
  </dd>
  <dt role="heading" aria-level="3">
    <button aria-expanded="false" class="sam-accordion-trigger" aria-controls="sect3" id="accordion3id" type="button">
      <span class="sam-accordion-icon">
        <i class="fa fa-download fa-lg"></i>
      </span>
      <span class="sam-accordion-title">
        Download
      </span>
    </button>
  </dt>
  <dd id="sect3" role="region" aria-labelledby="accordion3id" class="sam-accordion-panel" hidden="">
    <div>
      <span class="close">
          <span role="button" class="fa fa-chevron-circle-left fa-lg" tabindex="0" aria-label="Close section" aria-hidden="false">
          </span>
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
        vel interdum lorem. Suspendisse rhoncus metus tortor, vel porta 
        neque viverra ac. Vivamus ac sem a diam mollis tempor semper eu 
        dui. Vestibulum aliquet a nulla ut efficitur. Nam aliquam rhoncus 
        nunc vitae vehicula. Fusce scelerisque auctor mi vitae iaculis. 
        Donec sit amet aliquam lectus. Quisque bibendum lacus non enim 
        cursus, id lacinia metus placerat. Phasellus eget tortor vitae 
        lacus condimentum sollicitudin ut eu risus. Sed mattis nisl 
        velit, vel viverra odio egestas quis. Sed neque magna, bibendum 
        ac congue eget, interdum at enim. Donec lobortis sollicitudin 
        purus et placerat. Donec a blandit magna. Nam scelerisque mauris 
        vitae velit auctor, non scelerisque erat pretium.
      </p>  
      <p>
        Duis posuere tempor massa sed varius. Morbi sapien lectus, 
        faucibus at aliquam in, gravida sed nisi. Nullam non nisl nec orci 
        pellentesque congue. Pellentesque tempus mauris lacus, ut 
        pellentesque massa tempor nec. Nunc condimentum arcu vel orci 
        dapibus fringilla. Nullam congue venenatis interdum. Curabitur 
        posuere lacinia nisl, ut vestibulum lorem mollis quis. Maecenas ac 
        metus eu eros consequat malesuada quis at tortor. In eu quam lacus. 
        Etiam cursus lobortis finibus. Vestibulum tempus enim non porttitor 
        consequat. Pellentesque placerat risus dui, eu vehicula augue 
        aliquam sit amet. Integer tempor accumsan luctus. Vestibulum id mi 
        in augue luctus sodales nec eu nisl. Quisque placerat purus sed 
        dolor varius, ut elementum augue consequat. Mauris tincidunt ex 
        odio, nec eleifend sapien euismod tincidunt.
      </p>
    </div>
  </dd>
</dl> -->