<dl id="accordionGroup" role="presentation" class="sam-accordion">
  <dt role="heading" aria-level="3">
    <button aria-expanded="true" class="sam-accordion-trigger" aria-controls="sect1" id="accordion1id" type="button">
      <span class="sam-accordion-icon">
        <i class="fa fa-search fa-lg"></i>
      </span>
      <span class="sam-accordion-title">
        Search
      </span>
    </button>
  </dt>
  <dd id="sect1" role="region" aria-labelledby="accordion1id" class="sam-accordion-panel">
    <div>
      <span class="close">
          <span role="button" class="fa fa-chevron-circle-left fa-lg" tabindex="0" aria-label="Close section" aria-hidden="false">
          </span>
      </span>
      Search Content
    </div>
  </dd>
  <dt role="heading" aria-level="3">
    <button aria-expanded="false" class="sam-accordion-trigger" aria-controls="sect2" id="accordion2id" type="button">
      <span class="sam-accordion-icon">
        <i class="fa fa-cloud fa-lg"></i>
      </span>
      <span class="sam-accordion-title">
        Save
      </span>
    </button>
  </dt>
  <dd id="sect2" role="region" aria-labelledby="accordion2id" class="sam-accordion-panel" hidden="">
    <div>
      <span class="close">
          <span role="button" class="fa fa-chevron-circle-left fa-lg" tabindex="0" aria-label="Close section" aria-hidden="false">
          </span>
      </span>
      Save content
    </div>
  </dd>
  <dt role="heading" aria-level="3">
    <button aria-expanded="false" class="sam-accordion-trigger" aria-controls="sect3" id="accordion3id" type="button">
      <span class="sam-accordion-icon">
        <i class="fa fa-download fa-lg"></i>
      </span>
      <span class="sam-accordion-title">
        Download
      </span>
    </button>
  </dt>
  <dd id="sect3" role="region" aria-labelledby="accordion3id" class="sam-accordion-panel" hidden="">
    <div>
      <span class="close">
          <span role="button" class="fa fa-chevron-circle-left fa-lg" tabindex="0" aria-label="Close section" aria-hidden="false">
          </span>
      </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
        vel interdum lorem. Suspendisse rhoncus metus tortor, vel porta 
        neque viverra ac. Vivamus ac sem a diam mollis tempor semper eu 
        dui. Vestibulum aliquet a nulla ut efficitur. Nam aliquam rhoncus 
        nunc vitae vehicula. Fusce scelerisque auctor mi vitae iaculis. 
        Donec sit amet aliquam lectus. Quisque bibendum lacus non enim 
        cursus, id lacinia metus placerat. Phasellus eget tortor vitae 
        lacus condimentum sollicitudin ut eu risus. Sed mattis nisl 
        velit, vel viverra odio egestas quis. Sed neque magna, bibendum 
        ac congue eget, interdum at enim. Donec lobortis sollicitudin 
        purus et placerat. Donec a blandit magna. Nam scelerisque mauris 
        vitae velit auctor, non scelerisque erat pretium.
      </p>  
      <p>
        Duis posuere tempor massa sed varius. Morbi sapien lectus, 
        faucibus at aliquam in, gravida sed nisi. Nullam non nisl nec orci 
        pellentesque congue. Pellentesque tempus mauris lacus, ut 
        pellentesque massa tempor nec. Nunc condimentum arcu vel orci 
        dapibus fringilla. Nullam congue venenatis interdum. Curabitur 
        posuere lacinia nisl, ut vestibulum lorem mollis quis. Maecenas ac 
        metus eu eros consequat malesuada quis at tortor. In eu quam lacus. 
        Etiam cursus lobortis finibus. Vestibulum tempus enim non porttitor 
        consequat. Pellentesque placerat risus dui, eu vehicula augue 
        aliquam sit amet. Integer tempor accumsan luctus. Vestibulum id mi 
        in augue luctus sodales nec eu nisl. Quisque placerat purus sed 
        dolor varius, ut elementum augue consequat. Mauris tincidunt ex 
        odio, nec eleifend sapien euismod tincidunt.
      </p>
    </div>
  </dd>
</dl>