<div class="grid-full bg-accent-cool padding-x-4 padding-bottom-4">
  <div class="sds-official-tag">
    <div class="sds-official-tag__outline">
      <i class="fas fa-star sds-official-tag__blue"></i>
      <div class="sds-official-tag__red">Official U.S. Government</div>
      <div class="sds-official-tag__grey">Website</div>
      <i class="fas fa-flag fa-2x sds-official-tag__grey margin-y-1"></i>
      <div class="sds-official-tag__blue">100%</div>
      <div class="sds-official-tag__grey">Free</div>
    </div>
  </div>
</div>
