{#
    Creates a button.
    link        (string) - use "a" instead of "button". String should be any valid HREF value
    modifiers   (array)  - USA "secondary,base,outline,inverse,big,unstyled,hover,active,focus"
    smodifiers  (array)  - SDS "small"
    disabled    (bool)   - adds disabled attribute 
    classes     (string) - extra classes
    controls    (string) - attribute aria-controls="{{string}}"
    custom      (string) - other attributes i.e. ( tabindex="0" onclick="alert" )
    text        (string) - text of the button 
    icon        (object) - icon {prefix,icon,title} 
#}
<{%
if link 
%}a href="{{link}}"{% 
else %}button{% 
endif 
%} class="usa-button sds-button--circle{%
if modifiers 
%}{%
    for modifier in modifiers 
    %}{% if modifier != '' %} usa-button--{{ modifier }}{%  endif %}{%
    endfor 
%}{% 
endif 
%}{%
if smodifiers 
%}{%
    for modifier in smodifiers 
    %}{% if modifier != '' %} sds-button--{{ modifier }}{%  endif %}{%
    endfor 
%}{% 
endif 
%}{%
if classes
%} {{classes}}{%
endif
%}"{%
if controls
%} aria-controls="{{controls}}"{%
endif
%}{%
if custom
%} {{custom}}{%
endif
%}{%
if disabled 
%} disabled="disabled"{% 
endif 
%}>
{% render '@icon', icon, true %}{#{prefix:'prefix',icon:'icon',title:'tile'}#}
<{%
if link 
%}/a{% 
else 
%}/button{% 
endif 
%}>