{{name}}{%- if (name == 'Outline-inverse') -%} 
{% set bkg = "bg-base-darkest text-base-lightest " -%} 
{% endif -%} 
{%- if (name == 'White') -%} 
{% set bkg = "bg-base-lightest " -%} 
{% endif -%} 
<div class="{{ bkg }}padding-4">
  <div class="grid-row">
    <div class="grid-col">
      <div class="padding-y-2"><div class="text-center">{{name}}<br>{% render '@button--single', button %}  </div></div>
    </div>
    <div class="grid-col">
      <div class="grid-row padding-y-2">
        <div class="text-center grid-col">hover<br>{% render '@button--single', hoverButton %}</div>
        <div class="text-center grid-col">active<br>{% render '@button--single', activeButton %}</div>
        <div class="text-center grid-col">focused<br>{% render '@button--single', focusButton %}</div>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col">
      <div class="padding-y-2"><div class="text-center">Disabled<br>{% render '@button--single', disabledButton %} </div></div>
      <div class="padding-y-2"><div class="text-center">Small Button<br>
    
      
      <br>{% render '@button--single', smallButton %} </div></div>
      <div class="padding-y-2"><div class="text-center">Big Button<br>{% render '@button--single', bigButton %} </div></div>
      <div class="padding-y-2"><div class="text-center">Shadow<br>{% render '@button--single', shadowButton %} </div></div>
    </div>
    <div class="grid-col">
    </div>
  </div>
</div>
