<div id="sds-toolbar-mobile__navigation" class="sds-toolbar-mobile">
    <div class="sds-toolbar-mobile__header">
        {% render '@layered-icon', button_header %}
        Navigate to
    </div>
    <div class="sds-toolbar-mobile__content">
        {% include '@toolbar--partial-menus' %}
    </div>
</div> 
