<div id="sds-toolbar-mobile__filters" class="sds-toolbar-mobile">
    <div class="sds-toolbar-mobile__header">
        {% render '@layered-icon', button_header %}
        Filter By
    </div>
    <div class="sds-toolbar-mobile__content">
        {% include '@toolbar--partial-filters' %}
    </div>
    <div class="sds-toolbar-mobile__footer">
        {% render '@button--single',button_footer,true %}
    </div>
</div> 
