<div class="sds-toolbar-mobile__select">
    <button class="sds-toolbar-mobile__select-button" data-show_target="sds-toolbar-mobile__navigation">
        <div>Navigation</div>
        <div>Selected Category</div>
    </button>
    <button class="sds-toolbar-mobile__select-button" data-show_target="sds-toolbar-mobile__filters">
        Filter By
    </button>
</div>
