{% set cardClasses = 'sds-card' %}
{% if classes %}
	{% for class in classes %}
		{% set cardClasses = cardClasses + " " + class %}
	{% endfor %}
{% endif %}
{% if modifiers %}
	{% for modifier in modifiers %}
		{% set cardClasses = cardClasses + ' sds-card--' + modifier %}
	{% endfor %}
{% endif %}

<!-- Card HTML start -->
{%- if not header %}
	<span id="cardHeader" role="header" aria-level="1">{{title}}</span>
{% endif %}

<div {% if not header %} aria-labelledby="cardHeader" {% endif %} class="{{cardClasses}}">

	{%- if header %}
		<div class="sds-card__header{% if color %} sds-card__header--{{color}}{% endif %} sds-card__header--{{header.style}}">
			{%- if header.icon -%}
				<div class="sds-card__icon">
					{%- render '@icon', header.icon -%}
				</div>
			{%- endif -%}

			{%- if header.link -%}
				<a href="{{header.link}}" class="sds-card__link">
				{% endif -%}

				{%- render '@title', {tag: "h2", content: title, classes: ["sds-card__title"] } -%}

				{%- if header.link %}
				</a>
			{% endif -%}

			{%- if header.buttons %}
				<div class="sds-card__buttons">
					{%- for button in header.buttons %}
						{% render '@button--single', {modifiers: button.modifiers }, true -%}
					{% endfor %}
				</div>
			{% endif -%}

			{%- if header.action %}
				<div class="sds-card__action">
					{%- render '@actions--single' -%}
				</div>
			{% endif -%}

		</div>
	{%- endif -%}

	<div class="sds-card__body{% if body.grid %} grid-row{% endif %}">
		{% for content in body.content %}

			{%- if body.grid and content.col %}
				<div class="grid-col-{{content.col}}">
			{% elseif body.grid %}
				<div class="grid-col">
			{% endif -%}

			{% if content.component %}
				{% set component = "@" + content.component %}
				{% render component, content.context, content.extend %}
			{% elseif content.html %}
				{{ content.html }}
			{% else %}
				<p>{{ content.text }}</p>
			{% endif -%}

			{%- if body.grid %}
					</div>
			{% endif -%}
		{% endfor %}
		</div>
</div>
<!-- Card HTML end -->
