<div
	class="margin-top-2 usa-card sds-card--collapsible {% for modifier in modifiers %} sds-card--collapsed  sds-card--{{modifier}}{% endfor %}">
	<div class="usa-card__container">
		{%- if header %}
		<div class="usa-card__header sds-card__header--flex" aria-expanded="false">
			<div class="sds-card__title">{{title}}<br /><span class="sds-card__subtitle">{{subtitle}}</span></div>
			<div class="sds-card__action sds-card__collapse"></div>
		</div>
		{% endif -%}
	
		<div class="usa-card__body">
			{% for content in body.content %}
			<p>{{content.text}}</p>
			{% endfor %}
		</div>
	</div>
</div>
	
<div class="margin-top-2 usa-card sds-card--collapsible {% for modifier in modifiers %} sds-card--{{modifier}}{% endfor %}">
	<div class="usa-card__container">
		{%- if header %}
		<div class="usa-card__header sds-card__header--flex" aria-expanded="true">
			<div class="sds-card__title">{{title}}<br /><span class="sds-card__subtitle">{{subtitle}}</span></div>
			<div class="sds-card__action sds-card__collapse"></div>
		</div>
		{% endif -%}
	
		<div class="usa-card__body bg-accent-cool-lighter">
			{% for content in body.content %}
			<p>{{content.text}}</p>
			{% endfor %}
		</div>
	</div>
</div>
