<div class="grid-row grid-gap">
	{%- if _self.meta.colors %}
		{%- for color in _self.meta.colors %}
			<div class="grid-offset-1 grid-col-10 tablet-lg:grid-col-7">
				{%- set card = card|setAttribute('color', color.modifier) %}
				<span>{{color.title}}</span>
				{% render '@card', card %}
			</div>
		{% endfor %}
		{% else %}
			<div class="grid-offset-1 grid-col-10 tablet-lg:grid-col-7">
				{% render '@card', card %}
			</div>
	{% endif %}
</div>
