<!-- Card HTML start -->
<div class="usa-card{% for modifier in modifiers %} sds-card--{{modifier}}{% endfor %}">
	<div class="usa-card__container">
		{%- if header %}
		<div class="usa-card__header{% if color %} bg-{{color}}{% endif %}">
			{%- if header.icon %}
				<div>
					{%- render '@icon', header.icon -%}
				</div>
			{% endif -%}
		</div>
		{% endif -%}

		<div class="usa-card__body">
			<h3>{{title}}</h3>
			{% for content in body.content %}
				<p>{{content.text}}</p>
			{% endfor %}
		</div>
	</div>
</div>
<!-- Card HTML end -->
