<div class="grid-row grid-gap">

	<div class="grid-offset-1 grid-col-10 tablet-lg:grid-col-7">
		{%- set card = card|setAttribute('color', 'base') %}
		
		{% render '@card--collapsible', card %}
	</div>
</div>