<div class="grid-row grid-gap">
	{%- for color in _self.meta.colors %}
		<div class="grid-col-12 tablet-lg:grid-col-7">
			{%- set card = card|setAttribute('color', color.modifier) %}
			<span>{{color.title}}</span>

			{% render '@card--vertical', card %}
		</div>
	{% endfor -%}
</div>
