<h4>SDS Icon Button Examples</h4>

<div class="bg-accent-cool-light grid-container padding-3 display-flex">

  <button class="sds-button sds-button--icon">
    {% render '@layered-icon', buttons[0].icons %}
    <span class="sds-button--icon__title">Register Entity</span>
  </button>

  <button class="sds-button sds-button--icon">
    {% render '@layered-icon', buttons[1].icons %}
    <span class="sds-button--icon__title">Check Status</span>
  </button>

  <div class="sds-button--outline">
    <button class="sds-button sds-button--icon text-center">
      {% render '@layered-icon', buttons[0].icons %}
      <span class="sds-button--icon__title">Help Me Get Started</span>
    </button>
  </div>
</div>

