.usa-footer__secondary-link a,
.usa-footer__primary-link:hover {
  @include u-text("no-underline");
}

.usa-footer__secondary-link a:hover {
  color: #7a591a;
  // @include u-color('secondary-dark');
}

.button-width{
    max-width: 64ex;
}

.usa-footer__nav {
  @include u-maxw("full");
  @include u-padding-bottom(1);
}

.sds-footer__logo {
  @include u-display("flex");
  @include u-flex("justify-start");
}

.sds-footer__logo-link {
  display: inherit;
}

.sds-footer__logo-link img {
  @include u-width(15);
  @include u-maxw(10);
}

.usa-footer__primary-content--collapsible {
  .usa-footer__primary-link {
    // override USWDS arrow icon (before)
    &::before {
      content: none !important;
    }

    // Apply SDS plus/minus icon (after)
    &::after {
      //background-image: url("#{$theme-image-path}/sam/bg-minus.svg");
      background-repeat: no-repeat;
      align-items: center;
      background-size: contain;
      content: "";
      display: inline-flex;
      height: 2rem;
      justify-content: center;
      width: 2rem;
      float: right;
      margin-left: auto;
      order: 2;
    }

    @include at-media("mobile-lg") {
      &::after {
        content: none;
      }
    }
  }

  &.hidden {
    .usa-footer__primary-link {
      // Apply SDS plus/minus icon (after)
      &::after {
       // background-image: url("#{$theme-image-path}/sam/bg-plus.svg");
      }
    }
  }
}

/*******************************
      SDS Feedback Styles
*******************************/
.sds-feedback {
  filter: drop-shadow(0 -5px 5px #f5f5f0);
  padding-top: 15px;

  .sds-feedback__button {
    @include u-bg("white");
    @include u-text("center");
    @include u-padding-y(3);
    @include u-radius-top("pill");
    border: none;
    display: flex;
    @include u-flex("column");
    @include u-flex("align-center");
    width: 140px;
    margin: auto;


    .sds-feedback__open {
      @include u-padding(1);
      @include u-bg("base-light");
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 50%;
    }

    .sds-feedback__closed {
      @include u-padding(1);
      @include u-bg("primary");
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 50%;
    }

    .sds-feedback__title {
      @include u-font("sans", "sm");
      @include u-text("base-dark");
      @include u-margin-top(1);
    }
  }

  .sds-feedback__response {
    width: 100%;
    @include u-bg("white");

    div {
      margin: auto;
      padding: 30px;
    }

    .sds-feedback__response-title {
      @include u-font("sans", "lg");
      @include u-text("base");
      @include u-text("bold");
      @include u-display("inline");
    }

    .sds-feedback__response-title-thin {
      @include u-font("sans", "lg");
      @include u-text("base");
      @include u-text("normal");
      @include u-display("inline");
    }

    .sds-feedback__response-text {
      @include u-font("sans", "md");
      @include u-text("secondary-dark");
      @include u-text("bold");
      @include u-display("block");
      @include u-margin-y(2);
    }

    .sds-feedback__input {
      @include u-width(full);
      @include u-bg("base-lighter");
      border: none;
      resize: none;
    }
  }
}