/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
SAM THEME UTILITIES SETTINGS
----------------------------------------
-
Read more about settings and
USWDS utilities in the documentation:
https://v2.designsystem.digital.gov/utilities
-
----------------------------------------
*/

/*
----------------------------------------
Values
----------------------------------------
*/

// .background-color

$background-color-palettes: ('palette-color-state');

// .border-radius

// $project-border-radius: (
//   'sm':         units($theme-border-radius-sm),
// );
// $border-radius-palettes: ('palette-border-radius-default');
$border-radius-manual-values: ( ('btn' : 5px) );