/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
SAM THEME TYPOGRAPHY SETTINGS
----------------------------------------
-
Read more about settings and
USWDS typography tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens/typography
-
----------------------------------------
*/

/*
----------------------------------------
Custom font definitions
----------------------------------------
Add a new custom font definition if
your project uses a typeface we've
not already defined.
----------------------------------------
The following faces are defined in the
system:

'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------
*/

$theme-font-definitions: (
  'source-sans-pro-plus': (
    name: 'Source Sans Pro Web',
    dir: 'source-sans-pro-plus',
    stack: ('Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif),
    system-font: false,
    cap-height: 340px,
    generate: true,
    variable-font: false,
    roman: (
      100: false,
      200: false,
      300: 'sourcesanspro-light-webfont',
      400: 'sourcesanspro-regular-webfont',
      500: false,
      600: 'sourcesanspro-semibold-webfont',
      700: 'sourcesanspro-bold-webfont',
      800: false,
      900: false,
    ),
    italic: (
      100: false,
      200: false,
      300: false,
      400: 'sourcesanspro-italic-webfont',
      500: false,
      600: 'sourcesanspro-semibold-italic-webfont',
      700: false,
      800: false,
      900: false,
    ),
  )
);

/*
----------------------------------------
Fonts in use
----------------------------------------
Set the sans, serif, and mono faces for
your project
----------------------------------------
The following faces are defined in the
system:

'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------
*/

$theme-font-sans:   'source-sans-pro-plus';

/*
----------------------------------------
Fonts by role
----------------------------------------
Set the ui, heading, body, code, and alt
faces for your project from

$theme-font-sans
$theme-font-serif
$theme-font-mono
$theme-font-cond
----------------------------------------
*/

$theme-font-heading:  $theme-font-sans;

/*
----------------------------------------
Font weights
----------------------------------------
Assign weights 100-900
Or use `false` for unneeded weights.
----------------------------------------
*/
$theme-font-weight-semibold:      600;
