/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
SAM GENERAL SETTINGS
----------------------------------------
-
Read more about settings and
USWDS style tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens
-
----------------------------------------
*/

/*
----------------------------------------
Focus styles
----------------------------------------
*/

$theme-focus-color:  'base';
$theme-focus-offset: 0;
$theme-focus-style:  dashed;
$theme-focus-width:  1px;