/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
SAM THEME TYPOGRAPHY SETTINGS
----------------------------------------
-
Read more about settings and
USWDS typography tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens/typography
-
----------------------------------------
*/

/*
----------------------------------------
Custom typeface tokens
----------------------------------------
Add a new custom typeface token if
your project uses a typeface not already
defined by USWDS.
----------------------------------------
USWDS defines the following tokens
by default:
----------------------------------------
'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------
Add as many new tokens as you have
custom typefaces. Reference your new
token(s) in the type-based font settings
using the quoted name of the token.

For example:

$theme-font-type-cond: 'example-font-token';

display-name:
The display name of your font

cap-height:
The height of a 500px `N` in Sketch
----------------------------------------
You should change `example-[style]-token`
names to something more descriptive.
----------------------------------------
*/

$font-stack-helvetica: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;

$theme-typeface-tokens: (
  'source-sans-pro-plus': (
    display-name: 'Source Sans Pro Plus Web',
    cap-height: 340px,
    stack: $font-stack-helvetica,
    src: (
      dir: 'source-sans-pro-plus',
      roman: (
        100: false,
        200: false,
        300: 'sourcesanspro-light-webfont',
        400: 'sourcesanspro-regular-webfont',
        500: false,
        600: 'sourcesanspro-semibold-webfont',
        700: 'sourcesanspro-bold-webfont',
        800: false,
        900: false,
      ),
      italic: (
        100: false,
        200: false,
        300: false,
        400: 'sourcesanspro-italic-webfont',
        500: false,
        600: 'sourcesanspro-semibold-italic-webfont',
        700: false,
        800: false,
        900: false,
      ),
    ),
  ),
);

/*
----------------------------------------
Type-based font settings
----------------------------------------
Set the type-based tokens for your
project from the following tokens,
or from any new font tokens you added in
$theme-typeface-tokens.
----------------------------------------
'georgia'
'helvetica'
'merriweather'
'open-sans'
'public-sans'
'roboto-mono'
'source-sans-pro'
'system'
'tahoma'
'verdana'
----------------------------------------
*/

$theme-font-type-sans:   'source-sans-pro-plus';

/*
----------------------------------------
Role-based font settings
----------------------------------------
Set the role-based tokens for your
project from the following font-type
tokens.
----------------------------------------
'cond'
'icon'
'lang'
'mono'
'sans'
'serif'
----------------------------------------
*/

$theme-font-role-heading:   'sans';

/*
----------------------------------------
Font weights
----------------------------------------
Assign weights 100-900
Or use `false` for unneeded weights.
----------------------------------------
*/
$theme-font-weight-semibold:      600;
