/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
SDS THEME CUSTOM STYLES
----------------------------------------
*/

// Elements
// -------------------------------------
@import '../elements/buttons';
@import '../elements/inputs';
@import '../elements/tags';
@import '../elements/typography';
@import '../elements/borders';
@import '../elements/sizing';
@import '../elements/links';

// Components
// -------------------------------------
@import '../components/sidenav';
@import '../components/toolbar';
@import '../components/accordion';
@import '../components/header';
@import '../components/navigation';
@import '../components/banner';
@import '../components/footer';
@import '../components/pagination';
@import '../components/results';
@import '../components/menu';
@import '../components/overlay';
@import '../components/dialog';
@import '../components/autocomplete';
@import '../components/filter';
@import '../components/card';
@import '../components/statistic';
@import '../components/event';
@import '../components/alert';
@import '../components/page';
@import '../components/tile';
@import '../components/seal';
@import '../components/navbar';
@import '../components/search';
@import '../components/popup';
@import '../components/list';
@import '../components/field';
@import '../components/buttonrow';
@import '../components/hero';

// Layouts
// -------------------------------------
@import '../layouts/subheader';

// Code samples ---------------------- //

code, pre {
  @include u-font('mono', '3xs');
  // TODO: add more black-transparent values (1-5)
  background-color: rgba(0, 0, 0, .05);
}

code {
  @include u-padding-y(2px);

  &::before,
  &::after {
    letter-spacing: letter-spacing('ls-neg-3');
    content: '\00a0';
  }
}

// Responsive tables

$theme-table-responsive-expand-at: 'tablet';
$theme-table-responsive-title-width: 15;
$theme-table-responsive-border-radius: 'md';
$theme-table-padding-x: 2;
$theme-table-column-gap: 4;

.site-table-wrapper {
  @include at-media($theme-table-responsive-expand-at) {
    border: 1px solid;
    border-radius: radius('md');
    display: block;
    background-color: white;
  }

  .site-table-responsive {
    margin: 0;
  }

  &+.site-table-wrapper {
    margin-top: units(3);
  }
}

.site-table-responsive {
  width: 100%;
  max-width: none;

  @include at-media-max($theme-table-responsive-expand-at) {
    @include typeset(null, '2xs');
    display: block;
    width: 100%;

    caption {
      display: block;
    }

    thead {
      @include sr-only;
    }

    caption,
    tbody,
    tr,
    th,
    td,
    tfoot {
      border: 0;
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }

    caption {
      font-weight: fw('bold');
      padding-bottom: units(1);
    }

    td,
    th {
      width: 100%;
      padding: units(0.5) units(0.5) units(0.5) 0;
      position: relative;
      z-index: z(100);

      // stylelint-disable selector-no-qualifying-type
      &[data-title]:before {
        @include typeset('ui', 1, 2);
        @include u-padding-x(1);
        content: attr(data-title);
        flex: none;
        font-weight: fw('normal');
        margin-right: units(0.5);
        max-width: units($theme-table-responsive-title-width);
        text-align: left;
        width: 50%;
      }
      &.is-empty {
        display: none;
      }
      // stylelint-enable selector-no-qualifying-type
    }

    th:not([data-title]) {
      font-weight: fw('bold');
    }

    tr {
      background-color: color('white');
      border: 1px solid;
      border-radius: radius($theme-table-responsive-border-radius);
      display: block;
      padding-bottom: units(2px);
      position: relative;

      &::after {
        @include u-pin('y');
        @include u-pin('left');
        content: '';
        background-color: color('gray-2');
        border-bottom-left-radius: radius($theme-table-responsive-border-radius);
        border-top-left-radius: radius($theme-table-responsive-border-radius);
        display: block;
        max-width: units($theme-table-responsive-title-width);
        position: absolute;
        width: 50%;
        z-index: z(0);
      }

      // stylelint-disable selector-no-qualifying-type
      &.is-empty {
        display: none;
      }

      // stylelint-enable selector-no-qualifying-type
      &+tr {
        margin-top: units(1);
      }
    }

    td {
      align-items: baseline;
      background-color: transparent;
      display: flex;
      line-height: lh('ui', 4);

      &:empty {
        display: none;
      }

      &+td {
        border-top: units(1px) solid color('base-lighter');
      }

      .site-inline-swatch {
        width: 100%;
      }
    }
  }

  @include at-media($theme-table-responsive-expand-at) {
    thead {
      @include u-font('ui', 1);
    }

    caption {
      font-weight: fw('bold');
      padding-bottom: units(1);
    }

    caption,
    tbody,
    tr,
    th,
    td,
    tfoot {
      text-align: left;
    }

    th:first-child {
      padding-left: units(2);
    }

    tr,
    td {
      background-color: transparent;
    }

    th,
    td {
      @include u-padding-x($theme-table-column-gap / 2);
      @include u-padding-y(1);
      border: none;
      text-align: left;

      &:first-child {
        padding-left: units($theme-table-padding-x);
      }

      &:last-child {
        padding-right: units($theme-table-padding-x);
      }
    }

    tbody {
      tr {
        border: none;
        border-top: units(2px) solid;

        &+tr {
          border-top: units(1px) solid color('base-lighter');
        }
      }
    }
  }

  &.site-table-simple {
    @include at-media($theme-table-responsive-expand-at) {
      thead {
        @include u-font('ui', 2);
      }

      th,
      td {
        @include u-padding-x($theme-table-column-gap / 2);
        @include u-padding-y(0.5);
        border: none;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      tr {
        display: flex;

        th,
        td {
          flex: flex(1);
        }
      }

      tbody {
        tr {
          border: none;
          border-top: units(1px) solid color('base-light');

          // stylelint-disable max-nesting-depth
          &:last-child {
            border-bottom: units(1px) solid color('base-light');
          }

          // stylelint-enable max-nesting-depth
        }
      }
    }
  }
}

.site-inline-swatch {
  @include u-square(4);
  border-radius: radius('sm');
  display: inline-block;
  text-align: middle;

  table & {
    display: block;
  }
}

.usa-accordion__block {
  background-image: none;
  background-color: white;
  padding: 1rem 1.25rem 1rem 1.25rem;
  font-weight: 600;
  position: relative;
  &:hover {
    @include u-bg('accent-cool-light')
  }

  &:not([disabled]):focus,
  &:focus {
    outline: none;
    outline-color: #79adfb;
    outline-style: dashed;
    outline-width: 1px;
    outline-offset: 0;
  }

  &::after {
    content: '';
    display:inline-block;
    width:25px;
    height:25px;
    background:linear-gradient(#0a3466,#0a3466);
    background-position:center;
    background-size: 54% 1px;
    background-repeat:no-repeat;
    position: absolute;
    right: 27px;
    top:7px;
  }

  &[aria-expanded=true] {
    background-image: none;
    color: #0a3466;
    background-color: #eff6fb;
  }

  &[aria-expanded=false] {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 1rem;

    &::before {
      content: '';
      display:inline-block;
      width:25px;
      height:25px;
      background:linear-gradient(#0a3466,#0a3466),#e2e2e2;
      background-position:center;
      background-size: 1px 54%;
      background-repeat:no-repeat;
      position: absolute;
      right: 27px;
      top:7px;
      border-radius: 50%;
    }
  }
}

