/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.2.0
----------------------------------------
UTILITIES SETTINGS
----------------------------------------
Read more about settings and
USWDS utilities in the documentation:
https://v2.designsystem.digital.gov/utilities
----------------------------------------
*/

/*
----------------------------------------
Values
----------------------------------------
*/

// .background-color

$background-color-palettes: ('palette-color-state');

// .border-radius

$border-radius-manual-values: (
  'button': 5px,
  'overlay': 6px,
);

// .min-width

$min-width-manual-values: (
  'menu': 200px
);
