{% if type == 'labeled' %}
  <button class="usa-button sds-button--white sds-button--small text-secondary-dark padding-1 margin-y-2">
    Actions
    {% render '@layered-icon', layeredIcon %}
  </button>
{% elif type == 'green' %}
  <button class="usa-button sds-button--circle sds-button--shadow">
    {% render '@icon', {icon: 'ellipsis', classes: 'fa-fw', dataTransform: 'grow-5'} %}
  </button>
{% else %}
  <button class="usa-button sds-button--circle sds-button--white sds-button--shadow">
    {% render '@icon', {icon: 'ellipsis', classes: 'fa-fw', dataTransform: 'grow-5'} %}
  </button>
{% endif %}