{% if type == 'labeled' %}
    <button class="usa-button sds-button--white sds-button--small hite text-secondary-dark padding-1">
      Actions
       <span class="fa-layers padding-left-4">
          <i class="fas fa-circle text-primary" data-fa-transform="grow-12"></i>
          <i class="sds fa-ellipsis text-secondary-dark"  data-fa-transform="grow-4"></i>
      </span>
    </button> 
{% elif type == 'white' %}   
    <button class="usa-button sds-button--circle sds-button--shadow">
      <i class="sds fa-ellipsis fa-fw" data-fa-transform="grow-5"></i>
    </button>
{% else %}  
    <button class="usa-button sds-button--circle sds-button--white sds-button--shadow">
      <i class="sds fa-ellipsis fa-fw" data-fa-transform="grow-5"></i>
    </button>
{% endif %}  