<div class="grid-row">
  <div class="tablet:grid-col">
    <h4>Trigger options</h4>

    <button class="usa-button sds-button--circle sds-button--white usa-button--big sds-button--shadow">
      <i class="sds fa-ellipsis fa-fw" data-fa-transform="grow-5"></i>
    </button>
    <button class="usa-button sds-button--circle usa-button--big sds-button--shadow">
      <i class="sds fa-ellipsis fa-fw" data-fa-transform="grow-5"></i>
    </button>

    <button class="usa-button sds-button--white text-secondary-dark padding-1">
      Actions
      <span class="fa-layers padding-left-4">
        <i class="fas fa-circle text-primary" data-fa-transform="grow-8"></i>
        <i class="sds fa-ellipsis text-secondary-dark" data-fa-transform="shrink-1"></i>
      </span>
    </button>

    <h4>Menu</h4>
    <div class="sds-overlay minw-menu maxw-mobile radius-overlay">
      <div class="sds-menu">
        <div class="sds-menu__header">
          <span class="sds-menu__header-title">Actions</span>
          <button class="sds-button sds-button--circular" aria-label="Close Menu">
            <i class="fas fa-times fa-fw"></i>
          </button>
        </div>
        <button class="sds-menu__item">
          Download
        </button>
        <button class="sds-menu__item">
          Follow
        </button>
        <button class="sds-menu__item">
          Edit
        </button>
      </div>
    </div>
  </div>
  <div class="tablet:grid-col">
    <h4>Trigger options (small)</h4>

    <button class="usa-button sds-button--circle sds-button--white sds-button--shadow">
      <i class="sds fa-ellipsis fa-fw" data-fa-transform="grow-5"></i>
    </button>

    <button class="usa-button sds-button--circle sds-button--shadow">
      <i class="sds fa-ellipsis fa-fw" data-fa-transform="grow-5"></i>
    </button>

    <button class="usa-button sds-button--white sds-button--small text-secondary-dark padding-1">
      Actions
      <span class="fa-layers padding-left-4">
        <i class="fas fa-circle text-primary" data-fa-transform="grow-12"></i>
        <i class="sds fa-ellipsis text-secondary-dark" data-fa-transform="grow-4"></i>
      </span>
    </button>
    <h4>Menu (small)</h4>
    <div class="sds-overlay minw-menu maxw-mobile radius-overlay">
      <div class="sds-menu sds-menu--small">
        <div class="sds-menu__header">
          <span class="sds-menu__header-title">Actions</span>
          <button class="sds-button sds-button--circular sds-button--small" aria-label="Close Menu">
            <i class="fas fa-times fa-fw"></i>
          </button>
        </div>
        <button class="sds-menu__item">
          Download
        </button>
        <button class="sds-menu__item">
          Follow
        </button>
        <button class="sds-menu__item">
          Edit
        </button>
      </div>
    </div>
  </div>
</div>