<table class="usa-table">
  <caption>Filters</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <th scope="row"><element class="{{ item.class }}">{{ item.label }}</element></th>
      {% if item.class %}
      <td>{{ ('<element class="' + item.class + '"></element>') | escape }}</td>
      {% else %}
      <td>{{ '<element></element>' | escape }}</td>
      {% endif %}
      <td>Weight: {{ item.weight }} / Size: {{ item.size }} / Line Height: {{ item.lheight }} / Color: {{ item.color }}</td>
    </tr>
    {% endfor %}
  </tbody>
<!--    
  <tbody>
    <tr>
      <td><element class="group-label">Group Label</element></td>
      <th scope="row">&ltelement class="group-label">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 0.87rem / Line Height: 1rem / Color: PLACEHOLDER (#3D4551)</td>
    </tr>
    <tr>
      <td><element class="filter-label">Filter Label</element></td>
      <th scope="row">&ltelement class="filter-label">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 0.87rem / Line Height: 1rem / Color: Base-Dark (#454540)</td>
    </tr>   
    <tr>
      <td><element class="input-text">Input Text</element></td>
      <th scope="row">&ltelement class="input-text">&lt/element></th>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1rem / Color: Base-Dark (#454540)</td>
    </tr>  
    <tr>
      <td><element class="input-chip">Input Chip</element></td>
      <th scope="row">&ltelement class="input-chip">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 0.75rem / Line Height: 1rem / Color: PLACEHOLDER (#3D4551)</td>
    </tr>                       
  </tbody>
-->  
</table>