<table class="usa-table">
  <caption>Buttons, Modal, Search, Label</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <th scope="row"><element class="{{ item.class }}">{{ item.label }}</element></th>
      {% if item.class %}
      <td>{{ ('<element class="' + item.class + '"></element>') | escape }}</td>
      {% else %}
      <td>{{ '<element></element>' | escape }}</td>
      {% endif %}
      <td>Weight: {{ item.weight }} / Size: {{ item.size }} / Line Height: {{ item.lheight }} / Color: {{ item.color }}</td>
    </tr>
    {% endfor %}
  </tbody>
<!--    
  <tbody>
    <tr>
      <td><element class="in-button-text">In-Button Text</element></td>
      <th scope="row">&ltelement class="in-button-text">&lt/element></th>
      <td>Weight: Bold / Size: 1.06rem / Line Height: 1.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <td><element class="under-button-text">Under-Button Text</element></td>
      <th scope="row">&ltelement class="under-button">&lt/element></th>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <td><element class="modal-heading">Modal Heading</element></td>
      <th scope="row">&ltelement class="modal-heading">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.46rem / Line Height: 2rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="modal-text">Modal Text</element></td>
      <th scope="row">&ltelement class="modal-text">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr> 
    <tr>
      <td><element class="search-helper-text">Helper Text</element></td>
      <th scope="row">&ltelement class="search-helper-text">&lt/element></th>
      <td>Weight: Regular / Size: 1.06rem / Line Height: 1.25rem / Color: Base (#757575)</td>
    </tr>
    <tr>
      <td><element class="tag-label">Tag Label</element></td>
      <th scope="row">&ltelement class="tag-label">&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>                                 
  </tbody>
-->  
</table>