<table class="usa-table">
  <caption>Buttons, Modal, Search, Label</caption>
  <thead>
    <tr>
      <th scope="col">Markup</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&ltp class="in-button">&lt/p></th>
      <td><p class="in-button">In-Button Text</p></td>
      <td>Weight: Bold / Size: 1.06rem / Line Height: 3rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="under-button">&lt/p></th>
      <td><p class="under-button">Under-Button Text</p></td>
      <td>Weight: Regular / Size: 0.75rem / Line Height: 3rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&lth1 class="heading--modal">&lt/h1></th>
      <td><h1 class="heading--modal">Modal Heading</h1></td>
      <td>Weight: Semi-Bold / Size: 1.46rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lthp class="modal">&lt/p></th>
      <td><p class="modal">Modal Text</p></td>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr> 
    <tr>
      <th scope="row">&lthp class="search-helper-text">&lt/p></th>
      <td><p class="search-helper-text">Helper Text</p></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 3rem / Color: Base (#757575)</td>
    </tr>
    <tr>
      <th scope="row">&lthp class="tag-label">&lt/p></th>
      <td><p class="tag-label">Tag Label</p></td>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>                                 
  </tbody>
</table>