<h3>Outline Labels</h3>
<div class="grid-row flex-align-end">
  <div class="grid-col-auto margin-top-2">
    <span class="sds-type--label-title">Expiration Date</span>
    <span class="sds-tag sds-tag--alert">Feb 20, 2019</span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-type--label-title">Status</span>
    <span class="sds-tag sds-tag--outline">
  <i class="sds-status sds-status--sm sds-status--lightblue"></i>Draft</span>
  </div>
</div>
</p>

<h3>Status Outline Labels</h3>
<div class="grid-row">
<div class="grid-col-auto margin-top-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline">
  <i class="sds-status sds-status--sm sds-status--green"></i>Active</span>
</div>
<div class="grid-col-auto margin-top-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline">
  <i class="sds-status sds-status--sm sds-status--light-blue"></i>Draft</span>
</div>
<div class="grid-col-auto margin-top-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline">
  <i class="sds-status sds-status--sm sds-status--blue"></i>Submitted</span>
</div>
<div class="grid-col-auto margin-top-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline">
  <i class="sds-status sds-status--sm sds-status--yellow"></i>In Progress</span>
</div>
<div class="grid-col-auto margin-top-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline">
  <i class="sds-status sds-status--sm sds-status--red"></i>Expired</span>
</div>
<div class="grid-col-auto margin-top-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline">
  <i class="sds-status sds-status--sm sds-status--brown"></i>Deactivated</span>
</div>
<div class="grid-col-auto margin-top-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline">
  <i class="sds-status sds-status--sm sds-status--dark-gray"></i>Cancelled</span>
</div>
</div>
<h3>Status Outline Labels (Long Name)</h3>
<div class="grid-row flex-align-end">
<div class="grid-col-auto margin-top-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline">
  <i class="sds-status sds-status--sm sds-status--yellow"></i>Work In Progress</span>
</div>
</div>

<h3>Alert Outline Label Options</h3>
<div class="grid-row flex-align-end">
  <div class="grid-col-auto margin-top-2">
    <span class="sds-type--label-title">Expiration Date</span>
    <span class="sds-tag sds-tag--alert sds-tag--border-blue">Feb 20, 2019</span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-tag sds-tag--alert sds-tag--border-yellow">Feb 20, 2019</span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-tag sds-tag--alert sds-tag--border-red">Feb 20, 2019</span>
  </div>
</div>

<h3>Status Outline Labels (Mixed Heights)</h3>
<div class="grid-row flex-align-stretch">
<div class="grid-col-auto margin-top-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline">
  <i class="sds-status sds-status--sm sds-status--yellow"></i>Work In Progress</span>
</div>
<div class="grid-col-auto margin-top-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline">
  <i class="sds-status sds-status--sm sds-status--red"></i>Expired</span>
</div>
<div class="grid-col-auto margin-top-2">
  <span class="sds-type--label-title">Expiration Date</span>
  <span class="sds-tag sds-tag--alert  sds-tag--border-red">Feb 20, 2019</span>
</div>
</div>
