<h3>Outline Labels</h3>
<div class="grid-row flex-align-end">
  <div class="grid-col-auto">
    <span class="sds-type--label-title">Expiration Date</span>
    <span class="sds-tag sds-tag--alt">Feb 20, 2019</span>
  </div>
  <div class="grid-col-auto">
    <span class="sds-type--label-title">Status</span>
    <span class="sds-tag sds-tag--outline-light-blue">Draft</span>
  </div>
</div>
</p>

<h3>Status Outline Labels</h3>
<div class="grid-row">
<div class="grid-col-auto margin-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline-green">Active</span>
</div>
<div class="grid-col-auto margin-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline-light-blue">Draft</span>
</div>
<div class="grid-col-auto margin-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline-blue">Submitted</span>
</div>
<div class="grid-col-auto margin-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline-yellow">In Progress</span>
</div>
<div class="grid-col-auto margin-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline-red">Expired</span>
</div>
<div class="grid-col-auto margin-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline-brown">Deactivated</span>
</div>
<div class="grid-col-auto margin-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline-dark-gray">Cancelled</span>
</div>
</div>
<h3>Status Outline Labels (Long Name)</h3>
<div class="grid-row flex-align-end">
<div class="grid-col-auto margin-2">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline-yellow">Work In Progress</span>
</div>
</div>

<h3>Alert Outline Label Options</h3>
<div class="grid-row flex-align-end">
  <div class="grid-col-auto">
    <span class="sds-type--label-title">Expiration Date</span>
    <span class="sds-tag sds-tag--alt sds-tag--border-blue">Feb 20, 2019</span>
  </div>
  <div class="grid-col-auto">
    <span class="sds-tag sds-tag--alt sds-tag--border-yellow">Feb 20, 2019</span>
  </div>
  <div class="grid-col-auto">
    <span class="sds-tag sds-tag--alt sds-tag--border-red">Feb 20, 2019</span>
  </div>
</div>

<h3>Status Outline Labels (Mixed Heights)</h3>
<div class="grid-row flex-align-stretch">
<div class="grid-col-auto">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline-yellow">Work In Progress</span>
</div>
<div class="grid-col-auto">
  <span class="sds-type--label-title">Status</span>
  <span class="sds-tag sds-tag--outline-red">Expired</span>
</div>
<div class="grid-col-auto">
  <span class="sds-type--label-title">Expiration Date</span>
  <span class="sds-tag sds-tag--alt  sds-tag--border-red">Feb 20, 2019</span>
</div>
</div>
