<h3>Status</h3>

<span class="sds-tag sds-tag--status">
  <i class="sds-status sds-status--green"></i>Published</span>
<span class="sds-tag sds-tag--status">
  <i class="sds-status sds-status--gray"></i>Cancelled</span>
<span class="sds-tag sds-tag--status">
  <i class="sds-status sds-status--dark-gray"></i>Inactive</span>
<span class="sds-tag sds-tag--status">
  <i class="sds-status sds-status--yellow"></i>Awaiting Review</span>
<span class="sds-tag sds-tag--status">
  <i class="sds-status sds-status--light-blue"></i>Draft</span>
<span class="sds-tag sds-tag--status">
  <i class="sds-status sds-status--red"></i>Expired</span>