<h3>Status Outline Label</h3>
<div class="grid-row">
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-green">Active</span>
  </div>
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-blue">Submitted</span>
  </div>
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-yellow">In Progress</span>
  </div>
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-light-blue">Draft</span>
  </div>
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-red">Expired</span>
  </div>
</div>
<h3>Status Outline Label</h3>
<div class="grid-row">
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-green"><div>Submitted</div></span>
  </div>
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-blue"><div>Active</div></span>
  </div>
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-yellow"><div>Inactive</div></span>
  </div>
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-light-blue"><div>Deactivated</div></span>
  </div>
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-red"><div>Expired</div></span>
  </div>
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-yellow"><div>Work In Progress</div></span>
  </div>
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Status</h1>
    <span class="sds-tag sds-tag--outline-red"><div>Deleted</div></span>
  </div>
</div>
<h3>Outline Label Options</h3>
<div class="grid-row flex-align-end">
  <div class="grid-col-auto">
    <h1 class="sds-type--label-title">Expiration Date</h1>
    <span class="sds-tag sds-tag--alt">Feb 20, 2019</span>
  </div>
  <div class="grid-col-auto">
    <span class="sds-tag sds-tag--alt">Online</span>
  </div>
  <div class="grid-col-auto">
    <span class="sds-tag sds-tag--alt">Offline</span>
  </div>
</div>
