<div class="sds-popup__wrapper">
  <div class="sds-popup__icon">i</div>
  <div class="sds-popup__content">
    <div class="sds-popup__icon">i</div>
        <ul>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
        </ul>
  </div>
</div>
