<!-- <div class="display-flex flex-column flex-align-end">
      <div>
        <i class="sds fa-information-circle fa-2x "></i>
      </div>
    </div>
    <ul>
      <li>Lorem ipsum sit amet</li>
      <li>Lorem ipsum</li>
    </ul> -->
<div class="sds-popup">
  <i class="sds fa-information-circle fa-2x float-left margin-top-1"></i>
  <div class="sds-popup__content width-card-lg">
    <div class="sds-alert--block">
      <div class="sds-alert--block-icon grid-col-auto">
        <i class="sds fa-exclamation fa-2x"></i>
      </div>
      <div class="grid-col">
        <label>Address Needs to be Updated</label>
        <span>600 14th St NW</span>
        <span>Washington, DC 20007</span>
      </div>
    </div>
  </div>
</div>

<div class="sds-navbar border-bottom border-base-lighter">
  <div class="sds-navbar__content">
    <div class="grid-row">
      <div
        class="grid-col-12 tablet-lg:grid-col-auto display-flex flex-align-center margin-bottom-1 tablet-lg:margin-bottom-0">
        <!-- Back Button -->
        <button class="sds-button sds-button--circular">
          <i class="fas fa-fw fa-chevron-left"></i>
        </button>

        <!-- Page Title -->
        <span class="font-heading-md text-semibold tablet-lg:width-mobile">
          Title here
        </span>
      </div>
      <div class="grid-col-12 tablet-lg:grid-col-fill display-flex">
        <div class="tablet-lg:order-1">
          <!-- Buttons 
          <div class=""></div>-->

          <button class="usa-button usa-button--secondary sds-popup">
            Button
            <div class="sds-popup__content top-right">
              <span class="sds-tag sds-tag--chip">Normal</span>
            </div>
          </button>


          <button class="usa-button margin-top-05 tablet:margin-top-0 sds-popup">
            Button
            <div class="sds-popup__content top-center">
              <span class="sds-tag sds-tag--chip">Normal</span>
            </div>
          </button>
        </div>
        <div class="flex-fill">
          <!-- Search -->
          <form class="usa-search usa-search--small margin-x-105 margin-top-05 tablet:margin-top-0">
            <div role="search">
              <label class="usa-sr-only" for="search-field-small">Search</label>
              <input
                class="usa-input width-card-lg widescreen:width-mobile display-none desktop-lg:display-inline-block"
                id="search-field-small" type="search" name="search"
                placeholder="Entity an entity ID, name, or keyword" />
              <button class="usa-button" type="submit">
                <span class="usa-sr-only">Search</span>
              </button>
            </div>
          </form>
        </div>

        <div class="tablet-lg:order-2 margin-left-2">
          <!-- Actions Menu Trigger: Mobile-->
          
            <button class="sds-button sds-button--circular margin-top-05 tablet:margin-top-0">
              <i class="sds fa-fw fa-bars"></i>
            </button>
            <button class="sds-button sds-button--circular margin-top-05 tablet:margin-top-0">
              <i class="sds fa-fw fa-bars"></i>asdasd
            </button>
            <button class="sds-button sds-button--circular margin-top-05 tablet:margin-top-0">
              <i class="sds fa-fw fa-bars"></i>
            </button>
        

          <!-- Drawer Trigger -->
          <button class="sds-button sds-button--circular margin-top-2px tablet:margin-top-0">
            <i class="fas fa-fw fa-arrow-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="grid-container margin-top-3 desktop:margin-top-5 margin-bottom-9">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1>Page heading (h1)</h1>

        <p class="usa-intro">
          The page heading communicates the main focus of the page. Make your page heading descriptive and keep it
          succinct.
        </p>

        <h2 id="section-heading-h2">Section heading (h2)</h2>

        <p>
          These headings introduce, respectively, sections and subsections within your body copy. As you create these
          headings, follow the same guidelines that you use when writing section headings: Be succinct, descriptive, and
          precise.
        </p>

        <h3 id="section-heading-h3">Subsection heading (h3)</h3>

        <p>
          The particulars of your body copy will be determined by the topic of your page. Regardless of topic, it’s a
          good practice to follow the inverted pyramid structure when writing copy: Begin with the information that’s
          most important to your users and then present information of less importance.
        </p>

        <p>
          Keep each section and subsection focused — a good approach is to include one theme (topic) per section.
        </p>

        <h4 id="section-heading-h4">Subsection heading (h4)</h4>

        <p>
          Use the side navigation menu to help your users quickly skip to different sections of your page. The menu is
          best suited to displaying a hierarchy with one to three levels and, as we mentioned, to display the
          sub-navigation of a given page.
        </p>

        <p>
          Read the full documentation on our side navigation on the component page.
        </p>
      </div>
    </div>
  </div>
</div>