<div class="sds-popup">
  <i class="sds fa-information-circle fa-2x"></i>
  <div class="sds-popup__content">
    <i class="sds fa-information-circle fa-2x float-right"></i>
        <ul>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
        </ul>
  </div>
</div>
