/*******************************
          SAM THEME
*******************************/
// body{
//   background: linear-gradient(rgba(255, 0, 0, 0.15), rgba(255, 0, 0, 0.15) 1px, transparent 1px);
//   background-size: 1px 24px;
// }
@import './theme/styles';
/*******************************
      SB ADDED HEADER
*******************************/
.usa-menu-btn.sam-header-menu-btn {
  background-color: transparent;
}

.usa-nav-close img {
  width: 2rem;
}
@media (min-width: 1024px) {
  .sam-mobile-usa-unstyled-list {
    display: none;
  }

  .usa-nav {
    background-color: white;
  }

  .usa-nav-primary.usa-accordion > * > * > * {
    font-size: 20px;
    color: #212121;
    letter-spacing: 0;
    line-height: 14px;
    font-weight: normal;
  }

  .usa-nav-link {
    display: inherit;
  }

  .usa-accordion-button .usa-nav-link > span::after {
    background-color: #70e17b;
  }

  .usa-nav-primary button [aria-expanded=true] {
    background-color: #eff6fb;
  }

  .usa-nav-submenu {
    width: 20rem;
  }

  .usa-nav-submenu {
    background-color: #eff6fb;
  }

  .usa-nav-submenu > li > a {
    font-size: 18px;
    color: #212121;
    text-align: left;
    line-height: 30px;
  }

  .navbar-btn > a {
    text-decoration: none;
    padding: 0 20px;
  }

  .usa-header-extended .usa-current::after,
  .usa-header-extended .usa-nav-link:hover::after,
  .usa-header-extended [aria-expanded=true]::after {
    background-color: #70e17b;
    width: 100%;
    left: 1px;
    right: 1px;
  }

  .usa-nav-link {
    text-decoration: none;
  }

  .usa-accordian-button,
  .usa-focus,
  .usa-nav-link {
    outline: none;
    box-shadow: none;
  }

  .sam-usa-unstyled-list.usa-nav-secondary-links > li {
    display: inline-block;
    font-size: 14px;
    color: #757575;
    letter-spacing: 0;
    line-height: 12.6px;
    margin: 10px;
  }

  .usa-nav-secondary {
    position: relative;
  }

  .sam-header > .usa-header-extended .usa-navbar {
    margin: 0 30px;
    padding: 0;
    max-width: none;
    max-height: 10rem;
    overflow: hidden;
  }

  .usa-nav-primary.usa-accordion {
    margin: 0 3rem;
    padding: 0;
    background-color: white;
  }

  .usa-header {
    background-color: white;
  }

  .usa-nav,
  .usa-nav-inner {
    max-height: 50px;
  }

  .usa-nav-primary button [aria-expanded=false] {
    background-image: url ('/dist/img/arrow-down.png');
    //background-image: url (/dist/img/arrow-down.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: right 0 center;
    background-size: 1.2rem;
  }

  .sam-header-secondary-link {
    display: flex;
    align-items: baseline;
  }
}
@media (max-width: 1024px) {
  .sam-usa-unstyled-list {
    display: none;
  }

  .usa-nav.is-visible {
    background-color: #eff6fb;
  }

  .usa-nav-primary button [aria-expanded=false] {
    background-image: url ('/dist/img/arrow-right.png');
    //background-image: url (/dist/img/arrow-right.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: right 0 center;
    background-size: 1.2rem;
  }

  .usa-nav-primary button [aria-expanded=true] {
    background-image: url ('/dist/img/arrow-down.png');
    //background-image: url (/dist/img/arrow-down.svg), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: right 0 center;
    background-size: 1.2rem;
  }

  .usa-accordion-button .usa-nav-link:hover {
    background-color: #eff6fb;
  }

  .usa-accordion-button .usa-nav-link:focus {
    border-bottom: 3px solid #70e17b;
    outline: none;
    box-shadow: none;
    color: #212121;
  }
}

.sam-mobile-usa-unstyled-list > li > a {
  font-size: 1.7rem;
  line-height: 1;
  color: #757575;
  text-align: left;
  padding: 12px 16px;
}

.sam-sign-out > a {
  color: black;
}

.beta-sam-logo {
  max-height: 44px;
}

.sam-main-content {
  height: 400px;
}
/*******************************
        SB ADDED FOOTER
  *******************************/

.sam-footer {
  display: block;
  background-color: #ecf1f7;
  box-sizing: content-box;
  padding: 10px 150px;
}

.sam-footer-content {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.sam-footer-text {
  width: 100%;
  font-family: SourceSansPro-Regular;
  font-size: 13px;
  color: #323a44;
  text-align: left;
  line-height: normal;
}

.sam-footer-logo {
  width: 200px;
}

.sam-footer-logo > img {
  max-height: 90px;
}

.sam-footer-logo-text {
  color: #005088;
  word-wrap: wrap;
  margin-top: 5px;
}

.sam-footer-links {
  display: flex;
  flex-direction: column;
  margin: 15px 20px;
  width: 220px;
}

.sam-footer-links > h4 {
  //font-family: SourceSansPro-Bold;
  font-size: 18px;
  color: #212121;
  letter-spacing: 0;
  font-weight: bold;
}

.sam-footer-links > a {
  //font-family: SourceSansPro-Regular;
  font-size: 16px;
  color: #205493;
  letter-spacing: 0;
  line-height: 26px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .sam-footer {
    padding: 5% 10%;
  }

  .sam-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sam-footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sam-footer-logo-text {
    font-size: 16;
  }

  .sam-footer-links {
    padding-top: 10px;
    text-align: center;
  }

  .sam-footer-text {
    text-align: center;
  }
}
/*******************************
        SB ADDED PAGINATION
  *******************************/

.sam-pagination {
  display: flex;
  align-items: baseline;
}

.sam-pagination > p {
  font-size: 20px;
  font-weight: 500;
  margin: auto 0;
  padding: 0;
}

.sam-pagination-expanded {
  list-style-type: none;
  padding: 0;
}

.sam-pagination-expanded > li {
  display: inline-block;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 500;
}

.sam-pagination-expanded > li > * {
  color: black;
  height: 14px;
  font-size: 20px;
}
