<ul class="sds-autocomplete" role="listbox">
  <li role="option" class="sds-autocomplete__group">
    <div class="sds-autocomplete__item">FORMULA GRANTS</div>
    <ul>
      <li class="sds-autocomplete__item">Formula Grants</li>
      <li class="sds-autocomplete__item">Formula Grants (Apportionments)</li>
      <li class="sds-autocomplete__item">Formula Grants (Cooperative Agreements)</li>
      <li class="sds-autocomplete__group sds-autocomplete__group--disabled">
        <div class="sds-autocomplete__item">Formula Grants (Health Incentive Grants)</div>
        <ul>
          <li class="sds-autocomplete__item sds-autocomplete__item--disabled">Option 1</li>
          <li class="sds-autocomplete__item">Option 2</li>
          <li class="sds-autocomplete__item sds-autocomplete__item--selected">Option 3</li>

          <li class="sds-autocomplete__item">
            <span class="display-block text-semibold">Multiline Example</span>
            <span>Option 4</span>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li role="option" class="sds-autocomplete__group sds-autocomplete__group--disabled">
    <div class="sds-autocomplete__item sds-autocomplete__item--selected">PROJECT GRANTS</div>
    <ul>
      <li class="sds-autocomplete__item">Cooperative Agreements</li>
      <li class="sds-autocomplete__item">Cooperative Agreements (Discretionary Grants)</li>
      <li class="sds-autocomplete__item">Project Grants</li>
      <li class="sds-autocomplete__item">Project Grants (Capacity Building and Complaint Processing, Training)</li>
      <li class="sds-autocomplete__item sds-autocomplete__item--selected">Project Grants (Contracts)</li>
      <li class="sds-autocomplete__item">Project Grants (Cooperative Agreements or Contracts)</li>
      <li class="sds-autocomplete__item">Project Grants (Cooperative Agreements)</li>
      <li class="sds-autocomplete__item">Project Grants (Discretionary)</li>
      <li class="sds-autocomplete__item">Project Grants (Fellowships)</li>
      <li class="sds-autocomplete__item">Project Grants (for administration projects authorized under Section</li>
      <li class="sds-autocomplete__item">Project Grants (for collaborative design of curriculum, production of</li>
      <li class="sds-autocomplete__item">Project Grants (for specified projects)</li>
      <li class="sds-autocomplete__item">Project Grants (including individual awards)</li>
      <li class="sds-autocomplete__item">Project Grants (including travel grants)</li>
      <li class="sds-autocomplete__item">Project Grants (Rehabilitation of existing indoor and outdoor recreat</li>
      <li class="sds-autocomplete__item">Project Grants (Special)</li>
      <li class="sds-autocomplete__item">Project Grants (to capitalize loan funds)</li>
      <li class="sds-autocomplete__item">Project Grants (with Formula Distribution)</li>
    </ul>
  </li>
  <li role="option" class="sds-autocomplete__group">
    <div class="sds-autocomplete__item">DIRECT PAYMENTS FOR A SPECIFIED USE</div>
    <ul>
      <li class="sds-autocomplete__item">Direct Payments for Specified Use</li>
      <li class="sds-autocomplete__item">Direct Payments for Specified Use (Cooperative Agreements)</li>
    </ul>
  </li>
  <li role="option" class="sds-autocomplete__group">
    <div class="sds-autocomplete__item">DIRECT PAYMENTS WITH UNRESTRICTED USE</div>
    <ul>
      <li class="sds-autocomplete__item">Direct Payments with Unrestricted Use</li>
    </ul>
  </li>
  <li role="option" class="sds-autocomplete__group">
    <div class="sds-autocomplete__item">DIRECT LOANS</div>
    <ul>
      <li class="sds-autocomplete__item">Direct Loans</li>
    </ul>
  </li>
  <li role="option" class="sds-autocomplete__group">
    <div class="sds-autocomplete__item">GUARANTEED/INSURED LOANS</div>
    <ul>
      <li class="sds-autocomplete__item">Guaranteed/Insured Loans</li>
      <li class="sds-autocomplete__item">Guaranteed/Insured Loans (including Guaranty Participation Loans)</li>
      <li class="sds-autocomplete__item">Guaranteed/Insured Loans (including Immediate Participation Loans)</li>
      <li class="sds-autocomplete__item">Loan Guarantees/Grants</li>
    </ul>
  </li>
  <li role="option" class="sds-autocomplete__group">
    <div class="sds-autocomplete__item">INSURANCE</div>
    <ul>
      <li class="sds-autocomplete__item">Insurance</li>
      <li class="sds-autocomplete__item">Insurance (Guaranteed Surety Bonds)</li>
      <li class="sds-autocomplete__item">Insurance (Reimbursement)</li>
    </ul>
  </li>
  <li role="option" class="sds-autocomplete__group">
    <div class="sds-autocomplete__item">SALE, EXCHANGE, OR DONATION OF PROPERTY OR GOODS</div>
    <ul>
      <li class="sds-autocomplete__item">Sale, Exchange, or Donation of Property and Goods</li>
    </ul>
  </li>
</ul>