{% for content in contents %}
<h3 class="sds-list__title">
    {{content.listTitle}}
</h3>
<ul class="sds-list sds-list--icon sds-list--icon-lg  margin-bottom-4">
    {% for item in content.items %}
    <li>
        <span class="sds-icon">
            {% if item.circled %}
            <span class="sds-icon__circle {% if item.circledStyle %}{{ item.circledStyle }}{% else %}bg-primary-light border-primary-vivid{% endif %}">
            {% endif %}
                {%- render '@icons--single', {icon: item.icon} -%}
            {% if item.circled %}
            </span>
            {% endif %}
        </span>
        <a class="usa-link" href="#">
            {{item.text}}
        </a>
    </li>
    {% endfor %}
</ul>
{% endfor %}