<div class="styleguide-content usa-prose">

  <h2 id="uswds-system-color-tokens">
    System color tokens
  </h2>

  <p>
    SAM system color tokens are the palette of color tokens from which any SAM project can build a transitional color palette:
    <code class="highlighter-rouge">violet</code>
  </p>

  <p>
    For more information:
    <a class="usa-link" href="https://v2.designsystem.digital.gov/design-tokens/color/system-tokens/">
      USWDS system color tokens
    </a>
  </p>

  <div class="site-table-wrapper">
    <table class="usa-table-borderless site-table-responsive">
      <thead>
        <tr>
          <th scope="col">Color</th>
          <th scope="col">Token</th>
          <th scope="col">Family</th>
          <th scope="col">Grade</th>
          <th scope="col" class="text-right">Hex</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch violet-10v"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'violet-10v'</span>
          </td>
          <td data-title="Family" class="font-mono-2xs">
            'violet-vivid'
          </td>
          <td data-title="Garde" class="font-mono-2xs">
            10
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">

            #ede3ff
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch violet-20v"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'violet-20v'</span>
          </td>
          <td data-title="Family" class="font-mono-2xs">
            'violet-vivid'
          </td>
          <td data-title="Garde" class="font-mono-2xs">
            20
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">

            #d5bfff
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch violet-30v"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'violet-30v'</span>
          </td>
          <td data-title="Family" class="font-mono-2xs">
            'violet-vivid'
          </td>
          <td data-title="Garde" class="font-mono-2xs">
            30
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">

            #c39deb
          </td>
        </tr>
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch violet-40v"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'violet-40v'</span>
          </td>
          <td data-title="Family" class="font-mono-2xs">
            'violet-vivid'
          </td>
          <td data-title="Garde" class="font-mono-2xs">
            40
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">

            #ad79e9
          </td>
        </tr>
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch violet-50v"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'violet-50v'</span>
          </td>
          <td data-title="Family" class="font-mono-2xs">
            'violet-vivid'
          </td>
          <td data-title="Garde" class="font-mono-2xs">
            50
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">

            #9355dc
          </td>
        </tr>
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch violet-60v"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'violet-60v'</span>
          </td>
          <td data-title="Family" class="font-mono-2xs">
            'violet-vivid'
          </td>
          <td data-title="Garde" class="font-mono-2xs">
            60
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">

            #783cb9
          </td>
        </tr>
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <span class="site-inline-swatch violet-70v"></span>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'violet-70v'</span>
          </td>
          <td data-title="Family" class="font-mono-2xs">
            'violet-vivid'
          </td>
          <td data-title="Garde" class="font-mono-2xs">
            70
          </td>
          <td data-title="Value" class="font-mono-2xs text-right">

            #562b97
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
