<main>
<div class="sds-page">
    <div class="sds-toolbar">
        <div class="sds-toolbar__header">
            <div class="sds-toolbar__toggle">
                <a class="sds-toolbar__toogle-btn" href="">
        			<span class="usa-sr-only">Open/Close Toolbar</span>
      			</a>
            </div>
        </div>
        <div class="sds-toolbar__content" hidden="hidden">
            <div class="sds-accordion" data-allow-multiple="data-allow-multiple">
                <div class="sds-accordion__item">
                    <h3>
                    	<button aria-expanded="true" class="sds-accordion__trigger" aria-controls="accordion-nav-content" id="accordion-nav-id">
            				<span class="sds-accordion__title">
              					Navigation
              					<span class="sds-accordion__icon"></span>
            				</span>
          				</button>
                    </h3>
                    <div id="accordion-nav-content" role="region" aria-labelledby="accordion-nav-id" class="sds-accordion__panel" hidden="">
                        <div class="sds-accordion__panel-body">
                            <nav>
                                <ul class="usa-sidenav">
                                    <li class="usa-sidenav__item">
                                        <a href="">Parent link</a>
                                    </li>
                                    <li class="usa-sidenav__item">
                                        <a href="" class="usa-current">Current page</a>
                                        <ul class="usa-sidenav__sublist">
                                            <li class="usa-sidenav__item">
                                                <a href="">Child link</a>
                                            </li>
                                            <li class="usa-sidenav__item">
                                                <a href="">Child link</a>
                                            </li>
                                            <li class="usa-sidenav__item">
                                                <a href="">Child link</a>
                                            </li>
                                            <li class="usa-sidenav__item">
                                                <a href="">Child link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="usa-sidenav__item">
                                        <a href="">Parent link</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    	<div></div>
	</div>
    <div></div>
	<div class="sds-page-multi__content">
		<div class="sds-page-multi__banner">
			<h2 class="untitled">Untitled System Account</h2>
		</div>
		<div class="multi-step-form">
			<h3>System Information</h3>
			<p class="form-instruction--large">When you assign a role to someone who doesn’t have already have a role with your entity, we will send them an email with instructions and a link to sam.gov.  If they already have a user account, they will be prompted to accept the role when they sign in next.  Otherwise they will be prompted to create a user account and then to accept the role.</p>
			<form class="usa-form">
			  <label class="usa-label" for="account-name">System Account Name</label>
			  <p class="form-instruction">Provide a unique name for your new system account.</p>
			  <input class="usa-input" id="account-name" name="account-name" type="text">

			  <label class="usa-label" for="interfacing-system">Interfacing System Name and Version</label>
			  <p class="form-instruction">Provide the name and version number of the interfacing system (COTS, GOTS, or other product) for inclusion in our system security plan.</p>
			  <input class="usa-input" id="interfacing-system" name="interfacing-system" type="text">

			  <label class="usa-label" for="description">System Description</label>
			  <p class="form-instruction">Provide a brief description of the interfacing system and what it does.  This may be taken directly from your system security plan, if you have one.</p>
			  <p class="form-instruction"><b>Example:</b>  The IRS stated in a current MOU that their system tracks all incoming commitment requsts and captures the infromation necessary to make awards.</p>
			  <textarea class="usa-textarea" id="description" name="description"></textarea>
			  <div class="sds-button-row">
			  		<button class="usa-button usa-button--secondary">Cancel</button>
			  		<button class="usa-button">Assign</button>
			  </div>
			</form>
		</div>
	</div>
</div>
</main>
