<div class="sds-page sds-page--simple">
	<div class="sds-page--simple__content">
		<div class="sds-form--simple">
			<h1>Assign Role</h1>
			<p class="form-instruction--large">When you assign a role to someone who doesn’t have already have a role with your entity, we will send them an email with instructions and a link to sam.gov.  If they already have a user account, they will be prompted to accept the role when they sign in next.  Otherwise they will be prompted to create a user account and then to accept the role.</p>
			<form class="usa-form">
			  <label class="usa-label" for="email-address">Email Address</label>
			  <p class="form-instruction">Enter the email addresses of the people you are assigning this role.  If you enter more than one address, all individuals will be receive the same assignment.</p>
			  <input class="usa-input" id="email-address" name="email-address" type="text">

			  <label class="usa-label" for="role">Role</label>
			  <p class="form-instruction">Assign the user a role. You may only assign one role at a time.</p>
		      <select class="usa-select" name="role" id="role">
			    	<option value>- Select -</option>
			    	<option value="viewer">Viewer</option>
			    	<option value="data-entry">Data Entry</option>
			    	<option value="administrator">Administrator</option>
			  </select>

			  <label class="usa-label" for="domains">Domains</label>
			  <p class="form-instruction">Assign the user role for one or more domains</p>
		      <select class="usa-select" name="domains" id="domains">
			    	<option value>- Select -</option>
			    	<option value="opportunities">Contract Opportunities</option>
			    	<option value="registration">Entity Registration</option>
			    	<option value="compliance">Entity Compliance</option>
			    	<option value="subawards">Subaward Reporting</option>
			    	<option value="performance">Past Performance</option>
			  </select>

			  <label class="usa-label" for="entities">Entities</label>
			  <p class="form-instruction">Enter a unique entity ID, CAGE, or legal business name to identify the entity.  You may assign this role for more than one entity.</p>
			  <input class="usa-input" id="entities" name="entities" type="text">

			  <label class="usa-label" for="additional-info">Additional Information</label>
			  <p class="form-instruction">Provide instructions or background information that will help the user understand who is assigning them this role and why they are being given the role.</p>
			  <textarea class="usa-textarea" id="additional-info" name="additional-info"></textarea>
			  <div class="sds-button-row">
			  	<div class="sds-button-col">
			  		<button class="usa-button usa-button--secondary">Cancel</button>
			  		<button class="usa-button">Assign</button>
			  	</div>
			  </div>
			</form>
		</div>
	</div>
</div>