<h3 class="margin-top-0">Basic Tile Example</h3>
<div class="sds-tile__wrapper">
  <a href="#" class="sds-tile">
    <i class="sds-tile__icon sds fa-new-note fa-4x text-disabled"></i>
    <div>
      <div class="sds-tile__title">Tile Title</div>
      <div class="sds-tile__details">tile details</div>
    </div>
  </a>
</div>
<div class="sds-tile__wrapper">
  <a href="#" class="sds-tile">
    <i class="sds-tile__icon sds fa-workspace fa-4x"></i>
    <div>
      <div class="sds-tile__title">Tile Title</div>
      <div class="sds-tile__details">tile with a lot more details</div>
    </div>
  </a>
</div>
