<div class="bg-accent-cool padding-y-4">
<h3 class="margin-top-0">Outline Tile Example</h3>
<div class="sds-tile">
  <a href="#" class="sds-tile__content sds-tile--outline">
    <i class="sds-tile__icon sds fa-building text-primary"></i>
    <div class="sds-tile__title">Tile Title</div>
    <div class="sds-tile__details">(tile details)</div>
  </a>
</div>
<div class="sds-tile">
  <a href="#" class="sds-tile__content sds-tile--outline">
    <i class="sds-tile__icon sds fa-new-note text-black"></i>
    <div class="sds-tile__title">Tile Title</div>
  </a>
</div>
</div>
