<h3 class="margin-top-0">Outline Tile Example</h3>
<span>**Striped background used to demonstrate opacity</span>
<div class="background-example">
  <div class="sds-tile__wrapper">
    <a href="#" class="sds-tile sds-tile--outline">
      <i class="sds-tile__icon sds fa-file-chart-line"></i>
      <div class="sds-tile__title">Contract Data Reports</div>
      <div class="sds-tile__details">(fdps.gov)</div>
    </a>
  </div>
  <div class="sds-tile__wrapper">
    <a href="#" class="sds-tile sds-tile--outline">
      <i class="sds-tile__icon sds fa-book"></i>
      <div class="sds-tile__title">Exclusions</div>
    </a>
  </div>
</div>
