<h3 class="margin-top-0">Outline Tile Example</h3>
<div class="sds-tile__wrapper">
  <a href="#" class="sds-tile sds-tile--outline">
    <i class="sds-tile__icon sds fa-file-chart-line"></i>
    <div class="sds-tile__title">Tile Title</div>
    <div class="sds-tile__details">(tile details)</div>
  </a>
</div>
<div class="sds-tile__wrapper">
  <a href="#" class="sds-tile sds-tile--outline">
    <i class="sds-tile__icon sds fa-book"></i>
    <div class="sds-tile__title">Tile Title</div>
  </a>
</div>
