<style scoped>
  .usa-header {
    margin-bottom: 14rem;
  }

  .usa-header ~ .usa-header {
    border-top: 1px dotted black;
  }
</style>

{% render '@header--extended-mega', {header: ({title: 'Logo'})}, true %}
