<div class="sam-header">
  <header class="usa-header usa-header-extended" role="banner">
    <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo-text">
        <a href="/"
          title="Home"
          aria-label="Home">
          <img src="/dist/img/sam-logo.png" alt="Beta Sam Logo" class="beta-sam-logo">
        </a>
      </em>
    </div>
    <button class="usa-menu-btn sam-header-menu-btn">
      <img src="/dist/img/Mobile-MenuActive.png" alt="Menu">
    </button>

    <div class="usa-nav-secondary">
      <ul class="sam-usa-unstyled-list usa-nav-secondary-links">
        <li>
          <a href="" class="sam-header-secondary-link"><img src="/dist/img/Messages.png" alt="Messages Icon"> Messages</a>
        </li>
        <li>
          <a href="" class="sam-header-secondary-link"><img src="/dist/img/Requests.png" alt="Requests Icon"> Requests</a>
        </li>
        <li>
          <a href="" class="sam-header-secondary-link"><img src="/dist/img/Workspace.png" alt="Workspace Icon"> Workspace</a>
        </li>
        <li>
          <a href="" class="sam-header-secondary-link"><img src="/dist/img/SignOut.png" alt="Sign Out Icon"> Sign Out</a>
        </li>
      </ul>
    </div>
  </div>

    <nav role="navigation" class="usa-nav">
      <div class="usa-nav-inner">
        <button class="usa-nav-close">
          <img src="/dist/img/green-arrow.png" alt="close">
        </button>
        <ul class="usa-nav-primary usa-accordion">
          <li class="navbar-btn">
            <a class="usa-nav-link" href="https://beta.sam.gov/search?keywords=&sort=-modifiedDate&index=&is_active=true&page=1">
              <span>Search</span>
            </a>
          </li>
          <li class="navbar-btn">
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-one" id="sam-header-btn">
              <span>Databank</span>
            </button>
            <ul id="extended-nav-section-one" class="usa-nav-submenu">
              <li>
                <a href="#">Contracting Information</a>
              </li>
              <li>
                <a href="#">Assistance Listings</a>
              </li>
              <li>
                <a href="#">Entity Information</a>
              </li>
              <li>
                <a href="#">Federal Hierarchy</a>
              </li>
              <li>
                <a href="#">Wage Determinations</a>
              </li>
            </ul>
          </li>
          <li class="navbar-btn">
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-two" id="sam-header-btn">
              <span>Data Services</span>
            </button>
            <ul id="extended-nav-section-two" class="usa-nav-submenu">
              <li>
                <a href="#">Page title</a>
              </li>
              <li>
                <a href="#">Page title</a>
              </li>
              <li>
                <a href="#">Page title</a>
              </li>
            </ul>
          </li>
          <li class="navbar-btn">
            <a class="usa-nav-link" href="https://beta.sam.gov/help/new-to-sam">
              <span>Help</span>
            </a>
          </li>
        </ul>

        <div class="usa-nav-secondary">
          <ul class="sam-mobile-usa-unstyled-list usa-nav-secondary-links" id="sam-secondary-mobile-header-nav">
            <li>
              <a href="https://beta.sam.gov/workspace"><img src="/dist/img/Messages.png" alt="Messages Icon">Messages</a>
            </li>
            <li>
              <a href="https://beta.sam.gov/workspace"><img src="/dist/img/Requests.png" alt="Requests Icon">Requests</a>
            </li>
            <li>
              <a href="https://beta.sam.gov/workspace"><img src="/dist/img/Workspace.png" alt="Workspace Icon">Workspace</a>
            </li>
            <li class="sam-sign-out">
              <a href=""><img src="/dist/img/SignOut.png" alt="SignOut Icon">Sign Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="usa-overlay"></div>
  <main id="main-content" class="sam-main-content"></main>
</div>
