<h3>Status Outline Label</h3>
<div class="sds-label--outline">
  <h1 class="sds-label--outline-title">Status</h1>
  <span class="sds-tag sds-tag--outline-green">Active</span>
</div>
<div class="sds-label--outline">
  <h1 class="sds-label--outline-title">Status</h1>
  <span class="sds-tag sds-tag--outline-gray">Draft</span>
</div>
<div class="sds-label--outline">
  <h1 class="sds-label--outline-title">Status</h1>
  <span class="sds-tag sds-tag--outline-dark-gray ">Submitted</span>
</div>
<div class="sds-label--outline">
  <h1 class="sds-label--outline-title">Status</h1>
  <span class="sds-tag sds-tag--outline-yellow">In Progress</span>
</div>
<div class="sds-label--outline">
  <h1 class="sds-label--outline-title">Status</h1>
  <span class="sds-tag sds-tag--outline-light-blue">Draft</span>
</div>
<div class="sds-label--outline">
  <h1 class="sds-label--outline-title">Status</h1>
  <span class="sds-tag sds-tag--outline-red">Expired</span>
</div>

<h3>Outline Label Options</h3>

<div class="sds-label--outline">
  <h1 class="sds-label--outline-title">Expiration Date</h1>
  <span class="sds-tag sds-tag--outline-options">Feb 20, 2019</span>
</div>
