<div class="sds-tag--alert">
  <i class="sam warning fa-2x"></i>
  <span class="sds-tag--alert-content">
    <b>
      <i>Address Needs to be Updated</i>
    </b><br>
    5438 Kerluke Lake Apt. 937<br>
    Glen Burnie, MD 21061 United States
  </span>
</div>
