{% if ordered %}
  <ol class="usa-list">
{% else %}
  <ul class="usa-list{% for modifier in modifiers %} usa-list--{{modifier}}{% endfor %}">
{% endif %}

  {% for item in items %}
    <li>{{item}}</li>
  {% endfor %}

{% if ordered %}
  </ol>
{% else %}
  </ul>
{% endif %}