<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ _target.title }}</title>

    <link rel="stylesheet" href="{{ '/sds.css' | path }}" type="text/css">

    {# Fontawesome #}
    <script defer src="{{ '/assets/scripts/fontawesome/regular.js' | path }}"></script>
    <script defer src="{{ '/assets/scripts/fontawesome/solid.js' | path }}"></script>
    <script defer src="{{ '/icons.js' | path }}"></script>
    <script defer src="{{ '/assets/scripts/fontawesome/fontawesome.js' | path }}"></script>

  </head>
  <body>
    {% block body %}
      {{ yield }}
    {% endblock %}

    <script src="{{ '/assets/scripts/uswds/uswds.min.js' | path }}"></script>
    <script src="{{ '/sds.js' | path }}"></script>
  </body>
</html>