.sds-min-width-160 {
    min-width: 160px;
  }
  
  .sds-width-max-content {
    width: max-content;
  }
  
  .sds-width-min-content {
    width: min-content;
  }
  
  .sds-height-max-content {
    height: max-content;
  }
  
  .sds-height-min-content {
    height: min-content;
  }