.cursor-pointer {
    cursor: pointer;
  }
  
  .minw-card-lg {
    min-width: 240px;
  }
  
  .sds-measure-7 {
    max-width: 96ex !important;
  }
  
  .sds-measure-8 {
    max-width: 104ex !important;
  }
  
  .sds-measure-9 {
    max-width: 120ex !important;
  }
  
  .sds-measure-10 {
    max-width: 136ex !important;
  }