<h1>Colors</h1>
<p>A set of utility classes to apply color and background color.</p>

<h2>Color</h2>
<p>Set the color of text for an element.</p>
<div class="border border-base-light padding-x-5 padding-y-05">
  <p class="sds-text-primary">.sds-text-primary</p>
  <p class="sds-text-secondary">.sds-text-secondary</p>
  <p class="sds-text-success">.sds-text-success</p>
  <p class="sds-text-danger">.sds-text-danger</p>
  <p class="sds-text-warning">.sds-text-warning</p>
  <p class="sds-text-info">.sds-text-info</p>
  <p class="sds-text-light bg-dark">.sds-text-light</p>
  <p class="sds-text-dark">.sds-text-dark</p>
  <p class="sds-text-body">.sds-text-body</p>
  <p class="sds-text-muted">.sds-text-muted</p>
</div>

<h2>Background color</h2>
<p>Set the background color of an element.</p>
<div class="border border-base-light padding-x-5 padding-y-05">
  <div class="padding-1 margin-y-2 sds-bg-primary sds-text-white">.sds-bg-primary</div>
  <div class="padding-1 margin-y-2 sds-bg-secondary sds-text-white">.sds-bg-secondary</div>
  <div class="padding-1 margin-y-2 sds-bg-success sds-text-white">.sds-bg-success</div>
  <div class="padding-1 margin-y-2 sds-bg-danger sds-text-white">.sds-bg-danger</div>
  <div class="padding-1 margin-y-2 sds-bg-warning sds-text-dark">.sds-bg-warning</div>
  <div class="padding-1 margin-y-2 sds-bg-info sds-text-white">.sds-bg-info</div>
  <div class="padding-1 margin-y-2 sds-bg-light sds-text-white">.sds-bg-light</div>
  <div class="padding-1 margin-y-2 sds-bg-dark sds-text-white">.sds-bg-dark</div>
  <div class="padding-1 margin-y-2 sds-bg-white sds-text-dark">.sds-bg-white</div>
  <div class="padding-1 margin-y-2 sds-bg-transparent sds-text-dark">.sds-bg-transparent</div>
</div>




