.sds-dialog__container {
    display: block;
    padding: var(--sam-spacing-32px);
    border-radius: var(--sam-border-radius-dialog);
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: var(--sam-width-full);
    height: var(--sam-height-full);
    min-height: inherit;
    max-height: 90vh;
    position: relative;

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: var(--sam-border-radius-dialog);
        background-color: var(--sam-overlay-black-50);
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
}

.sds-dialog__container {
    box-shadow: var(--sam-shadow-dialog);
    background: var(--sam-color-white);
}

.sds-dialog-title {
    margin: 0 0 var(--sam-spacing-24px);
    display: block;
}

.sds-dialog-content {
    display: block;
    margin: 0 calc(-1 * var(--sam-spacing-24px));
    padding: 0 var(--sam-spacing-24px);
    max-height: 65vh;
    overflow: auto;
    line-height: var(--sam-line-height-20px);
    -webkit-overflow-scrolling: touch;
}

.sds-dialog-content.sds-dialog-content--centered {
    p {
        margin: var(--sam-spacing-auto);
    }
}

.sds-dialog-actions {
    padding: var(--sam-spacing-8px) 0;
    display: flex;
    flex-wrap: wrap;
    min-height: var(--sam-size-51px);
    align-items: center;
    margin-bottom: calc(-1 * var(--sam-spacing-24px));
}

.sds-dialog__container {
    .close-btn {
        @include button-unstyled;
        position: absolute;
        right: var(--sam-spacing-24px);
        top: var(--sam-spacing-16px);
        width: var(--sam-spacing-24px);
        height: var(--sam-spacing-24px);
        text-align: center;
        color: var(--sam-color-dialog-gray-medium);
    }

    .sds-dialog-title {
        font-size: var(--sam-font-size-24px);
        font-weight: var(--sam-font-weight-semibold);
    }

    .sds-dialog-subtitle {
        font-size: var(--sam-font-size-20px);
    }

    .sds-dialog-actions {
        margin-bottom: var(--sam-spacing-10px);
        margin-top: var(--sam-spacing-24px);
        justify-content: flex-end;
    }

    // Centers text and flex content
    .sds-dialog-section--centered {
        @include u-text('center');
        @include u-flex('justify-center');
    }
}

// Dialog Alert
// ================================
.sds-dialog--alert {
    border-width: var(--sam-border-width-3px);
    border-style: solid;
    border-radius: var(--sam-border-radius-lg);
    background-color: var(--sam-color-dialog-bg-light);

    .sds-dialog-icon {
        text-align: center;
        margin-top: var(--sam-spacing-6px);
    }

    .sds-dialog-title {
        text-align: center;
        font-size: var(--sam-font-size-28px);
        font-weight: var(--sam-font-weight-semibold);
        margin-top: var(--sam-spacing-16px);
        margin-bottom: var(--sam-spacing-10px);
    }

    .sds-dialog-content {
        text-align: center;
        font-size: var(--sam-font-size-20px);
        line-height: var(--sam-line-height-26px);
        font-weight: var(--sam-font-weight-normal);
        color: var(--sam-color-dialog-gray-dark);
    }

    .sds-dialog-actions {
        margin-top: var(--sam-spacing-32px);
        margin-bottom: var(--sam-spacing-0);
        justify-content: center;
    }
}

.sds-dialog--alert-error {
    border-color: var(--sam-color-dialog-error);

    .sds-dialog-icon {
        color: var(--sam-color-dialog-error);
    }
}

.sds-dialog--alert-warning {
    border-color: var(--sam-color-dialog-warning);

    .sds-dialog-icon {
        color: var(--sam-color-dialog-warning);
    }
}

.sds-dialog--alert-info {
    border-color: var(--sam-color-dialog-info);

    .sds-dialog-icon {
        color: var(--sam-color-dialog-info);
    }
}

.sds-dialog--alert-success {
    @include u-border('primary-dark');

    .sds-dialog-icon {
        color: color("primary");
    }
}

.sds-dialog--full {
    .sds-dialog__container {
        @extend .sds-dialog__container;
        height: 100vh;
        height: 100vh;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 5px;
        padding-top: 4px;
    }
}