@use "uswds-core" as *;
@use "sam-styles/packages/theme/variables" as *;

@mixin adjust-responsive-site-margins {
  margin-left: -(units($theme-site-margins-mobile-width));
  margin-right: -(units($theme-site-margins-mobile-width));
  padding-left: (units($theme-site-margins-mobile-width));
  padding-right: (units($theme-site-margins-mobile-width));

  @include at-media($theme-site-margins-breakpoint) {
      margin-left: -(units($theme-site-margins-width));
      margin-right: -(units($theme-site-margins-width));
      padding-left: (units($theme-site-margins-width));
      padding-right: (units($theme-site-margins-width));
  }
}


.sds-hero {
    @include u-height('full');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    @include adjust-responsive-site-margins;
    @include u-padding-y(4);

    &--image{
      background-image: url("#{$sam-image-path}/landing-hero.png");
    }
  }
  .sds-hero .sds-seal {
    margin-right: -(units($theme-site-margins-mobile-width));
    @include at-media($theme-site-margins-breakpoint) {
        margin-right: -(units($theme-site-margins-width));
    }
  }