sds-icon.action-icon > * > * {
  @include u-bg("primary");
  @include u-text("white");
  @include u-border(0);
  border-radius: 50%;
}

sds-icon.external-link > * > * {
  font-size: inherit;
  @include u-margin-left(1);
  @include u-text("top");
  @include u-display("inline");
}

.sds-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;

  &.sds-xs {
    font-size: 0.75em;
  }
  &.sds-sm {
    font-size: 0.875em;
  }
  &.sds-lg {
    font-size: 1.33em;
  }
  &.sds-2x {
    font-size: 2em;
  }
  &.sds-3x {
    font-size: 3em;
  }
  &.sds-4x {
    font-size: 4em;
  }
  &.sds-5x {
    font-size: 5em;
  }
  &.sds-6x {
    font-size: 6em;
  }
  &.sds-7x {
    font-size: 7em;
  }
  &.sds-8x {
    font-size: 8em;
  }
  &.sds-9x {
    font-size: 9em;
  }
  &.sds-10x {
    font-size: 10em;
  }

  .sds-stack-icon {
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    display: block;
  }
}

.bi-bold {
  -webkit-text-stroke: 1px;
}