//SDS Statistics

.sds-statistics {
    display: flex;
    flex-wrap: wrap;
  
    .statistic {
      margin: var(--sam-spacing-6px) var(--sam-spacing-16px);
      background-color: var(--sam-color-transparent);
      border: none;
  
      .value {
        color: var(--sam-color-status-gray-darkest);
        font-weight: var(--sam-font-weight-bold);
        font-size: var(--sam-font-size-24px);
        letter-spacing: var(--sam-letter-spacing-tight);
        text-align: center;
  
        .circular {
          display: block;
          margin: 0 auto;
          height: 45px;
          width: 75px;
          padding: var(--sam-spacing-6px) var(--sam-spacing-2px);
          border-radius: var(--sam-border-radius-3xl);
          line-height: var(--sam-line-height-32px);
          transition: all var(--sam-transition-slow);
        }
      }
  
      .label {
        color: var(--sam-color-status-gray-dark);
        font-size: var(--sam-font-size-14px);
        text-align: center;
        text-transform: uppercase;
        margin-top: var(--sam-spacing-8px);
        line-height: var(--sam-line-height-16px);
      }
    }
  
    .statistic:hover {
      text-decoration: none;
    }
    // COLORS
    // Green
    .green.statistic > .value > .circular {
      background: var(--sam-color-status-green-light);
      border: var(--sam-border-width-1px) solid var(--sam-color-status-green-dark);
    }
  
    .green.statistic:hover > .value > .circular {
      color: var(--sam-color-white);
      background: var(--sam-color-status-green-dark);
    }
    // Blue
    .blue.statistic > .value > .circular {
      background: var(--sam-color-status-blue-light);
      border: var(--sam-border-width-1px) solid var(--sam-color-status-blue-dark);
    }
  
    .blue.statistic:hover > .value > .circular {
      color: var(--sam-color-white);
      background: var(--sam-color-status-blue-dark);
    }
    // Red
    .red.statistic > .value > .circular {
      background: var(--sam-color-status-red-light);
      border: var(--sam-border-width-1px) solid var(--sam-color-status-red-dark);
    }
  
    .red.statistic:hover > .value > .circular {
      color: var(--sam-color-white);
      background: var(--sam-color-status-red-dark);
    }
    // Orange
    .orange.statistic > .value > .circular {
      background: var(--sam-color-status-orange-light);
      border: var(--sam-border-width-1px) solid var(--sam-color-status-orange-dark);
    }
  
    .orange.statistic:hover > .value > .circular {
      color: var(--sam-color-white);
      background: var(--sam-color-status-orange-dark);
    }
    // Grey
    .grey.statistic > .value > .circular {
      background: var(--sam-color-status-gray-light);
      border: var(--sam-border-width-1px) solid var(--sam-color-status-gray-medium);
    }
  
    .grey.statistic:hover > .value > .circular {
      color: var(--sam-color-white);
      background: var(--sam-color-status-gray-medium);
    }
    // Yellow
    .yellow.statistic > .value > .circular {
      background: var(--sam-color-status-yellow-light);
      border: var(--sam-border-width-1px) solid var(--sam-color-status-yellow-medium);
    }
  
    .yellow.statistic:hover > .value > .circular {
      color: var(--sam-color-white);
      background: var(--sam-color-status-yellow-medium);
    }
  }
  
  .sds-statistics--alt {
    background-color: var(--sam-color-bg-light-beige);
    width: min-content;
  
    .statistic-alt {
      background-color: var(--sam-color-transparent);
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90px;
      height: 70px;
  
      .value {
        color: var(--sam-color-status-blue-medium);
        font-size: var(--sam-font-size-24px);
        font-weight: var(--sam-font-weight-bold);
        line-height: var(--sam-line-height-42px);
        margin: var(--sam-spacing-auto);
        letter-spacing: var(--sam-letter-spacing-tighter);
      }
  
      .label {
        color: var(--sam-color-status-gray-dark);
        font-size: var(--sam-font-size-14px);
        font-weight: var(--sam-font-weight-normal);
        line-height: var(--sam-line-height-14px);
        text-align: center;
        padding: 0 var(--sam-spacing-6px) var(--sam-spacing-6px);
      }
    }
  }