.sds-subheader__title,
.subheader__buttons {
  @include u-margin-bottom(1);
  @include at-media(tablet) {
    @include u-margin-bottom(0);
  }
}

.subheader__menu {
  @include u-display('none');
  @include at-media(tablet) {
    @include u-display('block');
  }
}

.sds-navbar{
  .sds-subheader__content{
    @include grid-container($theme-header-max-width);
    @include u-display('flex');
    @include u-flex('align-center');
    @include grid-row;
    
    .order-first{
      @include u-display('flex');
      @include u-flex('align-center');
    }
    .button-container{
      @include u-margin-top(0.5);
    }
    .actions-div{
      .actions-button{
        @include u-display('flex');
        @include u-margin-right(0);
        @include u-flex('align-center');
  
        // Desktop
        &.sds-button--labeled-icon{
          @include u-padding-right(0.5);
          .ellipsis-icon{
            @include u-bg('secondary-dark');
            @include u-text('white');
            border-radius: 50%;
            padding: 0.1em 0.2em;
            margin-left: 0.4em;
          }
        }
      
        // Mobile or Tablet
        &.sds-button--circular{
          &:active{
            box-shadow: 0px 0px 0 1px #162e51;
          }
          &:hover{
            box-shadow: 0px 0px 20px -1px #162e51;
          }
        }
      }
    }
  }
}