<table class="usa-table">
  <caption>Call Out Text</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><element class="callout">Field</element></td>
      <th scope="row">&ltelement class="callout">&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Color: Ink (#2E2E2A)</td>
    </tr>
    <tr>
      <td><element class="callout"><a class="usa-link">Field Link</a></element></td>
      <th scope="row">&ltelement class="callout">&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <td><element class="callout--light">Light Text</element></td>
      <th scope="row">&ltelement class="callout--light">&lt/element></th>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Color: Ink (#2E2E2A)</td>
    </tr>
    <tr>
      <td><element class="callout--light"><a class="usa-link">Light Text Link</a></element></td>
      <th scope="row">&ltelement class="callout--light">&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr> 
  </tbody>
</table>