<table class="usa-table">
  <caption>Callout Text</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><element class="sds-callout">Callout Base Class</element></td>
      <th scope="row">&ltelement class="sds-callout">&lt/element></th>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Base-Dark (#454540)</td>
    </tr>  
    <tr>
      <td><element class="sds-callout"><h3>Callout Heading</h3></element></td>
      <th scope="row">&ltelement class="sds-callout">&lth3>&lt/h3>&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-callout"><a class="usa-link">Callout Link</a></element></td>
      <th scope="row">&ltelement class="sds-callout">&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>    
    <tr>
      <td><element class="sds-callout--global">Callout Global</element></td>
      <th scope="row">&ltelement class="sds-callout--global">&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Base-Dark (#454540)</td>
    </tr>     
    <tr>
      <td><element class="sds-callout--global"><h3>Callout Global Heading</h3></element></td>
      <th scope="row">&ltelement class="sds-callout--global">&lth3>&lt/h3>&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-callout--global"><a class="usa-link">Callout Global Link</a></element></td>
      <th scope="row">&ltelement class="sds-callout--global">&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / PLACEHOLDER (#3F57A6)</td>
    </tr>        
    <tr>
      <td><element class="sds-callout--global"><element class="text-light">Callout Global Light Text</element></element></td>
      <th scope="row">&ltelement class="sds-callout--global">&ltelement class="text-light">&lt/element>&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-callout--page">Callout Page</element></td>
      <th scope="row">&ltelement class="sds-callout--callout">&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Base-Dark (#454540)</td>
    </tr>     
    <tr>
      <td><element class="sds-callout--page"><h3>Callout Page Heading</h3></element></td>
      <th scope="row">&ltelement class="sds-callout--page">&lth3>&lt/h3>&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="sds-callout--page"><a class="usa-link">Callout Page Link</a></element></td>
      <th scope="row">&ltelement class="sds-callout--page">&lta class="usa-link">&lt/a>&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / PLACEHOLDER (#3F57A6)</td>
    </tr>        
    <tr>
      <td><element class="sds-callout--page"><element class="text-light">Callout Page Light Text</element></element></td>
      <th scope="row">&ltelement class="sds-callout--page">&ltelement class="text-light">&lt/element>&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Base-Dark (#454540)</td>
    </tr>
  </tbody>   
</table>