<table class="usa-table">
  <caption>Call Out Text</caption>
  <thead>
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&ltp class="callout field">&lt/p></th>
      <td><p class="callout field">Field</p></td>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1rem / Color: Ink (#2E2E2A)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="callout field--link">&lta class="usa-link">&lt/a>&lt/p></th>
      <td><p class="callout field--link"><a class="usa-link">Field Link</a></p></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 2.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="callout light-text">&lt/p></th>
      <td><p class="callout light-text">Light Text</p></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1rem / Color: Ink (#2E2E2A)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="callout light-text--link">&lta class="usa-link">&lt/a>&lt/p></th>
      <td><p class="callout light-text--link"><a class="usa-link">Light Text Link</a></p></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 2.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>   
  </tbody>
</table>