<table class="usa-table">
  <caption>Large Alerts</caption>
  <thead>
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&ltp class="global title">&lt/p></th>
      <td><p class="global title">Global Title</p></td>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="global text">&lt/p></th>
      <td><p class="global text">Global Text</p></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 2.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="global text--link">&lta class="usa-link">&lt/a>&lt/p></th>
      <td><p class="global text--link"><a class="usa-link">Global Text Link</a></p></td>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 2.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="page title">&lt/p></th>
      <td><p class="page title">Page Title</p></td>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="page text">&lt/p></th>
      <td><p class="page text">Page Text</p></td>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 2.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="page text--link">&lta class="usa-link">&lt/a>&lt/p></th>
      <td><p class="page text--link"><a class="usa-link">Page Text Link</a></p></td>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 2.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>      
  </tbody>
</table>