<table class="usa-table">
  <caption>Large Alerts</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><element class="sds-field-value">Field Value</element></td>
      <th scope="row">&ltelement class="sds-field-value">&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Color: Ink (#2E2E2A)</td>
    </tr>
    <tr>
      <td><element class="sds-field-value"><a class="usa-link">Field Value Link</a></element></td>
      <th scope="row">&ltelement class="sds-field-value">&lta link="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Normal / Size: 1.13rem / Line Height: 1.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <td><element class="sds-field-value--light">Field Value Light</element></td>
      <th scope="row">&ltelement class="sds-field-value--light">&lt/element></th>
      <td>Weight: Normal / Size: 1.13rem / Line Height: 1.5rem / Color: Ink (#2E2E2A)</td>
    </tr>
    <tr>
      <td><element class="sds-field-value--light"><a class="usa-link">Field Value Light Link</a></element></td>
      <th scope="row">&ltelement class="sds-field-value--light">&lta link="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Normal / Size: 1.13rem / Line Height: 1.5rem / PLACEHOLDER (#3F57A6)</td>
    </tr>       
  </tbody>
</table>