<table class="usa-table">
  <caption>Large Alerts</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><element class="global-title">Global Title</element></td>
      <th scope="row">&ltelement class="global-title">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>      
      <td><element class="global-text">Global Text</element></td>
      <th scope="row">&ltelement class="global-text">&lt/element></th>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>      
      <td><element class="global-text"><a class="usa-link">Global Text Link</a></element></td>
      <th scope="row">&ltelement class="global-text">&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <td><element class="page-title">Page Title</element></td>
      <th scope="row">&ltelement class="page-title">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>      
      <td><element class="page-text">Page Text</element></td>
      <th scope="row">&ltelement class="page-text">&lt/element></th>
      <td>Weight: Regular / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>      
      <td><element class="page-text"><a class="usa-link">Page Text Link</a></element></td>
      <th scope="row">&ltelement class="page-text">&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Bold / Size: 1.13rem / Line Height: 1.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>     
  </tbody>
</table>