<p>Note to SAM developers: These dot and outline color combinations are not approved for use on SAM</p>
<h3>Colors</h3>
<div class="grid-row flex-align-stretch">
<span class="sds-tag sds-tag--outline--blue margin-1"><i class="sds-status sds-status--sm sds-status--blue"></i>blue</span>
<span class="sds-tag sds-tag--outline--red margin-1"><i class="sds-status sds-status--sm sds-status--red"></i>red</span>
<span class="sds-tag sds-tag--outline--green margin-1"><i class="sds-status sds-status--sm sds-status--green"></i>green</span>
<span class="sds-tag sds-tag--outline--yellow margin-1"><i class="sds-status sds-status--sm sds-status--yellow"></i>yellow</span>
<span class="sds-tag sds-tag--outline--light-blue margin-1"><i class="sds-status sds-status--sm sds-status--light-blue"></i>light-blue</span>
<span class="sds-tag sds-tag--outline--gray margin-1"><i class="sds-status sds-status--sm sds-status--gray"></i>gray</span>
<span class="sds-tag sds-tag--outline--dark-gray margin-1"><i class="sds-status sds-status--sm sds-status--dark-gray"></i>dark-gray</span>
<span class="sds-tag sds-tag--outline--brown margin-1"><i class="sds-status sds-status--sm sds-status--brown"></i>brown</span>
</div>

<div class="sds-tag-container">
<span class="sds-tag sds-tag--outline--blue margin-left-1 margin-top-2"><i class="sds-status sds-status--sm sds-status--blue"></i>blue</span>
<span class="sds-tag sds-tag--outline--red margin-left-1"><i class="sds-status sds-status--sm sds-status--red"></i>red</span>
<span class="sds-tag sds-tag--outline--green margin-left-1"><i class="sds-status sds-status--sm sds-status--green"></i>green</span>
<span class="sds-tag sds-tag--outline--yellow margin-left-1"><i class="sds-status sds-status--sm sds-status--yellow"></i>yellow</span>
<span class="sds-tag sds-tag--outline--light-blue margin-left-1"><i class="sds-status sds-status--sm sds-status--light-blue"></i>light-blue</span>
<span class="sds-tag sds-tag--outline--gray margin-left-1"><i class="sds-status sds-status--sm sds-status--gray"></i>gray</span>
<span class="sds-tag sds-tag--outline--dark-gray margin-left-1"><i class="sds-status sds-status--sm sds-status--dark-gray"></i>dark-gray</span>
<span class="sds-tag sds-tag--outline--brown margin-left-1"><i class="sds-status sds-status--sm sds-status--brown"></i>brown</span>
</div>

<h3>State</h3>
<div class="grid-row flex-align-stretch">
<span class="sds-tag sds-tag--outline--info margin-1"><i class="sds-status sds-status--sm sds-status--info"></i>info</span>
<span class="sds-tag sds-tag--outline--error margin-1"><i class="sds-status sds-status--sm sds-status--error"></i>error</span>
<span class="sds-tag sds-tag--outline--warning margin-1"><i class="sds-status sds-status--sm sds-status--warning"></i>warning</span>
<span class="sds-tag sds-tag--outline--success margin-1"><i class="sds-status sds-status--sm sds-status--success"></i>success</span>
<span class="sds-tag sds-tag--outline--disabled margin-1"><i class="sds-status sds-status--sm sds-status--disabled"></i>disabled</span>
</div>

<div class="sds-tag-container">
<span class="sds-tag sds-tag--outline--info margin-left-1 margin-top-2"><i class="sds-status sds-status--sm sds-status--info"></i>info</span>
<span class="sds-tag sds-tag--outline--error margin-left-1"><i class="sds-status sds-status--sm sds-status--error"></i>error</span>
<span class="sds-tag sds-tag--outline--warning margin-left-1"><i class="sds-status sds-status--sm sds-status--warning"></i>warning</span>
<span class="sds-tag sds-tag--outline--success margin-left-1"><i class="sds-status sds-status--sm sds-status--success"></i>success</span>
<span class="sds-tag sds-tag--outline--disabled margin-left-1"><i class="sds-status sds-status--sm sds-status--disabled"></i>disabled</span>
</div>

<h3>Other</h3>
<div class="grid-row flex-align-stretch">
<span class="sds-tag sds-tag--outline--info-light margin-1"><i class="sds-status sds-status--sm sds-status--info-light"></i>info-light</span>
<span class="sds-tag sds-tag--outline--info-dark margin-1"><i class="sds-status sds-status--sm sds-status--info-dark"></i>info-dark</span>
<span class="sds-tag sds-tag--outline--info-darker margin-1"><i class="sds-status sds-status--sm sds-status--info-darker"></i>info-darker</span>
<span class="sds-tag sds-tag--outline--error-light margin-1"><i class="sds-status sds-status--sm sds-status--error-light"></i>error-light</span>
<span class="sds-tag sds-tag--outline--error-dark margin-1"><i class="sds-status sds-status--sm sds-status--error-dark"></i>error-dark</span>
<span class="sds-tag sds-tag--outline--error-darker margin-1"><i class="sds-status sds-status--sm sds-status--error-darker"></i>error-darker</span>
<span class="sds-tag sds-tag--outline--warning-light margin-1"><i class="sds-status sds-status--sm sds-status--warning-light"></i>warning-light</span>
<span class="sds-tag sds-tag--outline--warning-dark margin-1"><i class="sds-status sds-status--sm sds-status--warning-dark"></i>warning-dark</span>
<span class="sds-tag sds-tag--outline--warning-darker margin-1"><i class="sds-status sds-status--sm sds-status--warning-darker"></i>warning-darker</span>
<span class="sds-tag sds-tag--outline--success-light margin-1"><i class="sds-status sds-status--sm sds-status--success-light"></i>success-light</span>
<span class="sds-tag sds-tag--outline--success-dark margin-1"><i class="sds-status sds-status--sm sds-status--success-dark"></i>success-dark</span>
<span class="sds-tag sds-tag--outline--success-darker margin-1"><i class="sds-status sds-status--sm sds-status--success-darker"></i>success-darker</span>
<span class="sds-tag sds-tag--outline--danger margin-1"><i class="sds-status sds-status--sm sds-status--danger"></i>danger</span>
</div>

<div class="sds-tag-container">
<span class="sds-tag sds-tag--outline--info-light margin-left-1 margin-top-2"><i class="sds-status sds-status--sm sds-status--info-light"></i>info-light</span>
<span class="sds-tag sds-tag--outline--info-dark margin-left-1"><i class="sds-status sds-status--sm sds-status--info-dark"></i>info-dark</span>
<span class="sds-tag sds-tag--outline--info-darker margin-left-1"><i class="sds-status sds-status--sm sds-status--info-darker"></i>info-darker</span>
<span class="sds-tag sds-tag--outline--error-light margin-left-1"><i class="sds-status sds-status--sm sds-status--error-light"></i>error-light</span>
<span class="sds-tag sds-tag--outline--error-dark margin-left-1"><i class="sds-status sds-status--sm sds-status--error-dark"></i>error-dark</span>
<span class="sds-tag sds-tag--outline--error-darker margin-left-1"><i class="sds-status sds-status--sm sds-status--error-darker"></i>error-darker</span>
<span class="sds-tag sds-tag--outline--warning-light margin-left-1"><i class="sds-status sds-status--sm sds-status--warning-light"></i>warning-light</span>
<span class="sds-tag sds-tag--outline--warning-dark margin-left-1"><i class="sds-status sds-status--sm sds-status--warning-dark"></i>warning-dark</span>
<span class="sds-tag sds-tag--outline--warning-darker margin-left-1"><i class="sds-status sds-status--sm sds-status--warning-darker"></i>warning-darker</span>
<span class="sds-tag sds-tag--outline--success-light margin-left-1"><i class="sds-status sds-status--sm sds-status--success-light"></i>success-light</span>
<span class="sds-tag sds-tag--outline--success-dark margin-left-1"><i class="sds-status sds-status--sm sds-status--success-dark"></i>success-dark</span>
<span class="sds-tag sds-tag--outline--success-darker margin-left-1"><i class="sds-status sds-status--sm sds-status--success-darker"></i>success-darker</span>
<span class="sds-tag sds-tag--outline--danger margin-left-1 margin-bottom-2"><i class="sds-status sds-status--sm sds-status--danger"></i>danger</span>
</div>