<h3>Status</h3>

<div class="grid-row">
  <div class="grid-col-auto margin-top-2">
    <span class="sds-tag sds-tag--status">
      <i class="sds-status sds-status--sm bg-warning"></i>
      Pending ID Assignment
    </span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-tag sds-tag--status">
      <i class="sds-status sds-status--sm sds-status--indigo-warm"></i>
      ID Assigned(Public search)
    </span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-tag sds-tag--status">
      <i class="sds-status sds-status--sm bg-success-light"></i>
      ID Assigned(Non-public search)
    </span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-tag sds-tag--status">
      <i class="sds-status sds-status--sm bg-error-light"></i>
      Unvalidated ID
    </span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-tag sds-tag--status">
      <i class="sds-status sds-status--sm sds-status--info-dark"></i>
      Draft Registration
    </span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-tag sds-tag--status">
      <i class="sds-status sds-status--sm bg-primary-dark"></i>
      Active Registration
    </span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-tag sds-tag--status">
      <i class="sds-status sds-status--sm bg-base"></i>
      Inactive Registration
    </span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-tag sds-tag--status">
      <i class="sds-status sds-status--sm sds-status--gold-dark"></i>
      Deleted/Deactivated
    </span>
  </div>
</div>
</br>
<div class="grid-row">
  <h3 class="grid-col-1">TEST</h3>
  <div class="grid-col-auto" style="margin-top:0px">
    <span class="sds-tag sds-tag--status">
      <i class="sds-status sds-status--sm bg-primary-dark"></i>
      Active Registration
    </span>
  </div>
</div>
</br>
<div class="grid-row">
  <h3 class="grid-col-1">LONG STRING THAT WRAPS</h3>
  <div class="grid-col-auto" style="margin-top:0px">
    <span class="sds-tag sds-tag--status">
      <i class="sds-status sds-status--sm bg-primary-dark"></i>
      Active Registration
    </span>
  </div>
</div>