<h3>Outline Options</h3>
<div class="grid-row flex-align-end">
  <div class="grid-col-auto margin-top-2">
    <span class="sds-type--label-title">Expiration Date</span>
    <span class="sds-tag sds-tag--outline flex-justify-center">Feb 20, 2019</span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-type--label-title">Expiration Date</span>
    <span class="sds-tag sds-tag--outline--info flex-justify-center">Feb 20, 2019</span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-type--label-title">Expiration Date</span>
    <span class="sds-tag sds-tag--outline--warning flex-justify-center">Feb 20, 2019</span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-type--label-title">Expiration Date</span>
    <span class="sds-tag sds-tag--outline--danger flex-justify-center">Feb 20, 2019</span>
  </div>
</div>

<h3>Mixed Heights Sample</h3>
<div class="grid-row flex-align-stretch">
  <div class="grid-col-auto margin-top-2">
    <span class="sds-type--label-title">Status</span>
    <span class="sds-tag sds-tag--outline">
      <i class="sds-status sds-status--sm sds-status--yellow"></i>Work In Progress</span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-type--label-title">Status</span>
    <span class="sds-tag sds-tag--outline">
      <i class="sds-status sds-status--sm sds-status--red"></i>Expired</span>
  </div>
  <div class="grid-col-auto margin-top-2">
    <span class="sds-type--label-title">Expiration Date</span>
    <span class="sds-tag sds-tag--outline--error flex-justify-center">Feb 20, 2019</span>
  </div>
</div>
