<span class="{{ label.classes }}">Normal</span>

 <span class="sds-tag sds-tag--chip">
  Normal with close icon
  <button class="sds-tag__close">
    <span class="fas fa-times" aria-hidden="true"></span>
  </button>
</span>
<div class="width-10">
  
 <span class="sds-tag sds-tag--chip">
  Wrapping with close icon
  <button class="sds-tag__close">
    <span class="fas fa-times" aria-hidden="true"></span>
  </button>
</span>
</div>