<footer class="sam-footer">
  <div class="sam-footer__content">
    <div class="sam-footer-logo">
      <img src="/dist/img/gsa-logo.png" alt="GSA Logo">
      <h4 class="sam-footer-logo-text">General Services Administration</h4>
    </div>
    <div class="sam-footer__links">
      <h4>About beta.SAM.gov</h4>
      <a href="https://interact.gsa.gov/group/integrated-award-environment-iae-industry-community">Explore Our Community</a>
      <a href="https://beta.sam.gov/release-notes">Release Notes</a>
    </div>
    <div class="sam-footer__links">
      <h4>Our Partners</h4>
      <a href="https://www.acquisition.gov/">Aquisition.gov</a>
      <a href="https://www.usaspending.gov/#/">USASpending.gov</a>
      <a href="https://www.grants.gov/">Grants.gov</a>
      <a href="https://beta.sam.gov/help/partners">More Partners</a>
    </div>
    <div class="sam-footer__links">
      <h4>Customer Service</h4>
      <a href="https://beta.sam.gov/help/new-to-sam">Learning Center</a>
      <a href="https://fsd.gov/fsd-gov/home.do">Contact Federal Service Desk</a>
      <a href="https://beta.sam.gov/help/resources">Resources</a>
      <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia">Freedom of Information Act</a>
    </div>
  </div>
  <div class="sam-footer__text">
    This is a U.S. General Services Administration Federal Government computer
    system that is <b>"FOR OFFICIAL USE ONLY."</b> This system is subject to monitoring.
    Individuals found performing unauthorized activities are subject to disciplinary
    action including criminal prosecution.
  </div>
</footer>
