/*******************************
     SAM THEME TYPOGRAPHY
*******************************/

$theme-typography: (
  font-family:   '"Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif',
  heading-1:     sam-typography-level(38px, 42px, 700, null, -1px),
  heading-2:     sam-typography-level(32px, 41px, 700, null, -.8px),
  heading-3:     sam-typography-level(24px, 31px, 600),
  heading-4:     sam-typography-level(18px, 25px, 700),
  lead:          sam-typography-level(20px, 26px, 300, null, 0),
  body:          sam-typography-level(16px, 24px, 400),
  body-strong:   sam-typography-level(16px, 24px, 600),
  small:         sam-typography-level(15px, 22px, 400)
);