<div class="sds-alert--header usa-grid" id="sds-alert--header">
  <div class="grid-row">
    <div class="grid-col-auto">
      <i class="sds-alert--header__icon sds fa-exclamation-triangle"></i>
    </div>

    <div class="grid-col-fill margin-right-4">
      <div class="sds-alert--header__content grid-row ">
        <div class="tablet:grid-col-fill display-block">
          <div class="sds-alert--header__label">
            Alert dras ut turpis sed nulla sodales malesuada.
          </div>
          <a href="#" class="sds-alert--header__link">
            Show Details
          </a>
          <span class="sds-alert--header__date">
            00/00/00
          </span>
        </div>
        <button class="sds-button--circle sds-alert--header__close display-block tablet:grid-col-1"><i class="fa fa-times"></i></button>
      </div>
      <div class="sds-alert--header__content grid-row">
        <div class="tablet:grid-col-fill display-block">
          <div class="sds-alert--header__label">
            Alert Lorem Ipsum Consectetur adipiscing elit. Ut interdum erat sem
          </div>
          <a href="#" class="sds-alert--header__link">
            Show Details
          </a>
          <span class="sds-alert--header__date">
            00/00/00
          </span>
        </div>
        <button class="sds-button--circle sds-alert--header__close display-block tablet:grid-col-1"><i class="fa fa-times"></i></button>
      </div>
      <div class="sds-alert--header__content grid-row">
        <div class="tablet:grid-col-fill display-block">
          <div class="sds-alert--header__label">
            Alert Cras ut turpis sed nulla sodales malesuada. Ut interdum erat sem, nec dapibus nisi elementum eu..
          </div>
          <a href="#" class="sds-alert--header__link">
            Show Details
          </a>
          <span class="sds-alert--header__date">
            00/00/00
          </span>
        </div>
        <button class="sds-button--circle sds-alert--header__close display-block tablet:grid-col-1"><i class="fa fa-times"></i></button>
      </div>

      <div class="sds-alert--header__content--mobile tablet:display-none">
        <div class="grid-col-auto">
          <i class="sds-alert--header__icon sds fa-exclamation-triangle"></i>
        </div>
        <div class="grid-col-fill display-inline">
          <div class="sds-alert--header__label">
            Alert dras ut turpis sed nulla sodales malesuada.
          </div>
          <a href="#" class="sds-alert--header__link">
            Show Details
          </a>
        </div>
        <div class="grid-col-auto display-inline">
          <button class="sds-button--circle usa-button--secondary sds-alert--header__close"><i class="fa fa-caret-down"></i></button>
        </div>
      </div>
    </div>


    <div class="grid-col-auto tablet:padding-y-2">
      <button class="usa-button usa-button--secondary">See All Alerts</button>
    </div>
  </div>
</div>
