<h3>SDS Alert</h3>
<div class="sds-alert">
  <div class="sds-alert-icon">
    <i class="fa fa-exclamation"></i>
  </div>
  <span>Review Required</span>
</div>

<div class="sds-alert info margin-y-4">
  <div class="sds-alert-icon">
    <i class="fa fa-exclamation"></i>
  </div>
  <span>Review Required</span>
</div>

<div class="sds-alert error">
  <div class="sds-alert-icon">
    <i class="fa fa-exclamation"></i>
  </div>
  <span>Review Required</span>
</div>
