<h3>Chip</h3>

<span class="{{ label.classes }}">Normal</span>

<span class="sam label">
  Normal with icon
  <button class="sam button tertiary">
    <span class="fas fa-times" aria-hidden="true"></span>
  </button>
</span>