<h3>Status</h3>

<span class="sds-tag sds-tag--status-green">Published</span>
<span class="sds-tag sds-tag--status-gray">Cancelled</span>
<span class="sds-tag sds-tag--status-dark-gray ">Inactive</span>
<span class="sds-tag sds-tag--status-yellow">Awaiting Review</span>
<span class="sds-tag sds-tag--status-light-blue">Draft</span>
<span class="sds-tag sds-tag--status-red">Expired</span>