<div class="sds-pages">
  <section class="sds-intro grid-container">
    <div class="sds-intro__content grid-row">
      <div class="sds-intro__block text-left">
        <h1>Entity Registration</h1>
        <p>This is the official U.S. Government website for entity registration. Entity registration in FREE.</p>
      </div>
      <div class="sds-seal">
        <i class="sds fa-flag fa-2x margin-y-1 text-secondary"></i>
        <div class="sds-seal__content">
          Official U.S. Government Website
          <span>100% Free</span>
        </div>
      </div>
    </div>
  </section>
  <section class="sds-primary grid-container">
    <div class="sds-primary__content grid-row">
      <div class="sds-intro__block tablet:grid-col-7">
        <div class="bg-accent-cool-light" style=" width: 769px; height:580px;">
          <img src="steps.svg" alt="steps svg" height="580px" width="760px" class="bg-accent-cool-light">
        </div>
      </div>
      <div class="sds-intro__block tablet:grid-col-4">
        <h2>New to SAM.gov?</h2>
        <div class="sds-button--outline">
          <button class="sds-button sds-button--icon text-center">
            <span class="fa-stack fa-2x">
              <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-1x"></i>
              <i class="sds fa-folder fa-stack-1x text-base fa-2x"></i>
            </span>
            <span class="sds-button--icon__title">Help Me Get Started</span>
          </button>
        </div>

        <div class="sds-tile sds-tile--lg">
          <div href="#" class="sds-tile__content sds-tile--outline">
            <h2 class="sds-tile__title color-base-dark">Ready to Register?</h2>
            <div class="sds-tile__details grid-row padding-y-2">
              Register your entity to get started doing business with the federal government.
            </div>
            <div class="mobile-details mobile-lg:flex-wrap">
              <button class="sds-button sds-button--icon margin-top-2">
                <span class="fa-stack fa-2x">
                  <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-1x"></i>
                  <i class="sds fa-folder fa-stack-1x text-base fa-2x"></i>
                </span>
                <span class="sds-button--icon__title">Register Entity</span>
              </button>
              <button class="sds-button sds-button--icon margin-top-2">
                <span class="fa-stack fa-2x">
                  <i class="sds fa-pentagon fa-stack-2x text-primary-lighter fa-1x"></i>
                  <i class="sds fa-check-circle fa-stack-1x text-base fa-2x"></i>
                </span>
                <span class="sds-button--icon__title">Check Status</span>
              </button>
            </div>
          </div>
        </div>
        <div class="sds-tile sds-tile--lg">
          <div href="#" class="sds-tile__content sds-tile--outline">
            <div class="grid-row flex-justify-center">
              <i class="sds-tile__icon sds fa-building text-secondary"></i>
              <div class="sds-tile__title">Entity Registration</div>
            </div>
            <div class="sds-tile__details grid-row padding-y-2">
              Register your entity to get started doing business with the federal government.
            </div>
            <div class="mobile-details mobile-lg:flex-wrap">
              <button class="sds-button sds-button--icon margin-top-2">
                <span class="fa-stack fa-2x">
                  <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-1x"></i>
                  <i class="sds fa-folder fa-stack-1x text-base fa-2x"></i>
                </span>
                <span class="sds-button--icon__title">Register Entity</span>
              </button>
              <button class="sds-button sds-button--icon margin-top-2">
                <span class="fa-stack fa-2x">
                  <i class="sds fa-pentagon fa-stack-2x text-primary-lighter fa-1x"></i>
                  <i class="sds fa-check-circle fa-stack-1x text-base fa-2x"></i>
                </span>
                <span class="sds-button--icon__title">Check Status</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sds-secondary grid-container">
    <div class="sds-secondary__content grid-row">
      <div class="sds-secondary__block tablet:grid-col-4">
        <div class="sds-card">
          <div class="sds-card__header">
            <a>Customer Service</a>
          </div>
          <div class="sds-card__body">
            <h2 class="sds-card__title">Registration Status</h2>
            <p>Entity registration typically takes between a few hours to 2 days to become active.</p>
            <div class="sds-card__links">
              <a class="usa-link">
                <i class="sds fa-question"></i>
                Link example
              </a>
            </div>
            <h2 class="sds-card__title">Federal Service Desk</h2>
            <p>For technical issues, please visit the Federal Service Desk.</p>
            <p><b>Hours of Operation</b> Monday - Friday 8 a.m.to 8 p.m. ET.</p>
            <span><b>Available Services:</b></span>
            <div class="sds-card__links">
              <a class="usa-link">
                <i class="sds fa-question"></i>
                Link example
              </a>
              <a class="usa-link">
                <i class="sds fa-question"></i>
                Link example
              </a>
              <a class="usa-link">
                <i class="sds fa-question"></i>
                Link example
              </a>
            </div>
            <h2 class="sds-card__title">Procurement Technical Assistance Centers (PTACs)</h2>
            <p>An official recourse for government contracting assistance. Find your local PTAC to get free help completing for SAM registration.</p>
          </div>
        </div>
      </div>
      <div class="sds-secondary__block tablet:grid-col-7">
        <div class="sds-card">
          <div class="sds-card__header">
            <a>More About Entity Registration</a>
          </div>
          <div class="sds-card__body grid-row">
            <div class="tablet:grid-col">
              <h2 class="sds-card__title">
                Entity Registration Questions
              </h2>
              <div class="sds-card__links">
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example with more text
                </a>
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example with more text
                </a>
              </div>
              <h2 class="sds-card__title">
                Resources
              </h2>
              <div class="sds-card__links">
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
              </div>
              <h2 class="sds-card__title">
                User Guides
              </h2>
              <div class="sds-card__links">
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
              </div>
            </div>
            <div class="tablet:grid-col">
              <div class="bg-accent-cool-light width-card height-card">video</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sds-tertiary grid-container">
    <div class="sds-tertiary__content grid-row">
      <div class="sds-tertiary__block tablet:grid-col">
        <div class="sds-tile">
          <a href="#" class="sds-tile__content">
            <span class="sds-tile__icon fa-stack fa-2x">
              <i class="sds fa-leaf fa-stack-2x text-accent-cool-light"></i>
              <i class="sds fa-pen-paper fa-stack-1x text-base fa-2x"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="sds-tertiary__block tablet:grid-col">
        <div class="sds-tile">
          <a href="#" class="sds-tile__content">
            <span class="sds-tile__icon fa-stack fa-2x">
              <i class="sds fa-leaf fa-stack-2x text-accent-cool-light"></i>
              <i class="sds fa-pen-paper fa-stack-1x text-base fa-2x"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="sds-tertiary__block tablet:grid-col">
        <a href="#" class="sds-tile__content">
          <span class="sds-tile__icon fa-stack fa-2x">
            <i class="sds fa-leaf fa-stack-2x text-accent-cool-light"></i>
            <i class="sds fa-pen-paper fa-stack-1x text-base fa-2x"></i>
          </span>
        </a>
      </div>
    </div>
  </section>
</div>
