<div class="sds-pages ">
<section class="sds-intro bg-base-lighter">
  <div class="sds-intro__content">
    <div class="sds-intro__block">
      <h1>Entity Registration</h1>
      <p>This is the official U.S. Government website for entity registration. Entity registration in FREE.</p>
    </div>
  </div>
</section>
<section class="sds-primary bg-base-lighter ">
  <div class="sds-primary__content">
    <div class="sds-intro__block bg-yellow">
        <div class="width-mobile height-mobile bg-accent-cool">
        card
        </div>
    </div>
    <div class="sds-intro__block ">
        <h2>New to SAM.gov?</h2>
        <div class="width-mobile height-5 bg-accent-cool">
        </div>
        <div class="width-mobile height-15 bg-accent-cool-light margin-y-1">
        </div>
        <div class="width-mobile height-15 bg-accent-cool-lighter margin-y-1">
        </div>
    </div>
  </div>
</section>

<section class="sds-secondary bg-base">
  <div class="sds-secondary__content">
    <div class="sds-secondary__block">

      <div class="width-mobile height-15 bg-secondary-light margin-1">
      </div>

    </div>
    <div class="sds-secondary__block">

      <div class="width-mobile height-15 bg-secondary-lighter margin-1">
      </div>

    </div>
  </div>
</section>

<section class="sds-tertiary bg-base-lighter">
  <div class="sds-tertiary__content">
    <div class="sds-tertiary__block">
      <div class="width-15 height-15 bg-secondary-lighter margin-1">
      </div>
    </div>
    <div class="sds-tertiary__block">
      <div class="width-15 height-15 bg-secondary-lighter margin-1">
      </div>
    </div>
    <div class="sds-tertiary__block">
      <div class="width-15 height-15 bg-secondary-lighter margin-1">
      </div>
    </div>
  </div>
</section>
</div>
