<div class="sds-pages">
  <section class="sds-intro">
    <div class="sds-intro__content">
      <div class="sds-intro__block text-base">
        <h1>Entity Registration</h1>
        <p>This is the official U.S. Government website for entity registration. Entity registration in FREE.</p>
      </div>
      <div class="sds-seal">
          <i class="sds fa-flag fa-2x margin-y-1 text-secondary"></i>
          <div class="sds-seal__content">
            Official U.S. Government Website
            <span>100% Free</span>
          </div>
      </div>
    </div>
  </section>
  <section class="sds-primary">
    <div class="sds-primary__content">
      <div class="sds-primary__block">
        <div class="bg-accent-cool-light" style=" width: 800px; height:580px;">
          <img src="steps.svg" alt="steps svg" height="580px" width="760px" class="bg-accent-cool-light">
        </div>
      </div>

      <div class="sds-primary__block">
        <h2 class="margin-x-2 text-base-darkest">New to SAM.gov?</h2>
        <div class="sds-button--outline margin-x-2">
          <button class="sds-button sds-button--icon">
            <span class="fa-stack fa-2x">
              <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-1x"></i>
              <i class="sds fa-folder fa-stack-1x text-base fa-2x"></i>
            </span>
            <span class="sds-button--icon__title">Help Me Get Started</span>
          </button>
        </div>

        <div class="sds-tile sds-tile--section">
          <div href="#" class="sds-tile__content sds-tile--outline">
            <h2 class="sds-tile__title">Ready to Register?</h2>
            <div class="mobile-details mobile-lg:flex-wrap">
              <button class="usa-button">Register Entity</button>
              <div class="sds-card__links">
                <a class="usa-link">
                  <i class="sds fa-angle-circle fa-rotate-180"></i>
                  Update Registration
                </a>
                <a class="usa-link">
                  <i class="sds fa-angle-circle fa-rotate-180"></i>
                  Check Status
                </a>
              </div>
            </div>
          </div>
        </div>


        <div class="sds-tile sds-tile--section">
          <div href="#" class="sds-tile__content sds-tile--outline">
            <h2 class="sds-tile__title">Ready to Register?</h2>
            <div class="mobile-details mobile-lg:flex-wrap">
              <div class="sds-card__links">
                <a class="usa-link">
                  <i class="sds fa-note"></i>
                  Managing your entity registration
                </a>
                <a class="usa-link">
                  <i class="sds fa-note"></i>
                  Managing users and roles (non-federal users)
                </a>
                <a class="usa-link">
                  <i class="sds fa-note"></i>
                  Managing users and roles (federal users)
                </a>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </section>
  <section class="sds-secondary">
    <div class="sds-secondary__content">
      <div class="sds-secondary__block">
        <div class="sds-card">
          <div class="sds-card__header">
            <a>Customer Service</a>
          </div>
          <div class="sds-card__body">
            <h2 class="sds-card__title">Registration Status</h2>
            <p>Entity registration typically takes between a few hours to 2 days to become active.</p>
            <div class="sds-card__links">
              <a class="usa-link">
                <i class="sds fa-question"></i>
                Link example
              </a>
            </div>
            <h2 class="sds-card__title">Federal Service Desk</h2>
            <p>For technical issues, please visit the Federal Service Desk.</p>
            <p><b>Hours of Operation</b> Monday - Friday 8 a.m.to 8 p.m. ET.</p>
            <span><b>Available Services:</b></span>
            <div class="sds-card__links">
              <a class="usa-link">
                <i class="sds fa-question"></i>
                Link example
              </a>
              <a class="usa-link">
                <i class="sds fa-question"></i>
                Link example
              </a>
              <a class="usa-link">
                <i class="sds fa-question"></i>
                Link example
              </a>
            </div>
            <h2 class="sds-card__title">Procurement Technical Assistance Centers (PTACs)</h2>
            <p>An official recourse for government contracting assistance. Find your local PTAC to get free help completing for SAM registration.</p>
          </div>
        </div>
      </div>
      <div class="sds-secondary__block">
        <div class="sds-card">
          <div class="sds-card__header">
            <a>More About Entity Registration</a>
          </div>
          <div class="sds-card__body grid-row">
            <div class="tablet:grid-col">
              <h2 class="sds-card__title">
                Entity Registration Questions
              </h2>
              <div class="sds-card__links">
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example with more text
                </a>
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example with more text
                </a>
              </div>
              <h2 class="sds-card__title">
                Resources
              </h2>
              <div class="sds-card__links">
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
              </div>
              <h2 class="sds-card__title">
                User Guides
              </h2>
              <div class="sds-card__links">
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
                <a class="usa-link">
                  <i class="sds fa-question"></i>
                  Link example
                </a>
              </div>
            </div>
            <div class="tablet:grid-col">
              <div class="bg-accent-cool-light width-card height-card">video</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sds-tertiary">
    <div class="sds-tertiary__content">
      <div class="sds-tertiary__block">
        <div class="sds-tile">
          <a href="#" class="sds-tile__content">
            <span class="sds-tile__icon fa-stack fa-2x">
              <i class="sds fa-leaf fa-stack-2x text-accent-cool-light"></i>
              <i class="sds fa-pen-paper fa-stack-1x text-base fa-2x"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="sds-tertiary__block">
        <div class="sds-tile">
          <a href="#" class="sds-tile__content">
            <span class="sds-tile__icon fa-stack fa-2x">
              <i class="sds fa-leaf fa-stack-2x text-accent-cool-light"></i>
              <i class="sds fa-pen-paper fa-stack-1x text-base fa-2x"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="sds-tertiary__block">
        <a href="#" class="sds-tile__content">
          <span class="sds-tile__icon fa-stack fa-2x">
            <i class="sds fa-leaf fa-stack-2x text-accent-cool-light"></i>
            <i class="sds fa-pen-paper fa-stack-1x text-base fa-2x"></i>
          </span>
        </a>
      </div>
    </div>
  </section>
</div>
