<div class="grid-full bg-accent-cool padding-x-4 padding-bottom-4">
  <div class="sds-official-tag">
    <div class="outline">
      <i class="fas fa-star blue padding-bottom-05"></i>
      <div class="red">Official U.S. Government</div>
      <div class="grey">Website</div>
      <i class="fas fa-flag grey"></i>
      <div class="blue">100%</div>
      <div class="grey">Free</div>
    </div>
  </div>
</div>
