<h3 class="margin-top-0">Basic Tile Example</h3>
<div class="tile-wrapper">
  <a href="#" class="sds-tile">
    <i class="tile-icon sds fa-new-note fa-4x"></i>
    <div class="tile-header">Provide Feedback</div>
    <div class="tile-details">What you think matters!</div>
  </a>
</div>
<div class="tile-wrapper">
  <a href="#" class="sds-tile">
    <i class="tile-icon sds fa-workspace fa-4x"></i>
    <div class="tile-header">Federal Service Desk</div>
    <div class="tile-details">Contact Support</div>
  </a>
</div>

<h3 class="margin-top-0">Outline Tile Example</h3>
<span>**Striped background used to demonstrate opacity</span>
<div class="background-example">
  <div class="tile-wrapper">
    <a href="#" class="sds-tile outline">
      <i class="tile-icon sds fa-file-chart-line"></i>
      <div class="tile-header">Contract Data Reports</div>
      <div class="tile-details">(fdps.gov)</div>
    </a>
  </div>
  <div class="tile-wrapper">
    <a href="#" class="sds-tile outline">
      <i class="tile-icon sds fa-book"></i>
      <div class="tile-header">Exclusions</div>
    </a>
  </div>
</div>
