<div class="styleguide-content">

  <h2 id="uswds-state-color-tokens">State color tokens</h2>
  <p>
    The state color palette is divided into five high-level role-based color 
    families: <code class="highlighter-rouge">info</code>, 
    <code class="highlighter-rouge">error</code>, 
    <code class="highlighter-rouge">warning</code>, 
    <code class="highlighter-rouge">success</code>, and 
    <code class="highlighter-rouge">disabled</code>.
  </p>
  
  <p>
    For more information: 
    <a class="usa-link" href="https://v2.designsystem.digital.gov/design-tokens/color/system-tokens/">
     USWDS system color tokens
    </a>
  </p>
  
  <div class="site-table-wrapper">
    <table class="sds-table">
      <thead class="sds-table__head">
        <tr>
          <th scope="col">Color</th>
          <th scope="col">Token</th>
          <th scope="col">Default</th>
          <th scope="col">Settings variable</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-info-lighter"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'info-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'cyan-5'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-info-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #e7f6f8
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-info-light"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'info-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'cyan-20'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-info-light
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #9ddfeb
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-info"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'info'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'cyan-30v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-info
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #00bde3
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-info-dark"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'info-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'cyan-40v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-info-dark
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #009ec1
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-info-darker"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'info-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-60'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-info-darker
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #2c608a
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-error-lighter"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'error-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'red-20v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-error-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #fdb8ae
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-error-light"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'error-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'red-30v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-error-light
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #ff8d7b
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-error"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'error'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'red-40v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-error
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #fb5a47
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-error-dark"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'error-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'red-60v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-error-dark
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #B50909
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-error-darker"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'error-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'red-70v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-error-darker
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #8b1303
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-warning-lighter"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'warning-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-5v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-warning-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #fef0c8
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-warning-light"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'warning-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-10v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-warning-light
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #ffe3a3
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-warning"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'warning'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-20v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-warning
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #fbc036
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-warning-dark"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'warning-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-30v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-warning-dark
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #e5a000
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-warning-darker"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'warning-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-40v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-warning-darker
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #c2850c
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-success-lighter"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'success-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-5'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-success-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #e3f5e1
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-success-light"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'success-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-30v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-success-light
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #2cc821
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-success"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'success'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-40v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-success
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #0ca900
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-success-dark"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'success-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-50'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-success-dark
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #3e8520
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-success-darker"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'success-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-70'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-success-darker
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #364b29
          </td>
        </tr>
        
        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-disabled"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'disabled'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-20'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-disabled
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #c9c9c9
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
