<div class="styleguide-content usa-prose">

  <h2 id="uswds-theme-color-tokens">
    Theme color tokens
  </h2>

  <p>
    SAM theme color tokens are divided into five high-level role-based color
    families: <code class="highlighter-rouge">base</code>,
    <code class="highlighter-rouge">primary</code>,
    <code class="highlighter-rouge">secondary</code>,
    <code class="highlighter-rouge">accent-warm</code>
    <code class="highlighter-rouge">accent-cool</code>, and
    <code class="highlighter-rouge">transition</code>.
  </p>

  <p>
    For more information:
    <a class="usa-link" href="https://v2.designsystem.digital.gov/design-tokens/color/system-tokens/">
     USWDS system color tokens
    </a>
  </p>

  <div class="site-table-wrapper">
    <table class="sds-table">
      <thead>
        <tr>
          <th scope="col">Color</th>
          <th scope="col">Token</th>
          <th scope="col">Default</th>
          <th scope="col">Settings variable</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-base-lightest"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-lightest'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-2'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-lightest
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #f9f9f7
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-base-lighter"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-4'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #f5f5f0
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-base-light"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-20'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-light
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #c9c9c9
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-base"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-50'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #757575
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-base-dark"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'base-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-70'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-base-dark
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #454540
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-ink"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'ink'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gray-warm-80'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-ink
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #2e2e2a
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-primary-lighter"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-5v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #e3f5e1
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-primary-light"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-10v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-light
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #b7f5bd
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-primary"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-20v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #70e17b
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-primary-vivid"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-vivid'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-30v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-vivid
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #21c834
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-primary-dark"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-40v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-dark
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #00a91c
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-primary-darker"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'primary-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'green-cool-50v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-primary-darker
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #008817
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-secondary-lighter"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-30v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #81aefc
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-secondary-light"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-40v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-light
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #5994f6
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-secondary"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-50v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #2672de
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-secondary-vivid"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-vivid'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-60v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-vivid
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #0050d8
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-secondary-dark"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-70v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-dark
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #1a4480
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-secondary-darker"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'secondary-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-warm-80v'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-secondary-darker
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #162e51
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-accent-cool-lighter"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-5'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #eff6fb
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-accent-cool-light"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-10'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-light
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #d9e8f6
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-accent-cool"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-20'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #aacdec
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-accent-cool-dark"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-30'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-dark
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #73b3e7
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-accent-cool-darker"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-cool-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'blue-40'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-cool-darker
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #4f97d1
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-accent-warm-lighter"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-lighter'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-5'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-lighter
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #f5f0e6
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-accent-warm-light"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-light'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-10'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-light
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #f1e5cd
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-accent-warm"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-20'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #dec69a
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-accent-warm-dark"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-dark'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-30'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-dark
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #c7a97b
          </td>
        </tr>

        <tr>
          <td scope="row" data-title="Color" class="flex-align-center">
            <div class="square-4 border bg-accent-warm-darker"></div>
          </td>
          <td data-title="Token">
            <span class="utility-class font-mono-2xs">'accent-warm-darker'</span>
          </td>
          <td data-title="Default" class="font-mono-2xs">
            'gold-40'
          </td>
          <td data-title="Settings var" class="font-mono-2xs">
            $theme-color-accent-warm-darker
          </td>
          <td data-title="Value" class="font-mono-2xs">

            #ad8b65
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
