{#
<div class="usa-accordion">

  <h2 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="true" aria-controls="a1">
      {{header}}
    </button>
  </h2>
  <div id="a1" class="usa-accordion__content usa-prose">
    <p>{{body}}</p>
  </div>


  <h2 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="a2">
      {{header}}
    </button>
  </h2>
  <div id="a2" class="usa-accordion__content usa-prose">
    <p>{{body}}</p>
    {% render '@list' %}
  </div>

  <h2 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="a3">
      {{header}}
    </button>
  </h2>
  <div id="a3" class="usa-accordion__content usa-prose">
    <p>{{body}}</p>
  </div>

  <h2 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="a4">
      {{header}}
    </button>
  </h2>
  <div id="a4" class="usa-accordion__content usa-prose">
    <p>{{body}}.</p>

  </div>

  <h2 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-expanded="false" aria-controls="a5">
      {{header}}
    </button>
  </h2>
  <div id="a5" class="usa-accordion__content usa-prose">
    <p>{{header}}</p>
  </div>
</div>
#}

<div class="usa-accordion usa-accordion--bordered" {% if multiselect %} aria-multiselectable="true"{% endif %}>

  {% for section in sections %}
    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button {% if loop.first %} border-top-1px border-base-light {% endif %}"  aria-expanded="{{expanded}}" aria-controls="b-a{{loop.index}}">
        {{section.header}}
      </button>
    </h2>
    <div id="b-a{{loop.index}}" class="usa-accordion__content usa-prose">
      {{section.body}}
    </div>
  {% endfor %}

</div>
