<div class="usa-accordion usa-accordion--bordered" {% if multiselect %} aria-multiselectable="true"{% endif %}>

  {% for section in sections %}
    <h2 class="usa-accordion__heading">
      <button class="usa-accordion__button {% if loop.first %} border-top-1px border-base-light {% endif %}"  aria-expanded="{{expanded}}" aria-controls="b-a{{loop.index}}">
        {{section.header}}
      </button>
    </h2>
    <div id="b-a{{loop.index}}" class="usa-accordion__content">
      {{section.body}}
    </div>
  {% endfor %}

</div>
