@use "uswds-core" as *;

@mixin adjust-responsive-site-margins {
    margin-left: -(units($theme-site-margins-mobile-width));
    margin-right: -(units($theme-site-margins-mobile-width));
    padding-left: (units($theme-site-margins-mobile-width));
    padding-right: (units($theme-site-margins-mobile-width));

    @include at-media($theme-site-margins-breakpoint) {
        margin-left: -(units($theme-site-margins-width));
        margin-right: -(units($theme-site-margins-width));
        padding-left: (units($theme-site-margins-width));
        padding-right: (units($theme-site-margins-width));
    }
}