
{%- if (button.text == 'Outline-inverse') -%}
  <div class="bg-base-darkest padding-1" style="color:white;max-width: fit-content">
{% endif -%}

<h5>BUTTON CIRCLE</h5>
{% render '@buttons--single', button %}
{% render '@buttons--single', button %}

<h5>DISABLED</h5>
{% render '@buttons--single', disabledButton %}

<h5>STATES</h5>
<div class="grid-row">
<div class="grid-col">
<h6>HOVER</h6>
{% render '@buttons--single', hoverButton %}
</div>
<div class="grid-col">
<h6>ACTIVE</h6>
{% render '@buttons--single', activeButton %}
</div>
<div class="grid-col">
<h6>FOCUS</h6>
{% render '@buttons--single', focusButton %}
</div>
</div>
{%- if (button.text == 'Outline-inverse') -%}
  </div>
{% endif -%}