<h4>SDS Icon Button Examples</h4>
<div class="bg-accent-cool-light grid-container padding-3 display-flex">
  <button class="sds-button sds-button--icon">
    <span class="fa-stack fa-2x">
      <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-1x"></i>
      <i class="sds fa-folder fa-stack-1x text-base fa-2x"></i>
    </span>
    <span class="sds-button--icon__title">Register Entity</span>
  </button>

  <button class="sds-button sds-button--icon">

    <span class="fa-stack fa-2x">
      <i class="sds fa-pentagon fa-stack-2x text-accent-cool-light fa-1x"></i>
      <i class="sds fa-check-circle fa-stack-1x text-base fa-2x"></i>
    </span>
    <span class="sds-button--icon__title">Check Status</span>
  </button>

  <div class="sds-button--outline">
    <button class="sds-button sds-button--icon text-center">
      <span class="fa-stack fa-2x">
        <i class="sds fa-triangle fa-stack-2x text-accent-cool-light fa-1x"></i>
        <i class="sds fa-folder fa-stack-1x text-base fa-2x"></i>
      </span>
      <span class="sds-button--icon__title">Help Me Get Started</span>
    </button>
  </div>
</div>
