<h4>SDS Icon Button Examples</h4>
<div class="bg-accent-cool-light grid-container padding-3 display-flex">
  <button class="sds-button sds-button--icon">
    <span class="fa-stack fa-2x">
      {% render '@icon', {icon:'triangle', classes: 'fa-stack-2x text-accent-cool-light fa-1x'} %}
      {% render '@icon', {icon:'folder', classes: 'fa-stack-1x text-base fa-2x'} %}
    </span>
    <span class="sds-button--icon__title">Register Entity</span>
  </button>

  <button class="sds-button sds-button--icon">

    <span class="fa-stack fa-2x">
      {% render '@icon', {icon:'pentagon', classes: 'fa-stack-2x text-accent-cool-light fa-1x'} %}
      {% render '@icon', {icon:'check-circle', classes: 'fa-stack-1x text-base fa-2x'} %}
    </span>
    <span class="sds-button--icon__title">Check Status</span>
  </button>

  <div class="sds-button--outline">
    <button class="sds-button sds-button--icon text-center">
      <span class="fa-stack fa-2x">
        {% render '@icon', {icon:'triangle', classes: 'fa-stack-2x text-accent-cool-light fa-1x'} %}
        {% render '@icon', {icon:'folder', classes: 'fa-stack-1x text-base fa-2x'} %}
      </span>
      <span class="sds-button--icon__title">Help Me Get Started</span>
    </button>
  </div>
</div>
