{%- if (classes == 'usa-button--outline usa-button--inverse') -%}
  <div class="bg-base-darkest padding-1" style="max-width: fit-content">
  {% endif -%}

  <button class="usa-button {{ classes }}">Default</button>
  {% if (category != 'disabled') -%}
    <button class="usa-button {{ classes }} usa-button--hover">Hover</button>
    <button class="usa-button {{ classes }} usa-button--active">Active</button>
    <button class="usa-button {{ classes }} usa-focus">Focus</button>
    <button class="usa-button {{ classes }}" disabled="disabled">Disabled</button>
  {%- endif -%}

  <br>

<div class="button-label">
  <button class="sds-button--circle {{ classes }}">
    {% render '@icon', {icon:'caret-down', prefix: 'fa'} %}
  </button>
  <label>Default</label>
</div>
{% if (category != 'disabled') -%}
<div class="button-label">
  <button class="sds-button--circle {{ classes }} usa-button--hover">
    {% render '@icon', {icon:'caret-up', prefix: 'fa'} %}
  </button>
  <label>Hover</label>
</div>
<div class="button-label">
  <button class="sds-button--circle {{ classes }} usa-button--active">
    {% render '@icon', {icon:'caret-left', prefix: 'fa'} %}
  </button>
  <label>Active</label>
</div>
<div class="button-label">
  <button class="sds-button--circle {{ classes }} usa-focus">
    {% render '@icon', {icon:'caret-right', prefix: 'fa'} %}
  </button>
  <label>Focus</label>
</div>
<div class="button-label">
  <button class="sds-button--circle {{ classes }}" disabled="disabled">
    {% render '@icon', {icon:'times', prefix: 'fa'} %}
  </button>
  <label>Disabled</label>
</div>
<div class="button-label">
  <button class="sds-button  {{ classes }}">
    {% render '@icon', {icon:'search', prefix: 'fa'} %}
  </button>
  <label>Search</label>
</div>
{%- endif -%}

{%- if (classes == 'usa-button--outline usa-button--inverse') %}{%- endif %}
