{%- if (classes == 'usa-button--outline usa-button--inverse') -%}
  <div class="bg-base-darkest padding-1" style="max-width: fit-content">
  {% endif -%}

  <button class="usa-button {{ classes }}">Button</button>
  {% if (category != 'disabled') -%}
  <!-- do use in production: usa-button--hover -->
    <button class="usa-button {{ classes }} usa-button--hover">Hover</button>
    <!-- do use in production: usa-button--active -->
    <button class="usa-button {{ classes }} usa-button--active">Active</button>
    <button class="usa-button {{ classes }} usa-focus">Focus</button>
    <button class="usa-button {{ classes }}" disabled="disabled">Disabled</button>
  {%- endif -%}

  <br><br>
  Utility buttons (icon only)
  <br>
<div class="button-label">
  <button class="usa-button sds-button--circle {{ classes }}">
    {% render '@icon', {icon:'add', prefix: 'sds'} %}
  </button>
  <label>Button</label>
</div>
{% if (category != 'disabled') -%}
<div class="button-label">
  <!-- do use in production: usa-button--hover -->
  <button class="usa-button sds-button--circle {{ classes }} usa-button--hover">
    {% render '@icon', {icon:'add', prefix: 'sds'} %}
  </button>
  <label>Hover</label>
</div>
<div class="button-label">
  <!-- do use in production: usa-button--active -->
  <button class="usa-button sds-button--circle {{ classes }} usa-button--active">
    {% render '@icon', {icon:'add', prefix: 'sds'} %}
  </button>
  <label>Active</label>
</div>
<div class="button-label">
  <button class="usa-button sds-button--circle {{ classes }} usa-focus">
    {% render '@icon', {icon:'add', prefix: 'sds'} %}
  </button>
  <label>Focus</label>
</div>
<div class="button-label">
  <button class="usa-button sds-button--circle {{ classes }}" disabled="disabled">
    {% render '@icon', {icon:'add', prefix: 'sds'} %}
  </button>
  <label>Disabled</label>
</div>
{%- endif -%}

<br><br>
Variants
<br>
<div class="button-label">
  <button class="usa-button sds-button--circle sds-button--large {{ classes }}">
    {% render '@icon', {icon:'add', prefix: 'sds', classes: 'fa-2x'} %}
  </button>
  <label>Large</label>
</div>
<div class="button-label">
  <button class="usa-button sds-button--circle sds-button--small {{ classes }}">
    {% render '@icon', {icon:'add', prefix: 'sds'} %}
  </button>
  <label>Small</label>
</div>
<div class="button-label">
  <button class="usa-button sds-button--circle sds-button--shadow {{ classes }}">
    {% render '@icon', {icon:'add', prefix: 'sds'} %}
  </button>
  <label>Shadow</label>
</div>

{%- if (classes == 'usa-button--outline usa-button--inverse') %}{%- endif %}
