{% if title %}
  {%- set title = title|setAttribute('classes', ['sds-list__title']) %}
  {% render '@title', title, true %}
{% endif %}

{%- if ordered %}
  <ol class="usa-list{% for modifier in modifiers %} usa-list--{{modifier}}{% endfor %}">
{% else %}
  <ul class="usa-list{% for modifier in modifiers %} usa-list--{{modifier}}{% endfor %}">
{%- endif %}

  {%- for item in items -%}
    <li>

      {%- if item.icon %}
        <span class="usa-icon-list__icon">
          {% render '@icon', item.icon %}
        </span>
        {# span needed for aligning text with icon #}
        <span class="usa-icon-list__content">
      {%- endif -%}

      {%- if item.link %}
        {% render "@link", item.link -%}
      {%- endif -%}

      {%- if item.text -%}
        {{ item.text }}
      {%- endif -%}

      {# span needed for styling #}
      {%- if item.icon %}
        </span>
      {% endif -%}

      {%- if item.nested -%}
        {% render '@list', {items: item.nested.items, modifiers:['nested']} %}
      {% endif -%}
    </li>
  {%- endfor -%}

{%- if ordered -%}
  </ol>
{%- else -%}
  </ul>
{% endif %}
