<table class="usa-table">
  <caption>Data Entry Fields</caption>
  <thead>
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&ltp class="input-labels--group">&lt/p></th>
      <td><p class="input-label--group">Group Input Label</p></td>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 3rem / Color: Ink (#2E2E2A)</td>
    </tr>  
    <tr>
      <th scope="row">&ltp class="input-labels">&lt/p></th>
      <td><p class="input-label">Input Label</p></td>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 3rem / Color: Ink (#2E2E2A)</td>
    </tr>   
    <tr>
      <th scope="row">&ltp class="input-label--entered-text">&lt/p></th>
      <td><p class="input-label--entered-text">Entered Text</p></td>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 3rem / Color: PLACEHOLDER (#3D4551)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="input-labels--field-paragraph">&lt/p></th>
      <td><p class="input-label--field-paragraph">Field Paragraph</p></td>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>                             
  </tbody>
</table>