<table class="usa-table">
  <caption>Data Entry Fields</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><element class="sds-text input-label--group">Group Input Label</element></td>
      <th scope="row">&ltelement class="sds-text input-label--group">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 1.25rem / Color: Ink (#2E2E2A)</td>
    </tr>  
    <tr>
      <td><element class="sds-text input-label">Input Label</element></td>
      <th scope="row">&ltelement class="sds-text input-label">&lt/element></th>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 1.25rem / Color: Ink (#2E2E2A)</td>
    </tr>   
    <tr>
      <td><element class="sds-text entered-text">Entered Text</element></td>
      <th scope="row">&ltelement class="sds-text entered-text">&lt/element></th>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 1.25rem / Color: PLACEHOLDER (#3D4551)</td>
    </tr>
    <tr>
      <td><element class="sds-text field-paragraph">Field Paragraph</element></td>
      <th scope="row">&ltelement class="sds-text field-paragraph">&lt/element></th>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>                             
  </tbody>
</table>