<table class="usa-table">
  <caption>Display Fields</caption>
  <thead>
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Example</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">&lth1 class="heading--section">&lt/h1></th>
      <td><h1 class="heading--section">Section Header</h1></td>
      <td>Weight: Semi-Bold / Size: 1.46rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&lth1 class="heading--section--sub">&lt/h1></th>
      <td><h1 class="heading--section--sub">Sub-Section Header</h1></td>
      <td>Weight: Light / Size: 1.13rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="field-label--large">&lt/p></th>
      <td><p class="field-label--large">Large Field Label</p></td>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="field-label">&lt/p></th>
      <td><p class="field-label">Field Label</p></td>
      <td>Weight: Regular / Size: 0.93rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="field-label--small">&lt/p></th>
      <td><p class="field-label--small">Small Field Label</p></td>
      <td>Weight: Italics / Size: 0.87rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="field-value--large">&lt/p></th>
      <td><p class="field-value--large">Large Field Value</p></td>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
    <tr>
      <th scope="row">&ltp class="field-value--large">&lta class="usa-link">&lt/a>&lt/p></th>
      <td><p class="field-value--large"><a class="usa-link">Large Field Value Link</a></p></td>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 3rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="field-value">&lt/p></th>
      <td><p class="field-value">Field Value</p></td>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>
      <tr>
      <th scope="row">&ltp class="field-value">&lta class="usa-link">&lt/a>&lt/p></th>
      <td><p class="field-value"><a class="usa-link">Field Value Link</a></p></td>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 3rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="field-value--small">&lt/p></th>
      <td><p class="field-value--small">Small Field Value</p></td>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="field-value--small">&lta class="usa-link">&lt/a>&lt/p></th>
      <td><p class="field-value--small"><a class="usa-link">Small Field Value Link</a></p></td>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 3rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="field-paragraph">&lt/p></th>
      <td><p class="field-paragraph">Field Paragraph</p></td>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 3rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <th scope="row">&ltp class="field-paragraph">&lta class="usa-link">&lt/a>&lt/p></th>
      <td><p class="field-paragraph"><a class="usa-link">Field Paragraph Link</a></p></td>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 3rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>                           
  </tbody>
</table>