<table class="usa-table">
  <caption>Display Fields</caption>
  <thead>
    <tr>
      <th scope="col">Style</th>
      <th scope="col">Markup</th>
      <th scope="col">Configuration</th>
    </tr>
  </thead>
  <tbody>
    <tr>      
      <td><element class="section-header">Section Header</element></td>
      <th scope="row">&ltelement class="section-header">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.46rem / Line Height: 2rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="section-header--sub">Sub-Section Header</element></td>
      <th scope="row">&ltelement class="section-header--sub">&lt/element></th>
      <td>Weight: Light / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="field-label--large">Large Field Label</element></td>
      <th scope="row">&ltelement class="field-label--large">&lt/element></th>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>      
      <td><element class="field-label">Field Label</element></td>
      <th scope="row">&ltelement class="field-label">&lt/element></th>
      <td>Weight: Regular / Size: 0.93rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="field-label--small">Small Field Label</element></td>      
      <th scope="row">&ltelement class="field-label--small">&lt/element></th>
      <td>Weight: Italics / Size: 0.87rem / Line Height: 1rem / Color: Base (#757575)</td>
    </tr>
    <tr>
      <td><element class="field-value--large">Large Field Value</element></td>
      <th scope="row">&ltelement class="field-value--large">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1.5rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
    <tr>
      <td><element class="field-value--large"><a class="usa-link">Large Field Value Link</a></element></td>
      <th scope="row">&ltelement class="field-value--large">&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.13rem / Line Height: 1.5rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <td><element class="field-value">Field Value</element></td>
      <th scope="row">&ltelement class="field-value">&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>
      <tr>
      <td><element class="field-value"><a class="usa-link">Field Value Link</a></element></td>
      <th scope="row">&ltelement class="field-value">&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Semi-Bold / Size: 1.0rem / Line Height: 1.25rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <td><element class="field-value--small">Small Field Value</element></td>
      <th scope="row">&ltelement class="field-value--small">&lt/element></th>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="field-value--small"><a class="usa-link">Small Field Value Link</a></element></td>
      <th scope="row">&ltelement class="field-value--small">&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Regular / Size: 0.87rem / Line Height: 1rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>
    <tr>
      <td><element class="field-paragraph">Field Paragraph</element></td>
      <th scope="row">&ltelement class="field-paragraph">&lt/element></th>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 1.25rem / Color: Base-Dark (#454540)</td>
    </tr>
    <tr>
      <td><element class="field-paragraph"><a class="usa-link">Field Paragraph Link</a></element></td>
      <th scope="row">&ltelement class="field-paragraph">&lta class="usa-link">&lt/a>&lt/element></th>
      <td>Weight: Regular / Size: 1.0rem / Line Height: 1.25rem / Color: PLACEHOLDER (#3F57A6)</td>
    </tr>                           
  </tbody>
</table>