<div class="sam-icons">
  <div class="grid-row flex-row">
    <ul class="usa-list usa-list--unstyled grid-row flex-wrap">
      <li class="display-block padding-2 text-center">
        <i class="sam icon-bell icon-2x"></i>
        <p class="font-sans-3xs margin-x-auto">Bell</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-book icon-2x"></i>
        <p class="font-sans-3xs">Book</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-calendar icon-2x"></i>
        <p class="font-sans-3xs">Calendar</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-download icon-2x"></i>
        <p class="font-sans-3xs">Download</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-envelope icon-2x"></i>
        <p class="font-sans-3xs">Envelope</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-file-chart-line icon-2x"></i>
        <p class="font-sans-3xs">File Chart Line</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-filter icon-2x"></i>
        <p class="font-sans-3xs">Filter</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-home icon-2x"></i>
        <p class="font-sans-3xs">Home</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-invoice icon-2x"></i>
        <p class="font-sans-3xs">Invoice</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-link icon-2x"></i>
        <p class="font-sans-3xs">Link</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-new-note icon-2x"></i>
        <p class="font-sans-3xs">New Note</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-print icon-2x"></i>
        <p class="font-sans-3xs">Print</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-ruler-pencil icon-2x"></i>
        <p class="font-sans-3xs">Ruler Pencil</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-share icon-2x"></i>
        <p class="font-sans-3xs">Share</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-trash icon-2x"></i>
        <p class="font-sans-3xs">Trash</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sam icon-user icon-2x"></i>
        <p class="font-sans-3xs">User</p>
      </li>
    </ul>
  </div>
</div>
