<div class="sam-icons">
  <div class="grid-row flex-row">
    <ul class="usa-list usa-list--unstyled grid-row flex-wrap">
    <li class="display-block padding-2 text-center">
        <i class="sds fa-bars fa-2x"></i>
        <p class="font-sans-3xs margin-x-auto">Bars</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-bell fa-2x"></i>
        <p class="font-sans-3xs margin-x-auto">Bell</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-book fa-2x"></i>
        <p class="font-sans-3xs">Book</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-calendar fa-2x"></i>
        <p class="font-sans-3xs">Calendar</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-download fa-2x"></i>
        <p class="font-sans-3xs">Download</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-envelope fa-2x"></i>
        <p class="font-sans-3xs">Envelope</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-file-chart-line fa-2x"></i>
        <p class="font-sans-3xs">File Chart Line</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-filter fa-2x"></i>
        <p class="font-sans-3xs">Filter</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-home fa-2x"></i>
        <p class="font-sans-3xs">Home</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-invoice fa-2x"></i>
        <p class="font-sans-3xs">Invoice</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-link fa-2x"></i>
        <p class="font-sans-3xs">Link</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-new-note fa-2x"></i>
        <p class="font-sans-3xs">New Note</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-print fa-2x"></i>
        <p class="font-sans-3xs">Print</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-ruler-pencil fa-2x"></i>
        <p class="font-sans-3xs">Ruler Pencil</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-share fa-2x"></i>
        <p class="font-sans-3xs">Share</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-trash fa-2x"></i>
        <p class="font-sans-3xs">Trash</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-user fa-2x"></i>
        <p class="font-sans-3xs">User</p>
      </li>
      <li class="display-block padding-2 text-center">
        <i class="sds fa-exclamation fa-2x"></i>
        <p class="font-sans-3xs">Exclamation</p>
      </li>
    </ul>
  </div>
</div>
