
<h1>SAM Icon Library</h1>
<div class="sam-icons__library">
  <ul class="icons-list">

    <li>
      <i class="sam icon-arrow-left"></i>
      <p>Arrow Left SVG</p>
    </li>
    <li>
      <i class="sam icon-bell"></i>
      <p>Bell SVG</p>
    </li>
    <li>
      <i class="sam icon-book"></i>
      <p>Book SVG</p>
    </li>
    <li>
      <i class="sam icon-calendar"></i>
      <p>Calendar SVG</p>
    </li>
    <li>
      <i class="sam icon-download"></i>
      <p>Download SVG</p>
    </li>
    <li>
      <i class="sam icon-envelope"></i>
      <p>Envelope SVG</p>
    </li>
    <li>
      <i class="sam icon-file-chart-line"></i>
      <p>Report Data SVG</p>
    </li>
    <li>
      <i class="sam icon-filter"></i>
      <p>Filter SVG</p>
    </li>
    <li>
      <i class="sam icon-home"></i>
      <p>Home SVG</p>
    </li>
    <li>
      <i class="sam icon-invoice"></i>
      <p>Invoice SVG</p>
    </li>
    <li>
      <i class="sam icon-link"></i>
      <p>Link SVG</p>
    </li>
    <li>
      <i class="sam icon-new-note"></i>
      <p>New Note Data SVG</p>
    </li>
    <li>
      <i class="sam icon-print"></i>
      <p>Printer SVG</p>
    </li>
    <li>
      <i class="sam icon-ruler-pencil"></i>
      <p>Tools SVG</p>
    </li>
    <li>
      <i class="sam icon-share"></i>
      <p>Share SVG</p>
    </li>
    <li>
      <i class="sam icon-trash"></i>
      <p>Trash SVG</p>
    </li>
    <li>
      <i class="sam icon-user"></i>
      <p>User SVG</p>
    </li>
  </ul>
</div>
