$header-colors: (
  base: (
    background: 'base-lighter',
  ),
  accent-cool: (
    background: "accent-cool-lighter",
  ),
  accent-warm: (
    background: "accent-warm-lighter",
  ),
  feature: (
    background: "secondary-dark",
    text: "white"
  )
);

@mixin sds-header {
  @include u-text('base-dark');
  @each $name, $var in $header-colors {
    &--#{$name} {
      @if map-get(map-get($header-colors, $name), background) {
        @include u-bg(map-get(map-get($header-colors, $name), background));
      }
      @if map-get(map-get($header-colors, $name), text) {
        @include u-text(map-get(map-get($header-colors, $name), text))
      }
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include u-text('base-dark');
  @include u-line-height('sans', 2);
  &.sds-light {
    @include u-text('normal');
  }
  .usa-link {
    font-size: inherit;
  }
}

h1 {
    @include u-font('sans', 'xl');
    @include u-text('bold', 'base');
    @include u-line-height('sans', 2);
  }
    
h2 {
    @include u-font('sans', 'lg');
    @include u-text('semibold', 'base-dark');
    @include u-line-height('sans', 2);
  }
  
h3 {
    @include u-font('sans', 'md');
    @include u-text('bold', 'base-dark');
    @include u-line-height('sans', 2);
  }
  
h4 {
    @include u-font('sans', 'md');
    @include u-text('semibold', 'base-dark');
    @include u-line-height('sans', 2);
  }    
  
h5 {
    @include u-font('sans', 'xs');
    @include u-text('bold', 'base-dark');
    @include u-line-height('sans', 2);
  }
  
h6 {
    @include u-font('sans', 'xs');
    @include u-text('semibold', 'base-dark');
    @include u-line-height('sans', 2);
  }  
  
  // Heading helper classes
  .h1 {
    @extend h1;
  }
  
  .h2 {
    @extend h2;
  }
  
  .h3{
    @extend h3;
  }
  
  .h4 {
    @extend h4;
  }
  
  .h5 {
    @extend h5;
  }
  
  .h6 {
    @extend h6;
  }
  


