<div class="grid-row">

  <div class="sds-card--lg">
    <div class="sds-card--lg__header">
      <h3>
        <a> SDS Card Lg Header </a>
      </h3>
    </div>

    <h4 class="sds-card--lg__title">
      SDS Card Lg Title
    </h4>
    <div class="sds-card--lg__links">
      <a class="usa-link">
        <i class="sds fa-question"></i>
        <span>Link example</span>
      </a>
      <a class="usa-link">
        <i class="sds fa-question"></i>
        <span>Link example</span>
      </a>
      <a class="usa-link">
        <i class="sds fa-question"></i>
        <span>Link example with more text</span>
      </a>
      <a class="usa-link">
        <i class="sds fa-question"></i>
        <span>Link example with more text</span>
      </a>
    </div>

  </div>

  <div class="sds-card--lg">
    <div class="sds-card--lg__header">
      <h3>
        <a> SDS Card Lg Header </a>
      </h3>
    </div>

    <h4 class="sds-card--lg__title">
      SDS Card Lg Title
    </h4>
    <div class="sds-card--lg__links">
      <a class="usa-link">
        <i class="sds fa-question"></i>
        <span>Link example</span>
      </a>
      <a class="usa-link">
        <i class="sds fa-question"></i>
        <span>Link example</span>
      </a>
      <a class="usa-link">
        <i class="sds fa-question"></i>
        <span>Link example with more text</span>
      </a>
      <a class="usa-link">
        <i class="sds fa-question"></i>
        <span>Link example with two lines of text Lorem ipsum dolor sit amet</span>
      </a>
    </div>

    <h4 class="sds-card--lg__title">
      SDS Card Lg Title
    </h4>
    <div class="sds-card--lg__links">
      <a class="usa-link">
        <i class="sds fa-question"></i>
        <span>Link example</span>
      </a>
      <a class="usa-link">
        <i class="sds fa-question"></i>
        <span>Link example</span>
      </a>
      <a class="usa-link">
        <i class="sds fa-question"></i>
        <span>Link example</span>
      </a>
    </div>
  </div>

</div>

<div class="sds-card--lg">
  <div class="sds-card--lg__header">
    <h3>
      <a> SDS Card Lg Header </a>
    </h3>
  </div>

  <h4 class="sds-card--lg__title">
    SDS Card Lg Title
  </h4>
  <div class="sds-card--lg__links">
    <a class="usa-link">
      <i class="sds fa-question"></i>
      <span>Link example</span>
    </a>
    <a class="usa-link">
      <i class="sds fa-question"></i>
      <span>Link example</span>
    </a>
    <a class="usa-link">
      <i class="sds fa-question"></i>
      <span>Link example with more text</span>
    </a>
    <a class="usa-link">
      <i class="sds fa-question"></i>
      <span>Link example with two lines of text Lorem ipsum dolor sit amet</span>
    </a>
  </div>
</div>
