  <div class="grid-row">

    <div class="sds-card sds-card--sm">
      <h4 class="sds-card--sm__title">Header
        <i class="sds-card--sm__icon sds fa-ship fa-2x"></i>
      </h4>
      <span>Title Example Here</span>
      <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>

    <div class="sds-card sds-card--sm">
      <h4 class="sds-card--sm__title">Header
        <i class="sds-card--sm__icon sds fa-photo fa-2x"></i>
      </h4>
      <span>Title Example Here</span>
      <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>

    <div class="sds-card sds-card--sm">
      <h4 class="sds-card--sm__title">Header
        <i class="sds-card--sm__icon sds fa-photo fa-2x"></i>
      </h4>
      <span>Title Example Here</span>
      <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>

  </div>
