<div class="grid-row flex-column">
  <p class="sam-sort__header">Sort by</p>
  <div class="sam-sort">
    <select class="sam-sort__content">
      <option value="">Entity Name</option>
      <option value="">Entity Status</option>
      <option value="">Entity ID</option>
      <option value="">Expiration Date</option>
    </select>
  </div>
<div>
