<h3>Closed</h3>
<button class="sds-button sds-button--circular">
  <i class="fas fa-ellipsis-v fa-fw"></i>
</button>

<h3>Open</h3>
<div class="sds-overlay minw-menu maxw-mobile radius-overlay">
  <div class="sds-menu">
    <div class="sds-menu__header">
      <span class="sds-menu__header-title">Actions</span>
      <button class="sds-button sds-button--circular" aria-label="Close Menu">
        <i class="fas fa-fw fa-times"></i>
      </button>
    </div>
    <button class="sds-menu__item">
      Download
    </button>
    <button class="sds-menu__item">
      Follow
    </button>
    <button class="sds-menu__item">
      Share
    </button>
    <button class="sds-menu__item">
      Save
    </button>
    <button class="sds-menu__item">
      Save As
    </button>
  </div>
</div>
