<form class="bg-accent-cool-light padding-top-6">
  <div class="sds-feedback">
    <button class="sds-feedback__btn-close toggle">
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-1x text-primary"></i>
        <i class="sds fa-arrow-up fa-stack-1x text-base fa-1x arrow"></i>
      </span>
      Feedback
    </button>

    <button class="sds-feedback__btn-open toggle" id="sdsFeedback">
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-1x text-base-lighter"></i>
        <i class="sds fa-arrow-down fa-stack-1x text-base fa-1x arrow"></i>
      </span>
      Feedback
    </button>

    <div class="sds-feedback__survey display-none" id="sdsFeedback">
    <div>
      <h1>One Question</h1><h2> Survey</h2>
    </div>
    <p>What changes or imporvements would you suggest?</p>
    <input class="sds-input">
    </input>
    <button class="usa-button usa-button--secondary">Submit</button>
    </div>

  </div>
</form>
