<div class="grid-container--widescreen margin-2">
  <h1>Navigation</h1>
  <div class="grid-row margin-top-2">
    <div class="grid-col-12">
      <h2>Nav Tabs</h2>
      <nav class="sds-nav">
        <ul class="sds-nav__tabs">
          <li>
            <a class="sds-nav__tabs-link sds-active" href="#">First</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Second</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Third</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Fourth</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="grid-row margin-top-2">
    <div class="grid-col-12">
      <h2>Nav Tabs - Thin</h2>
      <nav class="sds-nav sds-nav--thin">
        <ul class="sds-nav__tabs">
          <li>
            <a class="sds-nav__tabs-link sds-active" href="#">First</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Second</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Third</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Fourth</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="grid-row margin-top-2">
    <div class="grid-col-12">
      <h2>Nav Tabs - Large</h2>
      <nav class="sds-nav sds-nav--large">
        <ul class="sds-nav__tabs">
          <li>
            <a class="sds-nav__tabs-link sds-active" href="#">First</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Second</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Third</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Fourth</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="grid-row margin-top-2">
    <div class="grid-col-12">
      <h2>Nav Tabs - Pills</h2>
      <nav class="sds-nav sds-nav--pills">
        <ul class="sds-nav__tabs">
          <li>
            <a class="sds-nav__tabs-link sds-active" href="#">First</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Second</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Third</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Fourth</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="grid-row margin-top-2">
    <div class="grid-col-12">
      <h2>Nav Tabs Pills - Large</h2>
      <nav class="sds-nav sds-nav--pills sds-nav--large">
        <ul class="sds-nav__tabs">
          <li>
            <a class="sds-nav__tabs-link sds-active" href="#">First</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Second</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Third</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Fourth</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="grid-row margin-top-2">
    <div class="grid-col-12">
      <h2>Nav Tabs - Unstyled</h2>
      <nav class="sds-nav sds-nav--unstyled">
        <ul class="sds-nav__tabs">
          <li>
            <a class="sds-nav__tabs-link sds-active" href="#">First</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Second</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Third</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link" href="#">Fourth</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="grid-row margin-top-2">
    <div class="grid-col-12">
      <h2>Nav Tabs - Colors</h2>
      <nav class="sds-nav">
        <ul class="sds-nav__tabs">
          <li>
            <a class="sds-nav__tabs-link sds-active" href="#">Primary</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link sds-secondary sds-active" href="#">Secondary</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link sds-accent-warm sds-active" href="#">Accent Warm</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link sds-accent-cool sds-active" href="#">Accent Cool</a>
          </li>
          <li>
            <a class="sds-nav__tabs-link sds-base sds-active" href="#">Base</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="grid-row margin-top-2">
    <div class="grid-col-6">
      <h2>Wizard</h2>
      <ul class="sds-tabs sds-tabs--wizard">
        <li>
          <a class="usa-link sds-tabs__link sds-active" href="#">
            <button class="sds-button sds-button--circular sds-round sds-button--unstyled">
              <div class="height-2 width-2 line-height-sans-1">
                1
              </div>
            </button>
            Get a Login.gov Account
          </a>
        </li>
        <li>
          <a class="usa-link sds-tabs__link" href="#">
            <button class="sds-button sds-button--circular sds-round sds-button--unstyled">
              <div class="height-2 width-2 line-height-sans-1">
                2
              </div>
            </button>
            Request a DUNS Number
          </a>
        </li>
        <li>
          <a class="usa-link sds-tabs__link" href="#">
            <button class="sds-button sds-button--circular sds-round sds-button--unstyled">
              <div class="height-2 width-2 line-height-sans-1">
                3
              </div>
            </button>
            Prepare Documentation
          </a>
        </li>
        <li>
          <a class="usa-link sds-tabs__link" href="#">
            <button class="sds-button sds-button--circular sds-round sds-button--unstyled">
              <div class="height-2 width-2 line-height-sans-1">
                1
              </div>
            </button>
            Review Requirements
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>