<div class="grid-container--widescreen margin-2">

  <div class="grid-row">
    <div class="grid-col-6">
      <h1>Base</h1>
      <ul class="sds-tabs">
        <li>
          <a class="usa-link sds-tabs__link" href="#">First</a>
        </li>
        <li>
          <a class="usa-link sds-tabs__link" href="#">Second</a>
        </li>
        <li>
          <a class="usa-link sds-tabs__link" href="#">Third</a>
        </li>
        <li>
          <a class="usa-link sds-tabs__link" href="#">Fourth</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid-row">
    <div class="grid-col-6">
      <h1>Primary</h1>
      <ul class="sds-tabs sds-tabs--wizard">
        <li>
          <a class="usa-link sds-tabs__link" href="#">
            <button class="sds-button sds-button--circular">
              1
            </button>

            First with lots of text
          </a>
        </li>
        <li>
          <a class="usa-link sds-tabs__link" href="#">Second</a>
        </li>
        <li>
          <a class="usa-link sds-tabs__link" href="#">Third</a>
        </li>
        <li>
          <a class="usa-link sds-tabs__link" href="#">Fourth</a>
        </li>
      </ul>
    </div>
  </div>

</div>